{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC" %}
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block content %}
<section id="kyc" class="section-list">
    <div class="container">
        <h4 class="modal-title text-center" id="myModalLabel">KYC 须知</h4>
        <pre style="height:400px;">
            TBD
        </pre>
        <div class="token-check-condition container">
            <div class="raw">
                <div class="col-12 col-sm-6">
                    <input type="checkbox" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>你所在国家支持购买数字货币</span>
                        </label>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="checkbox" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您已经了解购买数字货币的风险与收益</span>
                        </label>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="checkbox" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您十分熟悉NEW的价值</span>
                        </label>
                </div>
                <div class="col-12 col-sm-6">
                    <input type="checkbox" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您接受我们的服务条款和隐私协议</span>
                        </label>
                </div>
            </div>
        </div>
        <div class="text-center kyc-btn">
            <a type="button" class="form-button" href="/tokensale/join/">Go To KYC </a>
        </div>
    </div>
</section>

{% endblock %}
