{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC" %}
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block content %}
<section id="token" class="section-list">
    <div class="token-title container text-center">
        <h2>{% trans "Newton Token Sale" %}</h2>
        <p class="token-summary">区块链代币交换的过程不是融资过程，是团队组建的过程。</p>
    </div>
    <div class="container token-content">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 text-left item">
                <div>
                    <p><span class="tr">New 总发行量：</span><span class="td">100亿</span></p>
                    <p><span class="tr">此次公募：</span><span class="td">$50,000,000</span></p>
                    <p><span class="tr">接受数字货币类型：</span><span class="td"> BTC,ELA</span></p>
                    <p><span class="tr">截止日期：</span><span class="td">2018.9.9</span></p>
                </div>
            </div>
            <div class="col-sm-4 text-left item">
                <div>
                    <p><span class="tr">BTC,ELA,NEW 兑换比例如下：</span></p>
                    <p><span class="td">1 BTC = 100,000 NEW</span></p>
                    <P><span class="td">1 ELA = 100 NEW</span></P>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p><span class="tr">风险评估</span></p>
                <p><span class="tr">KYC 要点和进度，规则等</span></p>
                <p><span class="tr">如果要参与公募，请认真填写以下信息：</span></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        
    </div>
    <div class="container token-form">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form id="user_kyc_form" class="form" action="/tokensale/post/" method="POST" enctype="multipart/form-data">
                    {% include "form.html" %}
                    <div class="raw">
                        <div class="text-center">
                            <button class="form-button" type="submit">{% trans "Submit" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>
{% endblock %}
