{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Reset" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}
{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list reset">
	<div class="page-title">
		<div class="container">
			<p>{% trans "Reset" %}</p>
		</div>
	</div>
	<div class="container">
		<div class="form-container">
			<form id="id_reset_password_form" class="form" action="/reset/post-password/" method="POST">
				{% csrf_token %}
				{% include "form.html" %}
				<input type="hidden" name="uuid" id="uuid" value="{{ uuid }}"/>
				<div class="raw">
					<div>
						<button class="form-button" type="submit">{% trans "Reset" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/reset.js" %}" type="text/javascript"></script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% version "css/reset.css" %}">
{% endblock %}
