{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "ReSet" %} | {% trans "Newton Community" %}</title>
{% endblock %}
{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}
{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list">
	<div class="page-title">
		<div class="container">
			<p>{% trans "Reset" %}
			</p>
		</div>
	</div>
	<div class="container">
		<div class="form-container">
			<form id="reset-email-form" class="form" action="/reset/post-email/" method="POST">
				{% csrf_token %}
				{% include "form.html" %}
				<div class="raw">
					<div>
						<button class="form-button" type="submit">{% trans "Reset" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block js %}
<script src="{% version "js/reset.js" %}"></script>
{% endblock %}