{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Reset" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}
{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block require_js %}
{% if captcha_service_type == "google" %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endif %}
{% if captcha_service_type == "tencent" %}
<script type="text/javascript" src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
{% endif %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list">
	<div class="page-title">
		<div class="container">
			<p>{% trans "Reset Password" %}
			</p>
		</div>
	</div>
	<div class="container">
        {% if captcha_service_type == "google" %}
        <div class="form-container">
            <div class="alert alert-warning">
                {% trans "Tip: To register successfully, ensure you can access the google recaptcha service." %}
            </div>
        </div>
        {% endif %}
		<div class="form-container">
			<form id="id_reset_email_form" class="form" action="/reset/post-email/" method="POST">
				{% csrf_token %}
				{% include "form.html" %}
				{% include "captcha.html" with captcha_service_type=captcha_service_type %}
				<div class="raw">
					<div>
						<button class="form-button" type="submit">{% trans "Reset Passwrod" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block js %}
<script src="{% version "js/captcha.js" %}" type="text/javascript"></script>
<script src="{% version "js/reset.js" %}"></script>
{% endblock %}