{% load i18n %}
{% load utils %}

<div class="jumbotron">
    <div class="container">
        <h3 class="security-title">{% trans "Newton Token Exchange Security Notification" %}</h3>
        <p class="security-content">1. {% trans "Newton official website<span class='text-danger bold'>（www.newtonproject.org）</span>is the only channel and information source for Newton token exchange. Newton will not provide you with any Newton token exchange information on any other channels(including but not limited to e-mail, WeChat, telegram, telephone, text message)  . And you can only find token exchange information on the official website, these information includes Newton token exchange- distribution quotas, receiving address or QR code, etc." %}</p>
        <p class="security-content">2. {% trans "Please make sure that the SSL certificate identifier of Newton official website is <span class='text-danger bold'>“NEWTON FOUNDATION LTD. [SG]”</span> before exchanging token. Any website without this SSL is a fraudulent Newton official website." %}</p>
        <p class="security-url text-center"><a href="{{ settings.NEWTON_WEB_URL }}/help/security/" target="_blank" class="security-button">{% trans "Learn more" %}</a></p>
    </div>
</div>