{% load i18n %}
{% load utils %}

<div id="token-exchange" class="tab-pane fade user-content">
    <div class="container">
        <div class="raw user-detail-content">
            <div class="user-info">
                {% if items %}
                {% for item in items %}
                <div class="shadow-item">
                <div class="item">
                    <div class="item-content">
                        {% include "tokenexchange/token-exchange-info-summary.html" with token_exchange_info=item.token_exchange_info %}
                        <div id="timeline">
                            <div class="timeline-lg wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="entry-lg">
                                    <div class="date-lg">
                                        <dl class="date-top">
                                            <dd>{% trans "Passed the Newton KYC" %}</dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="entry-lg">
                                    <div id="apply-amount-container" {% if item.process_status < 2 %} class="delay" {% endif %} >
                                        <div class="date-lg">
                                            <dl class="date-bottom">
                                                <dd>{% trans "Filled in the expected amount" %}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-lg">
                                    <div id="send-amount-container" {% if item.process_status < 3 %} class="delay" {% endif %} >
                                        <div class="date-lg">
                                            <dl class="date-top">
                                                <dd>{% trans "Transferred" %}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-lg">
                                    <div class="delay">
                                        <div class="date-lg">
                                            <dl class="date-bottom">
                                                <dd>{% trans "Finished filling in newpay wallet address" %}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry-lg">
                                    <div class="delay">
                                        <div class="date-lg">
                                            <dl class="date-top">
                                                <dd>{% trans "Token exchange success" %}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- end -->
                            <div class="timeline">
                                <div class="entry">
                                    <div class="date"></div>
                                    <div class="body">
                                        <dd>{% trans "Passed the Newton KYC" %}</dd>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div id="apply-amount-container-mobile" {% if item.process_status < 2 %} class="delay" {% endif %} >
                                        <div class="date"></div>
                                        <div class="body">
                                            <dd>{% trans "Filled in the expected amount" %}</dd>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div id="send-amount-container-mobile" {% if item.process_status < 3 %} class="delay" {% endif %} >
                                        <div class="date"></div>
                                        <div class="body">
                                            <dd>{% trans "Transferred" %}</dd>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="delay">
                                        <div class="date"></div>
                                        <div class="body">
                                            <dd>{% trans "Finished filling in newpay wallet address" %}</dd>
                                        </div>
                                    </div>
                                </div>
                                <div class="entry">
                                    <div class="delay">
                                        <div class="date"></div>
                                        <div class="body">
                                            <dd>{% trans "Token exchange success" %}</dd>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="form-button" href="/tokenexchange/{{ item.id }}/"> {% trans "Details " %}</a>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
                {% else %}
                <div class="item">
                    <p style="font-size: 18px; text-align: center; margin-top: 30px; color: #333">{% trans "No token exchange information." %}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>