{% load i18n %}
{% load utils %}

<div class="jumbotron">
    <div class="container">
        <h3 class="security-title">{% trans "Newton Token Exchange Security Notification" %}</h3>
        <p class="security-content">1. {% trans "Newton official website（www.newtonproject.org）is the unique legitimate platform for Newton token exchange. Newton won't provide you with any information concerning Newton token exchange, including allocated amount, address and QR code, through any other media including Email, Wechat, Telegram, phone, message and so on." %}</p>
        <p class="security-content">2. {% trans "Please make sure that the SSL of Newton official website is “NEWTON FOUNDATION LTD. [SG]” before exchanging token，in case of property loss resulting from fraudulent Newton official website." %}</p>
    </div>
</div>