{% load i18n %}
{% load utils %}

{% if is_kyc_active %}
<div id="kyc" class="tab-pane fade in active user-content">
{% else %}
<div id="kyc" class="tab-pane fade user-content">
{% endif %}
    <div class="container">
        <div class="user-info row">
                <div class="item">
                        <div class="value">
                            {% if kycinfo %}
                                {% if kycinfo.status == codes.KYC_STATUS_CANDIDATE_VALUE %}
                                <div class="item">
                                    <p class="text-left" style="padding-top: 30px; color:#333; text-align: justify">
                                    {% trans "KYC information was successfully submitted! We will check and verify your information in batches. It may take some time so please be patient and wait for our feedback. The feedback will be notified by email. Please check your mail on time." %}
                                </p>
                                </div>
                                {% endif %}
                                {% if kycaudit %}
                                    {% if kycinfo.status == codes.KYC_STATUS_PASS_KYC_VALUE %}
                                    <div class="item">
                                        <p class="text-center" style="margin-top: 27px; color: #333;">
                                            {% trans "You have passed the Newton KYC verification and some of the passers will be invited to join the Newton token exchange." %}
                                        </p>
                                    </div>
                                    
                                    {% endif %}
                                    {% if kycinfo.status >= codes.KYC_STATUS_REJECT_VALUE %}
                                    <div class="item" style="padding-top: 60px">
                                        <p class="text-center">
                                            {% trans "You have not passed kyc review." %}
                                            {% if kycaudit_comment %}
                                            <br/>{% trans "resulting from:" %} {{ kycaudit.comment }}
                                            {% endif %}
                                        </p>
                                        <p style="text-align: center">
                                        {% if kycinfo.status == codes.KYC_STATUS_REJECT_VALUE %}
                                        <a class="form-button mt50" href="/tokenexchange/individual/post/">{% trans "Fill in KYC information again" %}</a>
                                        {% endif %}
                                        </p>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                            <div class="container text-center mt50">
                                <p style="color: #333">{% trans "You have not submitted KYC information." %}</p>
                                {% if not is_deny %}
                                <a class="form-button mt50" href="/tokenexchange/individual/post/">{% trans "Join KYC" %}</a>
                                {% endif %}
                            </div>
                            {% endif %}
                    </div>
                </div>    
                {% if kycinfo.status == codes.KYC_STATUS_PASS_KYC_VALUE %}
                {% if kycinfo.kyc_type == codes.KYC_TYPE_INDIVIDUAL_VALUE %}
                <div class="item kyc-info">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="padding-top: 0">
                                <p>{% trans "Basic Information" %}</p>
                            </div>
                            <div class="panel-body">
                                {% include "user/form_content.html" with form=base_form %}
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p>{% trans "Self Introduction" %}</p>
                            </div>
                            <div class="panel-body">
                                {% include "user/form_content.html" with form=profile_form %}
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p>{% trans "Participation in Newton" %}</p>
                            </div>
                            <div class="panel-body">
                                {% include "user/form_content.html" with form=contribute_form %}
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <p>{% trans "Emergency Contact" %}</p>
                            </div>
                            <div class="panel-body">
                                {% include "user/form_content.html" with form=emergency_form %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="item kyc-info">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="padding-top: 0">
                                    <p>{% trans "Basic Information" %}</p>
                                </div>
                                <div class="panel-body">
                                    {% include "user/form_content.html" with form=organization_base_form %}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p>{% trans "Organization Introduction" %}</p>
                                </div>
                                <div class="panel-body">
                                    {% include "user/form_content.html" with form=organization_profile_form %}
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p>{% trans "Participation in Newton" %}</p>
                                </div>
                                <div class="panel-body">
                                    {% include "user/form_content.html" with form=contribute_form %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>