{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "user" %}
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block content %}
<section id="user" class="section-list">
    <div class="page-title">
        <div class="container header">
            <img class="header" src="{% version "images/default_avator.png" %}"/>
            <div class="name">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sub-title">
            <div class="sub-title-nav">
                <ul id="user-tab" class="nav nav-tabs">
                    <li class="active"><a href="#basic-info" data-toggle="tab">{% trans "Profile" %}</a></li>
                    <li><a href="#token-exchange">{% trans "Token Exchange" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab-content" class="tab-content">
        <div id="basic-info" class="tab-pane fade in active user-content">
            <div class="container">
                <div class="raw user-detail-content">
                    <div class="col-md-12 user-info">
                        <table>
                            <thead>
                                <tr><td>{% trans "基本信息" %}</td></tr>
                            </thead>
                            <tbody class="bg-gray">
                                {% for field in form %}
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td class="gray td-value">{{ field.value }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table style="margin-top:32px;">
                            <thead>
                                <tr><td>KYC</td></tr>
                            </thead>
                            <tbody class="bg-gray">
                                <tr>
                                    <td><label for="id_kycinfo">{% trans "Status" %}:</label></td>
                                    {% if kycinfo %}
                                        {% if kycaudit %}
                                            {% if kycaudit.is_pass %}
                                            <td class="gray td-value ">{% trans "已通过" %}</td>
                                            {% else %}
                                            <td class="gray td-value">{% trans "已拒绝，拒绝原因" %}:{{ kycaudit.comment }} <a href="/tokenexchange/">{% trans "前往重新填写" %}</a></td>
                                            {% endif %}
                                        {% else %}
                                        <td class="gray td-value">{% trans "已填写 KYC 信息,正在审核中。" %}</td>
                                        {% endif %}
                                    {% else %}
                                    <td class="gray td-value">{% trans "尚未填写 KYC 信息，<a href='/tokenexchange/'>前往填写</a>" %}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="token-exchange" class="tab-pane fade user-content">
            <div class="container">
                <div class="raw user-detail-content">
                    <div class="user-info">
                        {% if items %}
                        {% for item in items %}
                        <div class="item">
                            <div class="item-content">
                                {% include "tokenexchange/token-exchange-info-summary.html" with token_exchange_info=item.token_exchange_info %}
                                <div class="text-left">
                                    <a class="form-button" href="/user/token-exchange-progress/{{ item.phase_id }}/"> {% trans "前往查看详细信息" %} >></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="item">
                            <p>{% trans "暂无token交换信息" %}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    $("#user-tab a").click(function(e){
        e.preventDefault()
        $(this).tab("show")
    })
</script>
{% endblock %}
