{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "user" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="user" class="section-list">
    <div class="page-title">
        <div class="container header">
            <img class="header" src="{% version "images/default_avator.png" %}"/>
            <div class="name">
                <p style="color: #fff">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sub-title">
            <div class="sub-title-nav">
                <ul id="user-tab" class="nav nav-tabs">
                    {% comment %}
                    <li class="active"><a href="#basic-info" data-toggle="tab">{% trans "Profile" %}</a></li>
                    {% endcomment %}
                    <li class="active"><a href="#kyc">KYC</a></li>
                    <li><a href="#token-exchange">{% trans "Token Exchange" %}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="tab-content" class="tab-content">
        {% comment %}
        <div id="basic-info" class="tab-pane fade in active user-content">
            <div class="container">
                <div class="user-info">
                    <div class="item-title container">
                        <p class="title">{% trans "Basic information" %}</p>
                    </div>
                    <div class="container">
                        <div class="bg-gray">
                            {% for field in user_form %}
                                <div class="item">
                                    <div>
                                        {{ field.label_tag }}
                                    </div>
                                    <div class="value">{{ field.value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
         {% endcomment %}
        <div id="kyc" class="tab-pane fade in active user-content">
            <div class="container">
                <div class="user-info">
                    <div class="container">
                        <div class="item">
                                <div class="value">
                                    {% if kycinfo %}
                                        {% if kycinfo.status == 1 %}
                                        <div class="item">
                                            <p class="text-center">
                                            {% trans "Submit KYC information success! We will send you an email of reviewing result, Please check out." %}
                                        </p>
                                        </div>
                                        {% endif %}
                                        {% if kycaudit %}
                                            {% if kycinfo.status == 2 %}
                                            <div class="item">
                                                <p class="text-center">
                                                    <span class="alert-success glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    {% trans "You've passed Newton KYC review." %}
                                                </p>
                                            </div>
                                            
                                            {% endif %}
                                            {% if kycinfo.status == 3 %}
                                            <div class="item">
                                                <p class="text-center">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    {% trans "You have not passed kyc review," %}
                                                    {% if kycaudit.comment != " " %}
                                                    {% trans "rejected reason is:" %} {{ kycaudit.comment }}
                                                    {% endif %}
                                                    <a href="/tokenexchange/">{% trans "rewrite" %}</a>
                                                </p>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                    <div class="container text-center mt50">
                                        <p>{% trans "You have not submit KYC information." %}</p>
                                        <a class="form-button mt50" href="/tokenexchange/">{% trans "Join KYC" %}</a>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>    
                        {% if kycinfo.status == 2 %}
                        <div class="item">
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{% trans "Basic Information" %}</div>
                                    <div class="panel-body">
                                        {% include "form_content.html" with form=base_form %}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">{% trans "Self Introduction" %}</div>
                                    <div class="panel-body">
                                        {% include "form_content.html" with form=profile_form %}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">{% trans "How to Contribute" %}</div>
                                    <div class="panel-body">
                                        {% include "form_content.html" with form=contribute_form %}
                                        {% if data.is_establish_node %}
                                        <div class="form-group">
                                            <div class="row">
                                                <p class="kycinfo_title col-lg-3 col-md-3 col-sm-12 col-xs-12"><label for="id_do_for_newton" class="control-label">{% trans "Do you want to establish a Newton node ?" %}</label></p>
                                                <div class="kycinfo_content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="value">{{ data.is_establish_node }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if data.which_node_establish %}
                                        <div class="form-group">
                                            <div class="row">
                                                <p class="kycinfo_title col-lg-3 col-md-3 col-sm-12 col-xs-12"><label for="id_do_for_newton" class="control-label">{% trans "Which type of node ?" %}</label></p>
                                                <div class="kycinfo_content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="value">{{ data.which_node_establish }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if data.establish_node_plan %}
                                        <div class="form-group">
                                            <div class="row">
                                                <p class="kycinfo_title col-lg-3 col-md-3 col-sm-12 col-xs-12"><label for="id_do_for_newton" class="control-label">{% trans "Your plan of node establishment" %}</label></p>
                                                <div class="kycinfo_content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="value">{{ data.establish_node_plan }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">{% trans "Emergency Information" %}</div>
                                    <div class="panel-body">
                                        {% include "form_content.html" with form=emergency_form %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="token-exchange" class="tab-pane fade user-content">
            <div class="container">
                <div class="raw user-detail-content">
                    <div class="user-info">
                        <script>var hasExpect = false;</script>
                        <script>var hasSendAmount = false;</script>
                        
                        {% if items %}
                        {% for item in items %}
                        <div class="shadow-item">
                        {% if item.expect_btc or item.except_ela %}
                            <script>var hasExpect = true;</script>
                        {% endif %}
                        {% if item.ela_final_balance or item.btc_final_balance %}
                            <script>var hasSendAmount = true;</script>
                        {% endif %}
                        <div class="item">
                            <div class="item-content">
                                {% include "tokenexchange/token-exchange-info-summary.html" with token_exchange_info=item.token_exchange_info %}
                                <div id="timeline">
                                    <div class="timeline-lg wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                                        <div class="entry-lg">
                                            <div class="date-lg">
                                                <dl class="date-top">
                                                    <dd>{% trans "Passed the Newton KYC" %}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="entry-lg">
                                            <div id="apply-amount-container" class="delay">
                                                <div class="date-lg">
                                                    <dl class="date-bottom">
                                                        <dd>{% trans "Filled in the expected amount" %}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry-lg">
                                            <div id="send-amount-container" class="delay">
                                                <div class="date-lg">
                                                    <dl class="date-top">
                                                        <dd>{% trans "Transferred" %}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry-lg">
                                            <div class="delay">
                                                <div class="date-lg">
                                                    <dl class="date-bottom">
                                                        <dd>{% trans "Finished filling in newpay wallet address" %}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry-lg">
                                            <div class="delay">
                                                <div class="date-lg">
                                                    <dl class="date-top">
                                                        <dd>{% trans "Token exchange success" %}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- end -->
                                    <div class="timeline">
                                        <div class="entry">
                                            <div class="date"></div>
                                            <div class="body">
                                                <dd>{% trans "Passed the Newton KYC" %}</dd>
                                            </div>
                                        </div>
                                        <div class="entry">
                                            <div id="apply-amount-container-mobile" class="delay">
                                                <div class="date"></div>
                                                <div class="body">
                                                    <dd>{% trans "Filled in the expected amount" %}</dd>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry">
                                            <div id="send-amount-container-mobile" class="delay">
                                                <div class="date"></div>
                                                <div class="body">
                                                    <dd>{% trans "Transferred" %}</dd>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry">
                                            <div class="delay">
                                                <div class="date"></div>
                                                <div class="body">
                                                    <dd>{% trans "Finished filling in newpay wallet address" %}</dd>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="entry">
                                            <div class="delay">
                                                <div class="date"></div>
                                                <div class="body">
                                                    <dd>{% trans "Token exchange success" %}</dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a class="form-button" href="/user/token-exchange-progress/{{ item.phase_id }}/"> {% trans "Details " %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                        {% else %}
                        <div class="item">
                            <p style="font-size: 18px; text-align: center; margin-top: 30px">{% trans "No token exchange information." %}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    $("#user-tab a").click(function(e){
        e.preventDefault()
        $(this).tab("show")
    })
    if(hasExpect){
        $("#apply-amount-container").removeClass("delay");
        $("#apply-amount-container-mobile").removeClass("delay");
    }
    if(undefined != hasSendAmount && hasSendAmount){
        $("#send-amount-container").removeClass("delay");
        $("#send-amount-container-mobile").removeClass("delay");
    }
</script>
{% endblock %}
