{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "user" %} | {% trans "Newton Community" %}</title>
{% endblock %}
{% block require_js %}

{% endblock %}
{% block content %}
<section id="settings" class="section-list">
    <div class="container">
        <div class="profile-title text-center">
            <h1>{% trans "Settings" %}</h1>
        </div>
        <div class="container">
            <div class="google-auth">
                <div class="form-group">
                    <label id="id-google-auth">
                        {{ is_google_authenticator }}
                        <script>var toggle = {{ toggle }}</script>
                            <input type="checkbox" name="google-auth" id="google-auth" onchange="googleAuthChanged()"/>
                            是否启用谷歌身份验证器
                    </label>
                </div>
                <div id="code"></div> 
                <div id="key"></div>
                <input type="submit" value="Submit"/>
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    $("input[name='google-auth']").prop("checked",toggle);
    function googleAuthChanged(){
        var isOpenGoogleAuth = $("#google-auth")[0].checked
        if(isOpenGoogleAuth){
            //get qrcode
            $.get("/user/getqrcode/",function(ret){
                if(ret.result){
                    var uri = ret.result.uri;
                    var gtoken = ret.result.gtoken;
                    new QRCode(document.getElementById("code"), uri);
                    $("#key")[0].innerHTML = "<span>"+gtoken+"</span>"
                }
            })
        }else{
            $("#code").empty();
            $("#key").empty();
        }
    }
</script>
{% endblock %}