{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "user" %}
{% endblock %}

{% block content %}
<section id="user" class="section-list">
    <div class="page-title">
        <div class="container header">
            <img class="header" src="{% version "images/default_avator.png" %}"/>
            <div class="name">
            </div>
            <div class="location">
            </div>
        </div>
    </div>
    
    <div id="token-exchange" class="user-content">
        <div class="container">
            <div class="raw user-detail-content">
                <div class="col-md-8 user-info">
                    {% if item %}
                    {% include "tokenexchange/token-exchange-info.html" %}
                    <div class="item">
                        <div class="item-content">
                                <div class="col-md-2"></div>
                                {% if item.expect_btc or item.except_ela %}
                                <div class="col-md-8">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td>BTC</td>
                                                <td>ELA</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>我的期望额度</td>
                                                {% if item.expect_btc %}
                                                <td>{{ item.expect_btc }} BTC</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                                {% if item.expect_ela %}
                                                <td>{{ item.expect_ela }} ELA</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                            </tr>
                                            {% if item.assign_btc or item.assign_ela %}
                                            <tr>
                                                <td>我的分配额度</td>
                                                {% if item.assign_btc %}
                                                <td>{{ item.assign_btc }} BTC</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                                {% if item.assign_ela %}
                                                <td>{{ item.assign_ela }} ELA</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                            {% if item.receive_btc_address or item.receive_ela_address %}
                                            <tr>
                                                <td>我的分配地址</td>
                                                {% if item.receive_btc_address %}
                                                <td>{{ item.receive_btc_address }}</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                                {% if item.receive_ela_address %}
                                                <td>{{ item.receive_ela_address }}</td>
                                                {% else %}
                                                <td>-</td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                            {% if item.status == 8 %}
                                            <tr>
                                                <td>折合兑换 NEW</td>
                                                <td>-</td>
                                            </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <a class="form-button" href="/tokenexchange/invite/{{ item.phase_id }}/post/">{% trans "前往填写期望额度" %}</a>
                                {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <p>暂无token交换信息</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
{% endblock %}
