{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "user" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="user" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Token Exchange" %}
            </p>
        </div>
    </div>
    
    <div id="token-exchange" class="user-content">
        <div class="container">
            <div class="raw user-detail-content">
                <div>
                    {% if item %}
                    <div>
                    {% include "tokenexchange/token-exchange-info.html" %}
                    </div>
                        <div>
                        {% if item.expect_btc or item.except_ela %}
                            <script>var hasExpect = true;</script>
                            <div class="shadow-item">
                                <div class="container">
                                    <div class="text-center">
                                        <p class="token-exchange-title">{% trans "Expected" %}</p>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.expect_btc %}
                                        <p class="token-exchange-content">{% trans "Expected BTC amount" %}: <span class="f30">{{ item.expect_btc }}</span> BTC</p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Expected BTC amount" %}: 0 BTC</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.expect_ela %}
                                        <p class="token-exchange-content">{% trans "Expected ELA amount" %}: <span class="f30">{{ item.expect_ela }}</span> BTC</p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Expected BTC amount" %}: 0 ELA</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            {% if item.assign_btc or item.assign_ela or item.receive_btc_address or item.receive_ela_address %}
                    <div>
                        <div class="shadow-item">
                            <div class="container">
                                <div class="text-center">
                                    <p class="token-exchange-title">{% trans "Allocated" %}</p>
                                </div>
                                    <div class="col-md-6">
                                        {% if item.assign_btc %}
                                        <p class="token-exchange-content">{% trans "Allocated BTC amount" %}: <span class="f30">{{ item.assign_btc }}</span> BTC</p>
                                        <p class="token-exchange-content">{% trans "Allocated BTC address" %}:</p> 
                                        <p class="token-exchange-content"><span class="address_style ">{{ item.receive_btc_address }}</span></p>
                                        <p id="btc_code"  class="qrcode-width">
                                            <script>
                                                new QRCode(document.getElementById("btc_code"), "{{ item.receive_btc_address }}");
                                            </script>
                                        </p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Allocated BTC amount" %}: <span class="f30">0</span> BTC</p>
                                        <p class="token-exchange-content">{% trans "Allocated BTC address" %}: -</p>
                                        <p id="btc_code">
                                            -
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.assign_ela %}
                                        <p class="token-exchange-content">{% trans "Allocated ELA amount" %}: <span class="f30">{{ item.assign_ela }}</span> ELA</p>
                                        <p class="token-exchange-content">{% trans "Allocated ELA address" %}:</p> 
                                        <p class="token-exchange-content"><span class="address_style">{{ item.receive_ela_address }}</span></p>
                                        <p id="ela_code" class="qrcode-width">
                                            <script>
                                                new QRCode(document.getElementById("ela_code"), "{{ item.receive_ela_address }}");
                                            </script>
                                        </p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Allocated ELA amount" %}: <span class="f30">0</span> ELA</p>
                                        <p class="token-exchange-content">{% trans "Allocated ELA address" %}: -</p>
                                        <p id="ela_code">
                                           -
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                                {% if item.ela_final_balance or item.btc_final_balance %}
                                <script>var hasSendAmount = true;</script>
                        <div>
                            <div class="shadow-item">
                                <div class="container">
                                    <div class="text-center">
                                        <p class="token-exchange-title">{% trans "Receive Amount Of Newton Foundation" %}</p>
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.btc_final_balance %}
                                        <p class="token-exchange-content">{% trans "Received BTC" %}: <span class="f30">{{ item.btc_final_balance }}</span> BTC</p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Received BTC" %}: <span class="f30">0</span> BTC</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if item.ela_final_balance %}
                                        <p class="token-exchange-content">{% trans "Received ELA" %}: <span class="f30">{{ item.ela_final_balance }}</span> ELA</p>
                                        {% else %}
                                        <p class="token-exchange-content">{% trans "Received ELA" %}: <span class="f30">0</span> ELA</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                                    {% if item.assign_btc and item.btc_final_balance != item.assign_btc or item.assign_ela and item.ela_final_balance != item.assign_ela %}
                                    <div class="form-container mt50">
                                        <div class="alert alert-warning f30">
                                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                            {% trans "Transferred amount is not equal to allocated amount." %}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="form-container mt50">
                                        <div class="alert alert-success f30">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            {% trans "Transfer success!" %}
                                        </div>
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="form-container mt50">
                                    <div class="alert alert-warning f30">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        * {% trans "Attention! You can only transfer " %}  {{ item.assign_btc }} BTC {% trans "and" %} {{ item.assign_ela }} ELA {% trans "to above addresses." %}
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                            <div class="form-container mt50">
                                <div class="alert alert-warning f30">
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                    {% trans "Your expected amount is under evaluation." %}
                                </div>
                            </div>
                            {% endif %}
                            <!-- end -->
                        {% else %}
                        <p class="mt50 text-center">
                        <a class="form-button" href="/tokenexchange/invite/{{ item.id }}/post/">{% trans "Fill in expected amount" %}</a></p>
                        {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="item">
                        <p>{% trans "No token exchange information." %}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

