.mbr-section-lead{
	background-color: #d9534f;
	padding: 70px 100px;
	font-weight: 300;
	font-size: 42px;
	margin-bottom: unset;
}
.page-title{background-color: #5c8dbd;}

.panel-heading span{
	position: unset;
	right: unset;
	top: unset;
	border: unset;
	width: unset;
	height: unset;
	display: unset;
}
.panel-heading{
	padding: 10px 15px;
}
.panel-default>.panel-heading{
	background-color: #f5f5f5;
}
.panel-default{
	border-color: #ddd;
}
.pull-center{
	color: #333;
}