{% load i18n %}
{% load utils %}

<div role="tabpanel" class="tab-pane fade col-lg-12 gtoken-code-container" id="id_page_3">
    <p class="step">
        <span class="key">{% trans "Step 3" %}</span>
        <span class="value">{% trans "Enter google verification code" %}</span>
    </p>
    <div class="verificaton-panel">
        {% include "form.html" %}
        <div class="form-group" style="margin-left: auto; margin-right: auto">
            <input type="hidden" id="id_redirect_url" name="redirect_url" value="{{ redirect_url }}"/>
            <button class="form-button" type="submit">{% trans "Submit" %}</button>
        </div>
    </div>
</div>