{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Link Google Authenticator" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list set-gtoken">
	<div class="page-title">
		<div class="container">
			<p class="set-gtoken-title">{% trans "Link Google Authenticator" %}
			</p>
		</div>
    </div>  
    <div class="introduction container">
        <p style="font-size: 16px; color: #333;">
            {% trans "Google Authenticator is a dynamic password authentication tool, which generates the verification code every 30 seconds to provide security for your account." %}
        </p>
    </div>
    <div class="container">
        <ul class="nav nav-tabs col-md-8 nav-justified" id="id_authenticator_tab" role="tablist" style="margin-top: 20px;">
            <li role="presentation" class="active">
                <a href="#id_page_1" aria-controls="id_page_1" role="tab" data-toggle="tab">{% trans "1. Install Google Authenticator" %}</a>
            </li>
            <li role="presentation">
                <a href="#id_page_2" aria-controls="id_page_2" role="tab" data-toggle="tab">{% trans "2. Scan QR code" %}</a>
            </li>
            <li role="presentation">
                <a href="#id_page_3" aria-controls="id_page_3" role="tab" data-toggle="tab">{% trans "3. Link Google Authenticator" %}</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <form id="id_set_gtoken_form" class="form" action="/setting/gtoken/post/?redirect_url={{ redirect_url }}" method="POST">
            {% csrf_token %}
            <div class="tab-content">
            {% include "setting/include-download.html" %}
            {% include "setting/include-qrcode.html" %}
            {% include "setting/include-verification.html" %}
            </div>
        </form> 
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    new QRCode(document.getElementById("code"), "{{ gtoken_uri }}");
    
    function jsCopy(){ 
        var e=document.getElementById("gtoken-key");
        e.select();
        document.execCommand("Copy");
    }

</script>
{% endblock %}

{% block js %}
<script src="{% version "js/setting.js" %}" type="text/javascript"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/setting.css" %}">
{% endblock %}