{% load i18n %}
{% load utils %}

<div class="item appstore-download">
    <a href="{{ settings.NEWTON_NEWPAY_IOS_URL }}">
        {% if language == "zh-cn" %}
        <img src="{% version "images/download-logo/app-store-zh.svg" %}" alt="" class="ios-button"/>
        {% else %}
        <img src="{% version "images/download-logo/app-store-en.svg" %}" alt="" class="ios-button"/>
        {% endif %}
    </a>
</div>
<div class="item google-download">
    <a href="{{ settings.NEWTON_NEWPAY_ANDROID_URL }}">
        {% if language == "zh-cn" %}
        <img src="{% version "images/download-logo/google-play-zh.png" %}" alt="" class="android-button"/>
        {% else %}
        <img src="{% version "images/download-logo/google-play-en.png" %}" alt="" class="android-button"/>
        {% endif %}
    </a>
</div>
<div class="item">
    <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title=" " data-template='<div class="popover" role="tooltip"><div class="arrow"></div><img src="{% version "images/download-logo/newpay-qr-rels.png" %}" alt="" style="height: 150px;"></div>' data-container="body">
        <span class="glyphicon glyphicon-qrcode qrcode-thumbnail"></span>
    </a>
</div>
<div class="item visible-xs">
    <a href="{{ android_url }}" style="text-decoration: underline; font-size: 15px; display: inline-block; text-align: center; height: 40px; color: #888; padding-top: 15px; padding-bottom: 5px;" class="google-download">
        <img src="{% version "images/download-logo/newpay-download-icon.svg" %}" alt="" style="height: 100%; vertical-align: sub; padding-right: 10px;"/>{% trans "Download NewPay APK" %}
    </a>
    <a href="https://newpay-ios-dev-adhoc.oss-cn-beijing.aliyuncs.com/manifest.plist" style="text-decoration: underline; font-size: 15px; display: inline-block; text-align: center; height: 40px; color: #888; padding-top: 15px; padding-bottom: 5px;" class="appstore-download">
        <img src="{% version "images/download-logo/newpay-download-icon.svg" %}" alt="" style="height: 100%; vertical-align: sub; padding-right: 10px;"/>{% trans "Download NewPay" %}
    </a>
</div>

{% if language == "zh-cn" %}
<p class="guide-link">
    <a href="/download/newpay/guide/" class="appstore-download" target="_blank">
        {% trans "没有海外Apple ID如何下载?" %}
    </a>
</p>
{% endif %}

<script>
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);

    if (isiOS) {
        $(".google-download").hide();
        $(".appstore-download").show();
    };

    if (isAndroid) {
        $(".appstore-download").hide();
        $(".google-download").show();
    };
</script>
