{% load i18n %}
{% load utils %}
<div class="note" id="id_note">
    <div class="account">
	    <h5>由于中国区App Store政策限制，下载NewPay钱包需要使用海外账户登录海外App Store下载</h5>
	    <h5>以下是免费的海外App Store账号供您使用</h5>
	    <div class="well">
		    <p>香港账户：s9nuj284@icloud.com</p>
		    <p>密码：Newton112233</p>
        </div>
	    <div class="well">
    	    <p>香港账户：h4kxg2v8@icloud.com</p>
		    <p>密码：Newton112233</p>
        </div>
	    <div class="well">
       	    <p>香港账户：s6fn2a6o@icloud.com</p>
		    <p>密码：Newton112233</p>
        </div>
	    <div class="well">            
		    <p>美国账户： j7m13d8@icloud.com</p>
		    <p>密码：Newton112233</p>
        </div>
	    <div class="well">            
		    <p>新加坡账户：sg5ecaq@icloud.com</p>
		    <p>密码：Newton112233</p>
	    </div>
	    <h5 class="text-warning">为了防止您的手机信息泄露，请您务必不要使用</br>上方Apple ID登录iCloud，使用参考Apple ID下载过APP后，请您及时退出该账号。</h5>
</div>

<div class="guide">
	<h5>iPhone更换App Store账号教程</h5>
	<p class="text-center">
		<img src="{% version "images/newpay-guide/111.png" %}" alt="" />
    </p>    
	<p class="tip">1. 点击蓝色App Store 图标进入应用</p>
    <p class="text-center">
		<img src="{% version "images/newpay-guide/222.png" %}" alt="" />
    </p>
    
	<p class="tip">2. 在Today页面点击右上角图标进入账户页面</p>
	<p class="text-center">
        <img src="{% version "images/newpay-guide/333.png" %}" alt="" />
    </p>
    
	<p class="tip">3. 进入账户后，点击退出登录</p>
    <p class="text-center">
	    <img src="{% version "images/newpay-guide/444.png" %}" alt="" />
    </p>
    
	<p class="tip">4. 将App Store账号和密码填写进去（建议复制），输入后点击登录</p>
	<p class="tip">5. 登录成功后，去App Store搜索“NewPay”点击获取按钮即可下载</p>
</div>
</div>
