{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% load download_utils %}

{% block title %}
{% trans "NewPay" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% version "css/download.css" %}" />
{% endblock %}
{% block main-style %} style="min-height:550px;" {% endblock %}
{% block content %}
<div class="container bg-dot-img newpay-download newpay-head">
    <div class="circle-logo">
        <p class="text-center">
            <img src="{% version "images/logo-512.png" %}" />
        </p>
    </div>

    <div class="title">
        <h2 class="name text-center">{% trans "NewPay" %}</h2>
        <p class="slogan text-center">
            {% trans "The Digital Wallet of Newton Community Economy" %}
        </p>
    </div>

    <div class="download-container">
        {% show_download_buttons %}
    </div>

    {% if is_zh %}
    {% include "download/include-newpay-download-china-note.html" %}
    <div id="zh-mask" class="zh-mask">
        <img src="{% version "images/newpay/mask-zh.png" %}" />
    </div>
    {% else %}
    <div id="en-mask" class="en-mask">
        <img src="{% version "images/newpay/mask-en.png" %}" />
    </div>
    {% endif %}
</div>

<script type="text/javascript" src="{% version "js/download.js" %}"></script>

<script language="javascript">
    var u = navigator.userAgent;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1;
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
    var zhMask = document.getElementById('zh-mask');
    var enMask = document.getElementById('en-mask');

    if (isAndroid) {
        if (navigator.userAgent.toLowerCase().match(/MicroMessenger/i) == "micromessenger") {
            {% if is_zh %}
            zhMask.style.display = 'block';
            {% else %}
            enMask.style.display = 'block';
            {% endif %}
        }
    }
</script>
{% endblock %}
