{% load i18n %}
{% load utils %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="keywords" content="{% trans "Newton,NewPay,Download" %}"/>
        <title>{% trans "Redeem RedPocket" %}</title>
        <!-- Fav and touch icons -->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <!-- CSS -->
        <!-- HTML5 IE Enabling Script -->
        <link rel="shortcut icon" href="{% version "images/logo-new.png" %}" type="image/x-icon" />
    	<!--==== style css ====-->
        <link href="{% version "css/bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% version "css/libs/nsprogress/nsprogress.css" %}" rel="stylesheet" />
        <link href="{% version "css/style.css" %}" rel="stylesheet" />
        <link href="{% version "css/dapp.css" %}" rel="stylesheet" />
        
        <script src="{% version "js/jquery-2.1.4.min.js" %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116218760-1"></script>
        <!--[if lt IE 9]>
        <script src="{% version "js/html5shiv/3.7.2/html5shiv.min.js" %}"></script>
        <script src="{% version "js/respond/1.4.2/respond.min.js" %}"></script>
        <![endif]-->
    </head>
    <body class="dapp-redpocket">
        <div role="main" id="main" class="container main">
            <div class="row">
                <span class="pull-left">
                    <img src="{% version "images/newpay/logo.png" %}" class="logo" />
                </span>
            </div>
            <p class="text-center">
                <img src="{% version "images/newpay/title_congratulations.png" %}" class="greeting"/>
            </p>
            <p class="text-center tip">{% trans "You've received " %}{{ giver_name }}{% trans "'s redpocket" %}</p>
            <div class="row download-content">
                <div class="message-container">
                    <p class="text-center message">{{ pocket_message }}</p>
                </div>
            </div>

            <div class="download-footer">
                <p class="text-center">{% trans "To Receive NEW, You have to download NewPay and create a NEW wallet address" %}</p>
                <p class="text-center">
                    <a href="{{ download_url }}"><img src="/static/images/newpay/btn_downloadnewpay{% if is_zh %}_zh{% endif %}.png" /></a>
                </p>
            </div>
            
        </div>
                
    </body>
</html>

