{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Community" %}
{% endblock %}

{% block content %}
<section id="community" class="section-list">
    <div class="page-title">
        <div class="container">
            <p><a href="/community/">{% trans "Community" %}</a></p>
        </div>
    </div>
    <div class="container">
        <div class="raw">
            <div class="col-md-12 col-xs-12 text-center">
                <img style="height:300px;" src="{% version "images/social/qrcode.bmp" %}"/>
                <p class="description">{% trans "Scan QR Code to join us" %}</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block inline_js %}
{% endblock %}
