body {
    font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
.bg-blue {
    background-color: rgb(72,166,222);
}
.white-font {
    color: #ffffff;
}
.bg-dot-img {
    background:url(../images/newpay/head-bg-desktop.png) no-repeat top center;
}
.newpay-download .logo {
}
.newpay-download .logo img {
    width: 125px;
    margin-bottom: 40px;
    margin-top: 20px;
 }
.newpay-download .circle-logo {
    margin-top: 80px;
}
.newpay-download .circle-logo img {
    width: 80px;
    border-color: #979797;
    border: 1px solid;
    border-radius: 20px;
}
.newpay-download .title {
    font-size: 30px;
    margin-bottom: 40px;
    padding-top:0;
}
.newpay-download .title .name {
    color: #272727;
}
.newpay-download .title .slogan {
    font-size: 20px;
    color:#666666;
}
.newpay-download .invite {
}
.newpay-download .invite .key {
    font-size: 16px;
    margin-bottom: 10px;
}

.newpay-download .invite .code {
    font-size: 20px;
    background-color: #ffffff;
    color: #000;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.newpay-download .invite .description {
    margin-top: 30px;
    font-size: 16px;
}
.newpay-download .action {
    margin-top: 100px;
}
.newpay-download .action .btn {
    background-color: #191919;
    color: #fff;
    border: 0;
    border-radius: 15px;
    width: 320px;
}

.newpay-download .action .small-btn {
    width: 300px;
    margin-right: 10px;
}

.newpay-download .zh-mask{display:none;position:fixed;width:100%;height:2000px;background:rgba(0,0,0,0.6);top:0;left:0;z-index:10;}
.newpay-download .zh-mask img{margin-left:15px;margin-top:40px;width:95%;}
.newpay-download .en-mask{display:none;position:fixed;width:100%;height:2000px;background:rgba(0,0,0,0.6);top:0;left:0;z-index:10;}
.newpay-download .en-mask img{margin-left:15px;margin-top:40px;width:95%;}

.newpay-download .note { display:none; }
.newpay-download .guide {}
.newpay-download .guide img { width: 80%;}
.newpay-download .account {}

.bg-blue .note {
    margin-left: 15px;
    margin-right: 15px;
    color: #fefefe;
}
.bg-blue .note h5 {
    line-height: 24px;
}
.bg-blue .note .well {
    color: #333;
}

.newpay-head .download-container {
    text-align: center;
}
.newpay-head .download-container .item {
    float: unset;
    display: inline-block;
}
.newpay-head .download-container .item .qrcode-thumbnail {
    vertical-align: middle;
}
.newpay-head .guide-link {
    padding-right: 0;
}
.newpay-download .download-container .guide-link {
    text-align: center;
    padding-right: 150px;
}
@media only screen and (max-width : 768px) {
    .newpay-head .action {
        margin-top: 60px;
    }
    .newpay-download .download-container .guide-link {
        text-align: center;
        padding-right: 0;
    }
    .newpay-head .download-container .item {
        padding-right: 0;
    }
    .newpay-download .title .slogan {
        font-size: 16px;
    }
}