body {
    background-color: rgb(72,166,222);
    font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
.white-font {
    color: #ffffff;
}
.logo {
}
.logo img {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.title {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.invite {
}
.invite .key {
    font-size: 16px;
    margin-bottom: 10px;
}

.invite .code {
    font-size: 20px;
    background-color: #ffffff;
    color: #000;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.invite .description {
    margin-top: 30px;
    font-size: 16px;
}
.action {
    margin-top: 100px;
}
.action .btn {
    background-color: #191919;
    color: #fff;
    border: 0;
    border-radius: 15px;
    width: 320px;
}

.action .small-btn {
    width: 300px;
    margin-right: 10px;
}