.economy .allocation table {
    border-bottom: 1px solid #ddd;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.economy .token-exchange {
    padding-bottom: 50px;
}
.economy .form-button {
}
.economy .allocation {
    padding-bottom: 50px
}
.economy .current-round {
    background-color:#3c763d;
    color: #ffffff;
}

.economy .allocation table td {
    vertical-align: middle;
}
.economy .allocation table td ul {
    margin-bottom: 0;
}

.economy .token-exchange table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .new-address {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    .new-address {
        font-size: 1.2rem;
    }
}
.td-a-word {
    color: #888;
    text-decoration: underline;
}
.release-block {
    margin-top: 80px;
}
.release-table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.release-block td a {
    color: #888;
    text-decoration: underline;
}