.economy .allocation table {
    border-bottom: 1px solid #ddd;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.economy .token-exchange {
    padding-bottom: 50px;
}
.economy .form-button {
}
.economy .allocation {
    padding-bottom: 50px
}
.economy .current-round {
    background-color:#3c763d;
    color: #ffffff;
}