.economy .allocation table {
    border-bottom: 1px solid #ddd;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.economy .token-exchange {
    padding-bottom: 50px;
}
.economy .form-button {
}
.economy .allocation {
    padding-bottom: 50px
}
.economy .current-round {
    background-color:#3c763d;
    color: #ffffff;
}

.economy .allocation table td {
    vertical-align: middle;
}
.economy .allocation table td ul {
    margin-bottom: 0;
}

.economy .token-exchange table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}