/* Events page style */
.events .events-panel-container {
    padding-bottom: 20px;
}

.events .select-month {
    font-size: 16px;
    margin-top: 20px;
}

.events .select-month .select-month-btn {
    color: #303030;
    background: #f7f7f7;
    outline: unset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: unset;
    border-style: unset;
    border: solid 1px #d3d3d3;
}

.events .select-month .select-month-btn.events-pass-btn {
    min-width: 105px;
}

.events .select-month .select-month-btn.events-pass-btn.active {
    background-color: #303030;
    color: #fff;
}

.events .select-month .current-month {
    min-width: 125px;
    display: inline-block;
}

.events #id_events_list_passed.events-list a {
    cursor: pointer;
}

.events .events-list .event_container {
    border: unset;
}

.events .events-list .event_container .panel-body {
    background-size: 100% 100%;
    border: unset;
}

.events .events-list .event_container .panel-body {
    min-height: 180px;
}

.events .events-list .event_container .panel-footer {
    text-align: left;
    background: #fff;
    border-top: unset;
    height: 180px;
    overflow: hidden;
}

.events .events-list .event_container .panel-footer .date-container-month {
     margin-bottom: unset;
     color: red;
     font-size:14px;
}

.events .events-list .event_container .panel-footer .date-container-date,
.events .events-list .event_container .panel-footer .event-title {
    font-size: 20px;
    margin-bottom: unset;
}

.events .events-list .event_container .panel-footer .date-container-weekday {
    font-size:14px;
}

.events .events-list .event_container .panel-footer .event-time,
.events .events-list .event_container .panel-footer .event-location {
    font-size:12px;
    margin-bottom: unset;
}

.events .events-list .event_container .panel-footer .event-location {
    margin-bottom: 10px;
}
.events-mobile{
    display: none;
}
.events-list-pc{
    display: none;
}
@media (min-width: 768px) {
    .events .select-month .button-container {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .events .events-panel-container {
        padding-bottom: unset;
    }

    .events .select-month .button-container {
        margin-bottom: 15px;
    }

    .events .select-month .current-month {
        min-width: 140px;
    }

    .events .events-list .slider-section {
        height: unset;
        min-height: 320px;
    }

    .events .events-list .event_container .panel-body {
        min-height: 150px;
    }

    .events .events-list .event_container .panel-footer {
        height: 250px;
    }
    .events .events-list {
        display: block;
        height: 400px;
    }
    .events .events-list:lang(zh-cn) {
        display: block;
        height: 331px;
    }
    .events-pc {
        display: none;
    }
    .events-mobile {
        display: block;
    }
    .event-mobile-section{
        height: 400px;
        overflow: hidden;
    }

    .event-mobile-section .swiper-slide {
        height: 380px;
        overflow: hidden;
    }

    .event-mobile-section:lang(zh-cn){
        height: 331px;
        overflow: hidden;
    }

    .event-mobile-section .swiper-slide:lang(zh-cn) {
        height: 311px;
        overflow: hidden;
    }

    .event-mobile-section .swiper-slide .event-location:lang(zh-cn) {
        height: 100px;
        overflow: hidden;
    }

    .events-mobile .events-list .swiper-pagination-bullets {
        margin-top: 10px;
    }
}
