#intro_animation {
    /* height: 100vh; */
    }

#intro_text {
	color: #fff;
	width: 100%;
	height: auto;
	padding: 40px;
	text-align: center;
}

#intro_text img {
	margin-top: 10px;
}

#intro_text h2 {
	margin-top: 50px;
}

#intro_text button {
	margin-top: 50px;
}

