/* Announce style */

.announce-container {
    text-align: center;
}

.announce-container .announce-title {
    font-size: 32px;
    font-weight: bold;
    color: #303030;
}

.announce-container .announce-subtitle {
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: lighter;
}
.announce-container .download-container {
    margin-top: 0;
}
.announce-container .download-container .item {
    float:unset;
}
.announce-container .download-container .item .qrcode-thumbnail {
    vertical-align: middle;
}
.announce-container .download-container .guide-link {
    text-align: center;
    padding-right: 0;
}

@media (max-width: 768px) {

}