/* Announce style */

.announce-container {
    text-align: center;
}

.announce-container .announce-title {
    font-size: 24px;
    font-weight: bold;
    color: #303030;
}

.announce-container .announce-content {
    padding-top: 15px;
}

.announce-container .announce-content table {
    margin: auto;
}

.announce-container .announce-content table td {
    display: inline-block;
    text-align: center;
    width: 180px;
}

.announce-container .announce-content table td a {
    display: inline-block;
    height: 40px;
}

.announce-container .announce-content table td img {
    width: auto;
    height: 100%;
}

.announce-container .announce-content table td .qrcode-thumbnail {
    font-size: 34px;
    color: #303030;
}

.announce-container .announce-content table td .qrcode-img {

}

@media (max-width: 768px) {
    .announce-container .announce-title {
        font-size: 18px;
    }

    .announce-container .announce-content table {
        width: 100%;
    }

    .announce-container .announce-content table td {
        width: 33%;
    }

}