.navbar {
    position: fixed;
}

@media (max-width: 768px) {
	#intro .news-column {
		margin-top: unset;
	}
}

.navbar-nav {
	flex-direction: row !important; 
}

.navbar .container {
/*	display: initial !important; */
}

