{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "ABOUT" %}
{% endblock %}

{% block content %}
<section id="about" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "ABOUT" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="about_list">
            <div>
                <h2>{% trans "Infrastructure of protocol-based economy" %}</h2>
                <p>
                    {% trans "Infrastructure of protocol-based economy is the cornerstone of applications operation in the open and programmable value-based networks. We are committed to creating a decentralized protocol standards and development tool chains that can be used in the entire business process, including supply chain, marketing, payment, transaction, credit, finance and so on, thereby building a highly collaborative, fair and reasonable, highly automated business environment with lower cost and fewer conflicts." %}
                </p>
                <p>
                    <a href="/team/">{% trans "Newton Team" %}&nbsp;&gt;&gt;</a>
                </p>
                
                <h2>{% trans "Global Free and Open Source Software Community" %}</h2>
                <p>
                    {% trans "In the past four decades, the development of the free and open source software community has proven that freedom, openness, and globalization can create classic software systems which may benefit all humanity. Newton adheres to the philosophy and spirit of free and open source software, and has established a global development community with connections among volunteers, creative workers, scientists, engineers, economists, and business people." %}
                </p>
                <p>
                    {% trans "For developers, you can subscribe" %}
                    <a href="https://groups.google.com/forum/#!aboutgroup/newton-universe"> {% trans "Newton Mail List" %}</a>{% trans "." %}
                </p>
                <p>
                    {% trans "If you are looking for a better job opportunity, don't hesitate to contact us!" %} <a href="/jobs/">{% trans "Join us!" %}</a>
                </p>
                
                <h2>{% trans "Need help?Have Ideas?" %}</h2>
                <p>
                    {% trans "For technical, business, governance, economic or general questions, contact" %} support at newtonproject.org{% trans "." %}
                </p>
            </div>
        </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}
