{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Announcements" %}
{% endblock %}

{% block content %}
<section id="announcement" class="section-list">
    <div class="page-title">
        <div class="container">
            <p><a href="/announcement/">{% trans "Announcements" %}</a>
            </p>
            
        </div>
    </div>
    <div class="bg-gray">
        <div class="container">
            <div class="row announcement-type">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-2 col-xs-12 p10">
                    <a href="/announcement/" class="{{ request.path|menu_active:"/announcement/" }}">{% trans "All" %}</a>
                </div>
                <div class="col-md-2 col-xs-12 p10">
                    <a href="/announcements/1/" class="{{ request.path|menu_active:"/announcements/1/" }}">{% trans "Operations" %}</a>
                </div>
                <div class="col-md-2 col-xs-12 p10">
                    <a href="/announcements/2/" class="{{ request.path|menu_active:"/announcements/2/" }}">{% trans "Weekly" %}</a>
                </div>
                <div class="col-md-2 col-xs-12 p10">
                    <a href="/announcements/0/" class="{{ request.path|menu_active:"/announcements/0/" }}">{% trans "Activity" %}</a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-area">
                {% if entries %}
                {% for entry in entries %}
                <div class="content">
                    <div class="item">
                        <div class="entry-item">
                            <div class="entry-title">
                                <dt>
                                    <a href="{{ entry.urls }}" class="title" title="{{ entry.title }}" rel="bookmark">
                                        {{ entry.title }}
                                    </a>
                                </dt>
                            </div>  
                            <div class="entry-body">
                                <div class="entry-content">
                                    <dd class="summary">
                                        <a href="{{ entry.urls }}" title="{{ entry.title }}" rel="bookmark">
                                        {{ entry.html_preview|safe }}
                                        </a>
                                    </dd>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if is_paginated %}
                
                <div class="pagination-simple">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
                </div>
                {% endif %}
                {% else %}
                <p>{% trans "No entries" %}</p>
                {% endif %}
        </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}
