{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% load welcome_tags %}

{% block title %}
{% trans "Community" %}
{% endblock %}

{% block content %}
<section class="section-list community" id="community">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Community" %}</p>
        </div>
    </div>

    <nav id="float-nav" class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">
            <a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}">
                <img class="logo-pc" src="{% version "images/newton-logo.svg" %}" alt="Newton" style="width: unset;"/>
            </a>
            <span>{% trans "Community" %}</span>

            <div class="submit-button"><a href="https://wiki.newtonproject.org/wiki/Community_and_Meetups#Online_Community">{% trans "Add Community" %}</a></div>
        </div>
    </nav>

    {% include "welcome/include-community-event.html" %}
    {% comment %}
    <div class="press bg-gray">
        <div class="container">
            <h2>{% trans "Press" %}</h2>
            <div>
                {% if presses %}
                {% for press in presses %}
                <p><a href="{{ press.press_link }}" target="_blank">{{ press.press_title }} >> </a><span>({{press.created_at | date:'Y-m-d'}} , {{ press.press_partner }})</span></p>
                {% if forloop.counter == 5 %}
                <p><a href="/press/">{% trans "MORE" %}>></a></p>
                {% endif %}
                {% endfor %}
                {% else %}
                <p></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="social-network bg-gray">
        <div class="container">
            <h2>{% trans "Social Network" %}</h2>
            <div class="row">
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.twitter.com/newton_project" target="_blank"><img src="{% version "images/social/twitter.svg" %}" />Twitter</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.facebook.com/newtonproject" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/>Facebook</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a id="wechat" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:auto;width:auto;padding:0;' src='{% version 'images/social/qrcode.bmp' %}'/>" title="{% trans 'Scan QR Code to join us' %}"><img src="{% version "images/social/wechat.svg" %}" onclick="javascript:void(0);"/>WeChat</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.reddit.com/user/newtonproject" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.weibo.com/newtonproject" target="_blank"><img src="{% version "images/social/weibo.png" %}" />Weibo</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
                {% if True|is_zh_language %}
                <div class="col-md-3 col-sm-3 item">
                    <a href="http://v.qq.com/vplus/ae778e5803773be81fb5fe43f2b7a119" target="_blank"><img src="{% version "images/social/tencentvideo.svg" %}" />Tencent Video</a>
                </div>
                {% else %}
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.youtube.com/channel/UCO3hbqzT5abDbVKzK5EQigg" target="_blank"><img src="{% version "images/social/youtube.svg" %}" />YouTube</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="email-list">
        <div class="container">
            <h2>{% trans "Email List" %}</h2>
            <div class="row">
                <div class="col-md-3 item">
                    <a href="https://groups.google.com/forum/#!aboutgroup/newton-universe" target="_blank"><img src="{% version "images/social/maillist.svg" %}"/>Google Group</a>
                </div>
            </div>
        </div>
    </div>

    <div class="online-community bg-gray" id="online-community">
        <div class="container">
            <h2>{% trans "Community" %}</h2>
            {% comment %}
            <div class="row">
                <div class="col-md-3 item">
                    <a href="https://www.reddit.com/user/newtonproject" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "English" %}</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/newtonprojectchinese" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "Chinese" %}</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/joinchat/F-cvGBLA7ZLUw3wM6wzUrg" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "Japanese" %}</a>
                </div>
                <div class="col-md-visible clearfix"></div>

                <div class="col-md-3 item">
                    <a href="https://join.slack.com/t/newtonproject/shared_invite/enQtMzQ3MTc5OTg0Nzg5LWVmNWQzN2U3Y2QzZTVjZWYwZjI4MGY3YmIyYTAwZDRhZDYyNzkyNmJkZGJkMmFlMTM0YmU4OWNkOGI1NzM0MGE" target="_blank"><img src="{% version "images/social/slack.svg" %}"/>Slack</a>
                </div>

                <div class="col-md-3 item">
                    <a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
                </div>
            </div>
            {% endcomment %}
            {% include "welcome/include-community-region.html" %}
        </div>
    </div>
    <div class="container">
        <div class="text-center add">
            <p>{% trans "Create a Newton community with us" %}</p>
        </div>
        <div class="more">
            <a href="https://wiki.newtonproject.org/wiki/Community_and_Meetups#Online_Community">{% trans "Add Community" %}</a>
        </div>
    </div>
</section>
{% endblock %}

{% block css %}
<style type="text/css">
    #float-nav{display: none;}
    #float-nav .container{text-align: center;}
    #float-nav .container span{font-size: 22px;line-height: 50px;color: #333;}
    #float-nav .submit-button{float: right; line-height: 50px;}
    #float-nav .submit-button a{border: 1px solid #ccc; padding: 3px 5px; border-radius: 6px; background-color: #fff;}
</style>
<link href="{% version "css/video-js.css" %}" rel="stylesheet">
{% endblock %}

{% block inline_js %}
<script>
    $('body').on('click', function(event) {
        var target = $(event.target);
        if (!target.hasClass('popover')
        && target.parent('.popover-content').length === 0
        && target.parent('.myPopover').length === 0
        && target.parent('.popover-title').length === 0
        && target.parent('.popover').length === 0 ) {
            // $('#wechat').popover('hide');
            // $('#qq').popover('hide');
            // $('#line').popover('hide');
            // $('#talk').popover('hide');
        };
    });
    $(function (){
    $("[data-toggle='popover']").popover();
    });
    $(function () {
        if (screen.width <= 768){
            showNav();
        }
        else {
            $(window).scroll(function(){
                var height
                var s = $(window).scrollTop();
                if (s<280){
                    // $(".NavBg").addClass("navFixed");
                    $("#float-nav").hide();
                }else{
                    // $(".NavBg").removeClass("navFixed");
                    $("#float-nav").show();
                    $("#float-nav").addClass("navFixed");
                    };
            });
        };
    });
</script>
{% endblock %}