<div class="d-flex p-3 text-primary justify-content-center flex-wrap">

	<div class="flex-fill align-self-center justify-content-center align-items-center ml-2 mr-2" style="width:300px;height: 300px">
	<img src="file:///data/tmp/pix/chat.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Start Chatting</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>
	
	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/wallet.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Earn Bounties</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/code.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Contribute Code</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/meetup.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Organize a Meetup</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>
	
	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/content.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Create Content</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/ambassador.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Become an Ambassador</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/support.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Give Support</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/translate.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Translate</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>
	
	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/invite.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Invite Friends</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

	<div class="flex-fill align-self-center justify-content-center align-items-center" style="width: 300px; height: 300px">
	<img src="file:///data/tmp/pix/node.svg" style="height:100px" class="mx-auto d-block mt-2 mb-4">
		<h3 class="text-center">Become a Node</h3>
		<button type="button" class="btn btn-primary mx-auto d-block">Go</button>
	</div>

</div>
