{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% if entry %}
{{ entry.title }}
{% else %}
{% trans "Community Voice" %}
{% endif %}
{% endblock %}

{% block content %}
<section id="announcementdetail" class="section-list">
    <div class="page-title">
        <div class="container">
            <p><a href="/community-voice/">{% trans "Community Voice" %}</a></p>
        </div>
    </div>
    <div class="container">
        <div class="content-area">
                {% if entry %}
                <div class="content">
                    <div class="item">
                        <div class="entry-item">
                            <div class="details_text">
                                <h1>
                                    {{ entry.title }}
                                </h1>
                            </div>  
                            <div class="entry-body">
                                <div class="entry-content">
                                    <dd class="detail">                                        
                                        {{ entry.html_content|safe }}
                                    <div class="clearfix"></div>
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- {% if is_paginated %}
                    <div class="pagination-simple">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                        {% endif %}
                    <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                        {% endif %}
                    </div>
                    {% endif %} -->
                {% else %}
                <p>{% trans "No entrys" %}</p>
                {% endif %}
        </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}
