{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Community" %}
{% endblock %}

{% block content %}
<section class="section-list community" id="community">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Community" %}</p>
        </div>
    </div>

    {% include "welcome/include-community-event.html" %}
    <div class="press bg-gray">
        <div class="container">
            <h2>{% trans "Press" %}</h2>
            <div>
                {% if presses %}
                {% for press in presses %}
                <p><a href="{{ press.press_link }}" target="_blank">{{ press.press_title }} >> </a><span>({{press.created_at | date:'Y-m-d'}} , {{ press.press_partner }})</span></p>
                {% if forloop.counter == 5 %}
                <p><a href="/press/">{% trans "MORE" %}>></a></p>
                {% endif %}
                {% endfor %}
                {% else %}
                <p></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="social-network">
        <div class="container">
            <h2>{% trans "Social Network" %}</h2>
            <div class="row">
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.twitter.com/newton_project" target="_blank"><img src="{% version "images/social/twitter.svg" %}" />Twitter</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.facebook.com/newtonproject" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/>Facebook</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a id="wechat" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:auto;width:auto;padding:0;' src='{% version 'images/social/qrcode.bmp' %}'/>" title="{% trans 'Scan QR Code to join us' %}"><img src="{% version "images/social/wechat.svg" %}" onclick="javascript:void(0);"/>WeChat</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.reddit.com/r/Newton_project/" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.weibo.com/newtonproject" target="_blank"><img src="{% version "images/social/weibo.png" %}" />Weibo</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <div class="email-list bg-gray">
        <div class="container">
            <h2>{% trans "Email List" %}</h2>
            <div class="row">
                <div class="col-md-3 item">
                    <a href="https://groups.google.com/forum/#!aboutgroup/newton-universe" target="_blank"><img src="{% version "images/social/maillist.svg" %}"/>Google Group</a>
                </div>
            </div>
        </div>
    </div>

    <div class="online-community">
        <div class="container">
            <h2>{% trans "Community" %}</h2>
            {% comment %}
            <div class="row">
                <div class="col-md-3 item">
                    <a href="https://www.reddit.com/r/Newton_project/" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "English" %}</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/newtonprojectchinese" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "Chinese" %}</a>
                </div>
                <div class="col-md-3 item">
                    <a href="https://t.me/joinchat/F-cvGBLA7ZLUw3wM6wzUrg" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram {% trans "Japanese" %}</a>
                </div>
                <div class="col-md-visible clearfix"></div>

                <div class="col-md-3 item">
                    <a href="https://join.slack.com/t/newtonproject/shared_invite/enQtMzQ3MTc5OTg0Nzg5LWVmNWQzN2U3Y2QzZTVjZWYwZjI4MGY3YmIyYTAwZDRhZDYyNzkyNmJkZGJkMmFlMTM0YmU4OWNkOGI1NzM0MGE" target="_blank"><img src="{% version "images/social/slack.svg" %}"/>Slack</a>
                </div>

                <div class="col-md-3 item">
                    <a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
                </div>
            </div>
            {% endcomment %}
            <div class="row">
                <div class="col-md-2 item country" style="margin-right: -50px;"><span>{% trans "The Bay Area:" %}</span></div>
                <div class="col-md-2 item">
                    <a href="https://t.me/joinchat/HFyzCRJkhhic1qpRTuYRyQ" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "China:" %}</span></div>
                <div class="col-md-2 col-sm-3 item">
                    <a href="https://t.me/newtonprojectchinese" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
                <div class="col-md-2 col-sm-3 item">
                    <a id="wechat" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:auto;width:auto;padding:0;' src='{% version 'images/social/qrcode.bmp' %}'/>" title="{% trans 'Scan QR Code to join us' %}"><img src="{% version "images/social/wechat.svg" %}" onclick="javascript:void(0);"/>WeChat</a>
                </div>
                <div class="col-md-2 col-sm-3 item">
                    <a id="qq" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:120px;padding:0;' src='{% version 'images/social/qq-qrcode.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/qq.png" %}" onclick="javascript:void(0);"/>QQ</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Japan:" %}</span></div>
                <div class="col-md-2 col-sm-3 item">
                    <a href="https://t.me/joinchat/F-cvGBLA7ZLUw3wM6wzUrg" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
                <div class="col-md-3 col-sm-3 item line">
                    <a id="line" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:140px;padding:0;' src='{% version 'images/social/line-qrcode.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/LINE.png" %}" onclick="javascript:void(0);"/>LINE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Korea:" %}</span></div>
                <div class="col-md-2 col-sm-3 item">
                    <a href="https://t.me/newtonprojectkorea" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
                <div class="col-md-3 col-sm-3 item talk">
                    <a id="talk" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:140px;padding:0;' src='{% version 'images/social/kakao-qrcode.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/kakao.png" %}" onclick="javascript:void(0);"/>KAKAO</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Canada:" %}</span></div>
                <div class="col-md-2 item">
                    <a href="https://t.me/joinchat/HR02NRIVaFXCNkWNy7M7UQ" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Netherlands:" %}</span></div>
                <div class="col-md-2 item">
                    <a href="https://t.me/newtonproject_nl" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Sweden:" %}</span></div>
                <div class="col-md-2 item">
                    <a href="https://t.me/Newtonprojectsweden" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 item country"><span>{% trans "Turkey:" %}</span></div>
                <div class="col-md-2 item">
                    <a href="https://t.me/newtonturkey" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
            </div>
        </div>
    </div>


</section>


{% endblock %}

{% block inline_js %}
<script>
    $('body').on('click', function(event) {  
    var target = $(event.target);
    if (!target.hasClass('popover')  
    && target.parent('.popover-content').length === 0  
    && target.parent('.myPopover').length === 0  
    && target.parent('.popover-title').length === 0  
    && target.parent('.popover').length === 0 && target.attr("id") !== "wechat") {  
    $('#wechat').popover('hide');  
    }  
    });  
    $(function (){
    $("[data-toggle='popover']").popover();
    });
</script>
{% endblock %}
