{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Contact Us" %}
{% endblock %}

{% block content %}
<section id="contact" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Contact Us" %}</p>
        </div>
    </div>
    
    <div class="container content">
        <div class="raw">
            <h2>{% trans "Contact Us" %}</h2>
            <div>
                <p>{% trans "Web Site: <a href='https://www.newtonproject.org' target='_blank'>https://www.newtonproject.org" %}</a></p>
                <p>{% trans "Email:" %}</p>
                <ul>
                    <li>{% trans "WhitePager : <a>newton-whitepaper@newtonproject.org</a>" %}</li>
                    <li>{% trans "Global Community : <a>newton-community@newtonproject.org</a>" %}</li>
                    <li>{% trans "Newton Token Exchange : <a>newton-ir@newtonproject.org</a>" %}</li>
                    <li>{% trans "Public Relations : <a>newton-pr@newtonproject.org</a>" %}</li>
                    <li>{% trans "Newton Fund : <a>newton-fund@newtonproject.org</a>" %}</li>
                    <li>{% trans "Council : <a>newton-council@newtonproject.org</a>" %}</li>
                    <li>{% trans "Other Contacts : <a>contact@newtonproject.org</a>" %}</li>
                </ul>
            </div>
       
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}
