{% load i18n %}
{% load utils %}

    <section id="start_test" class="section-list">
        <div class="text-center countdown-block">
            <div class="countdown-title">
                <h1>{% trans "NewChain TestNet" %}</h1>
            </div>
            <div class="countdown-subtitle">
                <h3>{% trans "Launch Time:2018-09-03 00:00(GMT)" %}</h3>
            </div>
            <div class="row start_button">
                <div class="col-md-2 col-lg-3"></div>
                <div class="announcement col-md-4 col-lg-3">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/31/announcement-launching-newchain-testnet/" %}">{% trans "View More" %}</a>
                </div>
                <div class="more col-md-4 col-lg-3">
                        <a href="https://developer.newtonproject.org">{% trans "Go to TestNet" %}</a>
                </div>
                <div class="col-md-2 col-lg-3"></div>
            </div>
        </div>
    </section>

    {% comment %}
    <section id="countdown" class="section-list">
    <div class="text-center countdown-block">
        <div class="countdown-title">
            <h1>{% trans "NewChain TestNet" %}</h1>
        </div>
        <div class="countdown-subtitle">
            <h3>{% trans "Launch Time:2018-09-03 00:00(GMT)" %}</h3>
        </div>
        <script>
        var delta_time = {{ delta_time|safe }}
        </script>
        <div id="tiles">
            <div id="time"><p>0</p></div>
            <div id="time"><p>0</p></div>
            <div id="time"><p>0</p></div>
            <div id="time"><p>0</p></div>
        </div>
        <div id="labels">
            <div id="time-label"><p>DAY</p></div>
            <div id="time-label"><p>HOUR</p></div>
            <div id="time-label"><p>MIN</p></div>
            <div id="time-label"><p>SEC</p></div>
        </div>
        <div class="announcement">
            <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/31/announcement-launching-newchain-testnet/" %}">{% trans "View More" %}</a>
        </div>
    </div>
    </section>

<script type="text/javascript">
$(function(){
    totalSeconds = delta_time;
    var days =0, hours=0, minutes=0,seconds=0,temp;
    var countdown = document.getElementById("tiles")
    if(countdown==null){return;}
    var html_pre = "<div id='time'><p>"
    var html_suffix = "</p></div>"
    getCountdown();
    var id = setInterval(function(){ getCountdown();}, 1000);
    function getCountdown(){
        if(totalSeconds < 0){
            location.reload();
            return;
        }
        days = formatTime(parseInt(totalSeconds / 86400));
        temp = totalSeconds % 86400;
        hours = formatTime(parseInt(temp/3600));
        temp = temp % 3600;
        minutes = formatTime(parseInt(temp/60));
        seconds = formatTime(parseInt(temp%60));
        countdown.innerHTML = html_pre+days+html_suffix+html_pre+hours+html_suffix+html_pre+minutes+html_suffix+html_pre+seconds+html_suffix;
        totalSeconds = totalSeconds - 1;
    }

    function formatTime(n){
        return (n < 10 ? '0': '') + n;
    }

});
</script>
    {% endcomment %}
