{% load i18n %}
{% load utils %}

<!DOCTYPE html>
<html {% arabic_change_page_style %}>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% trans "Dashboard" %} | {% block site_name %}{% trans "Newton" %}{% endblock %}</title>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link rel="shortcut icon" href="{% version "images/logo-new.png" %}" type="image/x-icon" />
        <!--==== style css ====-->
        <link href="{% version "dashboard/bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% version "css/libs/nsprogress/nsprogress.css" %}" rel="stylesheet" />
        <link href="{% version "dashboard/sb-admin-2.css" %}" rel="stylesheet">
        <link href="{% version "dashboard/morris.css" %}" rel="stylesheet">
        <link href="{% version "dashboard/show_data.css" %}" rel="stylesheet">
        <script src="{% version "dashboard/jquery.min.js" %}"></script>
        <script src="{% version 'dashboard/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% version 'js/jquery.i18n.properties.js' %}" type="text/javascript"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116218760-1"></script>
    </head>
    <body>
        <div style="margin:0 auto; width:0px;height:0px;overflow:hidden;">
            <img src="{% version "images/pic300.jpg" %}">
        </div>

        <div role="main" id="main" class="main">
            <div id="wrapper">
                <div id="page-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}" style="height: 100%;">
                                <img class="logo-pc" src="{% version "images/logo_new_style.svg" %}" alt="Newton" style="width: 75%;">
                            </a>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="text-center">
                                            <div class="huge"><span id="transactions">--</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="pull-center">Transactions</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="text-center">
                                            <div class="huge"><span id="height">--</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="pull-center">Height</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="text-center">
                                            <div class="huge"><span id="tps">--</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <span class="pull-center">TPS</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span>Real-time Transaction Number</span>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div id="morris-area-chart"></div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                        </div>
                        <!-- /.col-lg-8 -->
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span>NewSensor</span>
                                </div>
                                <div>
                                    <p class="mbr-section-lead lead"><br>
                                        <span>位置：三里屯办公室</span><br>
                                        <br>
                                        <span id="temp">温度: --度</span><br>
                                        <span id="humd">湿度：--%</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

         <div id="id_loading"></div>

    <script src="{% version "js/jquery-validate.js" %}" type="text/javascript"></script>
    <script src="{% version "js/jquery-validate-additional-methods.js" %}" type="text/javascript"></script>
    <script src="{% version "js/nsprogress.js" %}" type="text/javascript"></script>
    <script src="{% version "dashboard/raphael.min.js" %}"></script>
    <script src="{% version "dashboard/morris.js" %}"></script>
    <script src="{% version "dashboard/sb-admin-2.js" %}"></script>
    <script src="{% version "dashboard/socket.io.js" %}"></script>
    <script src="{% version "dashboard/show_data.js" %}"></script>

    <script>
          var socket = io('http://cloud.diynova.com:8088');
          socket.on('data_message', function(msg){
            var temp=msg.T;
            var humd=msg.RH;
            $('#temp').html("温度："+temp+"度");
            $('#humd').html("湿度："+humd+"%");
          });
          show_data();
          window.setInterval('show_data()', 3000);
    </script>
    </body>
</html>

