{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Economy" %}
{% endblock %}

{% block content %}
<section id="economy" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Economy" %}</p>
        </div>
    </div>
</section>
<div class="economy">
    {% include "welcome/include-allocation.html" %}
    {% include "welcome/include-economy-token-exchange.html" %}
</div>
{% include "welcome/include-investor.html" %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">
                <strong>{% trans "Joint Business Organization" %}</strong><span></span>
            </h2>
        </div>
    </div><!-- end -->
    <div class="partners-list">
        <div class="raw">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/haolemai.png" %}"/>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/lanke.png" %}"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/higo.png" %}"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/quwan.png" %}"/>
            </div>
            <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/zjorient.png" %}"/>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/maibaobao.png" %}"/>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="{% version "images/partners/xijie.png" %}"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#angels").addClass("bg-gray");
</script>
{% endblock %}
{% block css %}
<link href="{% version "css/economy.css" %}" rel="stylesheet" />
{% endblock %}
