{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% if entry %}
{{ entry.title }}
{% else %}
{% trans "Announcement" %}
{% endif %}
{% endblock %}

{% block content %}
<section class="section-list event-detail">
    <div class="container event-detail-container">
        <div class="event-summary row">
            <div class="col-md-6 col-sm-6 col-xs-12 event-image">
                <img src="{{ entry.image.url }}" alt="">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 event-info">
                <p class="entry-title">{{ entry.title }}</p>
                <p class="entry-info-sub-title">{% trans "Date:" %}</p>
                <p class="entry-info-content">{{ entry.event_during }}</p>
                <p class="entry-info-sub-title">{% trans "Addr:" %}</p>
                <p class="entry-info-content">{{ entry.event_location }}</p>
                {% if entry.tags %}
                <p class="entry-info-sub-title">{% trans "Tags:" %}</p>
                <p class="entry-info-content">{{ entry.tags }}</p>
                {% endif %}
            </div>
        </div>
        <div class="event-content">
            <dd class="detail">
                {{ entry.html_content|safe }}
            </dd>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/events-detail.css" %}">
{% endblock %}