<div class='timeline'>
	<link href='../static/css/timeline.css' rel='stylesheet' type='text/css'>
	<script src='../static/js/timeline.js' type='text/javascript'></script>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<ul class="timeline" id="timeline">
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2017.12.25<span>
			</div>
			<div class="status">
				<h4> Newton Project Official Launch </h4>
			</div>
		</li>
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2018.4<span>
			</div>
			<div class="status">
				<h4>Website launch and first token exchange</h4>
			</div>
		</li>
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2018.7<span>
			</div>
			<div class="status">
				<h4>Second token exchange</h4>
			</div>
		</li>
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2018.9<span>
			</div>
			<div class="status">
				<h4>Testnet launch</h4>
			</div>
		</li>
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2018.10<span>
			</div>
			<div class="status">
				<h4>Third token exchange</h4>
			</div>
		</li>
		<li class="li complete">
			<div class="timestamp">
								<span class="date">2018.12<span>
			</div>
			<div class="status">
				<h4>Mainchain and<br> NewPay launch</h4>
			</div>
		</li>
		<li class="li">
			<div class="timestamp">
								<span class="date">2019 Q1<span>
			</div>
			<div class="status">
				<h4>NewMall launch</h4>
			</div>
		</li>
	</ul>      
</div>

