<link rel="stylesheet" type="text/css" href="/static/css/1_1_style.css">
<section class="section 1_1" style="background-color: #7bdcb5; width: 100%; padding-top:15vh; padding-bottom:15vh;background-image: url(../static/images/newpay/newpay_trans_bg.png); height: 50vh;  background-repeat: no-repeat; background-position: 90% 100%; background-size: 20%">
	<h2 class="m-5">NewPay: Join the Newton Ecosystem</h2>
	<p>NewPay is your gateway to Newton's ecosystem, and acts as your wallet, ID, voting ballot, app store, and more</p>
	<p>Available for iPhone, Android, Mac, and Windows</p>
	<div class="btn-group">
		<button type="button" class="btn btn-primary btn-lg btn_trans" style="background-color:#15764f; border: 1px solid #fff">
			iPhone
		</button>

		<button type="button" class="btn btn-primary btn-lg btn_trans" style="background-color:#15764f; border: 1px solid #fff">
			Android
		</button>
</section>
