{% load i18n %}
{% load utils %}
<div class="bg-gray" style="width: 100%">
<div class="container" id="economy-token-exchange">
    <div class="token-exchange">
    	<div class="row">
            <div class="col-md-12">
                <h2 class="title text-center" style="margin-bottom: 30px;padding-top: 47px;">
                    <strong>{% trans "NewTax 2019" %}</strong><span></span>
                </h2>
            </div>
        </div>
		<div style="padding: 10px 10%; font-size: 1.5rem; line-height: 2.5rem">
            {% trans "NEW earned from Newton DApp Ecosystem makes NewTax. NEW from NewTax will release to NewPool for Newton community economy incentives. The release time and the usage of NewTax will be announced in the future." %}
        </div>
		<br><br>
		<div class="new-address" style="text-align: center;">
            {% trans "Address:" %}<a style="color: #888; text-decoration: underline" href="https://explorer.newtonproject.org/contract/NEW182GJfscSmL2TjVdqbcVm3uZKGgUSitCjxt4">NEW182GJfscSmL2TjVdqbcVm3uZKGgUSitCjxt4</a>
		</div>
    </div>
</div>
</div>