{% load i18n %} {% load utils %}

<section id="timeline" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "ROADMAP" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <!-- end -->

        <div class="timeline-lg wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2017.12.25</dt>
                        <dd>{% trans "Newton project officially launched." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-bottom">
                        <dt>2018.4</dt>
                        <dd>{% trans "Newton website launched." %}</dd>
                        <dd>{% trans "First round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2018.7</dt>
                        <dd>{% trans "Second round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-bottom">
                        <dt>2018.9</dt>
                        <dd>{% trans "Newton Testnet launched." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2018.10</dt>
                        <dd>{% trans "Third round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-bottom">
                        <dt>2018.12</dt>
                        <dd>{% trans "Newton's main chain and NewPay launched." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <!--<div class="delay">-->
                    <div class="date-lg">
                        <dl class="date-top">
                            <dt>2019.4</dt>
                            <dd>{% trans "NewMall officially launched." %}</dd>
                        </dl>
                    </div>
                <!--</div>-->
            </div>
        </div>
        <!-- end -->

        <div class="timeline">
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2017.12.25</dt>
                    <dd>{% trans "The Newton Project was officially launched." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.4</dt>
                    <dd>{% trans "Newton's website was launched." %}</dd>
                    <dd>{% trans "First round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.7</dt>
                    <dd>{% trans "Second round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.9</dt>
                    <dd>{% trans "Newton's Testnet launched." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.10</dt>
                    <dd>{% trans "Third round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.12</dt>
                        <dd>{% trans "Newton's main chain and NewPay launched." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="delay">
                    <div class="date"></div>
                    <div class="body">
                        <dt>2019.Q2</dt>
                        <dd>{% trans "NewMall launched." %}</dd>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>
</section>

<style>
    .entry-lg .date-lg {
        width: 150px;
    }

    .entry-lg .delay dl dt,
    .delay dt {
        color: #ccc;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
        .entry-lg .date-lg {
            width: 125px;
        }
    }
</style>
<!-- end -->
