		<link rel="stylesheet" type="text/css" href="/static/css/1_1_style.css">
<section class="section 1_1" style="background-color: #7bdcb5; width: 100%; padding-top:50px; padding-bottom:50px;background-image: url(../static/images/newpay/newpay_trans_bg.png); height: 50vh;  background-repeat: no-repeat; background-position: 90% 100%">
				<h2 class="m-5">NewPay: Join the Newton Ecosystem</h2>
				<h3 style="font-weight:bold; font-variant:small-caps">Join the ecosystem, use your tokens, install Dapps</h3>
				Available for iPhone, Android, Mac, and Windows
				<div class="btn-group">
						<button type="button" class="btn btn-primary btn-lg btn_trans" style="background-color:#15764f; border: 1px solid #fff">
					iPhone
						</button>

						<button type="button" class="btn btn-primary btn-lg btn_trans" style="background-color:#15764f; border: 1px solid #fff">
					Android
						</button>
</section>
