{% load i18n %}
{% load utils %}

<section id="partners">
    <div id="construction" class="partners-list bg-gray">
        <div class="container">
            <p class="title">
                <strong>{% trans "Joint Ecological Construction" %}</strong><span></span>
            </p>
            <div class="raw" style="text-align: center;">
                <div class="col-md-3 col-sm-6 col-xs-12">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/elastos.png" %}"/>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/dcc.jpg" %}"/>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                </div>
            </div>
        </div>
    </div>
    <div id="organization" class="partners-list bg-gray">
        <div class="container">
            <p class="title">
                <strong>{% trans "Joint Business Organization" %}</strong><span></span>
            </p>
            <div class="raw">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/haolemai.png" %}"/>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/lanke.png" %}"/>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/higo.png" %}"/>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/quwan.png" %}"/>
                </div>
                <div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/zjorient.png" %}"/>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/maibaobao.png" %}"/>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <img src="{% version "images/partners/xijie.png" %}"/>
                </div>
            </div>
        </div>
    </div>
</section><!-- end -->

