{% load i18n %}
{% load utils %}
{% load download_utils %}

<div class="announce-container">
    {% if is_index %}
    <div class="announce-title">
        {% if is_newpay_release %}
        {% trans "NewPay is now launched" %}
        {% else %}
        {% trans "NewPay Coming Soon" %}
        {% endif %}
    </div>
    <div class="announce-subtitle">
        {% trans "Transaction, Governance, Mining, and New Design" %}
    </div>
    {% else %}
    <div class="container text-center download-button more">
        <div>NewPay</div>
        <h3>{% trans "Digital wallet in Newton's economy" %}</h3>
    </div>
    {% endif %}
    <div class="newpay-head">
        <div class="download-container">
            {% show_download_buttons %}
        </div>        
    </div>
</div>
