{% load i18n %}
{% load utils %}

<section id="news" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "FEED" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="dynamic-left col-md-4" style="margin-bottom: 5%;">
        {% if entries_left %}
        {% for entry in entries_left %}
            {% if forloop.counter == 1 %}
                {% if entry.image %}
                <a class="bigimg" style="background-image: url({{ entry.image.url }});" href="{{ entry.urls }}">
                    <div class="shadow"></div>
                    <span class="time">{{ entry.creation_date|date:"Y-m-d" }}</span>
                    <span class="announcement-title">{{ entry.title }}</span>
                </a>
                {% else %}
                <a class="bigimg" style="" href="{{ entry.urls }}">
                    <div class="shadow"></div>
                    <span class="time">{{ entry.creation_date|date:"Y-m-d" }}</span>
                    <span class="announcement-title">{{ entry.title }}</span>
                </a>
                {% endif %}
            {% else %}
                {% if entry.image %}
                <div>
                    <a class="smallimg" style="background-image: url({{ entry.image.url }});" href="{{ entry.urls }}">
                        <div class="shadow"></div>
                        <span class="time">{{ entry.creation_date|date:"Y-m-d" }}</span>
                        <span class="announcement-title">{{ entry.title }}</span>
                    </a>
                </div>
                {% else %}
                <div>
                    <a class="smallimg" style="" href="{{ entry.urls }}">
                        <div class="shadow"></div>
                        <span class="time">{{ entry.creation_date|date:"Y-m-d" }}</span>
                        <span class="announcement-title">{{ entry.title }}</span>
                    </a>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        <div class="dynamic-right col-md-8">
            <div class="show-news">
                <ul>
                {% if entries_right %}
                {% for entry in entries_right %}
                    <li>
                        <a href="{{ entry.urls }}" target="_blank"><span>{{ entry.title }}</span></a>
                        <span class="time">{{ entry.creation_date|date:"Y-m-d" }}</span>
                    </li>
                {% endfor %}
                {% endif %}
                </ul>
            </div>
            <div class="more"><a href="/announcement/"><span>{% trans "MORE" %}</span></a></div>
        </div>
    </div>
</section>
