{% load i18n %}
{% load utils %}
{% load welcome_tags %}

<section class="section bg-gray" style="padding-top:50px;padding-bottom:60px;">
    <div class="container row video-container">
        <div class="col-md-8 col-sm-12 col-xs-12">
            {% for item in videos %}
            <video id="video-list-{{ forloop.counter }}" class="video-js vjs-big-play-centered" controls preload="none" poster="{{ item.poster }}" data-setup="" style="margin-left:auto;margin-right:auto;cursor: pointer;{{ item.display }}">
                <source src="{{ item.url }}" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            {% endfor %}
            <div id="node-video-tencent2"></div>
        </div>

        <div class="tabs-container col-md-4 col-sm-12 col-xs-12" video_sum="{{ video_sum }}" id="video_block">
            {% for item in videos %}
            <div class="tab-container padding-bottom-10 col-md-12 col-xs-6">
                <a class="video-link" video_id="{{ forloop.counter }}">
                    <p class="video-title"><span class="glyphicon glyphicon-play-circle" style="font-size: 1.2em; line-height: 1.1em; vertical-align: text-top;"></span>&nbsp;&nbsp;{{ item.title }}</p>
                    <p class="summary hidden-xs">{{ item.summary }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
