{% load i18n %}
{% load utils %}
{% load welcome_tags %}

<div class="events events-pc section" id="events-section">
    <div class="container text-center events-panel-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Newton Calendar" %}</strong>
                    <div class="select-month">
                        <button class="select-month-btn hidden-xs events-pass-btn" id="id_passed_events">{% trans "PAST" %}</button>
                        <div class="button-container">
                            <button class="glyphicon glyphicon-chevron-left select-month-btn" id="id_prev_month"></button>
                            <span class="current-month" id="id_current_month">{{ current_month | format_current_month }}</span>
                            <button class="glyphicon glyphicon-chevron-right select-month-btn" id="id_next_month"></button>
                        </div>
                        <button class="select-month-btn events-pass-btn" id="id_coming_events">{% trans "UPCOMING" %}</button>
                    </div>
                </h2>
            </div>
        </div>

        <div class="events-list events-list-pc" id="id_events_list_passed">
            {% for pass_event in past_events_list %}

            <div class="col-md-4 col-xs-12">
                <a {{ pass_event | get_event_url }}>
                    <div class="panel panel-default event_container">
                        {% if pass_event.image %}
                        <div class="panel-body" style="background-image: url('{{ pass_event.image.url }}')"></div>
                        {% else %}
                        <div class="panel-body" style="background-image: url({% version "images/events/events-default.jpg" %})"></div>
                        {% endif %}
                        <div class="panel-footer row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p class="date-container-month">{{ pass_event.event_date | format_event_month }}</p>
                                <p class="date-container-date">{{ pass_event.event_date.day }}</p>
                                <p class="date-container-weekday">{{ pass_event.event_date | format_event_weekday }}</p>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p class="event-title">{{ pass_event.title }}</p>
                                <p class="event-time">{{ pass_event.event_during }}</p>
                                <p class="event-location">{{ pass_event.event_summary }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% for event_month, event_month_item in event_items %}
            <div class="events-list events-list-pc events-list-monthly" id="id_events_list_{{ event_month.year }}_{{ event_month.month }}">
                <script>
                    $("#id_events_list_2018_12").css("display", "block");
                </script>
                {% for event_item in event_month_item %}
                    <div class="col-md-4 col-xs-12">
                        <a {{ event_item | get_event_url }}>
                            <div class="panel panel-default event_container">
                                {% if event_item.image %}
                                <div class="panel-body" style="background-image: url('{{ event_item.image.url }}')"></div>
                                {% else %}
                                <div class="panel-body" style="background-image: url({% version "images/events/events-default.jpg" %})"></div>
                                {% endif %}
                                <div class="panel-footer row">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">{{ event_item.event_date | format_event_month }}</p>
                                        <p class="date-container-date">{{ event_item.event_date.day }}</p>
                                        <p class="date-container-weekday">{{ event_item.event_date | format_event_weekday }}</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{{ event_item.title }}</p>
                                        <p class="event-time">{{ event_item.event_during }}</p>
                                        <p class="event-location">{{ event_item.event_summary }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="events-list events-list-pc" id="id_events_list_coming">
            {% for coming_event in coming_events_list %}
            <div class="col-md-4 col-xs-12">
                <a {{ coming_event | get_event_url }}>
                    <div class="panel panel-default event_container">
                        {% if coming_event.image %}
                        <div class="panel-body" style="background-image: url('{{ coming_event.image.url }}')"></div>
                        {% else %}
                        <div class="panel-body" style="background-image: url({% version "images/events/events-default.jpg" %})"></div>
                        {% endif %}
                        <div class="panel-footer row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p class="date-container-month">{{ coming_event.event_date | format_event_month }}</p>
                                <p class="date-container-date">{{ coming_event.event_date.day }}</p>
                                <p class="date-container-weekday">{{ coming_event.event_date | format_event_weekday }}</p>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p class="event-title">{{ coming_event.title }}</p>
                                <p class="event-time">{{ coming_event.event_during }}</p>
                                <p class="event-location">{{ coming_event.event_summary }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

        <div class="col-md-12 col-xs-12 more">
            <a href="/events/">{% trans "All Events" %}</a>
        </div>
    </div>
</div>
