{% load i18n %}
{% load utils %}

<div class="announce-container">
    <div class="announce-title">
        {% trans "NewChain mainnet has been launched" %}
    </div>
    <div class="announce-content">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="">
                            <img src="{% version "images/download-logo/app-store-en.svg" %}" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <img src="{% version "images/download-logo/google-play-en.png" %}" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>