{% load i18n %}
{% load utils %}

<div class="event">
    <div class="container">
        <h2>{% trans "Coming Event" %}</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Beijing Meetup (Phase Ⅱ)" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-23, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "2nd Floor, Tower A, Dinghao Electronics Building, Zhongguancun Street, Haidian District, Beijing" %}<span class="pull-right"><a href="{% trans "/announcement/2018/06/19/june-23rd-newton-beijing-meet-sincerely-invites-you-join-us/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>

        
        
    </div>
</div>
