{% load i18n %}
{% load utils %}
<div class="container" id="economy-token-exchange">
    <div class="token-exchange">
    	<div class="row">
            <div class="col-md-12">
                <h2 class="title text-center" style="margin-bottom: 30px;padding-top: 47px;">
                    <strong>{% trans "NewTax 2019" %}</strong><span></span>
                </h2>
            </div>
        </div>
		<div class="table-responsive" style="padding: 10px 20%; font-size: 16px; line-height: 30px">
            {% trans "NEW earned from Newton DApp Ecosystem makes NewTax. NEW from NewTax will release to NewPool for Newton community economy incentives. The release time and the usage of NewTax will be announced in the future." %}
        </div>
		<br><br>
		<div class="table-responsive" style="text-align: center; font-size: 16px">

			{% trans "NewTax 2019 address" %}:NEW182GJfscSmL2TjVdqbcVm3uZKGgUSitCjxt4
		</div>
    </div>
</div>
