{% load i18n %}
{% load utils %}

<section id="news" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "FEED" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="dynamic-left col-md-5" style="margin-bottom: 5%;">
            <a class="bigimg" href="">
                <div class="shadow"></div>
                <p class="time">2018-09-04</p>
                <p class="announcement-title">牛顿周报 | 2018.08.27-2018.09.02</p>
            </a>
            <div>
                <a class="smallimg" href="">
                    <div class="shadow"></div>
                    <p class="time">2018-09-04</p>
                    <p class="announcement-title">牛顿周报 | 2018.08.27-2018.09.02</p>
                </a>
            </div>
            <div>
                <a class="smallimg" href="">
                    <div class="shadow"></div>
                    <p class="time">2018-09-04</p>
                    <p class="announcement-title">牛顿周报 | 2018.08.27-2018.09.02</p>
                </a>
            </div>
        </div>
        <div class="dynamic-right col-md-7">
            <div>
                <ul>
                    <li>
                        <a href=""><span>9/3 Newton NewChain TestNetがリリース！Newton（ニュートン）CEO　徐継哲氏電子取引の新しい機会ブロックチェーン時代のデジタル資産管理について説明。</span></a>
                        <span class="time">--2018-08-18</span>
                    </li>
                    <li>
                        <a href=""><span>9/3 Newton NewChain TestNetがリリース！Newton（ニュートン）CEO　徐継哲氏電子取引の新しい機会ブロックチェーン時代のデジタル資産管理について説明。</span></a>
                        <span class="time">--2018-08-18</span>
                    </li>
                    <li>
                        <a href=""><span>9/3 Newton NewChain TestNetがリリース！Newton（ニュートン）CEO　徐継哲氏電子取引の新しい機会ブロックチェーン時代のデジタル資産管理について説明。</span></a>
                        <span class="time">--2018-08-18</span>
                    </li>
                    <li>
                        <a href=""><span>9/3 Newton NewChain TestNetがリリース！Newton（ニュートン）CEO　徐継哲氏電子取引の新しい機会ブロックチェーン時代のデジタル資産管理について説明。</span></a>
                        <span class="time">--2018-08-18</span>
                    </li>
                </ul>
            </div>
            <div class="more"><a href=""><span>了解更多</span></a></div>
        </div>
    </div>
</section>