{% load i18n %}
{% load utils %}

<div class="announce-container">
    <div class="announce-title">
        {% trans "NewChain mainnet has been launched" %}
    </div>
    <div class="announce-content">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="">
                            <img src="{% version "images/download-logo/app-store-en.svg" %}" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="">
                            <img src="{% version "images/download-logo/google-play-en.png" %}" alt="">
                        </a>
                    </td>
                    <td>
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title=" " data-template='<div class="popover" role="tooltip"><div class="arrow"></div><img src="{% version "images/download-logo/newpay-qr.png" %}" alt="" style="height: 150px;"></div>' data-container="body">
                            <span class="glyphicon glyphicon-qrcode qrcode-thumbnail"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>