{% load i18n %} 
{% load utils %}

{% if entries %}
<section id="news" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "FEED" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="content">
            {% for entry in entries %}
                {% if forloop.counter == 1 %}
                    {% if entry.image %}
                        <a class="bigimg" style="background-image: url({{ entry.image.url }});" href="{{ entry.urls }}">
                            <div class="shadow"></div>
                            <p class="time">{{ entry.last_update|date:"Y-m-d" }}</p>
                            <p class="announcement-title">{{ entry.title }}</p>
                        </a>

                    {% else %}
                    <a class="bigimg" href="{{ entry.urls }}">
                        <div class="shadow"></div>
                        <p class="time">{{ entry.last_update|date:"Y-m-d" }}</p>
                        <p class="announcement-title">{{ entry.title }}</p>
                    </a>
                    {% endif %}
                    <div class="small-content">
                {% else %}
                    {% if entry.image %}
                    <a class="smallimg" style="background-image: url({{ entry.image.url }});" href="{{ entry.urls }}">
                        <div class="shadow"></div>
                        <p class="time">{{ entry.last_update|date:"Y-m-d" }}</p>
                        <p class="announcement-title">{{ entry.title }}</p>
                    </a>
                    {% else %}
                    <a class="smallimg" href="{{ entry.urls }}">
                        <div class="shadow"></div>
                        <p class="time">{{ entry.last_update|date:"Y-m-d" }}</p>
                        <p class="announcement-title">{{ entry.title }}</p>
                    </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

