{% load i18n %}
{% load utils %}

<section id="angels" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "CORNERSTONE INVESTORS" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/1.jpg" %}" alt="{% trans "Liu Jun" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Liu Jun" %}</h4>
                        <div class="media-intro">{% trans "Co-Founder of Lightinthebox (NYSE:LITB)" %}</div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/2.jpg" %}" alt="{% trans "Guo Feng" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Guo Feng" %}</h4>
                        <div class="media-intro">{% trans "Founder of kela.cn" %}</div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/3.jpg" %}" alt="{% trans "Xu Yirong" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Xu Yirong" %}</h4>
                        <div class="media-intro">
                            {% trans "Founder of meilishuo.com" %}<br/>
                            {% trans "CEO of HIGO" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/4.jpg" %}" alt="{% trans "Zhou Pin" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Zhou Pin" %}</h4>
                        <div class="media-intro">
                            {% trans "SVP of Cheetah (NASDAQ:CMCM)" %}<br/>
                            {% trans "Founder of quwan.com" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/5.jpg" %}" alt="{% trans "Han Feng" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Han Feng" %}</h4>
                        <div class="media-intro">
                            {% trans "Co-founder of Elastos" %}<br/>
                            {% trans "Visiting Scholar & Research Associate at Columbia University" %}<br/>
                            {% trans "Advisor at Huawei Central Institute" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/6.jpg" %}" alt="{% trans "Li Songbo" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Li Songbo" %}</h4>
                        <div class="media-intro">
                            {% trans "Former CTO of Sina (NASDAQ: SINA)" %}<br/>
                            {% trans "Partner of DFJ Venture Capital" %}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/7.jpg" %}" alt="{% trans "Gu Xueyong" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Gu Xueyong" %}</h4>
                        <div class="media-intro">
                            {% trans "Professor at Tsinghua University" %}<br/>
                            {% trans "Director of International Relations at iCenter" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/8.jpg" %}" alt="{% trans "Ye Haifeng" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Ye Haifeng" %}</h4>
                        <div class="media-intro">{% trans "Founder of mbaobao.com" %}</div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/9.jpg" %}" alt="{% trans "Hu Dinghe" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Hu Dinghe" %}</h4>
                        <div class="media-intro">{% trans "Chairman of Elastos ecosystem board" %}<br/>{% trans "Previous President of Chongqing Lifan" %}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/10.jpg" %}" alt="{% trans "Lee Willson" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Lee Willson" %}</h4>
                        <div class="media-intro">{% trans "Bitcoin Ambassador" %}</div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/11.jpg" %}" alt="{% trans "Wang Feng" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Wang Feng" %}</h4>
                        <div class="media-intro">
                            {% trans "Founder of linekong.com" %}<br/>
                            {% trans "Founder of huoxing24.com" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/12.jpg" %}" alt="{% trans "Stewie Zhu" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Stewie Zhu" %}</h4>
                        <div class="media-intro">
                            {% trans "Founder and CEO of Distributed Credit Chain" %}<br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/14.png" %}" alt="{% trans "Shi Junchao" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Shi Junchao" %}</h4>
                        <div class="media-intro">
                            {% trans "Senior gem jade appraiser." %}<br/>
                            {% trans "Deputy secretary general of xinjiang hetian jade industry association." %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/15.png" %}" alt="{% trans "Guo Hongchi" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Guo Hongchi" %}</h4>
                        <div class="media-intro">
                            {% trans "Founder of xijie.com" %}<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/JLAB.png" %}" alt="{% trans "JLAB" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "JLAB" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/consensus1.png" %}" alt="{% trans "Consensus Lab" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Consensus Lab" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/genesis.png" %}" alt="{% trans "GENESIS" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "GENESIS" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12 pull-left">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/elafund.png" %}" alt="{% trans "ELAFUND" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "ELAFUND" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end -->
