{% load i18n %}
{% load utils %}

<section class="listed-exchange-notice section bg-gray">
    <div class="row">
        <div class="listed-exchange-title col-md-12">
            <h2 class="title text-center">
                <strong>{% trans "Listed Exchange" %}</strong>
            </h2>
        </div>
        <div class="listed-exchange-items" align="center">
            <div class="listed-exchange-item">
                <a href="https://huobiglobal.zendesk.com/hc/zh-cn/articles/360000229141" target="_blank">
                    <img class="listed_exchange" src="{% version "images/huobi-singin-exchange.png" %}"/>
                </a>
            </div>
        </div>
    </div>
</section>

{% block css %}
<style>
    .listed-exchange-notice{padding-bottom: 70px;}

    .listed-exchange-items{padding-top: 10px;}

    .listed_exchange{width:100%;}
    @media (min-width: 991px) {
        .listed-exchange-items{
            margin-left: 15%;
        }
        .listed-exchange-item{
            float: left;
            width: 260px;
            margin-left: 40px;
            padding-bottom: 10px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
    }
    @media(max-width: 768px){
        .listed-exchange-notice{padding-bottom: 45px;}
        .listed-exchange-title{padding-bottom: 20px;}
        .listed-exchange-item{
            width: 260px;
            margin-bottom: 14px;
        }
        .listed_exchange{width:100%;}
    }
</style>
{% endblock %}