{% load i18n %}
{% load utils %}

<div class="events section" id="events-section">
    <div class="container text-center events-pannel-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Newton Calendar" %}</strong>
                    <div class="select-month">
                        <button class="select-month-btn" id="id_passed_events">{% trans "PASSED" %}</button>
                        <button class="glyphicon glyphicon-chevron-left select-month-btn" id="id_prev_month"></button>
                        <span class="current-month" id="id_current_month">{{ current_month }}</span>
                        <button class="glyphicon glyphicon-chevron-right select-month-btn" id="id_next_month"></button>
                        <button class="select-month-btn" id="id_coming_events">{% trans "UPCOMING" %}</button>
                    </div>
                </h2>
            </div>
        </div>

        <div class="events-list" id="id_events_list_passed">
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_10">
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_11" style="display: block;">
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018年11月24日晚</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_12">
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="events-list" id="id_events_list_coming">
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/23/_20181023205534.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">徐继哲的晚餐</p>
                                <p class="event-time">2018-10-23 18:30</p>
                                <p class="event-location">活动内容：徐继哲邀请4位优秀内容创作者共进晚餐</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/10/17/12.jpg')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-东京站”沙龙邀您出席</p>
                                <p class="event-time">2018-10-23 18:30 ‐ 20:30</p>
                                <p class="event-location">牛顿项目创始人徐继哲先生、牛顿顾问胡定核博士将出席此次活动。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/economy/">
                    <div class="panel panel-default event_container" style="background-image: url('https://www.newtonproject.org/filestorage/uploads/zinnia/2018/09/12/.png_3')">
                        <div class="panel-body">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2">
                                <p class="date-container-month">Nov</p>
                                <p class="date-container-date">12</p>
                            </div>
                            <div class="col-md-10">
                                <p class="event-title">“牛顿全球百城巡讲-广州站”邀您出席</p>
                                <p class="event-time">2018年8月29日下午19：00</p>
                                <p class="event-location">牛顿创始人徐继哲先生将发表演讲。现场还将安排抽奖环节。</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 more">
            <a href="{{ settings.NEWTON_HOME_URL }}">{% trans "All Events" %}</a>
        </div>
    </div>
</div>