{% load i18n %}
{% load utils %}

<section id="team" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "TEAM" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>{% trans "Xu Jizhe" %}<br>
                                        {% trans "Founder & Chairman of Newton" %}<br>
                                        {% trans "In January 2018, Jizhe Xu established Newton project, to develop a hyper exchange protocol through technology innovations such as blockchain, IoT, realizing the vision “Everyone should benefit directly from economic growth”. In 2017, Jizhe Xu make angel investment in the Elastos, and became the co-founder of Elastos." %}<br>
                                        {% trans "Former technology head of Sina Mail at Sina.com.CTO of OKBUY.com. Founded Zeuux Community to promote the free software movement in China since 2005, popularizing the technology, the law, and the community culture, to connect the Chinese community with the global community." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/1.jpg" %}" alt="{% trans "Xu Jizhe" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Xu Jizhe" %}</h4>
                            <div class="media-intro">{% trans "Founder" %}<br/>{% trans "Co-founder of Elastos" %}<br/>{% trans "Founder of Zeuux (A Community for Free Software Usage)" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/xujizhe" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/xujizhe" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                                <a href="https://www.weibo.com/xujizhe" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>{% trans "Li Shubin" %}<br>
                                        {% trans "Co-founder of Newton" %}<br>
                                        {% trans "Subin Li, the co-founder of Okbuy.com, graduated from Communication University of China in 2002. He established the e-commerce Okbuy.com in 2007 and successfully gained several rounds investments from Sequoia Capital, Intel, DFJ, Tencent and other famous VC or organizations." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/2.jpg" %}" alt="{% trans "Li Shubin" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Li Shubin" %}</h4>
                            <div class="media-intro">{% trans "Co-founder" %}<br/>{% trans "Founder and CEO of OKbuy" %}</div>
                            <p>
                                <a href="https://weibo.com/u/1722420565" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>{% trans "Xia Wu" %}<br>
                                        {% trans "Joint Chief Architect of Newton" %}<br>
                                        {% trans "Wu xia is the co-founder of Zeuux community and has worked for Okbuy.com. Wu xia is experienced in development management of free software, e-commerce and blockchain technology." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/xiawu.jpg" %}" alt="{% trans "Xia Wu" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Xia Wu" %}</h4>
                            <div class="media-intro" style="padding:unset;">{% trans "Joint Chief Architect" %}<br/>{% trans "Co-founder of Zeuux (A Community for Free Software Usage)" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/wu-xia-0594b41b" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                {% comment %}
                                <a href="https://twitter.com/xiawu" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                                <a href="https://weibo.com/xiawu" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                                {% endcomment %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>{% trans "Meng Guang" %}<br>
                                        {% trans "Joint Chief Architect" %}<br>
                                        {% trans "Guang Meng is the expert of IoT and intelligent hardware, operation architect, senior programmer with rich experience in E-commerce. Guang Meng once worked in sina, sina Weibo, China Mobile, Okbuy, Diynova and so on." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/mengguang.jpg" %}" alt="{% trans "Meng Guang" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Meng Guang" %}</h4>
                            <div class="media-intro">{% trans "Joint Chief Architect" %}<br/></div>
                            <p>
                                <a href="https://www.linkedin.com/in/%E5%85%89-%E5%AD%9F-9b6697116" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Zhang Yu" %}<br>
                                        {% trans "Marketing expert" %}<br>
                                        {% trans "The founder of Beijing WuZhou Online Information Technology Limited Company, is experienced in enterprise management, investment and financing, new media marketing for 25 years. He has created the chinaemail.com serving for over 20000 enterprises, and founded the 12818.com, which provides financial services with several fund companies, securities companies and insurance companies. Mr. Zhang has focused on the research and practice of new media marketing and fan economy since 2013, and helped more than 3000 enterprises to better use new media. More than 200 companies stand out from their own fields. As the committee member of the Internet society of China, Mr. Zhang has won the self-discipline award of the Internet society of China." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/zhangyu.jpg" %}" alt="{% trans "Zhang Yu" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Zhang Yu" %}</h4>
                            <div class="media-intro">{% trans "Marketing Specialist" %}<br/>{% trans "Founder of WuZhou Online" %}</div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/team/jiangyu.jpg" %}" alt="{% trans "Jiang Yu" %}">
                        </div>
                        <h4 class="media-heading">{% trans "Jiang Yu" %}</h4>
                        <div class="media-intro">{% trans "Product Specialist" %}<br/>{% trans "Previous Product Director of xs.cn" %}</div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>

    </div>
</section><!-- end -->
