{% load i18n %} {% load utils %}

<section id="timeline" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "ROADMAP" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <!-- end -->

        <div class="timeline-lg wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2018.1.1</dt>
                        <dd>{% trans "Newton project was officially launched." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-bottom">
                        <dt>2018.4</dt>
                        <dd>{% trans "Newton website was officially launched." %}</dd>
                        <dd>{% trans "The first round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2018.7</dt>
                        <dd>{% trans "The second round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-bottom">
                        <dt>2018.9</dt>
                        <dd>{% trans "Newton Testnet officially launched." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="date-lg">
                    <dl class="date-top">
                        <dt>2018.10</dt>
                        <dd>{% trans "The third round of token exchange." %}</dd>
                    </dl>
                </div>
            </div>
            <div class="entry-lg">
                <div class="delay">
                    <div class="date-lg">
                        <dl class="date-bottom">
                            <dt>2018 Q4</dt>
                            <dd>{% trans "Newton's main chain and NewPay officially launched." %}</dd>
                            <dd>{% trans "The NewMall was officially launched." %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->

        <div class="timeline">
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.1.1</dt>
                    <dd>{% trans "Newton project was officially launched." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.4</dt>
                    <dd>{% trans "Newton website was officially launched." %}</dd>
                    <dd>{% trans "The first round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.7</dt>
                    <dd>{% trans "The second round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.9</dt>
                    <dd>{% trans "Newton Testnet officially launched." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="date"></div>
                <div class="body">
                    <dt>2018.10</dt>
                    <dd>{% trans "The third round of token exchange." %}</dd>
                </div>
            </div>
            <div class="entry">
                <div class="delay">
                    <div class="date"></div>
                    <div class="body">
                        <dt>2018 Q4</dt>
                        <dd>{% trans "Newton's main chain and NewPay officially launched." %}</dd>
                        <dd>{% trans "The NewMall was officially launched." %}</dd>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->

    </div>
</section>
<!-- end -->
