{% load i18n %}
{% load utils %}

<section class="bg-gray listed-exchange-notice section">
    <div class="row">
        <div class="listed-exchange-title col-md-12">
            <h2 class="title text-center">
                <strong>{% trans "Listed Exchange" %}</strong>
            </h2>
        </div>
        <div class="listed-exchange-items col-md-8 col-md-offset-2">
            <div class="listed-exchange-item listed-exchange-left">
                <a href={% trans "https://www.huobi.co" %} target="_blank">
                    <img class="listed_exchange" src="{% version 'images/huobi-singin-exchange.png' %}"/>
                </a>
            </div>
            <div class="listed-exchange-item listed-exchange-right">
                <a href={% trans "https://www.huobi.co.kr/en-US/" %} target="_blank">
                    <img class="listed_exchange" src="{% version 'images/huobi-singin-exchange-korean.png' %}"/>
                </a>
            </div>
        </div>
        <div class="listed-exchange-items col-md-8 col-md-offset-2 exchange-second">
            <div class="listed-exchange-item listed-exchange-left div-left">
                <a href={% trans "https://www.biup.com/" %} target="_blank">
                    <img class="listed_exchange" src="{% version 'images/0.jpg' %}"/>
                </a>
            </div>
            <div class="listed-exchange-item listed-exchange-right">
                <a href={% trans "https://www.mxc.com/" %} target="_blank">
                    <img class="listed_exchange pic-right" src="{% version 'images/MXC.png' %}"/>
                </a>
            </div>
        </div>
        <div class="listed-exchange-items col-md-8 col-md-offset-2 exchange-second">
            <div class="listed-exchange-item listed-exchange-left div-left">
                <a href={% trans "https://www.exshell.com/" %} target="_blank">
                    <img class="listed_exchange" src="{% version 'images/exshell_logo.svg' %}"/>
                </a>
            </div>
        </div>
    </div>
</section>

{% block css %}
<style>
    .exchange-second {
        margin-top: 20px;
    }
    .pic-right {
        height: 64px
    }
    .listed-exchange-notice{padding-bottom: 70px;}

    .listed_exchange{width:100%;}
    @media (min-width: 991px) {
        .listed-exchange-item{
            width: 260px;
            padding-bottom: 10px;
            float:left;
            width: 300px;
            padding-left: 10px;
            padding-bottom: 10px;
        }
        .listed-exchange-left{
            float:left;
            margin-left: 50px;
        }
        .listed-exchange-right{
            float:right;
            margin-right: 50px;
        }
    }
    @media (max-width: 991px) and (min-width: 768px) {
    }
    @media(max-width: 768px){
        .listed-exchange-notice{padding-bottom: 45px;}
        .listed-exchange-title{padding-bottom: 20px;}
        .listed-exchange-items{

        }
        .listed-exchange-item{
            width: 260px;
            margin-bottom: 15px;
            float:none;
            margin-left:0px;
            margin-right:0px;
        }
        .listed_exchange{width:100%;}

        .listed-exchange-left{
            margin-left:auto;
            margin-right:auto;
        }
        .listed-exchange-right{
            margin-left:auto;
            margin-right:auto;
        }
    }
    @media(min-width: 1440px){
        .listed-exchange-items{
            width:54%;
            margin-left: 23%;
        }
    }

    @media(min-width: 2000px){
        .listed-exchange-items{
            width:40%;
            margin-left: 30%;
        }
    }
</style>
{% endblock %}