{% load i18n %}
{% load utils %}
<section class="allocation bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Token Metrics" %}</strong>
                </h2>
                <h3 class="text-center">{% trans "Total Supply:" %}&nbsp;<span>100,000,000,000&nbsp;NEW</span></h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center" style="width: 15%;">{% trans "Actor" %}</th>
                    <th class="text-center">{% trans "Proportion" %}</th>
                    <th class="text-center" style="width: 10%;">{% trans "Amount" %}</th>
                    <th class="text-center">{% trans "Address" %}</th>
                    <th class="text-center">{% trans "Description" %}</th>
                </tr>
                <tr>
                    <td class="text-center">{% trans "Founding Team" %}</td>
                    <td class="text-center">10%</td>
                    <td class="text-center">{% trans "10 billions" %}</td>
                    <td class="text-center"><a class="td-a-word" href="https://explorer.newtonproject.org/address/NEW182VvPkbL5anwmS5G1d5J52v22BptSWyCkW4">NEW182VvPkbL5anwmS5G1d5J52v22BptSWyCkW4</a></td>
                    <td>
                        <ul>
                            <li>{% trans "Incentives for founding team;" %}</li>
                            <li>{% trans "The first year is the lock period. From the second year, every month 1/24 of the total amount will be unlocked." %}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Token Exchange" %}
                    </td>
                    <td class="text-center">
                        15%
                    </td>
                    <td class="text-center">{% trans "15 billions" %}</td>
                    <td class="text-center"><a class="td-a-word" href="https://explorer.newtonproject.org/address/NEW182MYykUWoGkwCky38rUtzkfcRK6VDu5Sd26">NEW182MYykUWoGkwCky38rUtzkfcRK6VDu5Sd26</a></td>
                    <td>
                        <ul>
                            <li>{% trans "For foundation's initial operation." %}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Foundation" %}
                    </td>
                    <td class="text-center">
                        15%
                    </td>
                    <td class="text-center">{% trans "15 billions" %}</td>
                    <td class="text-center"><a class="td-a-word" href="https://explorer.newtonproject.org/address/NEW182LnBCT5jKBu7zJUL28Rd4PzaXbXxWDhBxK">NEW182LnBCT5jKBu7zJUL28Rd4PzaXbXxWDhBxK</a></td>
                    <td>
                        <ul>
                            <li>{% trans "For foundation's later operation;" %}</li>
                            <li>{% trans "1/5 of the total amount is immediately unlocked, the rest will be unlocked 1/36 every month." %}</li>
                            <li><a class="td-a-word" href="/release">{% trans "Details" %}</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Community" %}
                    </td>
                    <td class="text-center">
                        60%
                    </td>
                    <td class="text-center">{% trans "60 billions" %}</td>
                    <td class="text-center"><a class="td-a-word" href="https://explorer.newtonproject.org/address/NEW182DJKw4XF7Wf5ydR2jgsKE4MEsAE4u1XwzY">NEW182DJKw4XF7Wf5ydR2jgsKE4MEsAE4u1XwzY</a></td>
                    <td>
                        <ul>
                            <li>{% trans "Incentives for community;" %}</li>
                            <li>{% trans "Unlock in later fifty years." %}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>