{% load i18n %}
{% load utils %}

<section id="feature" class="section bg-gray">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Protocol-based economy of Newton" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="row">

            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img1"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "Users own the data " %}</dt>
                        <dd>
                            {% trans "Users secure and control their personal data through cryptography, and can then manage their personal credit. Users share the profit produced by data in a pre-agreed manner." %}
                        </dd>
                    </dl>
                </div>
            </div><!-- end -->
   
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img4"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "More intelligence" %}</dt>
                        <dd>{% trans "Automatic credit production of credit in a free and open manner can facilitate better coordination between people and people, people and machines, machines and machines without the authoritative intermediary and can reduce the disturbing factors so that to promote automation and intelligence. " %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
            <div class="clearfix visible-md-block"></div>
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img2"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "More effective incentive mechanism" %}</dt>
                        <dd>{% trans "Replacing business intermediaries with technology protocols, connecting service providers, consumers and other roles through the value-based Internet, the transaction costs of service providers will be directly assigned to the corresponding contributors. " %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img3"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "New organizational structure and cooperation mode" %}</dt>
                        <dd>{% trans "The community economies managed by non-profit foundations will replace the monopoly platforms managed by traditional profitable companies. Each contributor gains the rights and interests from the economy according to the fair, reasonable, and transparent principles,  becoming a part of the economy." %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
         
        </div>

    </div>
</section><!-- end -->
