{% load i18n %}
{% load utils %}

<section id="angels" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "CORNERSTONE INVESTORS" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>刘俊，兰亭集势（纽交所：LITB）联合创始人，浙江东方海纳董事长，Fusion Capital 合伙人，同济大学MBA，长江商学院EMBA，曾任当当网技术负责人，卓越网（2004年被亚马逊收购）副总裁。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/1.jpg" %}" alt="{% trans "Liu Jun" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Liu Jun" %}</h4>
                            <div class="media-intro" style="padding:unset;">{% trans "Co-Founder of Lightinthebox (NYSE:LITB)" %}</div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>珂兰钻石创始人。1999年创立莎啦啦鲜花网，2007年创立珂兰钻石网，珂兰钻石是国内首批从事电子商务钻石销售的专业珠宝品牌，珂兰钻石从南非采购一手钻石，并通过office直营与网络销售相结合的全新销售模式，省去了高额的入场费和钻石零售环节。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/2.jpg" %}" alt="{% trans "Guo Feng" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Guo Feng" %}</h4>
                            <div class="media-intro">{% trans "Founder of kela.cn" %}</div>
                            <p>
                                <a href="https://www.weibo.com/gustguo" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>HIGO 创始人，美丽说创始人，中国互联网知名的连续创业者。
                                        毕业于北京大学和斯坦福大学计算机系，之后加入硅谷著名的 IBM 阿莫顿研究院，追随一群世界级的计算机科学家，做数据库和数据挖掘的研究，发表过多篇论文，共同获得 5 项专利。
                                        2005 - 2008 年，创立中国最早的个性化新闻阅读工具抓虾，拥有一批非常忠实的高端用户。
                                        2009 - 2015 年，创立美丽说，在国内首次把互联网社交玩法引入时尚行业，成为中国最著名的快时尚社交和电商平台，影响了中国一代年轻女生的穿衣搭配，月活跃用户超过 4,000 万，年交易额近 60 亿。
                                        2014 年，创立中国时髦精的全球买手店 HIGO，是众多国外当红设计师品牌登陆中国的第一站。徐易容的使命是让中国有全世界最好的美感和设计。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/3.jpg" %}" alt="{% trans "Xu Yirong" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Xu Yirong" %}</h4>
                            <div class="media-intro">
                                {% trans "Founder of meilishuo.com" %}<br/>
                                {% trans "CEO of HIGO" %}
                            </div>
                            <p>
                                <a href="https://www.weibo.com/yirongxu" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix visible-md-block visible-sm-block"></div>
            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/4.jpg" %}" alt="{% trans "Zhou Pin" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Zhou Pin" %}</h4>
                        <div class="media-intro">
                            {% trans "SVP of Cheetah (NASDAQ:CMCM)" %}<br/>
                            {% trans "Founder of quwan.com" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>亦来云联合创始人、哥伦比亚大学访问研究员、前华为中央研究院区块链顾问。清华量子物理博士生，清华大学iCenter导师，万向区块链实验室丛书主编。在清华大学的互联网金融课程中讲授区块链。比特币基金会终生会员，曾任清华大学十五规划重点课题“基于网络(大数据)的创新人才评价和选拔”项目负责人，美国甲骨文教育基金会中国合伙人。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/5.jpg" %}" alt="{% trans "Han Feng" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Han Feng" %}</h4>
                                <div class="media-intro">
                                    {% trans "Co-founder of Elastos" %}<br/>
                                    {% trans "Visiting Scholar & Research Associate at Columbia University" %}<br/>
                                    {% trans "Advisor at Huawei Central Institute" %}
                                </div>
                                <p><a href="https://www.weibo.com/u/3178119113" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>前新浪网(NASDAQ: SINA)CTO、德丰杰风险投资合伙人。中国互联网知名人物，是新浪网元老级的管理高层。1996年4月加盟四通利方公司，参与创办了国内最早的商业中文网站利方在线。1998年起担任北京新浪网网络系统部部长，2000年-2003年任北美新浪网技术部经理，2004年任新浪集团副总裁。2005年出任新浪首席技术官至2013年，并于2013年4月离职出任德丰杰投资合伙人。</p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/4.jpg" %}" alt="{% trans "Li Songbo" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Li Songbo" %}</h4>
                            <div class="media-intro">
                                {% trans "Former CTO of Sina (NASDAQ: SINA)" %}<br/>
                                {% trans "Partner of DFJ Venture Capital" %}
                            </div>
                            <p>
                                <a href="https://www.weibo.com/songboli" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                                <a href="https://www.linkedin.com/in/songbo" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>清华大学副教授、麻省理工学院工程系统博士、明尼苏达大学机械工程本科与工业工程硕士。iCenter 国际交流部主任。
                                        1995年至1997年在圣.保罗Integrity Solutions,Inc 做软件工程师；
                                        1997年被美国New Resources公司聘为高级顾问；
                                        1997年至2000年担任美国Advanced Information Solutions/Primix Solutions, Inc公司的首席顾问；
                                        2001年在联合科技公司的研究中心担任价值链（Value Networks）的研究工程师；
                                        2002年至2005年, 担任美国麻省理工学院的研究员及博士后研究员；
                                        2006年11月到清华大学工业工程系任教，担任副教授职务；
                                        2016年开始调任到清华基础工业训练中心，负责国际事务。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/3.jpg" %}" alt="{% trans "Gu Xueyong" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Gu Xueyong" %}</h4>
                            <div class="media-intro">
                                {% trans "Professor at Tsinghua University" %}<br/>
                                {% trans "Director of International Relations at iCenter" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>麦包包创始人，海丰至诚投资创始合伙人。浙江省电子商务促进会副会长，嘉兴市电子商务行业协会会长。2007年，叶海峰创立麦包包，在电商在中国兴起的阶段，迅速成为国内箱包电商标志性企业。2013年，创办了海丰至诚投资公司，五年来累计运作了5期超亿元天使创投基金，累计投资项目近70个，再融资率高达58%，投资孵化了一批高速成长的优质企业。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/8.jpg" %}" alt="{% trans "Ye Haifeng" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Ye Haifeng" %}</h4>
                            <div class="media-intro">{% trans "Founder of mbaobao.com" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/ye-haifeng-93081522" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/haifengye2048" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                                <a href="http://weibo.com/haifengye" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>现任亦来云生态建设委员会主任、前重庆力帆总裁、清华大学五道口金融学院经济学博士，博士生导师。
                                       全国青联委员，全国工商联执委、重庆市政协常委、重庆市工商联副主席、力帆控股总裁、西南大学校董，重庆粮食集团董事。 曾任中信银行总行行长助理兼重庆分行行长，中共宁夏自治区宣传部副部长。获全国五一劳动奖章、国务院特殊津贴等。</p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/9.jpg" %}" alt="{% trans "Hu Dinghe" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Hu Dinghe" %}</h4>
                            <div class="media-intro">{% trans "Chairman of Elastos ecosystem board" %}<br/>{% trans "Previous President of Chongqing Lifan" %}</div>
                            <p>
                                <a href="https://www.weibo.com/hudinghe" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>世界区块链基金会创会永久主席，Blockchainzoo联合创始董事，世界卓越品牌大奖得主，央视「影响力人物」。2004年，作为全球华人青年企业家特别代表，在中国北京人民大会堂被中国国务院邀请与中国国务院领导人直接对话。唯一和华尔街传奇吉姆罗杰斯同台的演说家，投资家，旅行家，哲学家和作家。
                                        少数在加密资产和区块链发言人中被全球高度认可的世界级人物，媒体为其冠名为比特币大使。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/5.jpg" %}" alt="{% trans "Lee Willson" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Lee Willson" %}</h4>
                            <div class="media-intro">{% trans "Bitcoin Ambassador" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/lee-willson-778413113" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/willsontweet" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>蓝港互动集团创始人、火星财经创始人。北京大学工商管理硕士，拥有逾20年互联网行业经验。2007年3月创办蓝港互动，历经中国游戏行业从端游、页游到移动游戏三个时代，被业内称为“最有故事的游戏人”。 2014年蓝港互动登陆港交所上市后，王峰提出“影漫游三位一体”发展战略，集团正式布局泛娱乐。旗下已拥有蓝港游戏、蓝港影业和蓝港科技三大业务，在游戏、影视娱乐和消费电子三大业务方向广泛布局。王峰创立的蓝港互动，曾入选 “福布斯2015中国移动互联网30强”，王峰本人也当选《财富》中文版2016年“中国 50 位商业先锋。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/11.jpg" %}" alt="{% trans "Wang Feng" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Wang Feng" %}</h4>
                            <div class="media-intro">
                                {% trans "Founder of linekong.com" %}<br/>
                                {% trans "Founder of huoxing24.com" %}
                            </div>
                            <p>
                                <a href="https://www.weibo.com/wangfeng0128" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>DCC创始人、CEO，TN Tech的创始人、伦敦政治经济学院金融学学士、牛津大学金融经济学硕士、耶鲁大学统计学硕士。
                                        在创建DCC之前，曾担任中国领先的SaaS金融科技公司TN Tech的首席执行官，该公司在三年内成功上市。在TN Tech，Stewie Zhu率领团队为十几个信托基金开发了基于互联网的信贷系统，每年贷款数额达数十亿美元。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/12.jpg" %}" alt="{% trans "Stewie Zhu" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Stewie Zhu" %}</h4>
                            <div class="media-intro">
                                {% trans "Founder and CEO of Distributed Credit Chain" %}<br/>
                            </div>
                            <p>
                                <a href="https://www.linkedin.com/in/%E5%B3%B0-%E7%8E%8B-840b74165" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/StewieZhu_DCC" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>资深珠宝玉石鉴定师、艺术品鉴定师、艺术品评估师。中央电视台财经频道（CCTV-2）《一槌定音》节目特邀专家，《中国玉器年鉴》编委委员，新疆和田玉行业协会副秘书长，北京潘家园国际民间文化发展有限公司总鉴定师。在珠宝圈内，师俊超是一名优秀的青年鉴定专家，他常年深入珠宝玉石一线市场，有着丰富的理论知识和市场实践经验，传播收藏文化、致力于珠宝玉石教学、鉴定事业是他一直以来的使命。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/14.png" %}" alt="{% trans "Shi Junchao" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Shi Junchao" %}</h4>
                            <div class="media-intro">
                                {% trans "Senior gem jade appraiser." %}<br/>
                                {% trans "Deputy secretary general of xinjiang hetian jade industry association." %}
                            </div>
                            <p>
                                <a href="https://www.weibo.com/u/1909745695" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>西街网创始人。2003年初成立搜易得IT数码商城，率先提出“先行赔付”的服务理念，2007年出任shopex副总裁，2008年底加盟SK电讯，出任千寻网CEO，2009年从千寻网离职，随后创办西街网，专门销售运动服装和体育用品等。
                                       </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/15.png" %}" alt="{% trans "Guo Hongchi" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Guo Hongchi" %}</h4>
                            <div class="media-intro">
                                {% trans "Founder of xijie.com" %}<br/>
                            </div>
                            <p>
                                <a href="https://www.weibo.com/u/1909745695" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                                <a href="https://twitter.com/guohongchi" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/JLAB.png" %}" alt="{% trans "JLAB" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "JLAB" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/consensus1.png" %}" alt="{% trans "Consensus Lab" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Consensus Lab" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/genesis.png" %}" alt="{% trans "GENESIS" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "GENESIS" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12 pull-left">
                <div class="media">
                    <div class="media-body organization-container">
                        <div class="organization-logo">
                            <img class="media-object" src="{% version "images/angels/elafund.png" %}" alt="{% trans "ELAFUND" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "ELAFUND" %}</h4>
                        <div class="media-intro">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end -->
