{% load i18n %}
{% load utils %}

<section id="partners" class="partners-list-mobile">
    <div id="organization" class="partners-list bg-gray section">
        <div class="container slider-section">
            <p class="title">
                <strong style="margin-bottom: 8px;">{% trans "Joint Business Organizations" %}</strong><span>{% trans "Total sales in 2019 will exceed $500 million" %}</span>
            </p>
            <div class="row swiper-container11">
                <div class="swiper-wrapper">
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/haolemai.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/lanke.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/higo.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/quwan.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/zjorient.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/maibaobao.png" %}"/>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 swiper-slide">
                        <img src="{% version "images/partners/xijie.png" %}"/>
                    </div>
                </div>
                <div class="swiper-pagination11"></div>
            </div>
        </div>
        <div class="more"><a href="/join-partner/"><span>{% trans "APPLY TO JOIN US" %}</span></a></div>
    </div>
</section><!-- end -->

{% block css %}
<style>
    @media(min-width: 768px){
        .partners-list-mobile{
            display: none;
        }
    }
</style>
{% endblock %}
