{% load i18n %}
{% load utils %}

<section id="feature" class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Protocol-based economy of Newton" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="row">

            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img1"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "Users own the data " %}</dt>
                        <dd>
                            {% trans "Users secure and control their personal data through cryptography, and can then manage their personal credit. Users share the profit produced by data in a pre-agreed manner." %}
                        </dd>
                    </dl>
                </div>
            </div><!-- end -->
   
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img4"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "Smarter" %}</dt>
                        <dd>{% trans "Personal credit can be automatically created in a free and open manner without authoritative intermediaries. This methodology will reduce human intervention and facilitate the coordination between people, between machines and between people and machines." %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
            <div class="clearfix visible-md-block visible-lg-block"></div>
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img2"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "More effective incentive mechanism" %}</dt>
                        <dd>{% trans "Replacing traditional business intermediaries by technology protocols will reduce the transactional cost and reward each who contributed in the transaction; such as service providers, consumers and other participants connected by the value-based Internet." %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
            <div class="feature-item col-md-6 col-xs-12">
                <div class="feature-item-img">
                    <div class="feature-item-img"><span class="feature-img3"></span></div>
                </div>
                <div class="feature-item-wrap">
                    <dl>
                        <dt>{% trans "New organizational structure and cooperation mode" %}</dt>
                        <dd>{% trans "The community economy managed by non-profit foundations will replace the monopoly of intermediary platforms managed by traditional for-profit organizations. Based on open, fair, and rational rules every contributor will benefit from the economy and become a part of the economy." %}</dd>
                    </dl>
                </div>
            </div><!-- end -->
         
        </div>

    </div>
</section><!-- end -->
