{% load i18n %}
{% load utils %}
<section class="allocation bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Token Metrics" %}</strong>
                </h2>
                <h3 class="text-center">{% trans "Total Supply:" %}&nbsp;<span>100,000,000,000&nbsp;NEW</span></h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">{% trans "Actor" %}</th>
                    <th class="text-center">{% trans "Proportion" %}</th>
                    <th class="text-center">{% trans "Amount" %}</th>
                    <th class="text-center">{% trans "Description" %}</th>
                </tr>
                <tr>
                    <td class="text-center">{% trans "Founding Team" %}</td>
                    <td class="text-center">10%</td>
                    <td class="text-center">{% trans "10 billions" %}</td>
                    <td>
                        <ul>
                            <li>{% trans "Incentives of founding team;" %}</li>
                            <li>{% trans "Lock on first year. Unlock 1/24 per month from next year." %}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Token Exchange" %}
                    </td>
                    <td class="text-center">
                        15%
                    </td>
                    <td class="text-center">{% trans "15 billions" %}</td>
                    <td>
                        <ul>
                            <li>{% trans "Operations of earlier stage." %}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Foundation" %}
                    </td>
                    <td class="text-center">
                        15%
                    </td>
                    <td class="text-center">{% trans "15 billions" %}</td>
                    <td>
                        <ul>
                            <li>{% trans "Operations of later stage;" %}</li>
                            <li>{% trans "Unlock 1/2 immediately, and unlock 1/12 of remainder per month from next month." %}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        {% trans "Community" %}
                    </td>
                    <td class="text-center">
                        60%
                    </td>
                    <td class="text-center">{% trans "60 billions" %}</td>
                    <td>
                        <ul>
                            <li>{% trans "Incentives of community;" %}</li>
                            <li>{% trans "Unlock in later fifty years." %}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>