{% load i18n %}
{% load utils %}

<div class="event">
    <div class="container">
        <h2>{% trans "Passed Events" %}</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Meet-up Shijiazhuang station" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-16, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "4th floor of Yuetai Hotel, northeast corner of the intersection of Youyi North Street and Xinhua Road, Shijiazhuang, Hebei Province" %}<span class="pull-right"><a href="{% trans '/announcement/2018/06/13/newton-shijiazhuang-meetup/' %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
