{% load i18n %}
{% load utils %}

<div class="community_lower">
    <div class="col-md-12"><div class="continent"><span>{% trans "Asia" %}</span></div></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "China" %}</span></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/newtonprojectchinese" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a id="wechat" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:140px;padding:0;' src='{% version 'images/social/wechat-qrcode.jpg' %}'/>" title="{% trans 'Scan QR Code to join us' %}"><img src="{% version "images/social/wechat.svg" %}" onclick="javascript:void(0);"/></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a id="qq" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:120px;padding:0;' src='{% version 'images/social/qq-qrcode.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/qq.png" %}" onclick="javascript:void(0);"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Japan" %}</span></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/joinchat/F-cvGBLA7ZLUw3wM6wzUrg" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://twitter.com/newtonprojectJ1" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item line" style="padding-left: 45px;">
                <a id="line" style="margin-left: -30px;" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:140px;padding:0;' src='{% version 'images/social/line-qrcode.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/LINE.png" %}" onclick="javascript:void(0);"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Korea" %}</span></div>
            <div>
                <div class="col-md-2 col-xs-2"></div>
                <div class="col-md-4 col-xs-4 panel-footer item">
                    <a href="https://t.me/newtonprojectkorea" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
                </div>
                <div class="col-md-4 col-xs-4 panel-footer item talk">
                    <a id="talk" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:140px;width:140px;padding:0;' src='{% version 'images/social/kakao-qrcode-2.png' %}'/>" title="{% trans 'Scan QR Code to join us.' %}"><img src="{% version "images/social/kakao.png" %}" onclick="javascript:void(0);"/></a>
                </div>
                <div class="col-md-2 col-xs-2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Malaysia" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/newtonmy" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/AbbOw0eRt0eqEZHE" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Thailand" %}</span></div>
            <div class="panel-footer item">
                <a href="https://m.me/join/Abbpe2kiet0KqwO8" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "India" %}</span></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/0jbIS4DEmDq2z6ZMTWZPiT" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/Abb5wSVxOoqaOUmy" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://t.me/NewtonIndian" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Israel" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/8VtXZbpGXhgKFLmV5GqHyu" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/AbYxspUBd9Bbm_83" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Vietnam" %}</span></div>
            <div class="item panel-footer">
                <a href="https://t.me/newtonVietnam" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Indonesia" %}</span></div>
            <div class="item panel-footer">
                <a href="https://t.me/newtonindonesia" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Saudi Arabia" %}</span></div>
            <div class="item panel-footer">
                <a href="https://t.me/NewtonArabic" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>

    <div class="col-md-12"><div class="continent"><span>{% trans "North America" %}</span></div></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "America - The Bay Area" %}</span></div>
            <div class="panel-footer item">
                <a href="https://t.me/joinchat/HFyzCRJkhhic1qpRTuYRyQ" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "America - New York" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/5aYHlFvMwwg4v2ZJPBBORg" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/AbY-gL8HsFCv-MBQ" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "America - Boston" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/79JIC3bm5kZ6NkRVicdJCv" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/AbZomHqBeAToqu_Q" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "America - Chicago" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/8AmwEOuaGi0EdA9vGw71m3" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://m.me/join/Abaff58Fue0TPECn" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Canada" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/joinchat/HR02NRIVaFXCNkWNy7M7UQ" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://chat.whatsapp.com/3Pqw18aMRJwFNyIE8Dpnhh" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>

    <div class="col-md-12"><div class="continent"><span>{% trans "Europe" %}</span></div></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Netherlands" %}</span></div>
            <div class="panel-footer item">
                <a href="https://t.me/newtonproject_nl" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Sweden" %}</span></div>
            <div class="panel-footer item">
                <a href="https://t.me/Newtonprojectsweden" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Turkey" %}</span></div>
            <div class="item panel-footer">
                <a href="https://t.me/newtonturkey" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Russia" %}</span></div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://chat.whatsapp.com/2zoUbItfQTFLMnsvfwqGcG" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://m.me/join/AbZRIoPzcL6mECt1" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/newtonproject_ru" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "England" %}</span></div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://chat.whatsapp.com/0EF4AmdqBO4CRIdnIeQuNq" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://m.me/join/AbbSQm2bE7qNutIT" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/Newtonproject_uk" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Germany" %}</span></div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://chat.whatsapp.com/9OLkGjEduVDFHaIsGAbkvE" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://m.me/join/Abb5wSVxOoqaOUmy" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-4 col-xs-4 panel-footer item">
                <a href="https://t.me/newtongermany" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Portugal" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://chat.whatsapp.com/0amxvoEpep0KWJeejK7TpX" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://m.me/join/AbaZIN160EbKzzoY" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Romania" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="panel-footer item">
                <a href="https://t.me/newtonproject_ro" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-12"></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "Serbia" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="panel-footer item">
                <a href="https://t.me/NewtonSerbia" target="_blank"><img src="{% version "images/social/telegram.svg" %}" /></a>
            </div>
        </div>
    </div>

    <div class="col-md-12"><div class="continent"><span>{% trans "South America" %}</span></div></div>
    <div class="col-md-3">
        <div class="row text-center panel panel-default region">
            <div class="item country panel-body"><span>{% trans "South America" %}</span></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://chat.whatsapp.com/4BJm995gnYa6b2vBqK7A5c" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
            </div>
            <div class="col-md-4 col-xs-4 item panel-footer">
                <a href="https://m.me/join/AbZche1knlGO5Hr4" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
            </div>
            <div class="col-md-2 col-xs-2"></div>
        </div>
    </div>

    <div class="col-md-12"><div class="continent"><span>{% trans "Oceania" %}</span></div></div>
    <div class="col-md-3">
    <div class="row text-center panel panel-default region">
        <div class="item country panel-body"><span>{% trans "Australia" %}</span></div>
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-4 col-xs-4 panel-footer item">
            <a href="https://chat.whatsapp.com/6ZAOXAZMyEkFEvWusCd7tS" target="_blank"><img src="{% version "images/social/whatsapp.png" %}" /></a>
        </div>
        <div class="col-md-4 col-xs-4 panel-footer item">
            <a href="https://m.me/join/AbYFyhHwt8bkPdSI" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/></a>
        </div>
        <div class="col-md-2 col-xs-2"></div>
    </div>
    </div>
    <div class="col-md-12 col-xs-12 text-center add"><p>{% trans "Create a Newton community with us" %}</p></div>
    <div class="col-md-12 col-xs-12 more"><a href="https://wiki.newtonproject.org/wiki/Community_and_Meetups#Online_Community">{% trans "Add Community" %}</a></div>
</div>