{% load i18n %}
{% load utils %}

<section id="advisor" class="section  bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "ADVISORS" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/1.jpg" %}" alt="{% trans "Han Feng" %}"/>
                        </div>
                        <h4 class="media-heading">{% trans "Han Feng" %}</h4>
                        <div class="media-intro">
                            {% trans "Co-founder of Elastos" %}<br/>
                            {% trans "Visiting Scholar & Research Associate at Columbia University" %}<br/>
                            {% trans "Advisor at Huawei Central Institute" %}
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/2.jpg" %}" alt="{% trans "Zhou Pin" %}"/>
                        </div>
                        <h4 class="media-heading">{% trans "Zhou Pin" %}</h4>
                        <div class="media-intro">
                            {% trans "SVP of Cheetah (NASDAQ:CMCM)" %}<br/>
                            {% trans "Founder of quwan.com" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/4.jpg" %}" alt="{% trans "Li Songbo" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Li Songbo" %}</h4>
                        <div class="media-intro">
                            {% trans "Former CTO of Sina (NASDAQ: SINA)" %}<br/>
                            {% trans "Partner of DFJ Venture Capital" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/angels/9.jpg" %}" alt="{% trans "Hu Dinghe" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Hu Dinghe" %}</h4>
                        <div class="media-intro">{% trans "Chairman of Elastos ecosystem board" %}<br/>{% trans "Previous President of Chongqing Lifan" %}</div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/3.jpg" %}" alt="{% trans "Gu Xueyong" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Gu Xueyong" %}</h4>
                        <div class="media-intro">
                            {% trans "Professor at Tsinghua University" %}<br/>
                            {% trans "Director of International Relations at iCenter" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/5.jpg" %}" alt="{% trans "Lee Willson" %}" />
                        </div>
                        <h4 class="media-heading">{% trans "Lee Willson" %}</h4>
                        <div class="media-intro">{% trans "Bitcoin Ambassador" %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end -->
