{% load i18n %}
{% load utils %}

<section id="team" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "TEAM" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>2018年1月，创立牛顿项目，通过区块链、物联网等技术创新，开发超级交换协议，最终实现：“每一个人都应该在经济增长中受益”的愿景。2017年天使投资亦来云，并出任联合创始人。
                                        早年就职于新浪网，任新浪邮箱技术负责人；后加入好乐买，任公司技术负责人。在3D打印、智能硬件、手机游戏、招聘等领域连续创业。从2005年开始，创办哲思社区，在中国推广自由软件运动，普及相关技术、法律、社区文化，推动中国社区和国际社区的交流和融合。</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/1.jpg" %}" alt="{% trans "Xu Jizhe" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Xu Jizhe" %}</h4>
                            <div class="media-intro">{% trans "Founder" %}<br/>{% trans "Co-founder of Elastos" %}<br/>{% trans "Founder of Zeuux (A Community for Free Software Usage)" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/xujizhe" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/xujizhe" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                                <a href="https://www.weibo.com/xujizhe" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>好乐买联合创始人，2002年毕业于中国传媒大学。2007年创建好乐买（Okbuy.com），专注于电子商务领域，好乐买曾获得红杉、Intel、DFJ和腾讯等著名VC和机构的多轮投资。</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/2.jpg" %}" alt="{% trans "Li Shubin" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Li Shubin" %}</h4>
                            <div class="media-intro">{% trans "Co-founder" %}<br/>{% trans "Founder and CEO of OKbuy" %}</div>
                            <p>
                                <a href="https://weibo.com/u/1722420565" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>牛顿联席首席架构师，哲思社区联合创始人。曾任职于好乐买(Okbuy.com), 在自由软件、电子商务和区块链的开发管理上具有丰富的经验。</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/xiawu.jpg" %}" alt="{% trans "Xia Wu" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Xia Wu" %}</h4>
                            <div class="media-intro" style="padding:unset;">{% trans "Joint Chief Architect" %}<br/>{% trans "Co-founder of Zeuux (A Community for Free Software Usage)" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/wu-xia-0594b41b" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/xiawu" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                                <a href="https://weibo.com/xiawu" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>物联网与智能硬件专家，运维架构师，资深程序员。曾就职于新浪网、新浪微博、中国移动、好乐买、自造星球等互联网公司。有丰富的电商从业经验。</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/mengguang.jpg" %}" alt="{% trans "Meng Guang" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Meng Guang" %}</h4>
                            <div class="media-intro">{% trans "Joint Chief Architect" %}<br/></div>
                            <p>
                                <a href="https://www.linkedin.com/in/%E5%85%89-%E5%AD%9F-9b6697116" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>北京五洲在线信息技术有限公司创始人，从业25年，具有丰富的企业管理经验、投资理财经验、新媒体营销经验。创办的中国邮箱网为20000多家企业提供电子邮件服务。创办的中华理财网给国内一些基金公司、证券公司、保险公司提供理财系统服务。2013年至今专注于新媒体营销和粉丝经济的研究和实践，助力3000多家企业运用好新媒体，让200多个专业型网红在各自领域脱颖而出。张羽是中国互联网协会理事，曾获得互联网协会自律奖。</p>
                                </div>
                                <img class="media-object" src="{% version "images/team/zhangyu.jpg" %}" alt="{% trans "Zhang Yu" %}">
                            </div>
                            <h4 class="media-heading">{% trans "Zhang Yu" %}</h4>
                            <div class="media-intro">{% trans "Marketing Specialist" %}<br/>{% trans "Founder of WuZhou Online" %}</div>

                        </div>
                    </div>
                </div>
            </div>

            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/team/jiangyu.jpg" %}" alt="{% trans "Jiang Yu" %}">
                        </div>
                        <h4 class="media-heading">{% trans "Jiang Yu" %}</h4>
                        <div class="media-intro">{% trans "Product Specialist" %}<br/>{% trans "Previous Product Director of xs.cn" %}</div>
                    </div>
                </div>
            </div>
            {% endcomment %}
        </div>

    </div>
</section><!-- end -->
