{% load i18n %}
{% load utils %}

<div class="event bg-gray">
    <div class="container">
        {% comment %}
        <h2>{% trans "Coming Events" %}</h2>
        <h2>{% trans "Passed Events" %}</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "The 'Newton Global 100-City Tour - Guangzhou Station' Salon successfully concluded" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-29, 19:00-21:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "EGO Community,Floor 28, West Wing, Keyun Road, Tianhe District, Guangzhou City, Guangdong Province,P.R.China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/30/guangzhoumeetup-/" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "“Newton Global 100-City Tour - Guangzhou station” meetup welcome you to join" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-29, 19:00-21:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "EGO Community,Floor 28, West Wing, Keyun Road, Tianhe District, Guangzhou City, Guangdong Province,P.R.China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/22/newton-global-100-cities-tour-guangzhou-station-meetup-welcome-you-join/" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "'Newton Global 100-City Tour - Shenzhen Station' meet-up successfully concluded" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-18, 14:00-18:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "7th Floor, Building 5B, Software Industry Base, Nanshan District, Shenzhen, Guangdong, China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/20/newton-global-100-city-tour-shenzhen-station-meet-successfully-concluded/" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "Newton 'Global Hundred cities Tour' -Shenzhen Station" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-18, 14:00-18:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "7th Floor, Building 5B, Software Industry Base, Nanshan District, Shenzhen, Guangdong, China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/09/newton-global-100-cities-tour-shenzhen-station-meetup" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Beijing Meetup (Phase Ⅱ)" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-23, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "2nd Floor, Tower A, Dinghao Electronics Building, Zhongguancun Street, Haidian District, Beijing" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/06/19/june-23rd-newton-beijing-meet-sincerely-invites-you-join-us/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Meetup Shijiazhuang station successfully ended" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-16, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "4th floor of Yuetai Hotel, northeast corner of the intersection of Youyi North Street and Xinhua Road, Shijiazhuang, Hebei Province" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/06/14/newton-meet-shijiazhuang-station-welcome-you-join/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton offline Meetup (Beijing) successfully ended" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-05-19, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "Chaoke Coffee, Floor 1, Block C, Building 40, Xingfu Square, Xingfu Second" %}<span class="pull-right"><a href="{% trans  "https://www.newtonproject.org/announcement/2018/05/18/newton-meet-beijing-re-defining-business-order-new-economy-era-sincerely-invites-you-join-us/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
        {% endcomment %}

        <div class="row">
            <div class="row dynamic-title">
                <h2>{% trans "Activity " %}</h2>
            </div>
            {% if activity_entries %}
            {% for activity_entry in activity_entries %}
                {% if activity_entry.image %}
                <div class="col-md-3">
                    <a class="event-img" style="background-image: url({{ activity_entry.image.url }});" href="{{ activity_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ activity_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ activity_entry.urls }}"><p class="event-title">{{ activity_entry.title }}</p></a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-3">
                    <a class="event-img" style="" href="{{ activity_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ activity_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ activity_entry.urls }}"><p class="event-title">{{ activity_entry.title }}</p></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <div class="col-md-12 more"><a href="/announcements/0/" class="more-detail"><span>{% trans "MORE" %}</span></a></div>
        </div>
        <div class="row">
            <div class="row dynamic-title">
                <h2>{% trans "Announcements" %}</h2>
            </div>
            {% if operation_entries %}
            {% for operation_entry in operation_entries %}
                {% if operation_entry.image %}
                <div class="col-md-3">
                    <a class="event-img" style="background-image: url({{ operation_entry.image.url }});" href="{{ operation_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ operation_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ operation_entry.urls }}"><p class="event-title">{{ operation_entry.title }}</p></a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-3">
                    <a class="event-img" style="" href="{{ operation_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ operation_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ operation_entry.urls }}"><p class="event-title">{{ operation_entry.title }}</p></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <div class="col-md-12 more"><a href="/announcements/1/" class="more-detail"><span>{% trans "MORE" %}</span></a></div>
        </div>
        <div class="row">
            <div class="row dynamic-title">
                <h2>{% trans "Press" %}</h2>
            </div>
            {% if presses %}
            {% for press in presses %}
                {% if press.press_img %}
                <div class="col-md-3">
                    <a class="event-img" style="background-image: url({{ press.press_img.url }});" href="{{ press.press_link }}" target="_blank">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ press.created_at|date:"Y-m-d" }}</p>
                        <a href="{{ press.press_link }}" target="_blank"><p class="event-title">{{ press.press_title }}</p></a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-3">
                    <a class="event-img" style="" href="{{ press.press_link }}" target="_blank">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ press.created_at|date:"Y-m-d" }}</p>
                        <a href="{{ press.press_link }}" target="_blank"><p class="event-title">{{ press.press_title }}</p></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <div class="col-md-12 more"><a href="/press/" class="more-detail"><span>{% trans "MORE" %}</span></a></div>
        </div>
        <div class="row">
            <div class="row dynamic-title">
                <h2>{% trans "Blog" %}</h2>
            </div>
            {% if blog_entries %}
            {% for blog_entry in blog_entries %}
                {% if blog_entry.image %}
                <div class="col-md-3">
                    <a class="event-img" style="background-image: url({{ blog_entry.image.url }});" href="{{ blog_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ blog_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ blog_entry.urls }}"><p class="event-title">{{ blog_entry.title }}</p></a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-3">
                    <a class="event-img" style="" href="{{ blog_entry.urls }}">
                        <div class="shadow"></div>
                    </a>
                    <div class="event-word">
                        <p class="time">{{ blog_entry.creation_date|date:"Y-m-d" }}</p>
                        <a href="{{ blog_entry.urls }}"><p class="event-title">{{ blog_entry.title }}</p></a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
            <div class="col-md-12 more"><a href="/blog/" class="more-detail"><span>{% trans "MORE" %}</span></a></div>
        </div>
    </div>
</div>
