{% load i18n %}
{% load utils %}
<div class="container" id="economy-token-exchange">
    <div class="token-exchange">
    	<div class="row">
            <div class="col-md-12">
                <h2 class="title text-center" style="margin-bottom: 30px;padding-top: 47px;">
                    <strong>{% trans "NewTax 2019" %}</strong><span></span>
                </h2>
            </div>
        </div>
		<div class="table-responsive" style="padding: 10px 20%; font-size: 16px; line-height: 30px">
			牛顿DApp生态经济所产生的NEW收入都将流入NewTax。此部分的NEW将会在未来释放到NewPool中，为社群经济提供激励。NewTax具体的释放时间以及方式将会在未来公布。
        </div>
		<br><br>
		<div class="table-responsive" style="text-align: center; font-size: 16px">

			地址：NEW182M8AGroykhUE5xuSMUta7nGsBYzGV5kJNR
		</div>
    </div>
</div>
