{% load i18n %}
{% load utils %}

<section class="section protocol-section protocol-section-pc" id="protocal-section">
    <div class="container slider-section">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Technology" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->
        <div class="row slider-item-list">
            <div class="feature-item col-md-4 col-xs-12 fr">
                <div class="feature-item-wrap">
                    <img class="feature-icon lazy" src="{% version "images/loading.gif" %}" data-original="{% version "images/features/icon-6.svg" %}"/>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12 slider-item default-slider-item">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "High Performance" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "NewChain's main chain can process over 5,000 transactions continuously each second, and supports the operational requirements of e-commerce, the Internet of Things, and other high-frequency trading scenarios." %}
                        </p>
                    </ul>
                    
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12 slider-item">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Extensible" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "NewChain supports BTC, ETH and other mainstream blockchain networks with no limits." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="visible-md visible-lg clearfix"></div>
            <div class="feature-item col-md-4 col-xs-12 slider-item">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Full Process Stack Technology" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "Newton's full process stack offers technology solutions from the atomic world to the real world, from hardware design to application layer software development through basic technology and our hyper exchange protocol." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12 slider-item">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Developer Friendly" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "Using NewStudio as our core development toolchain, anyone can develop distributed apps without programming experience." %}
                        </p>
                    </ul>
                </div>
            </div>

            <ul class="slider-button-list">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="feature-item col-lg-12 col-xs-12" style="margin-bottom: 22px;">
                <div class="feature-item-wrap">
                    <div class="more">
                        <a href="/technology/">{% trans "MORE" %}</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</section><!-- end -->
{% block css %}
<style>
    @media(max-width: 768px){
        .protocol-section-pc{
            display: none;
        }
    }
</style>
{% endblock %}
