{% load i18n %}
{% load utils %}

<section id="advisor" class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "ADVISORS" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->

        <div class="team-list row">
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>{% trans "Han Feng" %}<br>
                                        {% trans "Co-founder of Elastos" %}<br>
                                        {% trans "Visiting Scholar & Researcher at Columbia University. Former blockchain Advisor at Huawei Central Institute. PhD of quantum physics, Tsinghua University, Tutor of Tsinghua University Icenter, Editor of Wanxiang blockchain labs book series. Han teaches blockchain in Internet finance course in Tsinghua University. He has a lifelong membership of Bitcoin foundation. He has led the important research project of Tenth Five-Year Plan of China in Tsinghua University “Evaluation and selection of innovative talents based on Internet (big data)”. He has served as the Chinese partner of Oracle Education Foundation of the United States." %}</p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/1.jpg" %}" alt="{% trans "Han Feng" %}"/>
                            </div>
                            <h4 class="media-heading">{% trans "Han Feng" %}</h4>
                            <div class="media-intro">
                                {% trans "Co-founder of Elastos" %}<br/>
                                {% trans "Visiting Scholar & Research Associate at Columbia University" %}<br/>
                                {% trans "Advisor at Huawei Central Institute" %}
                            </div>
                            <p><a href="https://www.weibo.com/u/3178119113" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a></p>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="avatar">
                            <img class="media-object" src="{% version "images/advisor/2.jpg" %}" alt="{% trans "Zhou Pin" %}"/>
                        </div>
                        <h4 class="media-heading">{% trans "Zhou Pin" %}</h4>
                        <div class="media-intro">
                            {% trans "SVP of Cheetah (NASDAQ:CMCM)" %}<br/>
                            {% trans "Founder of quwan.com" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Li Songbo" %}<br>
                                        {% trans "Former CTO of Sina(NASDAQ: SINA)" %}<br>
                                        {% trans "Partner of Draper Fisher Jurvetson Venture Capital" %}<br>
                                        {% trans "Songbo Li is an Internet celebrity in China, senior manager of Sina. In April 1996, he joined the Sitonglifang Company and participated in the establishment of the earliest Chinese commercial website, Lifang Online. In 1998, he served as the Minister of Sina network system department. In 2000-2003, he served as the manager of Sina network technology department (North America). In 2004, he became vice president of Sina group. During 2005 to 2013, he serviced as Sina CEO. In April 2013, he left Sina and worked as a partner of Draper Fisher Jurvetson Venture Capital." %}
                                    </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/4.jpg" %}" alt="{% trans "Li Songbo" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Li Songbo" %}</h4>
                            <div class="media-intro">
                                {% trans "Former CTO of Sina (NASDAQ: SINA)" %}<br/>
                                {% trans "Partner of DFJ Venture Capital" %}
                            </div>
                            <p>
                                <a href="https://www.weibo.com/songboli" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                                <a href="https://www.linkedin.com/in/songbo" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Hu Dinghe" %}<br>
                                        {% trans "PhD of Economics of PBC School of Finance, PhD tutor, from Tsinghua University.Received the National 'May 1st' Labor Medal and the State Council Special Allowance.Member of the CPPCC National Committee.The Executive of China National Industry and Commerce Union.The Vice President of Chongqing National Industry and Commerce Union.Director of Elastos ecosystem board. Director of Chongqing Grain Group. Director of Southwest University.Former Assistant to President of China CITIC Bank and President of Chongqing Branch. Former Deputy Minister of Propaganda Department of Ningxia Autonomous. President of Lifan Industry (Group) Co., Ltd." %}
                                    </p>
                                </div>
                                <img class="media-object" src="{% version "images/angels/9.jpg" %}" alt="{% trans "Hu Dinghe" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Hu Dinghe" %}</h4>
                            <div class="media-intro">{% trans "Chairman of Elastos ecosystem board" %}<br/>{% trans "Previous President of Chongqing Lifan" %}</div>
                            <p>
                                <a href="https://www.weibo.com/hudinghe" target="_blank"><img src="{% version "images/social/weibo.png" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Gu Xueyong" %}<br>
                                        {% trans "Deputy Professor of Tsinghua University. PhD of engineering system from MIT(Massachusetts Institute of Technology). Master of memchanical engineering from University of Minnesota. Director of iCenter International Exchange Department of Tsinghua University. In 1995-1997, he worked as a software engineer in St Paul’s Integrity Solutions, Inc. In 1995, he served as the Senior Advisor in New Resources, US. In 1997-2000, he served as the Chief Advisor in Advanced Information Solutions/Primix Solutions, Inc, US. In 2001, he worked as an engineer researching Value Networks in Research Center of United Technologies Corporation. During 2002-2005, he worked as a researcher and post-doctor fellow at MIT; From 2006 till now, he has served as an associate Professor at Department of Industrial Engineering, Tsinghua University; In 2016, he was transferred to Tsinghua iCenter, responsible for international affairs." %}
                                    </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/3.jpg" %}" alt="{% trans "Gu Xueyong" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Gu Xueyong" %}</h4>
                            <div class="media-intro">
                                {% trans "Professor at Tsinghua University" %}<br/>
                                {% trans "Director of International Relations at iCenter" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Lee Willson" %}<br>
                                        {% trans "Founding President of the World Blockchain Foundation, winner of 2017 World’s Best Brands Award. Co-founding Director of Blockchainzoo. 2018 CCTV “Most Influential”." %}<br>
                                        {% trans "Invited by the China State Council in 2004 as the special representative of Chinese Young Entrepreneurs to a direct dialogue with State Council leaders at the People’s Great Hall in Beijing. The only public speaker, investor, traveler, philosopher and writer to share the stage with Wall Street legend Jim Rogers. Initiated world’s first Bitcoin World Tour the media named him as Bitcoin Ambassador." %}
                                    </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/5.jpg" %}" alt="{% trans "Lee Willson" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Lee Willson" %}</h4>
                            <div class="media-intro">{% trans "Bitcoin Ambassador" %}</div>
                            <p>
                                <a href="https://www.linkedin.com/in/lee-willson-778413113" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/willsontweet" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="team-item col-md-4 col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="man-intro">
                            <div class="avatar">
                                <div class="intro">
                                    <p>
                                        {% trans "Theodore Gray" %}<br>
                                        {% trans "Co-founder of Wolfram Research, author of Mathermatica Notebook System, founder of Touch Press and BAFTA (British Film and Television Arts Academy) award winner. In addition, Mr. Theodore was a columnist of the Popular Science magazine and a guest of the Discovery Channel program. He has also published several books including 'The Elements: A Visual Exploration of Every Known Atom in the Universe'and so on." %}
                                    </p>
                                </div>
                                <img class="media-object" src="{% version "images/advisor/6.png" %}" alt="{% trans "Theodore Gray" %}" />
                            </div>
                            <h4 class="media-heading">{% trans "Theodore Gray" %}</h4>
                            <div class="media-intro" style="padding: unset;">
                                {% trans "Co-Founder of Wolfram Research" %}<br/>
                                {% trans "Creator of the Mathematica Notebook System" %}<br/>
                                {% trans "Founder of Touch Press" %}<br/>
                                {% trans "BAFTA Award winning author" %}
                            </div>
                            <p>
                                <a href="https://www.linkedin.com/in/theodoreg" target="_blank"><img src="{% version "images/team/linkedin.png" %}" /></a>
                                <a href="https://twitter.com/TheodoreGray" target="_blank"><img src="{% version "images/social/twitter.svg" %}" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end -->
