<!--{% load i18n %}-->
<!--{% load utils %}-->

<div class="token-exchange-notice section bg-gray" id="signin-exchange-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title text-center">
                <strong>{% trans "Listed Exchange" %}</strong>
            </h2>
        </div>
        <a href="https://huobiglobal.zendesk.com/hc/zh-cn/articles/360000229141" target="_blank">
            <div align="center">
                <img src="{% version "images/huobi-singin-exchange.png" %}" />
            </div>
        </a>
    </div>
</div>