{% load i18n %}
{% load utils %}

<section class="section index_community bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "GLOBAL COMMUNITY" %}</strong>
                    <span></span>
                </h2>
            </div>
        </div>
        <div class="community_upper">
            <div class="row">
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.twitter.com/newton_project" target="_blank"><img src="{% version "images/social/twitter.svg" %}" />Twitter</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.facebook.com/newtonproject" target="_blank"><img src="{% version "images/social/facebook.svg" %}" class="facebook"/>Facebook</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://groups.google.com/forum/#!aboutgroup/newton-universe" target="_blank"><img src="{% version "images/social/maillist.svg" %}"/>Google Group</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.reddit.com/user/newtonproject" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a href="https://www.weibo.com/newtonproject" target="_blank"><img src="{% version "images/social/weibo.png" %}" />Weibo</a>
                </div>
                <div class="col-md-3 col-sm-3 item">
                    <a id="wechat1" onclick="javascript:void(0);" data-toggle="popover" data-trigger="click| hover | focus | manual" data-html="true" data-animation="false" data-content="<img style='height:auto;width:auto;padding:0;' src='{% version 'images/social/qrcode.bmp' %}'/>" title="{% trans 'Scan QR Code to join us' %}"><img src="{% version "images/social/wechat.svg" %}" onclick="javascript:void(0);"/>WeChat</a>
                </div>
            </div>
        </div>
        <div id="pc_map">{% include "welcome/include-community-map.html" %}</div>
        
        <div class="col-md-12 col-xs-12 more"><a href="/community/#online-community">{% trans "MORE COMMUNITY" %}</a></div>
</div>
    </div>

<script>
    $('body').on('click', function(event) {
        var target = $(event.target);
        if (!target.hasClass('popover')
        && target.parent('.popover-content').length === 0
        && target.parent('.myPopover').length === 0
        && target.parent('.popover-title').length === 0
        && target.parent('.popover').length === 0 ) {
            $('#wechat1').popover('hide');
            $('#wechat2').popover('hide');
            $('#qq').popover('hide');
            $('#line').popover('hide');
            $('#talk').popover('hide');
        };
    });
    $(function (){
    $("[data-toggle='popover']").popover();
    });

    $(function () {
        if (screen.width <= 768){
            $('#pc_map').html("");
        }
    });
</script>

</section>
