{% load i18n %}
{% load utils %}

<div class="event">
    <div class="container">
        {% comment %}
        <h2>{% trans "Coming Events" %}</h2>
        {% endcomment %}
        <h2>{% trans "Passed Events" %}</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "“Newton Global 100-City Tour - Guangzhou station” meetup welcome you to join" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-29, 19:00-21:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "EGO Community,Floor 28, West Wing, Keyun Road, Tianhe District, Guangzhou City, Guangdong Province,P.R.China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/22/newton-global-100-cities-tour-guangzhou-station-meetup-welcome-you-join/" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "'Newton Global 100-City Tour - Shenzhen Station' meet-up successfully concluded" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-18, 14:00-18:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "7th Floor, Building 5B, Software Industry Base, Nanshan District, Shenzhen, Guangdong, China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/20/newton-global-100-city-tour-shenzhen-station-meet-successfully-concluded/" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">
                    {% trans "Newton 'Global Hundred cities Tour' -Shenzhen Station" %}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-08-18, 14:00-18:00 CST" %}
                </p >
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "7th Floor, Building 5B, Software Industry Base, Nanshan District, Shenzhen, Guangdong, China" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/08/09/newton-global-100-cities-tour-shenzhen-station-meetup" %}">{% trans "Detail" %}</a ></span>
                </p >
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Beijing Meetup (Phase Ⅱ)" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-23, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "2nd Floor, Tower A, Dinghao Electronics Building, Zhongguancun Street, Haidian District, Beijing" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/06/19/june-23rd-newton-beijing-meet-sincerely-invites-you-join-us/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton Meetup Shijiazhuang station successfully ended" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-06-16, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "4th floor of Yuetai Hotel, northeast corner of the intersection of Youyi North Street and Xinhua Road, Shijiazhuang, Hebei Province" %}<span class="pull-right"><a href="{% trans "https://www.newtonproject.org/announcement/2018/06/14/newton-meet-shijiazhuang-station-welcome-you-join/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title bold">{% trans "Newton offline Meetup (Beijing) successfully ended" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>{% trans "2018-05-19, 14:00-18:00 CST" %}
                </p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span>{% trans "Chaoke Coffee, Floor 1, Block C, Building 40, Xingfu Square, Xingfu Second" %}<span class="pull-right"><a href="{% trans  "https://www.newtonproject.org/announcement/2018/05/18/newton-meet-beijing-re-defining-business-order-new-economy-era-sincerely-invites-you-join-us/" %}">{% trans "Detail" %}</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
