{% load i18n %}
{% load utils %}

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Hyper Exchange Protocol" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->
        <div class="row">
            <div class="feature-item col-md-4 col-xs-12 fr">
                <div class="feature-item-wrap">
                    <img class="feature-icon" src="{% version "images/features/icon-5.svg" %}"/>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Digital Identity and Credit" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "With digital identities, users can easily manage their own digital assets." %}
                        </p>
                    </ul>
                    
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Supply Chain" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "Using 'atom hashing', we can create unique digital identities for commodities over the whole network." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="visible-md visible-lg clearfix"></div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Digital Marketing" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "Advertisers can set marketing plans through the system's built-in smart contract marketing templates." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li {% arabic_change_style %}>{% trans "Trading And Payment" %}</li>
                        <p {% arabic_change_style %}>
                            {% trans "Newton supports cross-border transactions, micropayments, lightning settlements and more, providing comprehensive online and offline payment tools." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="feature-item col-lg-12 col-xs-12">
                <div class="feature-item-wrap">
                    <div class="more">
                        <a href="/technology/hep/">{% trans "MORE" %}</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</section><!-- end -->
