{% load i18n %}
{% load utils %}

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Hyper Exchange Protocol" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->
        <div class="row">
            <div class="feature-item col-md-4 col-xs-12 fr">
                <div class="feature-item-wrap">
                    <img class="feature-icon" src="{% version "images/features/icon-5.svg" %}"/>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li>{% trans "Digital Identity and Credit" %}</li>
                        <p>
                            {% trans "With digital identities, users can easily manage their own digital assets." %}
                        </p>
                    </ul>
                    
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li>{% trans "Supply Chain" %}</li>
                        <p>
                            {% trans "By using techniques such as 'atom hashing', we can create a unique digital identity for commodities of the whole network." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="visible-md visible-lg clearfix"></div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li>{% trans "Digital Marketing" %}</li>
                        <p>
                            {% trans "Advertisers can set marketing plans through various built-in marketing smart contract templates in the system." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="feature-item col-md-4 col-xs-12">
                <div class="feature-item-wrap">
                    <ul>
                        <li>{% trans "Trading and payment" %}</li>
                        <p>
                            {% trans "Newton supports cross-border transactions, micro payments, lightning settlements and more to provide comprehensive online and offline payment tools." %}
                        </p>
                    </ul>
                </div>
            </div>
            <div class="feature-item col-lg-12 col-xs-12">
                <div class="feature-item-wrap">
                    <div class="more">
                        <a href="/protocol/">{% trans "MORE" %}</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</section><!-- end -->
