{% load i18n %}
{% load utils %}

<div class="events events-mobile section" id="events-section">
    <div class="container text-center events-panel-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Newton Calendar" %}</strong>
                    <div class="select-month">
                        <div class="button-container">
                            <button class="glyphicon glyphicon-chevron-left select-month-btn" id="id_prev_month_mobile"></button>
                            <span class="current-month" id="id_current_month_mobile">{{ current_month }}</span>
                            <button class="glyphicon glyphicon-chevron-right select-month-btn" id="id_next_month_mobile"></button>
                        </div>
                        <button class="select-month-btn hidden-md hidden-sm hidden-lg events-pass-btn" id="id_passed_events_mobile">{% trans "PAST" %}</button>
                        <button class="select-month-btn events-pass-btn" id="id_coming_events_mobile">{% trans "UPCOMING" %}</button>
                    </div>
                </h2>
            </div>
        </div>
    <div class="event-mobile-section">
        <div class="events-list" id="id_events_list_2018_11_mobile">
            <div class="swiper-container5">
                <div class="swiper-wrapper">
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/open.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">16</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Community Open House" %}</p>
                                        <p class="event-time">2018-11-16 13:00-21:00</p>
                                        <p class="event-location">{% trans "Invite 10 community members to visit NewSpace Sanlitun." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/double.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">20</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "What Does the Double 11 Shopping Day Have to Do with Me?" %}</p>
                                        <p class="event-time">2018-11-20 14:00-16:00</p>
                                        <p class="event-location">{% trans "Newton advisor and Bitcoin Ambassador Lee Willson will attend 'What Does the Double 11 Shopping Day Have to Do with Me?' meet up in Kuala Lumpur." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/party.png" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">23</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">NewClub Top 50 Party</p>
                                        <p class="event-time">2018-11-23</p>
                                        <p class="event-location">{% trans "The NewClub Top 50 party in Beijing with 50 community members." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/dinner.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">24</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Dinner with Xu Jizhe" %}</p>
                                        <p class="event-time">2018-11-24</p>
                                        <p class="event-location">{% trans "Newton founder Xu will invite four outstanding “community voices” to dinner." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination5"></div>
            </div>
        </div>

        <div class="events-list" id="id_events_list_passed_mobile">
            <div class="swiper-container4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/open.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">16</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Community Open House" %}</p>
                                        <p class="event-time">2018-11-16 13:00-21:00</p>
                                        <p class="event-location">{% trans "Invite 10 community members to visit NewSpace Sanlitun." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/10/17/newtons-global-100-cities-tour-tokyo-station-salon/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/Tokyo.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Oct</p>
                                        <p class="date-container-date">23</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton’s Global 100 Cities Tour – Tokyo Station" %}</p>
                                        <p class="event-time">2018-10-23 18:30-20:30</p>
                                        <p class="event-location">{% trans "This meet-up was organized by BlockTec and COIN OTAKU and was the first appearance of the Newton project team in Japan." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/22/newton-global-100-cities-tour-guangzhou-station-meetup-welcome-you-join/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/guangzhou.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Aug</p>
                                        <p class="date-container-date">29</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Global 100-City Tour - Guangzhou Station" %}</p>
                                        <p class="event-time">2018-08-29 19:00-21:00</p>
                                        <p class="event-location">{% trans "Newton founder Mr. Jizhe Xu attended this salon and give speech." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/09/newton-global-100-cities-tour-shenzhen-station-meetup/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/shenzhen.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Aug</p>
                                        <p class="date-container-date">18</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Global 100 Cities Tour - Shenzhen station" %}</p>
                                        <p class="event-time">2018-08-18 14:00-18:00</p>
                                        <p class="event-location">{% trans "This event was organized by the WEMERGE and Liandong Media，World Blockchain Foundation." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/06/19/june-23rd-newton-beijing-meet-sincerely-invites-you-join-us/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/beijing2.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Jun</p>
                                        <p class="date-container-date">23</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Beijing Meetup (Phase Ⅱ)" %}</p>
                                        <p class="event-time">2018-06-23 14:00-18:00</p>
                                        <p class="event-location">{% trans "Newton founder Mr. Jizhe Xu, and Newton advisor Mr. Lee Willson attended this salon and give speech." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide col-md-4 col-xs-12">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/06/14/newton-meet-shijiazhuang-station-welcome-you-join/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/shijiazhuang.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Jun</p>
                                        <p class="date-container-date">16</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Meet-up Shijiazhuang station" %}</p>
                                        <p class="event-time">2018-06-16 14:00-18:00</p>
                                        <p class="event-location">{% trans "Explaining how Newton’s economic model ensures everyone to benefit from economic growth." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination4"></div>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_5_mobile">
            <div class="col-md-4 col-xs-12">
                <a href="{% trans "https://www.newtonproject.org/announcement/2018/05/18/newton-meet-beijing-re-defining-business-order-new-economy-era-sincerely-invites-you-join-us/" %}">
                    <div class="panel panel-default event_container">
                        <div class="panel-body" style="background-image: url('{% version "images/events/beijing1.jpg" %}')">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p class="date-container-month">May</p>
                                <p class="date-container-date">19</p>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p class="event-title">{% trans "Newton Meet-up (Beijing)" %}</p>
                                <p class="event-time">2018-05-19 14:00-18:00</p>
                                <p class="event-location">{% trans "Newton founder Jizhe Xu, co-founder Shubin Li, and Newton advisor and angel investor Xueyong Gu, attended this salon and gave speech." %}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_6_mobile">
            <div class="swiper-container7">
                <div class="swiper-wrapper">
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/06/19/june-23rd-newton-beijing-meet-sincerely-invites-you-join-us/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/beijing2.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Jun</p>
                                        <p class="date-container-date">23</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Beijing Meetup (Phase Ⅱ)" %}</p>
                                        <p class="event-time">2018-06-23 14:00-18:00</p>
                                        <p class="event-location">{% trans "Newton founder Mr. Jizhe Xu, and Newton advisor Mr. Lee Willson attended this salon and give speech." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/06/14/newton-meet-shijiazhuang-station-welcome-you-join/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/shijiazhuang.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Jun</p>
                                        <p class="date-container-date">16</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Meet-up Shijiazhuang station" %}</p>
                                        <p class="event-time">2018-06-16 14:00-18:00</p>
                                        <p class="event-location">{% trans "Explaining how Newton’s economic model ensures everyone to benefit from economic growth." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination7"></div>
            </div>

        </div>

        <div class="events-list" id="id_events_list_2018_8_mobile">
            <div class="swiper-container8">
                <div class="swiper-wrapper">
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/22/newton-global-100-cities-tour-guangzhou-station-meetup-welcome-you-join/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/guangzhou.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Aug</p>
                                        <p class="date-container-date">29</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Global 100-City Tour - Guangzhou Station" %}</p>
                                        <p class="event-time">2018-08-29 19:00-21:00</p>
                                        <p class="event-location">{% trans "Newton founder Mr. Jizhe Xu attended this salon and give speech." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/09/newton-global-100-cities-tour-shenzhen-station-meetup/" %}">
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/shenzhen.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Aug</p>
                                        <p class="date-container-date">18</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Global 100 Cities Tour - Shenzhen station" %}</p>
                                        <p class="event-time">2018-08-18 14:00-18:00</p>
                                        <p class="event-location">{% trans "This event was organized by the WEMERGE and Liandong Media，World Blockchain Foundation." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination8"></div>
            </div>
        </div>

        <div class="events-list" id="id_events_list_2018_10_mobile">
            <div class="col-md-4 col-xs-12">
                <a href="{% trans "https://www.newtonproject.org/announcement/2018/10/17/newtons-global-100-cities-tour-tokyo-station-salon/" %}">
                    <div class="panel panel-default event_container">
                        <div class="panel-body" style="background-image: url('{% version "images/events/Tokyo.jpg" %}')">
                        </div>
                        <div class="panel-footer">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <p class="date-container-month">Oct</p>
                                <p class="date-container-date">23</p>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <p class="event-title">{% trans "Newton’s Global 100 Cities Tour – Tokyo Station" %}</p>
                                <p class="event-time">2018-10-23 18:30-20:30</p>
                                <p class="event-location">{% trans "This meet-up was organized by BlockTec and COIN OTAKU and was the first appearance of the Newton project team in Japan." %}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <div class="events-list" id="id_events_list_2018_12_mobile">
            <div class="swiper-container9">
                <div class="swiper-wrapper">
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/jiedian.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Dec</p>
                                        <p class="date-container-date">11</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton’s first Social Networking Conference" %}</p>
                                        <p class="event-time">2018-12-11</p>
                                        <p class="event-location">{% trans "Giving community nodes, ecosystem partners, and media to the chance to promote Newton’s vision and technology." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/night.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Dec</p>
                                        <p class="date-container-date">12</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Night" %}</p>
                                        <p class="event-time">2018-12-12 18:00-22:00</p>
                                        <p class="event-location">{% trans "Newton Night" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/macao.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Dec</p>
                                        <p class="date-container-date">12</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "The 7th International Forum for Clean Energy (Macao)" %}</p>
                                        <p class="event-time">2018-12-12 ~ 2018-12-13</p>
                                        <p class="event-location">{% trans "Newton founder Xu Jizhe confirmed his attendance at the 7th International Forum for Clean Energy (Macao)." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination9"></div>
            </div>
        </div>

        <div class="events-list" id="id_events_list_coming_mobile">
            <div class="swiper-container6">
                <div class="swiper-wrapper">
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/double.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">20</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "What Does the Double 11 Shopping Day Have to Do with Me?" %}</p>
                                        <p class="event-time">2018-11-20 14:00-16:00</p>
                                        <p class="event-location">{% trans "Newton advisor and Bitcoin Ambassador Lee Willson will attend 'What Does the Double 11 Shopping Day Have to Do with Me?' meet up in Kuala Lumpur." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/party.png" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">23</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">NewClub Top 50 Party</p>
                                        <p class="event-time">2018-11-23</p>
                                        <p class="event-location">{% trans "The NewClub Top 50 party in Beijing with 50 community members." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/dinner.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Nov</p>
                                        <p class="date-container-date">24</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Dinner with Xu Jizhe" %}</p>
                                        <p class="event-time">2018-11-24</p>
                                        <p class="event-location">{% trans "Newton founder Xu will invite four outstanding “community voices” to dinner." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/jiedian.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Dec</p>
                                        <p class="date-container-date">11</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton’s first Social Networking Conference" %}</p>
                                        <p class="event-time">2018-12-11</p>
                                        <p class="event-location">{% trans "Giving community nodes, ecosystem partners, and media to the chance to promote Newton’s vision and technology." %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-12 swiper-slide">
                        <a>
                            <div class="panel panel-default event_container">
                                <div class="panel-body" style="background-image: url('{% version "images/events/night.jpg" %}')">
                                </div>
                                <div class="panel-footer">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <p class="date-container-month">Dec</p>
                                        <p class="date-container-date">12</p>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <p class="event-title">{% trans "Newton Night" %}</p>
                                        <p class="event-time">2018-12-12 18:00-22:00</p>
                                        <p class="event-location">{% trans "Newton Night" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination6"></div>
            </div>
        </div>
    </div>
        <div class="col-md-12 col-xs-12 more">
            <a href="/announcements/0/">{% trans "All Events" %}</a>
        </div>
    </div>
</div>