<link rel="stylesheet" type="text/css" href="/static/css/1_1_style.css">
<section class="section 1_1" style="width: 100%; padding-top:15vh; padding-bottom:15vh;background-image: url(../static/images/newpay/newpay_trans_bg.png); height: 50vh;  background-repeat: no-repeat; background-position: 90% 100%; background-size: 20%;background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(156,17,134,1) 33%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);color: #eee">
	<h2 class="m-5" style="padding-botton: 10vh">NewPay: Join the Newton Ecosystem</h2>
	<p>NewPay is your gateway to Newton's ecosystem, and acts as your wallet, ID, voting ballot, app store, and more</p>
	<p>Available for iPhone, Android, Mac, and Windows</p>
	<div class="announce-content">
		<table style="margin-left: auto; margin-right: auto;">
			<tbody>
				<tr>
					<td id="id_appstore_download" class="appstore_download">
						<a href="https://itunes.apple.com/app/newpay/id1439660801">

							<img src="https://www.newtonproject.org/static/images/download-logo/app-store-en.svg?v=389" alt="">

						</a>
					</td>
					<td id="id_google_download" class="google_download">
						<a href="https://play.google.com/store/apps/details?id=org.newtonproject.newpay.android.release">

							<img src="https://www.newtonproject.org/static/images/download-logo/google-play-en.png?v=389" alt="" style="width: 130px">

						</a>
					</td>
					<td class="qr-container">
						<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="" data-template="<div class=&quot;popover&quot; role=&quot;tooltip&quot;><div class=&quot;arrow&quot;></div><img src=&quot;https://www.newtonproject.org/static/images/download-logo/newpay-qr-rels.png?v=389&quot; alt=&quot;&quot; style=&quot;height: 150px;&quot;></div>" data-container="body" data-original-title=" ">
							<span class="glyphicon glyphicon-qrcode qrcode-thumbnail"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p style="height: 40px; text-align: center;" class="visible-xs">
		<a href="/download/newpay/mainnet/" style="text-decoration: underline; font-size: 15px; display: inline-block; text-align: center; height: 100%; color: #888; padding-top: 15px; padding-bottom: 5px;" class="google_download">
			<img src="https://www.newtonproject.org/static/images/download-logo/newpay-download-icon.svg?v=389" alt="" style="height: 100%; vertical-align: sub; padding-right: 10px;">Download NewPay APK
		</a>


		</p>


	</div>
</section>


