{% load i18n %}
{% load utils %}

<section id="index-industry" class="bg-gray">
	<div class="container">
		<div class="row">
            <div class="col-md-12">
                <h2 class="title text-center">
                    <strong>{% trans "Industry Application" %}</strong>
                </h2>
            </div>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_1"><img src="{% version "images/industry/industry-1.svg" %}"></a>
        	<p>{% trans "Chain-commerce Retail" %}</p>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_2"><img src="{% version "images/industry/industry-2.svg" %}"></a>
        	<p>{% trans "Payment" %}</p>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_3"><img src="{% version "images/industry/industry-3.svg" %}"></a>
        	<p>{% trans "Supply Chain" %}</p>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_4"><img src="{% version "images/industry/industry-4.svg" %}"></a>
        	<p>{% trans "Self-finance" %}</p>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_5"><img src="{% version "images/industry/industry-5.svg" %}"></a>
        	<p>{% trans "Games" %}</p>
        </div>
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_6"><img src="{% version "images/industry/industry-6.svg" %}"></a>
        	<p>{% trans "Agriculture" %}</p>
        </div>

        {% comment %}
        <div class="intro col-md-4 col-xs-6">
        	<a href="/solutions/#industry_anchor_7"><img src="{% version "images/industry/industry-7.svg" %}"></a>
        	<p>{% trans "Public Welfare" %}</p>
        </div>
        {% endcomment %}
        <div class="feature-item col-lg-12 col-xs-12">
            <div class="feature-item-wrap">
                <div class="more">
                    <a href="/solutions/">{% trans "MORE" %}</a>
                </div>
            </div>
        </div>
	</div>
</section>