{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block webpush %}
<meta name="vapid-key" content="{{ vapid_key }}">
{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block content %}

<section id="intro" class="bg-gray">
    <div class="container">
      <div class="row relative">
        <div class="col-md-12 text-center">
          <h1>{% trans "Everyone Should Benefit Directly from Economic Growth" %}</h1>
          <p class="sty1">{% trans "Newton: Infrastructure for the Community Economy" %}</p>
          <div class="countdown-title">
            <h2 style="font-size: 24px;">{% trans "The third round of Newton token exchange is currently under way." %}</h2>
          </div>
          <!-- <div class="countdown-subtitle">
              <h3>{% trans "Launch Time:2018-09-03 00:00(GMT)" %}</h3>
          </div> -->
          <!-- <div class="support">
            <span>{% trans "Supported System:" %}</span>
            <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/android-2.png" %}" style="margin-right:10px;"></a>
            <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/ios-3.png" %}"></a>
          </div> -->
          <div class="row start_button">
            {% comment %}
            <div class="announcement col-md-4 col-lg-4">
              <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/31/announcement-launching-newchain-testnet/" %}">{% trans "View More" %}</a>
            </div>
            {% endcomment %}
            <div class="more col-md-12 col-lg-12">
              <a href="{{ settings.NEWTON_HOME_URL }}" target="_blank">{% trans "Join KYC" %}</a>
            </div>
          </div>
          <!--<div class="countdown-title">-->
            <!--<h2 style="font-size: 24px;">{% trans "NewChain TestNet Launched" %}</h2>-->
          <!--</div>-->
          <!--<div class="more col-md-12 col-lg-12">-->
            <!--<a href="" target="_blank">{% trans "Download NewPay" %}</a>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="news-column">
      <div class="container" style="">
        <div class="news-one">
          <div class="support">
            <!--<img src="{% version "images/arrow.svg" %}" alt="" style="width:10px;margin-bottom:3px;">-->
            <a class="news-title" href="https://developer.newtonproject.org" target="_blank"><span>NewChain TestNet:</span></a>
            <a class="newpay-android" href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/android-2.png" %}" ></a>
            <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/ios-3.png" %}"></a>
            <a class="download-newpay" href="https://developer.newtonproject.org" target="_blank">{% trans "Download" %}</a>
          </div>
        </div>

        <div class="news-banner">
          {% if operation_entry %}
          <div class="news-two">
            <!--<img src="{% version "images/arrow.svg" %}" alt="" style="width:10px;margin-bottom:3px;">-->
            <a href="{{ operation_entry.urls }}">
              <span class="news-title">{{ operation_entry.title }}</span>
              <span class="">•</span>
              <span class="">{{ operation_entry.creation_date|date:"Y-m-d" }}</span>
            </a>
          </div>
          {% endif %}
          {% if blog_entry %}
          <div class="news-two news-mobile-hide">
            <!--<img src="{% version "images/arrow.svg" %}" alt="" style="width:10px;margin-bottom:3px;">-->
            <a href="{{ blog_entry.urls }}">
              <span class="news-title">{{ blog_entry.title }}</span>
              <span>•</span>
              <span style="">{{ blog_entry.creation_date|date:"Y-m-d" }}</span>
            </a>
          </div>
          {% endif %}
          {% comment %}
          {% if banner_press %}
          <div class="news-two news-mobile-hide">
            <!--<img src="{% version "images/arrow.svg" %}" alt="" style="width:10px;margin-bottom:3px;">-->
            <a href="{{ banner_press.press_link }}">
              <span class="news-title">{{ banner_press.press_title }}</span>
              <span>•</span>
              <span style="">{{ banner_press.created_at|date:"Y-m-d" }}</span>
            </a>
          </div>
          {% endif %}
          {% endcomment %}
          <!--<a href="/announcement/" class="news-more"><span>{% trans "More..." %}</span></a>-->
        </div>
      </div>
    </div>
</section>

{% include "welcome/include-video.html" %}

{% comment %}
{% include "welcome/countdown.html" %}
{% endcomment %}

{% include "welcome/include-feature.html" %}

{% include "welcome/include-feature-mobile.html" %}

{% include "welcome/include-intro-token-exchange.html" %}

{% include "welcome/include-intro-token-exchange-mobile.html" %}

<!--{% include "welcome/include-events.html" %}-->

{% include "welcome/include-events-mobile.html" %}

{% include "welcome/include-industry.html" %}

{% include "welcome/include-industry-mobile.html" %}

{% include "welcome/include-protocol.html" %}

{% comment %}
{% include "welcome/include-technology.html" %}
{% endcomment %}

{% include "welcome/include-team.html" %}

{% include "welcome/include-advisor.html" %}

{% include "welcome/include-investor.html" %}

{% include "welcome/include-roadmap.html" %}

{% include "welcome/include-partner.html" %}

{% include "welcome/include-dynamic.html" %}

{% include "welcome/include-index-community.html" %}
<section id="sir" class="section">
  <div class="container"><img class="img-1" src="{% version "images/partners/bitmap.png" %}" width="200">
    <p class="sty1">{% trans "Paying tribute to Sir Isaac Newton, the great scientist who made a significant impact on our lives!" %}</p>
    <!-- end --> 
  </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
var video_player;
$(document).ready(function(){
    videojs("newton-video", {}, function(){
        video_player = this;
        video_player.on('ended', function(){
            video_player.load();
        });
    });
});

showNav();
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/subscription.js" %}"></script>
<script src="{% version "js/video.js" %}"></script>
<!--<script src="{% version "js/jquery.mobile-1.4.5.min.js" %}"></script>-->
<script src="{% version "js/slide-change-section.js" %}"></script>
<script src="{% version "js/registerSw.js" %}" type="application/x-javascript"></script>
<script src="{% version "js/events.js" %}"></script>
<script src="{% version "js/jquery.lazyload.min.js" %}"></script>
<script src="{% version "js/swiper.min.js" %}" type="text/javascript"></script>
<script>
    $('img.lazy').lazyload();
    var swiper1 = new Swiper('.swiper-container1', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      initialSlide :2,
      pagination: {
        el: '.swiper-pagination1',
        clickable: true,
      }
    });
    var swiper2 = new Swiper('.swiper-container2', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '.swiper-pagination2',
        clickable: true,
      }
    });
    var swiper3 = new Swiper('.swiper-container3', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '.swiper-pagination3',
        clickable: true,
      }
    });
    var swiper4 = new Swiper('.swiper-container4', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '.swiper-pagination4',
        clickable: true,
      }
    });
</script>
{% endblock %}

{% block css %}
<link href="{% version "css/video-js.css" %}" rel="stylesheet">
<link href="{% version "leaflet/leaflet.css" %}" rel="stylesheet">
<link href="{% version "css/slide-change-section.css" %}" rel="stylesheet">
<link href="{% version "css/events.css" %}" rel="stylesheet">
<link href="{% version "css/swiper.min.css" %}" rel="stylesheet">
<style>
    .navbar {
        position: fixed;
    }
</style>
{% endblock %}
