{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block content %}

<section id="intro" class="bg-gray">
    <div class="container">
      <div class="row relative">
        <div class="col-md-12 text-center">
          <h1>{% trans "Everyone Should Benefit Directly from Economic Growth" %}</h1>
          <p class="sty1">{% trans "Newton: Infrastructure for the Community Economy" %}</p>
            <div class="countdown-title">
                <h2>{% trans "NewChain TestNet" %}</h2>
            </div>
            <div class="countdown-subtitle">
                <h3>{% trans "Launch Time:2018-09-03 00:00(GMT)" %}</h3>
            </div>
            <div class="support">
              <span>{% trans "Supported System:" %}</span>
              <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/android-2.png" %}" style="margin-right:10px;"></a>
              <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/ios-3.png" %}"></a>
            </div>
            <div class="row start_button">
                
                {% comment %}
                <div class="announcement col-md-4 col-lg-4">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/31/announcement-launching-newchain-testnet/" %}">{% trans "View More" %}</a>
                </div>
                {% endcomment %}
                <div class="more col-md-12 col-lg-12">
                        <a href="https://developer.newtonproject.org" target="_blank">{% trans "Download NewPay" %}</a>
                </div>
                
            </div>
        </div>
      </div>
    </div>
</section>

{% comment %}
{% include "welcome/include-activity.html" %}
{% endcomment %}

{% include "welcome/include-video.html" %}

{% comment %}
{% include "welcome/countdown.html" %}
{% endcomment %}

{% include "welcome/include-feature.html" %}

{% include "welcome/include-intro-token-exchange.html" %}

{% include "welcome/include-industry.html" %}

{% include "welcome/include-protocol.html" %}

{% comment %}
{% include "welcome/include-technology.html" %}
{% endcomment %}

{% include "welcome/include-team.html" %}

{% include "welcome/include-advisor.html" %}

{% include "welcome/include-investor.html" %}

{% include "welcome/include-roadmap.html" %}

{% include "welcome/include-partner.html" %}

{% include "welcome/include-dynamic.html" %}

{% include "welcome/include-index-community.html" %}
<section id="sir" class="section">
  <div class="container"><img class="img-1" src="{% version "images/partners/bitmap.png" %}" width="200">
      <p class="sty1">{% trans "Paying tribute to Sir Isaac Newton, the great scientist who made a significant impact on our lives!" %}</p>
    <!-- end --> 
  </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
var video_player;
$(document).ready(function(){  
    videojs("newton-video", {}, function(){  
        video_player = this;       
        video_player.on('ended', function(){  
            video_player.load();
        });
    });  
});  

showNav();
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/subscription.js" %}"></script>
<script src="{% version "js/video.js" %}"></script>
{% endblock %}

{% block css %}
<link href="{% version "css/video-js.css" %}" rel="stylesheet">
{% endblock %}
