{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block content %}

<section id="intro" class="bg-gray">
    <div class="container">
      <div class="row relative">
        <div class="col-md-12 text-center">
          <h1>{% trans "Everyone Should Benefit Directly from Economic Growth" %}</h1>
          <p class="sty1">{% trans "Newton: Infrastructure for the Community Economy" %}</p>
            <div class="countdown-title">
                <h2>{% trans "NewChain TestNet Launched" %}</h2>
            </div>
            <!-- <div class="countdown-subtitle">
                <h3>{% trans "Launch Time:2018-09-03 00:00(GMT)" %}</h3>
            </div> -->
            <div class="support">
              <span>{% trans "Supported System:" %}</span>
              <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/android-2.png" %}" style="margin-right:10px;"></a>
              <a href="https://developer.newtonproject.org" target="_blank"><img src="{% version "images/ios-3.png" %}"></a>
            </div>
            <div class="row start_button">
                
                {% comment %}
                <div class="announcement col-md-4 col-lg-4">
                        <a href="{% trans "https://www.newtonproject.org/announcement/2018/08/31/announcement-launching-newchain-testnet/" %}">{% trans "View More" %}</a>
                </div>
                {% endcomment %}
                <div class="more col-md-12 col-lg-12">
                        <a href="https://developer.newtonproject.org" target="_blank">{% trans "Download NewPay" %}</a>
                </div>
                
            </div>
        </div>
      </div>
    </div>
</section>

{% include "welcome/include-video.html" %}

{% comment %}
{% include "welcome/countdown.html" %}
{% endcomment %}

{% include "welcome/include-feature.html" %}

{% include "welcome/include-intro-token-exchange.html" %}

{% include "welcome/include-industry.html" %}

{% include "welcome/include-protocol.html" %}

{% comment %}
{% include "welcome/include-technology.html" %}
{% endcomment %}

{% include "welcome/include-team.html" %}

{% include "welcome/include-advisor.html" %}

{% include "welcome/include-investor.html" %}

{% include "welcome/include-roadmap.html" %}

{% include "welcome/include-partner.html" %}

{% include "welcome/include-dynamic.html" %}

{% include "welcome/include-index-community.html" %}
<section id="sir" class="section">
  <div class="container"><img class="img-1" src="{% version "images/partners/bitmap.png" %}" width="200">
      <p class="sty1">{% trans "Paying tribute to Sir Isaac Newton, the great scientist who made a significant impact on our lives!" %}</p>
    <!-- end --> 
  </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
var video_player;
$(document).ready(function(){
    videojs("newton-video", {}, function(){
        video_player = this;
        video_player.on('ended', function(){
            video_player.load();
        });
    });
});

showNav();
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/subscription.js" %}"></script>
<script src="{% version "js/video.js" %}"></script>
<script src="{% version "js/jquery.mobile-1.4.5.min.js" %}"></script>
<script>
function slideChangeSection(){
	var $items=$(".slider-item-list .slider-item");
	var $buttons=$(".slider-button-list li");
	var isStop=false;
	var index=0;

	$buttons.eq(index).addClass("numsover");
	$buttons.eq(index).siblings().removeClass("numsover");
	$items.eq(index).show();

	$buttons.mouseover(function(){
		isStop=true;
		$(this).addClass("numsover").siblings().removeClass("numsover");
		index=$buttons.index(this);
		$items.eq(index).removeClass("to-left").removeClass("to-right").fadeIn();
		$items.eq(index).siblings(".slider-item").hide();
	}).mouseout(function(){isStop=false});

	if(isStop) return;
	$(".slider-section").on("swipeleft",function(){
		index++;
		if(index>=3) {
			index=0;
		}
		$buttons.eq(index).addClass("numsover").siblings().removeClass("numsover");
		$items.eq(index).addClass("to-left").show();
		$items.eq(index).siblings(".slider-item").removeClass("to-left").removeClass("to-right").hide();
	});
	$(".slider-section").on("swiperight",function(){
		index--;
		if (index <= -1) {
			index=2;
		};
		$buttons.eq(index).addClass("numsover").siblings().removeClass("numsover");
		$items.eq(index).addClass("to-right").show();
		$items.eq(index).siblings(".slider-item").removeClass("to-left").removeClass("to-right").hide();
	});
}
$(document).ready(function(e) {
	var windowWidth = $(window).width();
	if (windowWidth < 768) {
        slideChangeSection();
	}
});

</script>
{% endblock %}

{% block css %}
<link href="{% version "css/video-js.css" %}" rel="stylesheet">
<link href="{% version "leaflet/leaflet.css" %}" rel="stylesheet">
<style>
.ui-loader-default {
    display: none;
}
.slider-button-list {
    display: none;
}

@media (max-width: 768px) {

	@keyframes slide-to-left
	{
	from {left: 500px}
	to {left: 0}
	}

	@-moz-keyframes slide-to-left /* Firefox */
	{
	from {left: 500px}
	to {left: 0}
	}

	@-webkit-keyframes slide-to-left /* Safari 和 Chrome */
	{
	from {left: 500px}
	to {left: 0}
	}

	@-o-keyframes slide-to-left /* Opera */
	{
	from {left: 500px}
	to {left: 0}
	}

	@keyframes slide-to-right
	{
	from {right: 500px}
	to {right: 0}
	}

	@-moz-keyframes slide-to-right /* Firefox */
	{
	from {right: 500px}
	to {right: 0}
	}

	@-webkit-keyframes slide-to-right /* Safari 和 Chrome */
	{
	from {right: 500px}
	to {right: 0}
	}

	@-o-keyframes slide-to-right /* Opera */
	{
	from {right: 500px}
	to {right: 0}
	}

	.slider-section{
		width:100%;
		height:350px;
	}

	.slider-section li{
		list-style:none;
	}

	.slider-item-list div.slider-item{
		display:none;
		min-height: 300px;
	}

	.to-left {
		animation: slide-to-left 0.5s;
		-moz-animation: slide-to-left 0.5s;	/* Firefox */
		-webkit-animation: slide-to-left 0.5s;	/* Safari 和 Chrome */
		-o-animation: slide-to-left 0.5s;	/* Opera */
	}

	.to-right {
		animation: slide-to-right 0.5s;
		-moz-animation: slide-to-right 0.5s; /* Firefox */
		-webkit-animation: slide-to-right 0.5s;	/* Safari 和 Chrome */
		-o-animation: slide-to-right 0.5s;	/* Opera */
	}

	.slider-button-list{
	    display: block;
		bottom:10px;
		right:10px;
        text-align: center;
        padding-left: unset;
	}

	.slider-button-list li{
        display: inline-block;
		margin:0px 5px;
        padding: 4px;
        border-radius: 8px;
        background-color: #c1c1c1;
	}

	.slider-button-list li.numsover{
		background-color:#888;
		border:#888 solid 1px;
	}

	.slider-button-list li.numsout{
		color: grey;
	}
}
</style>
{% endblock %}
