{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Jobs" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}

<section id="jobs" class="section-list jobs-section">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Join Us" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="about_list">
            <div>
                <h2 {% arabic_change_style %}>{% trans "About the Newton Project" %}</h2>
                <p {% arabic_change_style %}>
                    {% trans "We are committed to building an efficient, collaborative, low-cost, highly automated business infrastructure ecosystem." %}
                </p>
                
                <h2 {% arabic_change_style %}>{% trans "OUR CULTURE" %}</h2>
                <p {% arabic_change_style %}>
                    {% trans "We believe in the free, open and inclusive culture advocated by the philosophy of free and open source software. Decentralization is at the core of our values." %}
                </p>
                <p {% arabic_change_style %}>
                    {% trans "Currently, Newton consists of top talent from the free and open source software community. We work with professionals in the fields of e-commerce, finance, media, etc and hope that in the future more talent and professionals will join us." %}
                </p>
                <p {% arabic_change_style %}>
                    {% trans "In addition, developers around the world can join Newton through a remote office. You don't have to worry about space limitations." %}
                </p>
                <h2 {% arabic_change_style %}>{% trans "WHO WE ARE LOOKING FOR" %}</h2>
                <p {% arabic_change_style %}>
                    {% trans "We need technical talent in distributed systems, operating systems, encryption algorithms, blockchain, mobile development, product design, etc. We also need professionals in the fields of currency theory, economic models, asset management, financial innovation, etc. We are happy to work with volunteers and enthusiasts specializing in any field." %}
                </p>
                <p {% arabic_change_style %}>
                    {% trans "We need everyone to be passionate and confident in decentralized business, because Newton has a big impact on everyone’s life." %}
                </p>
                <p {% arabic_change_style %}>
                    {% trans "In addition, we will use NEW to pay part of the salary." %}
                </p>

                <h2 {% arabic_change_style %}>{% trans "Currently open positions" %}</h2>
                <p {% arabic_change_style %}>
                    {% trans "We currently have the following positions open. If you are interested, please send your resume to: <a href='mailto:newton-hr@newtonproject.org'>newton-hr@newtonproject.org</a>" %}
                </p>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingOne" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="javascript:arrowToggle('One');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Senior R&D Engineer" %}
                          </a>
                        </h4>
                        <span id="arrow-One" class="arrow-down"></span>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Responsible for the design and development of the Newton system." %}</li>
                                <li {% arabic_change_style %}>{% trans "Responsible for researching the latest technologies in the industry and applying them to improving the Newton system." %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Bachelor’s degree or above, applicants who majored in computer science or related professions will be prioritized." %}</li>
                                <li {% arabic_change_style %}>{% trans "Over 5 years of software development experience." %}</li>
                                <li {% arabic_change_style %}>{% trans "Skilled in a variety of programming languages (Java，Go，C++，Rust，Kotlin)." %}</li>
                                <li {% arabic_change_style %}>{% trans "Familiar with the principles of software security, can apply security standards to research and development." %}</li>
                                <li {% arabic_change_style %}>{% trans "Good English reading ability, able to read English technical documents smoothly." %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Preferred Skills:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "R&D experience in blockchain-related systems." %}</li>
                                <li {% arabic_change_style %}>{% trans "Distributed network system development experience." %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Recruitment number: 5 people " %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                        </div>
                      </div>
                </div>

<!-- 
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="javascript:arrowToggle('Two');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Blockchain Engineer" %}
                          </a>
                        </h4>
                        <span id="arrow-Two" class="arrow-down"></span>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p class="job-title">{% trans "Job description:" %}</p>
                            <ol>
                                <li>{% trans "Design and develop Newton software, related decentralized applications and cooperate with the rest of the team working on various layers of infrastructure;" %}</li>
                            </ol>
                            <p class="job-title">{% trans "Job Responsibilities:" %}</p>
                            <ol>
                                <li>{% trans "Design, build, and maintain efficient, reusable, and reliable C++/Go code." %}</li>
                                <li>{% trans "Develop blockchain solutions and provide support for blockchain development." %}</li>
                                <li>{% trans "Implement performance and quality modules." %}</li>
                                <li>{% trans "Able to work independently with minimal guidance on tasks." %}</li>
                            </ol>
                            <p class="job-title">{% trans "Qualifications:" %}</p>
                            <ol>
                                <li>{% trans "Strong proficiency in C++/Go, with solid knowledge of language specification." %}</li>
                                <li>{% trans "1+ years of experience, preferably in an environment where latency and speed are factors (e.g., finance)." %}</li>
                                <li>{% trans "Computer Science or related degree." %}</li>
                            </ol>
                            <p class="job-title">{% trans "Preferred Skills:" %}</p>
                            <ol>
                                <li>{% trans "Blockchain-related system R&D experience." %}</li>
                                <li>{% trans "Distributed network system development experience." %}</li>
                            </ol>
                            <p class="job-title">{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title">{% trans "Payment: Salary to be discussed" %}</p>
							<p class="job-title">{% trans "Contact: <a href=mailto:newton-hr@newtonproject.org>newton-hr@newtonproject.org</a>" %}</p>
                        </div>
                      </div>
                </div> -->



                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingThree" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="javascript:arrowToggle('Three');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Full-stack Web Developer" %}
                          </a>
                        </h4>
                        <span id="arrow-Three" class="arrow-down"></span>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Writing well-designed, testable, efficient code by using best software development practices;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Creating website layout/user interface by using standard HTML/CSS practices;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Building web-based backends and micro-services;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Staying up-to-date with emerging technologies/industry trends and apply them into operations and activities;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Cooperation with designers to create intended visual design. " %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Proven work experience with React or other modern Frontend Javascript Framework;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Experience with Python/Django/Node.js;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Experience in writing frontend and backend unit and integration tests;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Top-notch programming skills and in-depth knowledge of modern HTML/CSS;" %}</li>
                                <li {% arabic_change_style %}>{% trans "A solid understanding of how web applications work including security, session management, and best development practices;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Strong organizational skills to juggle multiple tasks within the constraints of timelines and budgets with business acumen;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Ability to work and thrive in a fast-paced environment, learn rapidly and master diverse web technologies and techniques;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Bachelor’s or master’s degree in computer science or relevant experience;" %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                        </div>
                      </div>
                </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingFour" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" onclick="javascript:arrowToggle('Four');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Communication Specialist" %}
                          </a>
                        </h4>
                        <span id="arrow-Four" class="arrow-down"></span>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Delivering customer service and technical support on email/Facebook/Twitter;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Communicating feedback and processing suggestions of customers;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Identifying causes of dissatisfaction, and providing ways for improvement;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Filling in reports on enquiry summaries and improvement areas;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Ensuring that all enquiries on social media are in compliance with all internal and external regulations, policies and guidelines;" %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Bachelor’s degree or above;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Preferably 2 years of work experience in customer service;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Must speak and write fluent English and Chinese with good presentation, communication and computer skills;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Self-motivated and able to work independently;" %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                        </div>
                      </div>
                </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingFive" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" onclick="javascript:arrowToggle('Five');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Developer Relations Advocate" %}
                          </a>
                        </h4>
                        <span id="arrow-Five" class="arrow-down"></span>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Content creation, distribution and analysis tutorials, developer guides, newsletters, sample apps, client libraries;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Creating and implementing detailed annual, monthly and weekly plans for promotion/engagement activities;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Organizing and coordinating marketing  engagement activities including social media campaigns, youtube broadcasts, progress reports;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Content sourcing from 3rd parties, distribution and analytics;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Provide help and support to the organizers of community meetups;" %}</li>
                                
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Must be fluent in both spoken and written English with good presentation, communication and computer skills;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Experience in writing tutorials, guides, API docs and sample apps;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Experience in writing code in C++/JavaScript;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Preferably with 2 years of working experience in IT industry customer support role;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Self-motivated and able to work independently." %}</li>
                            </ol>
                     
                            <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                        </div>
                      </div>
                </div>




                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading collapsed" id="headingSix" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" onclick="javascript:arrowToggle('Six');">
                        <h4 class="panel-title">
                          <a>
                            {% trans "Senior UX Designer" %}
                          </a>
                        </h4>
                        <span id="arrow-Six" class="arrow-down"></span>
                      </div>
                      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Translating concepts into user flows, wireframes, mockups and prototypes that lead to intuitive user experiences;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Identifying design problems and devise elegant solutions;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Taking a user-centered design approach and rapidly test and iterate your designs;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Collaborating with other team members and stakeholders;" %}</li>
                            </ol>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                            <ol>
                                <li {% arabic_change_style %}>{% trans "Three or more years of UX design experience. Preference will be given to candidates who have experience designing complex solutions for complete digital environments;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Expertise in UX softwares such as Sketch, InVision, UXPin, Framer, or Marvel App. Basic React, SCSS, or JavaScript skills are a plus;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Ability to work with clients, understand their specifications and design complete user experiences that fulfills their needs and vision;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Extensive experience in using UX design best practices to design solutions, and a deep understanding of mobile-first and responsive design;" %}</li>
                                <li {% arabic_change_style %}>{% trans "A solid grasp of user-centered design (UCD), planning and conducting user research, user testing, A/B testing, rapid prototyping, heuristic analysis, usability and accessibility concerns;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Ability to clearly and effectively communicate design processes, ideas, and solutions to teams and clients;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Be open to receiving feedback and constructive criticism;" %}</li>
                                <li {% arabic_change_style %}>{% trans "Be passionate about resolving user pain points through great design." %}</li>
                            </ol>
                     
                            <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                            <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                        </div>
                      </div>
                </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading collapsed" id="headingSeven" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" onclick="javascript:arrowToggle('Seven');">
                            <h4 class="panel-title">
                              <a>
                                {% trans "Product Manager" %}
                              </a>
                            </h4>
                            <span id="arrow-Seven" class="arrow-down"></span>
                          </div>
                          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Understanding the development of the industry and its customer requirements, form product need specification;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Designing product UE from requirements document, clearly and accurately communicate demands to developing engineers;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Managing changes in product demand during product development;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Confirming the product satisfies all needs during product testing;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "After releasing the product, tracking customers' usage and timely finding problems." %}</li>
                                </ol>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Bachelor’s degree or above;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Three years or more of experience in designing e-commerce industry products;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Proficient with product prototype designing tools;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with mobile UX design;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Good technical background in creating rich user experience through technology;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Good level of English, fluent in reading English documents." %}</li>
                                </ol>
                         
                                <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                            </div>
                          </div>
                    </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading collapsed" id="headingEight" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight" onclick="javascript:arrowToggle('Eight');">
                            <h4 class="panel-title">
                              <a>
                                {% trans "Android R&D Engineer" %}
                              </a>
                            </h4>
                            <span id="arrow-Eight" class="arrow-down"></span>
                          </div>
                          <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Responsible for the development of Android client product, helping other developers grow and make progress;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Participating in the analysis and design of products based on client requirements, cooperating with UI designers to complete initial testing based on product design;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Responsible for the development of subsequent iteration versions of the product, and continuously optimizing the quality, performance, and user experience of products." %}</li>
                                </ol>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "At least 3 years experience in professional Java development; At least 2 years experience in Practical Android development experience; Familiar with characteristics and development features of Android mobile terminals; Able to solve common problems;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Android components and session; Be able to reasonably allocate resources in the available session;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with common and custom controls, event mechanisms and gesture operations;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Proficient in Android performance and memory optimization; good at solving system crashes and compatibility, memory leaks and overflow;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Android network communication mechanism, JSON analysis;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Android common layout, animation and effect;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Android platform screen adaptation and version compatibility;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Competent to work independently; Experienced in analyzing & re-writing Android source code;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Excellent communication skills and teamwork, work seriously and actively, rigorous and responsible;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Experience in the application of open source framework is preferred;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Android testing tools and process, experienced in cross application coding test." %}</li>
                                </ol>
                         
                                <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                            </div>
                         </div>
                    </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading collapsed" id="headingNine" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine" onclick="javascript:arrowToggle('Nine');">
                            <h4 class="panel-title">
                              <a>
                                {% trans "IOS Developer" %}
                              </a>
                            </h4>
                            <span id="arrow-Nine" class="arrow-down"></span>
                          </div>
                          <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Assisting the product manager to analyze and organize the customer's needs, and create the product requirements document;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Depending on the product requirements document, designing an iOS App system architecture;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Depending on the system architecture design, conducting iOS app-related program development;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Depending on the product requirements document, conducting overall testing of the iOS app;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "According to customers’ feedback, continuously revising and improving the iOS app." %}</li>
                                </ol>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Qualifications:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Bachelors’ degree or above, graduated in computer science or related major;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "At least 2 years working experience in computer software, or more than 1 year working experience in iOS App development;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Swift or Objective C programming language;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with the iOS platform software development model and system architecture;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with common data structures and algorithms, has a persistent pursuit of new technologies;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Good at using technology to create a good user experience;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Good English level, able to read English technical documents smoothly." %}</li>
                                </ol>
                         
                                <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                            </div>
                          </div>
                    </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                          <div class="panel-heading collapsed" id="headingTen" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen" onclick="javascript:arrowToggle('Ten');">
                            <h4 class="panel-title">
                              <a>
                                {% trans "Front-end Web Developer" %}
                              </a>
                            </h4>
                            <span id="arrow-Ten" class="arrow-down"></span>
                          </div>
                          <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <p class="job-title" {% arabic_change_style %}>{% trans "Job description:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Assisting the product manager, analyzing and organizing the customer's needs, and creating the product requirements document;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Depending on the product requirements document, designing the architecture of the website front-end;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Depending on the design draft provided by the UI designer, completing the production of the website page;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "According to the product requirements document, completing the development of the sites’ front-end interaction;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "According to consumers' feedback, correcting front-end issues of the website." %}</li>
                                </ol>
                                <p class="job-title">{% trans "Qualifications:" %}</p>
                                <ol>
                                    <li {% arabic_change_style %}>{% trans "Bachelors’ degree or above, graduated in computer science or related major;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "2+ years working experience in computer software, more than 1 year experience in front-end web development;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with Adobe Illustrator and Photoshop software, can create web pages based on UI design drafts;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with HTML5, CSS, Javascript;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with front-end web development frameworks such as jQuery and Bootstrap;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Familiar with the principles of responsive web design, with practical experience;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Skillfully use existing technology to set up the best user experience;" %}</li>
                                    <li {% arabic_change_style %}>{% trans "Good English ability, able to read English technical documents." %}</li>
                                </ol>
                         
                                <p class="job-title" {% arabic_change_style %}>{% trans "Working Location: Sanlitun SOHO, Chaoyang District, Beijing" %}</p>
                                <p class="job-title" {% arabic_change_style %}>{% trans "Payment: Salary to be discussed" %}</p>
                            </div>
                          </div>
                    </div>

                    


            </div>
        </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $(".ad").addClass("hide");
    function arrowToggle(index){
        var label = "#arrow-" + index;
        var parent = "#heading" + index;
        if($(parent).hasClass("collapsed")){
            $(label).addClass("arrow-trans");
            $(".arrow-trans").not(label).removeClass("arrow-trans");
        }else{
            $(label).removeClass("arrow-trans");
        }
    };
    showNav();
</script>
{% endblock %}

{% block css %}
<link href="{% version "css/jobs.css" %}" rel="stylesheet" />
{% endblock %}
