{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Media Kit" %}
{% endblock %}

{% block content %}
<section id="mediakit" class="section-list section">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Media Kit" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="download_list">
            <div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                <img src="{% version "images/logo-512.png" %}" alt="">
            </div>
            <div class="container col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <p>{% trans "Newton logo is a combination of calculus symbol and zigzag side of coin. This logo honors the great scientist and coinage pioneer Sir Isaac Newton, symbolizing the perfect integration of finance and technology." %}</p>
                </div>
                <div>
                    <div class="raw">
                        <div class="download-but col-lg-6 col-sm-6 col-xs-12">
                            <a href="{% version "images/logo.zip" %}" download="logo.zip">{% trans "Download Logo" %}</a>
                        </div>
                        <div class="download-but col-lg-6 col-sm-6 col-xs-12">
                            <a href="{% version "images/poster.zip" %}" download="poster.zip">{%  trans "Download Poster" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
{% endblock %}
