{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Media Kit" %}
{% endblock %}

{% block content %}
<section id="mediakit" class="section-list section">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Media Kit" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="download_list">
            <div class="container" >
                <img src="{% version "images/logo-512.png" %}" alt="">
            </div>
            <div class="container" style="text-align: left; margin-bottom: 100px;" >
                <p><strong>牛顿</strong>创立了微积分思想，拉开了现代物理界伟大革命的序幕，牛顿也发明了铸币的锯齿，为货币的防伪奠定了重要的思想基础。牛顿的logo中，两个积分符号贯穿于平放的锯齿铸币，来自于天才的思想，汇聚于牛顿项目。就像牛顿对世界的革命一样，牛顿项目即将为新一代区块链掀起伟大的革命。</p>
            </div>
            <div class="container" >
                <div class="raw">
                    <div class="download-but container col-lg-6 col-sm-12">
                        <a href="{% version "images/logo.zip" %}" download="logo.zip">Download Logo</a>
                    </div>
                    <div class="download-but container col-lg-6 col-sm-12">
                        <a href="{% version "images/post_template.zip" %}" download="post_template.zip">Download Poster</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
{% endblock %}
