{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "NEP" %}
{% endblock %}

{% block content %}
<section id="nep" class="section-list section nep">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Newton Evolution Proposal" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="nep-list">
            <div class="col-md-5 nep-block">
                <h3 class="nep-one">{% trans "NEP-1: Improvement to Newton Foundation reserved token release rules(Implemented)" %}</h3>
                <div class="nep-intro"><span>{% trans "For the sake of Newton token (NEW)'s scarcity and reasonable liquidity, getting opinions and suggestions from all parties involved, we propose to modify the releasing rules of Newton Foundation's  tokens." %}</span></div>
                <div>
                    <div class="nep-left">
                        <p>{% trans "Published:" %}</p>
                    </div>
                    <div class="nep-right">
                        <div>
                            <a class="nep-draft" style="padding-left: unset;margin-right: 20px;" href="{% version "NEP/NEP-1.pdf" %}" download="NEP-1.pdf">中文</a>
                        </div>
                    </div>
                </div>
                <div class="nep-left">
                    <p>{% trans "Draft:" %}</p>
                </div>
                <div class="nep-right">
                    <div>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft.pdf" %}" download="NEP-1-draft.pdf">中文</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-english.pdf" %}" download="NEP-1-draft-english.pdf">English</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-arabic.pdf" %}" download="NEP-1-draft-arabic.pdf">العربية</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-german.pdf" %}" download="NEP-1-draft-german.pdf">Deutsch</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-russian.pdf" %}" download="NEP-1-draft-russian.pdf">Pусский</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-dutch.pdf" %}" download="NEP-1-draft-dutch.pdf">Nederlands</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-finnish.pdf" %}" download="NEP-1-draft-finnish.pdf">suomalainen</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-french.pdf" %}" download="NEP-1-draft-french.pdf">Français</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-indonesian.pdf" %}" download="NEP-1-draft-indonesian.pdf">Bahasa indonesia</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-italian.pdf" %}" download="NEP-1-draft-italian.pdf">lingua italiana</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-japanese.pdf" %}" download="NEP-1-draft-japanese.pdf">日本語</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-korean.pdf" %}" download="NEP-1-draft-korean.pdf">한국어</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-portuguese.pdf" %}" download="NEP-1-draft-portuguese.pdf">Português</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-spanish.pdf" %}" download="NEP-1-draft-spanish.pdf">Español</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-thai.pdf" %}" download="NEP-1-draft-thai.pdf">ไทย</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-turkish.pdf" %}" download="NEP-1-draft-turkish.pdf">Türkçe</a>
                        <a class="nep-official col-md-4 col-xs-6" href="{% version "NEP/NEP-1-draft-vietnamese.pdf" %}" download="NEP-1-draft-vietnamese.pdf">Việt nam</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 nep-block">
                <h3 class="nep-zero">{% trans "NEP-0: NEP Genesis(Implemented)" %}</h3>
                <div class="nep-intro"><span>{% trans "For the sake of the open, transparent governance, we have proposed compiling all suggestions related to the Newton Project using the Newton Evolution Proposal (NEP) template for unified numbering and management. The proposals are then put to the community for broader discussion, getting opinions and suggestions from all parties involved before forming final conclusions." %}</span></div>
                <div class="nep-left">
                    <p>{% trans "Published:" %}</p>
                    <p>{% trans "Draft:" %}</p>
                </div>
                <div class="nep-right">
                    <div>
                        <a class="nep-draft" style="padding-left: unset;margin-right: 20px;" href="{% version "NEP/NEP-0.pdf" %}" download="NEP-0.pdf">中文</a>
                        <a class="nep-draft" style="padding-left: unset;margin-right: 20px;" href="{% version "NEP/NEP-0-english.pdf" %}" download="NEP-0-english.pdf">English</a>
                    </div>
                    <div>
                        <a class="nep-official" style="padding-left: unset;margin-right: 20px;" href="{% version "NEP/NEP-0-draft.pdf" %}" download="NEP-0-draft.pdf">中文</a>
                        <a class="nep-official" style="padding-left: unset;margin-right: 20px;" href="{% version "NEP/NEP-0-draft-english.pdf" %}" download="NEP-0-draft-english.pdf">English</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}

{% block main-style %}
style=""
{% endblock %}