{% load i18n %}
{% load utils %}
{% load welcome_tags %}

<div>
    <div class="container newpay-summary">
        <div class="row" video_sum="{{ video_sum }}" id="video_block">

            <!-- Modal -->

            <div class="videoModalClass modal fade" id="videoModal" tabindex="-1" role="dialog"
                 aria-labelledby="videoModalLabel" aria-hidden="true" style="top:0%;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom: 0px;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="float:right">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% for item in videos %}
                        <video id="video-list-{{ forloop.counter }}" class="video-js vjs-big-play-centered" controls
                               preload="none" poster="{{ item.poster }}" data-setup=""
                               style="margin-left:auto;margin-right:auto;cursor: pointer;{{ item.display }}">
                            <source src="{{ item.url }}" type="video/mp4"/>
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a web browser
                                that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->

        <div class="row gallery-container">
            <h1>{% trans "NewPay App Tutorial" %}</h1>
            <div class="tz-gallery">
                <div class="row">
                    {% for item in videos %}
                    <div class="video-link col-sm-6 col-md-4" video_id="{{ forloop.counter }}" data-toggle="modal" data-target="#videoModal" style="width:32%">
                        <div class="thumbnail">
                            <img src="{{ item.poster }}" alt="Park" style="width:100%">
                            <div class="caption">
                                <h3>{{ item.title }}</h3>
                                <p>{{ item.summary }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>