{% extends "base.html" %} 
{% load i18n %} 
{% load utils %} 
{% block title %} 
{% trans "NewPay" %} 
{% endblock %} 
{% block content %}
<section id="newpay" class="section-list">
  <div class="page-title">
    <div class="container">
      <p>Newpay</p>
    </div>
  </div>
  <div class="newpay_bg"></div>
  <div class="container">
    <div class="newpay_list">
      <div class="newpay_text row">
        <div class="col-xs-6 row">
          <div class="col-xs-4">
            <img src="{% version "images/newpay/newpay_icon_1.png" %}" alt="">
          </div>
          <div class="col-xs-8">
            <h2>{% trans "数字身份" %}</h2>
            <p>{% trans "创建和管理DID(Decentralized ID)" %}
              <br> {% trans "设置个人信息隐私模式" %}
              <br> {% trans "交易信息共享定价及收益" %}
              <br> {% trans "交易信息管理" %}
              <br> {% trans "数字资产管理，包括NEW、BTC、ETH等" %}
            </p>
          </div>
        </div>
        <div class="col-xs-6 row">
          <div class="col-xs-4">
            <img src="{% version "images/newpay/newpay_icon_2.png" %}" alt="">
          </div>
          <div class="col-xs-8">
            <h2>{% trans "支付" %}</h2>
            <p>{% trans "支持跨境交易" %}
              <br> {% trans "支持超小额度支付" %}
              <br> {% trans "极快的交易确认速度" %}
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-6 row">
          <div class="col-xs-4">
            <img src="{% version "images/newpay/newpay_icon_3.png" %}" alt="">
          </div>
          <div class="col-xs-8">
            <h2>{% trans "联合登录" %}</h2>
            <p>{% trans "使用统一身份登录多个Dapp" %}
              <br> {% trans "Dapp管理和权限控制" %}
              <br> {% trans "安全审计" %}
            </p>
          </div>
        </div>
        <div class="col-xs-6 row">
          <div class="col-xs-4">
            <img src="{% version "images/newpay/newpay_icon_4.png" %}" alt="">
          </div>
          <div class="col-xs-8">
            <h2>{% trans "内置应用" %}</h2>
            <p>{% trans "支持采用自由开源方式发布的内置应用" %}
              <br> {% trans "支持内置应用购买" %}
              <br> {% trans "内置应用开发工具支持" %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %} 
{% block inline_js %} 
{% endblock %}