{% extends "base.html" %} 
{% load i18n %} 
{% load utils %} 
{% block title %} 
{% trans "NewPay" %} 
{% endblock %} 
{% block content %}
<section id="newpay" class="section-list">
  <div class="page-title">
    <div class="container">
      <p>NewPay</p>
    </div>
  </div>
  <div class="newpay_bg"></div>
  <div class="container">
    <div class="newpay_list">
      <div class="newpay_text row">
        <div class="col-sm-6 row  newpay-gray">
          <div class="col-sm-4">
            <img src="{% version "images/newpay/newpay_icon_1.png" %}" alt="">
          </div>
          <div class="col-sm-8">
            <h2>{% trans "Digital Identity" %}</h2>
            <p>{% trans "Create and manage the DID (Decentralized ID);" %}</p>
              <p> {% trans "Set privacy mode for personal information;" %}</p>
              <p> {% trans "Trading information management;" %}</p>
              <p> {% trans "Trading information pricing and benefit from sharing;" %}</p>
              <p> {% trans "Digital asset management, including NEW, BTC, ETH, etc." %}
            </p>
          </div>
        </div>
        <div class="col-sm-6 row">
          <div class="col-sm-4">
            <img src="{% version "images/newpay/newpay_icon_2.png" %}" alt="">
          </div>
          <div class="col-sm-8">
            <h2>{% trans "Payment" %}</h2>
            <p>{% trans "Support cross-border trades;" %}</p>
              <p> {% trans "Support micro-payment;" %}</p>
              <p> {% trans "Rapid trade confirmation." %}
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6 row newpay-gray">
          <div class="col-sm-4">
            <img src="{% version "images/newpay/newpay_icon_3.png" %}" alt="">
          </div>
          <div class="col-sm-8">
            <h2>{% trans "Joint Login" %}</h2>
            <p>{% trans "Log in multiple Dapps using a unified identity;" %}</p>
              <p> {% trans "Dapp management and permission control;" %}</p>
              <p> {% trans "Safety audit." %}
            </p>
          </div>
        </div>
        <div class="col-sm-6 row">
          <div class="col-sm-4">
            <img src="{% version "images/newpay/newpay_icon_4.png" %}" alt="">
          </div>
          <div class="col-sm-8">
            <h2>{% trans "Built-in applications" %}</h2>
            <p>{% trans "Support built-in applications published by the free and open source;" %}</p>
              <p> {% trans "Support built-in applications purchase;" %}</p>
              <p> {% trans "Support built-in applications development tools." %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %} 
{% block inline_js %} 
{% endblock %}