{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% block title %}
{% trans "NewPay" %}
{% endblock %}
{% block content %}
<section id="newpay" class="section-list">
    {% comment %}
    <div class="page-title">
        <div class="container">
            <p>NewPay</p>
        </div>
    </div>
    {% endcomment %}
    <div style="background-color: #f4f4f4">
        <div class="container">
            <!--<div class="newpay_bg"></div>-->
            <img class="newpay-background" src="{% version "images/newpay/newpay_bg.png" %}" alt="">
        </div>
    </div>
    <nav id="float-nav" class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">
            <a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}">
                <img class="logo-pc" src="{% version "images/newton-logo.png" %}" alt="Newton" style="width: unset;"/>
            </a>
            <span>{% trans "NewPay" %}</span>
            <div class="submit-button"><a href="https://developer.newtonproject.org/">{% trans "Go to TestNet" %}</a>
            </div>
        </div>
    </nav>
    <div class="container text-center download-button more">
        <div>NewPay</div>
        <h3>{% trans "Digital wallet in Newton's economy" %}</h3>
        <a href="https://developer.newtonproject.org/">
            <span>{% trans "Go to TestNet" %}</span>
        </a>
        <p>
            <span style="margin-right:80px;">V0.2.30</span>
            <span style="margin-left:50px;">2018-11-11</span>
        </p>
        <!--<p>{% trans "Click the button to download NewPay to participate in the beta!" %}</p>-->
    </div>
    {% comment %}
    <div class="container">
        <div class="newpay_list">
            <div class="newpay_text row">
                <div class="col-sm-6 row">
                    <div class="col-sm-4">
                        <img src="{% version "images/newpay/newpay_icon_1.png" %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2>{% trans "Digital Identity and Credit" %}</h2>
                        <p>{% trans "Create and manage DID (Decentralized IDs);" %}</p>
                        <p> {% trans "Set privacy mode for personal information;" %}</p>
                        <p> {% trans "Transaction information management;" %}</p>
                        <p> {% trans "Transaction information sharing pricing and benefit;" %}</p>
                        <p> {% trans "Digital asset management, including NEW, BTC, ETH, etc." %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-sm-4">
                        <img src="{% version "images/newpay/newpay_icon_2.png" %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2>{% trans "Payment" %}</h2>
                        <p>{% trans "Support cross-border transactions;" %}</p>
                        <p> {% trans "Support for micro-payments;" %}</p>
                        <p> {% trans "Extremely fast transaction confirmation." %}
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 row">
                    <div class="col-sm-4">
                        <img src="{% version " images/newpay/newpay_icon_3.png" %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2>{% trans "Joint Login" %}</h2>
                        <p>{% trans "Log in multiple Dapps using a unified identity;" %}</p>
                        <p> {% trans "Dapp management and permission control;" %}</p>
                        <p> {% trans "Security audit." %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 row">
                    <div class="col-sm-4">
                        <img src="{% version " images/newpay/newpay_icon_4.png" %}" alt="">
                    </div>
                    <div class="col-sm-8">
                        <h2>{% trans "Application Support" %}</h2>
                        <p>{% trans "Built-in support for free and open-source applications;" %}</p>
                        <p> {% trans "Built-in support for purchases within applications;" %}</p>
                        <p> {% trans "Built-in support for development tools of applications." %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <div style="background-color: #f4f4f4;">
        <div class="container newpay-one">
            <div class="col-md-8 newpay-left">
                <div class="col-md-4 newpay-icon">
                    <img src="{% version "images/newpay/newpay_icon_1.png" %}" alt="">
                </div>
                <div class="col-md-8 newpay-text">
                    <h2>{% trans "Digital Identity and Credit" %}</h2>
                    <p>{% trans "Create and manage DID (Decentralized IDs);" %}</p>
                    <p> {% trans "Set privacy mode for personal information;" %}</p>
                    <p> {% trans "Transaction information management;" %}</p>
                    <p> {% trans "Transaction information sharing pricing and benefit;" %}</p>
                    <p> {% trans "Digital asset management, including NEW, BTC, ETH, etc." %}</p>
                </div>
            </div>
            <div class="col-md-4 newpay-right">
                <img src="{% version "images/newpay/1.png" %}" alt="">
            </div>
        </div>
    </div>
    <div class="container newpay-two">
        <div class="col-md-5 newpay-left">
            <img src="{% version "images/newpay/2.png" %}" alt="">
        </div>
        <div class="col-md-7 newpay-right">
            <div class="newpay-text col-md-6">
                <h2>{% trans "Payment" %}</h2>
                <p>{% trans "Support cross-border transactions;" %}</p>
                <p> {% trans "Support for micro-payments;" %}</p>
                <p> {% trans "Extremely fast transaction confirmation." %}</p>
            </div>
            <div class="col-md-6 newpay-icon">
                <img src="{% version "images/newpay/newpay_icon_2.png" %}" alt="">
            </div>
        </div>
    </div>
    <div style="background-color: #f4f4f4;">
        <div class="container newpay-one">
            <div class="col-md-8 newpay-left">
                <div class="col-md-4 newpay-icon">
                    <img src="{% version "images/newpay/newpay_icon_3.png" %}" alt="">
                </div>
                <div class="col-md-8 newpay-text">
                    <h2>{% trans "Joint Login" %}</h2>
                        <p>{% trans "Log in multiple Dapps using a unified identity;" %}</p>
                        <p> {% trans "Dapp management and permission control;" %}</p>
                        <p> {% trans "Security audit." %}</p>
                </div>
            </div>
            <div class="col-md-4 newpay-right">
                <img src="{% version "images/newpay/3.png" %}" alt="">
            </div>
        </div>
    </div>
    <div class="container newpay-four">
        <div class="col-md-4 newpay-left">
            <img src="{% version "images/newpay/4.png" %}" alt="">
        </div>
        <div class="col-md-8 newpay-right">
            <div class="newpay-text col-md-7">
                <h2>{% trans "Payment" %}</h2>
                <p>{% trans "Support cross-border transactions;" %}</p>
                <p> {% trans "Support for micro-payments;" %}</p>
                <p> {% trans "Extremely fast transaction confirmation." %}</p>
            </div>
            <div class="col-md-5 newpay-icon">
                <img src="{% version "images/newpay/newpay_icon_4.png" %}" alt="">
            </div>
        </div>
    </div>


</section>
{% endblock %}

{% block css %}
<style type="text/css">
    #float-nav {
        display: none;
    }

    #float-nav .container {
        text-align: center;
    }

    #float-nav .container span {
        font-size: 22px;
        line-height: 50px;
        color: #333;
    }

    #float-nav .submit-button {
        float: right;
        line-height: 50px;
    }

    #float-nav .submit-button a {
        border: 1px solid #ccc;
        padding: 3px 5px;
        border-radius: 6px;
        background-color: #fff;
    }
</style>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $(function () {
        if (screen.width <= 768) {
            showNav();
        }
        else {
            $(window).scroll(function () {
                var height;
                var s = $(window).scrollTop();
                if (s < 280) {
                    // $(".NavBg").addClass("navFixed");
                    $("#float-nav").hide();
                } else {
                    // $(".NavBg").removeClass("navFixed");
                    $("#float-nav").show();
                    $("#float-nav").addClass("navFixed");
                }
                ;
            });
        }
        ;
    });
</script>
{% endblock %}