{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Partners" %}
{% endblock %}

{% block content %}
<section id="partner" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Partners" %}</p>
        </div>
    </div>
</section>

{% include "welcome/include-partner.html" %}

{% include "welcome/include-partner-mobile.html" %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#construction").addClass("bg-gray");
    $("#organization").removeClass("bg-gray");
    showNav();
    var swiper11 = new Swiper('.swiper-container11', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '.swiper-pagination11',
        clickable: true,
      }
    });
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/swiper.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block css %}
<link href="{% version "css/swiper.min.css" %}" rel="stylesheet">
<style>
    .navbar {
        position: fixed;
    }
</style>
{% endblock %}

{% block main-style %}
style="min-height:unset;padding-top:49px;"
{% endblock %}
