{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "HEP" %}
{% endblock %}

{% block content %}
<section id="protocol" class="section-list">
  <div class="page-title">
    <div class="container">
        <p>{% trans "Hyper Exchange Protocol" %}</p>
    </div>
  </div>
  <div class="container protocol-digital">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fr only-pc"><img class="protocol_icon1" src="{% version "images/protocol/protocol_1.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Digital Identity and Credit" %}</h2>
            <div class="fr only-mobile"><img class="protocol_icon1" src="{% version "images/protocol/protocol_1.png" %}" alt=""></div>
            <p>{% trans "User can manage and control the access to his/her digital assets by using digital identity. Digital assets including cryptocurrency, privacy data, personal credit and so on." %}</p>
            <p>{% trans "User can control and set different privacy modes for corresponding digital assets, and price the digital assets." %}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text1">
          <div class="only-pc"><img class="protocol_icon2" src="{% version "images/protocol/protocol_2.png" %}" alt=""></div>
          <div>
            <h2>{% trans "Supply Chain" %}</h2>
            <div class="only-mobile"><img class="protocol_icon2" src="{% version "images/protocol/protocol_2.png" %}" alt=""></div>
            <p>{% trans "By using techniques named as “Atom Hashing”, we can create a unique digital identity for commodities over the whole network. Through this digital identity, you can check the relevant information on the commodity at any time." %}</p>
            <p>{% trans "In the whole supply chain, the basic information on each operation of the product will be stored on the blockchain to ensure that the data will not be tampered." %}</p>
            <p>{% trans "Through smart contract, we can pre-set commercial exchanging rules to realize automatic insurance claims and property rights transfers. This will reduce the transaction costs and promote cooperation efficiency." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fl only-pc"><img class="protocol_icon3" src="{% version "images/protocol/protocol_3.png" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "Digital Marketing" %}</h2>
              <div class="fl only-mobile"><img class="protocol_icon3" src="{% version "images/protocol/protocol_3.png" %}" alt=""></div>
              <p>{% trans "Advertisers can set marketing plans through various built-in marketing smart contract templates in the system, including incentive modes, settlement modes, and dynamic price adjusting rules." %}</p>
              <p>{% trans "Advertisers can audit ongoing and completed marketing contracts. By calling out the DAI system, you can conduct market research before marketing activities, and analyze the results after the marketing activities." %}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fr only-pc"><img class="protocol_icon4" src="{% version "images/protocol/protocol_4.png" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "Trading and payment" %}</h2>
              <div class="fr only-mobile"><img class="protocol_icon4" src="{% version "images/protocol/protocol_4.png" %}" alt=""></div>
              <p>{% trans "Defining transactions using built-in smart contract templates and rules engines, including multi-party transactions based on complex business rules, settlement rules, smart insurance contracts, smart financial contracts, and external chain service." %}</p>
              <p>{% trans "We support cross-border transactions, ultra-small payments, lightning settlement, etc., and provide comprehensive online and offline payment tools." %}</p>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fl only-pc"><img class="protocol_icon6" src="{% version "images/protocol/protocol_6.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Reliable physical tunnel" %}</h2>
            <div class="fr only-mobile"><img class="protocol_icon6" src="{% version "images/protocol/protocol_6.png" %}" alt=""></div>
            <p>{% trans "Based on NewChain and NewIoT technologies, we designed reliable physical tunnel protocol and defined manufacturing specifications of related equipment. Any third party can manufacture safety equipment according to the protocol specification." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
  <div class="container">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fr only-pc"><img class="protocol_icon7" src="{% version "images/protocol/protocol_7.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Automatic finance" %}</h2>
            <div class="fl only-mobile"><img class="protocol_icon7" src="{% version "images/protocol/protocol_7.png" %}" alt=""></div>
            <p>{% trans "Developers can define smart financial contracts based on the built-in smart contract templates on insurance, lending and investment, including digital identity and credit, KYC information, staking the Newton token address, contract rules and external chain service. The system will automatically match smart financial contracts and completes transaction matching." %}</p>
          </div>
      </div>
    </div>
  </div>
</div>
  <div>
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fl only-pc"><img class="protocol_icon8" src="{% version "images/protocol/protocol_8.svg" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "NNIO" %}</h2>
              <div class="fr only-mobile"><img class="protocol_icon8" src="{% version "images/protocol/protocol_8.svg" %}" alt=""></div>
              <p>{% trans "Developers can access NewNet through the NNIO (NewNet IO) protocol, using storage service, computing service, and domain names." %}</p>
              <p>{% trans "Through smart storage contracts, smart computing contracts, smart domain name contracts, developers can quickly and innovatively develop applications." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}
