{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "HEP" %}
{% endblock %}

{% block content %}
<section id="protocol" class="section-list">
  <div class="page-title">
    <div class="container">
        <p>{% trans "Hyper Exchange Protocol" %}</p>
    </div>
  </div>
  <div class="container protocol-digital">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fr only-pc"><img class="protocol_icon1" src="{% version "images/protocol/protocol_1.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Digital Identity and Credit" %}</h2>
            <div class="fr only-mobile"><img class="protocol_icon1" src="{% version "images/protocol/protocol_1.png" %}" alt=""></div>
            <p>{% trans "Users can manage and control access to their digital assets by using a digital identity. Digital assets include; cryptocurrencies, personal data, personal credit and anything that exists in a binary format and come with the right to use." %}</p>
            <p>{% trans "Users can control and set different privacy modes for corresponding digital assets, and price the digital assets." %}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text1">
          <div class="only-pc"><img class="protocol_icon2" src="{% version "images/protocol/protocol_2.png" %}" alt=""></div>
          <div>
            <h2>{% trans "Supply Chain" %}</h2>
            <div class="only-mobile"><img class="protocol_icon2" src="{% version "images/protocol/protocol_2.png" %}" alt=""></div>
            <p>{% trans "By using such techniques as “Atom Hashing” we can create a unique digital identity for commodities over the whole network. Through this digital identity a user can check the relevant information on any commodity at any time." %}</p>
            <p>{% trans "Once information on each operation of a product enters the Newton Supply Chain, that information will be stored on the Newton blockchain. This ensures no tampering with the data once it is stored on the Newton blockchain." %}</p>
            <p>{% trans "Through smart contract Newton can pre-set commercial exchanging rules to realize automatic insurance claims and property rights transfer. This will reduce the transaction costs and promote cooperation efficiency." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fl only-pc"><img class="protocol_icon3" src="{% version "images/protocol/protocol_3.png" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "Digital Marketing" %}</h2>
              <div class="fl only-mobile"><img class="protocol_icon3" src="{% version "images/protocol/protocol_3.png" %}" alt=""></div>
              <p>{% trans "Advertisers can set marketing plans through various built-in marketing smart contract templates in the system. This includes incentive modes, settlement modes, and dynamic price adjusting rules." %}</p>
              <p>{% trans "Advertisers can audit ongoing and completed marketing contracts. By calling out the NewAI system, an advertiser can conduct market research before marketing activities, and analyze the results after the marketing activities." %}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fr only-pc"><img class="protocol_icon4" src="{% version "images/protocol/protocol_4.png" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "Trading and payment" %}</h2>
              <div class="fr only-mobile"><img class="protocol_icon4" src="{% version "images/protocol/protocol_4.png" %}" alt=""></div>
              <p>{% trans "The Newton trading and payment platform will enable a user to define transactions using the built-in smart contract templates and rule engine. This enables the user to include: multi-party transactions based on complex business rules, settlement rules, smart insurance contracts, smart financial contracts, and external chain service." %}</p>
              <p>{% trans "Newton supports cross-border transactions, micro payments, lightning settlements and more to provide comprehensive online and offline payment tools." %}</p>
              </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fl only-pc"><img class="protocol_icon6" src="{% version "images/protocol/protocol_6.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Reliable physical tunnel" %}</h2>
            <div class="fr only-mobile"><img class="protocol_icon6" src="{% version "images/protocol/protocol_6.png" %}" alt=""></div>
            <p>{% trans "Based on NewChain and NewIoT technologies Newton is capable of designing a reliable physical tunnel protocol and define manufacturing specifications of related equipment. Any third party can manufacture safety equipment according to the protocol specification." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray">
  <div class="container">
    <div class="protocol_list">
      <div class="protocol_text row">      
        <div class="fr only-pc"><img class="protocol_icon7" src="{% version "images/protocol/protocol_7.png" %}" alt=""></div>
          <div class="col-sm-6">
            <h2>{% trans "Automatic finance" %}</h2>
            <div class="fl only-mobile"><img class="protocol_icon7" src="{% version "images/protocol/protocol_7.png" %}" alt=""></div>
            <p>{% trans "Developers can define smart financial contracts based on the built-in smart contract templates on; insurance, lending and investment, including digital identity and credit, KYC information, staking the Newton token, contract rules and external chain service. The system will automatically match smart financial contracts and automatically complete transactional matching." %}</p>
          </div>
      </div>
    </div>
  </div>
</div>
  <div>
    <div class="container">
      <div class="protocol_list">
        <div class="protocol_text row">
          <div class="fl only-pc"><img class="protocol_icon8" src="{% version "images/protocol/protocol_8.svg" %}" alt=""></div>
          <div class="col-sm-6">
              <h2>{% trans "NNIO" %}</h2>
              <div class="fr only-mobile"><img class="protocol_icon8" src="{% version "images/protocol/protocol_8.svg" %}" alt=""></div>
              <p>{% trans "Developers can access NewNET through the NNIO (NewNET IO) protocol, using storage services, computing services and domain names." %}</p>
              <p>{% trans "Through smart storage contracts, smart computing contracts, smart domain name contracts, developers can quickly and innovatively develop applications." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}
