{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Release" %}
{% endblock %}

{% block content %}
<section id="economy" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Foundation Release" %}</p>
        </div>
    </div>
</section>
<div class="container release-block">
    <div class="table-responsive">
        <table class="release-table table table-bordered text-center">
            <tr>
                <th class="text-center">{% trans "Release NO." %}</th>
                <th class="text-center">{% trans "Release Time" %}</th>
                <th class="text-center">{% trans "Release Value" %}</th>
                <th class="text-center">{% trans "To Address" %}</th>
                <th class="text-center">{% trans "Release Description" %}</th>
            </tr>
            <tr>
                <td>1</td>
                <td>2019-04-14 21:47:19</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH">NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0x9d951c05bad92a6b7ebefb178a97b186df121f42684e39def6fc88cdcf599581">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>2019-04-14 22:01:07</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH">NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0xc192b9d024df9313c75cea2d5637bdaa82e3c47660d8e02cef073dc5028311e6">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>2019-04-14 22:13:01</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH">NEW182FTG3QW4mjvhGo2aGX86Ka51kpcGhr8PEH</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0x1eba7a8b469121e85f0e45572e1363baaf42b7c1f55d8f006de11ebd438e9f7d">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>2019-04-19 11:30:17</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC">NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0xe975af69b522c61f67ff3cebef2bb9fa6194f2b511532b10c6d81a945b2f09ec">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>2019-05-19 22:19:21</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC">NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0x1da3df84a243ba35783bb73d114fa3c345dbed1bf74c5c518ae1bdc5bc28ff48">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>2019-06-20 14:04:28</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC">NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0x315ecc50242d2fb5a25d6fb927aa463e3585f26ea5b719d1a536e875f36263da">{% trans "Details" %}</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>2019-07-19 23:02:30</td>
                <td>333333333 NEW</td>
                <td><a href="https://explorer.newtonproject.org/address/NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC">NEW182P9oA798JSVHofZetMV8xuM7yrcRWGPqVC</a></td>
                <td><a href="https://explorer.newtonproject.org/tx/0x5cd69a3118557d16d881277dfc4483816b0a113fcf667702b7a7c443a95061b0">{% trans "Details" %}</a></td>
            </tr>
        </table>
    </div>
</div>
<!--<div>-->
<!--    <div class="bg-white">-->
<!--        <div class="container">-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.1" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-04-14 21:47:19-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0x9d951c05bad92a6b7ebefb178a97b186df121f42684e39def6fc88cdcf599581">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.2" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-04-14 22:01:07-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0xc192b9d024df9313c75cea2d5637bdaa82e3c47660d8e02cef073dc5028311e6">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.3" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-04-14 22:13:01-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0x1eba7a8b469121e85f0e45572e1363baaf42b7c1f55d8f006de11ebd438e9f7d">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="bg-gray">-->
<!--        <div class="container">-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.4" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-04-19 11:30:17-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0xe975af69b522c61f67ff3cebef2bb9fa6194f2b511532b10c6d81a945b2f09ec">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.5" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-05-19 22:19:21-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0x1da3df84a243ba35783bb73d114fa3c345dbed1bf74c5c518ae1bdc5bc28ff48">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-4">-->
<!--                <div class="release-block">-->
<!--                    <p class="row text-center">-->
<!--                        {% trans "Release NO.6" %}-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        2019-06-20 14:04:28-->
<!--                    </p>-->
<!--                    <p class="row text-center">-->
<!--                        <a href="{{ settings.NEWTON_EXPLORER_URL }}/tx/0x315ecc50242d2fb5a25d6fb927aa463e3585f26ea5b719d1a536e875f36263da">{% trans "Details" %}</a>-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}

{% block inline_js %}
{% endblock %}
{% block css %}
<link href="{% version "css/economy.css" %}" rel="stylesheet" />
{% endblock %}
