{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "industry" %}
{% endblock %}

{% block content %}
<section id="industry">
	<div class="page-title">
	<div class="container">
	    <p>{% trans "Industry" %}</p>
	</div>
    </div>
    <div class="container">
	    <div class="industry_list">
	        <div class="row">
	        	<div class="fl only-pc"><img src="{% version "images/industry/1.png" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "链商零售" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/1.png" %}" alt=""></div>
		        	<p>{% trans "在公司制组织架构下，资本收益已经远超过劳动收益， 伴随着计算机和互联⽹发展起来的新一代巨型零售机构加速财富向资本聚集。链商是⼈机社群的基本商业模式，任何对⼈机社群有正向贡献的⾏为都会受到激励。链商模式运用于零售行业有利于降低交易成本，保护消费者隐私，促进智能协作。" %}</p>
		    	</div>
	      	</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-1.svg" %}">
  				<p class="intro-title">{% trans "NewMall" %}</p>
  				<p class="intro-info">{% trans "在NewMall在线商城中，由于没有盈利性商业中介的存在，卖家交易成本将大幅下降，消费者、服务供应商等参与方都可按照贡献值(NewForce)获得牛顿通证的激励。" %}</p>
      		</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-2.svg" %}">
  				<p class="intro-title">{% trans "新型数字资产管理" %}</p>
  				<p class="intro-info">{% trans "消费数据作为用户的新型数字资产，可以通过NewPay等工具进行管理。用户真正拥有数据，进行授权控制、定价收费等，杜绝不知情的数据泄露。" %}</p>
      		</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-3.svg" %}">
  				<p class="intro-title">{% trans "精准广告投放" %}</p>
  				<p class="intro-info">{% trans "用户可通过NewPay等工具设置是否接受营销，以及所需信息类型，价格区间等。广告主通过系统内置的各种营销类智能合约模版设定营销方案，包括:目标用户，激励模式，结算⽅式，动态价格调整规则等。广告主可以精准投放广告，与用户进行点对点结算，杜绝广告欺诈。" %}</p>
      		</div>
	    </div>
	</div>
	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row">
		        	<div class="fr only-pc"><img src="{% version "images/industry/2.png" %}" alt=""></div>
			    	<div class="industry_text col-sm-6">
			        	<h2>{% trans "支付" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/2.png" %}" alt=""></div>
			        	<p>{% trans "当前的⽀付成本较高，效率较低，灵活性较差。通过区块链等技术， 可以构建新一代的交易和⽀付系统。" %}</p>
			    	</div>
		      	</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/2-1.svg" %}">
	  				<p class="intro-title">{% trans "全球支付" %}</p>
	  				<p class="intro-info">{% trans "通过分布在全球的NewChain基础设施和NewPay支付工具，跨境交易简单便捷，而且费用极低。" %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/2-2.svg" %}">
	  				<p class="intro-title">{% trans "超小额支付" %}</p>
	  				<p class="intro-info">{% trans "以NewIoT技术为基础的物联网设备可以极低成本接入NewChain，设备之间可以建立智能合约，实现自动结算和支付，满足此场景下的高频次要求。" %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>
  	<div class="container">
	    <div class="industry_list">
	        <div class="row">
	        	<div class="fl only-pc"><img src="{% version "images/industry/3.png" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "供应链" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/3.png" %}" alt=""></div>
		        	<p>{% trans "商品通常要经过物流、仓储、通关、销售等诸多环节，最终交付到消费者手中。当出现售后服务的时候，还会有对应的逆向流程。当前的供应链基本上是不透明的，消费者很难确认商品产地、流转信息等，对于一些行业，⽐如:⻝品、药品、奢侈品，这是很大的问题。因此一个对所有利益相关方都公开透明的、可信的供应链体系非常重要。" %}</p>
		        	<p>{% trans "通过原子哈希、NewIOT、NewChain等技术的结合，供应链系统将可信、公开透明，同时产生更多的业务创新。" %}</p>
		    	</div>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/3-1.svg" %}">
  				<p class="intro-title">{% trans "防伪溯源" %}</p>
  				<p class="intro-info">{% trans "通过原子哈希、NewIoT等技术，产地经纬度、物理特性等数据上链实现原产地可证明，商品包装完好程度可检测，确保商品流通环节可信。" %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/3-2.svg" %}">
  				<p class="intro-title">{% trans "供应链融资" %}</p>
  				<p class="intro-info">{% trans "供应商通过区块链等技术真实记录自己的交易数据，与融资方共享数据来获得相应的资金。由于经营数据的不可篡改，加快供应商的融资速度，降低违约风险。" %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row">
		        	<div class="fr only-pc"><img src="{% version "images/industry/4.png" %}" alt=""></div>
			    	<div class="industry_text col-sm-6">
			        	<h2>{% trans "自金融" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/4.png" %}" alt=""></div>
			        	<p>{% trans "传统的金融服务体系审计工作量大、周期长，成本高，灵活性差，通常难以服务中小企业和个人。通过数字身份与信⽤，可以建⽴新型的⾃金融体系。" %}</p>
			    	</div>
		      	</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/4-1.svg" %}">
	  				<p class="intro-title">{% trans "企业和个人征信" %}</p>
	  				<p class="intro-info">{% trans "企业和个人以NewID为基础建立一致的信用体系，只有经授权后，第三方才能获取信用记录。" %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/4-2.svg" %}">
	  				<p class="intro-title">{% trans "资产通证化" %}</p>
	  				<p class="intro-info">{% trans "通过智能合约模版，金融组织可以创建无需人力参与的金融产品。通过基于NewChain的相关通证工具，各种资产都可以方便地以通证估值或转化为通证上链。" %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>
  	<div class="container">
	    <div class="industry_list">
	        <div class="row">
	        	<div class="fl only-pc"><img src="{% version "images/industry/5.png" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "游戏" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/5.png" %}" alt=""></div>
		        	<p>{% trans "通过与区块链技术的结合，可以创造全新的游戏体验：用户既是玩家也是规则参与者、虚拟游戏资产归用户所有。" %}</p>
		    	</div>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/5-1.svg" %}">
  				<p class="intro-title">{% trans "虚拟游戏资产自动交易" %}</p>
  				<p class="intro-info">{% trans "通过NewChain所提供的跨链和预言机技术，各种游戏中的虚拟物品都可以很方便地记录在区块链上，可以实现自动化交易。" %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/5-2.svg" %}">
  				<p class="intro-title">{% trans "规则透明的游戏" %}</p>
  				<p class="intro-info">{% trans "游戏开发者可以很方便地通过NewChain相关智能合约工具，建立算法透明的游戏逻辑，提高游戏的公平性和透明性。" %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
  	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row">
		        	<div class="fr only-pc"><img src="{% version "images/industry/6.png" %}" alt=""></div>
			    	<div class="industry_text col-sm-6">
			        	<h2>{% trans "农业" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/6.png" %}" alt=""></div>
			        	<p>{% trans "当前农业普遍存在数据不完整、自动化程度低等问题。区块链结合物联网技术，能够自动收集、存储、分析生产数据，省去了中心化管理系统的高昂维护费用，降低后期维护成本，有助于提升农业的智能化和规模化水平。" %}</p>
			    	</div>
		      	</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/6-1.png" %}">
	  				<p class="intro-title">{% trans "农产品溯源" %}</p>
	  				<p class="intro-info">{% trans "通过将兼容NewIoT标准的物联网设备引入农资流转、农业生产、农产品销售等过程，提高农业生产全过程的安全与效率，由于生产数据的不可篡改特性，可以广泛运用于科研及防伪用途。" %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/6-2.png" %}">
	  				<p class="intro-title">{% trans "智能种植" %}</p>
	  				<p class="intro-info">{% trans "通过兼容NewIoT标准的物联网传感器，可以实现对种植环境和作物生长的全天候监控，结合NewAI对监控结果进行智能决策，构建了一套完整的智能种植系统，可以及时发现风险、稳产增收。" %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>
  	<div class="container">
	    <div class="industry_list">
	        <div class="row">
	        	<div class="fl only-pc"><img src="{% version "images/industry/7.png" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "公益" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/7.png" %}" alt=""></div>
		        	<p>{% trans "区块链技术凭借其去中心化、透明度高、信息不可篡改的特性，天然满足公益领域的需求。公益组织可将从善款筹集、项目进展、善款使用、受助人反馈等全流程信息存放在NewChain上，方便捐赠人及公众查看。" %}</p>
		    	</div>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/7-1.svg" %}">
  				<p class="intro-title">{% trans "公益审计" %}</p>
  				<p class="intro-info">{% trans "公益活动需要公益审计来提高效率和维护信任。通过NewChain、NewID等技术和协议，每一笔捐款将有迹可查。公益机构可通过相关工具跟踪救助对象后期的情况，有助于增强公益的公平性和透明化。" %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/7-2.svg" %}">
  				<p class="intro-title">{% trans "野生动物保护" %}</p>
  				<p class="intro-info">{% trans "利用NewIoT技术，珍稀野生动物资源数据可以记录到NewChain上，从而可以追踪到每一头具体动物的位置、身体指标等，为迁徙科考追踪，打击偷猎贩卖，提供关键信息帮助。" %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
</section>
{% endblock %}