{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Industry" %}
{% endblock %}

{% block content %}
<section id="industry">
	<div class="page-title">
		<div class="container">
		    <p>{% trans "Industry" %}</p>
		</div>
    </div>
    <nav id="float-nav" class="navbar navbar-custom sticky-navigation NavBg bg-gray">
    	<div class="container">
    		<a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}">
                <img class="logo-pc" src="{% version "images/newton-logo.svg" %}" alt="Newton" style="width: unset;" />
            </a>
    		<span>{% trans "Industry" %}</span>

    		<div class="submit-button"><a href="/business-proposal/">{% trans "Submit Your Business Proposal" %}</a></div>
    	</div>
    </nav>
    <div class="container">
	    <div class="industry_list">
	        <div class="row" id="industry_anchor_1">
	        	<div class="fl only-pc left-img"><img src="{% version "images/industry/1.svg" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "Chain-commerce Retail" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/1.svg" %}" alt=""></div>
		        	<p>{% trans "Under the control of corporations, income from capital far exceeds income from labor, and a new generation of internet-based retail giants is accelerating this even further. Blockchain-commerce is a new basic business model for the human-machine community, one that rewards any behavior that contributes to the community. Our Blockchain-commerce model is used in retail to reduce transaction costs, protect consumers’ privacy, and promote intelligent collaboration." %}</p>
		    	</div>
	      	</div>
	      	<div class="app">
	      		<p>{% trans "Application Scenarios" %}</p>
	      	</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-1.svg" %}">
  				<p class="intro-title">{% trans "NewMall" %}</p>
  				<p class="intro-info">{% trans "Since NewMall has no profit-seeking middlemen, transaction costs for sellers are greatly reduced, and consumers, service providers and other participants can get NEW tokens as an incentive based on how much they contribute (that is, their NewForce)." %}</p>
      		</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-2.svg" %}">
  				<p class="intro-title">{% trans "New Digital Asset Management" %}</p>
  				<p class="intro-info">{% trans "User data is a new digital asset controlled by the users' themselves, and can be managed with the NewPay app. Users truly own their data and can control it by authorizing and selling third-party use at a price they set themselves. Uninformed data leakage is prohibited." %}</p>
      		</div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/1-3.svg" %}">
  				<p class="intro-title">{% trans "Targeted Advertising" %}</p>
  				<p class="intro-info">{% trans "Users can set whether to accept marketing promotions in NewPay, as well as the type of information required, price range, etc. Advertisers set marketing plans through built-in marketing smart contract templates, including: target users, incentive models, settlement methods, and adjustment rules. Merchants can achieve pinpointed advertising and peer-to-peer settlement with users, avoiding advertising fraud." %}</p>
      		</div>
	    </div>
	</div>
	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row" id="industry_anchor_2">
		        	<div class="col-md-1"></div>
		        	<div class="fr only-pc right_img col-md-6"><img src="{% version "images/industry/2.svg" %}" alt=""></div>
			    	<div class="industry_text col-sm-6 col-md-5">
			        	<h2>{% trans "Payments" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/2.svg" %}" alt=""></div>
			        	<p>{% trans "Under current e-commerce, transaction costs are high, efficiency is low, and flexibility is poor. A new generation of trading and payment systems will be built based on blockchain technology." %}</p>
			    	</div>
		      	</div>
		      	<div class="app">
	      			<p>{% trans "Application Scenarios" %}</p>
	      		</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/2-1.svg" %}">
	  				<p class="intro-title">{% trans "Global Payments" %}</p>
	  				<p class="intro-info">{% trans "With the global distribution of NewChain infrastructure and NewPay payment tools, cross-border transactions become simple and convenient, with very low transaction costs." %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/2-2.svg" %}">
	  				<p class="intro-title">{% trans "Nanopayments" %}</p>
	  				<p class="intro-info">{% trans "Internet of Things devices, namely NewIoT, can access NewChain at very low cost, and smart contracts can be established between devices to achieve automatic settlement and payment, thus meeting the high frequency requirements of nanopayment scenarios." %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>
  	<div class="container">
	    <div class="industry_list">
	        <div class="row" id="industry_anchor_3">
	        	<div class="fl only-pc left-img"><img src="{% version "images/industry/3.svg" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "Supply Chain" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/3.svg" %}" alt=""></div>
		        	<p>{% trans "Goods delivered to consumers usually go through logistics, warehousing, customs clearance, sales and many other processes. When there are after-sales services, a corresponding reverse process is needed. The current process is opaque, and it is difficult for consumers to confirm the origin of goods, circulation information and so on, which is a big problem for industries such as counterfeits, pharmaceuticals, and luxury goods. Therefore, a credible supply chain system which is open to all stakeholders is vital." %}</p>
		        	<p>{% trans "Through the combination of atom hashing, NewIOT, NewChain and other technologies, the supply chain can be credible, open, and transparent, and generate more business innovation." %}</p>
		    	</div>
	      	</div>
	      	<div class="app">
	      		<p>{% trans "Application Scenarios" %}</p>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/3-1.svg" %}">
  				<p class="intro-title">{% trans "Anti-Counterfeiting and Traceability" %}</p>
  				<p class="intro-info">{% trans "Through atom hashing, NewIoT and other technologies, a product’s origin, location, physical characteristics and other data will be uploaded to the blockchain to prove the product’s origin and the integrity of the packaging, ensuring the credibility of the logistics process." %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/3-2.svg" %}">
  				<p class="intro-title">{% trans "Supply Chain Financing" %}</p>
  				<p class="intro-info">{% trans "Suppliers record their transaction data on the blockchain and share it with financing parties to obtain corresponding funds. Since the business data is tamper-proof, the financing of suppliers can be accelerated and the risk of default reduced." %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row" id="industry_anchor_4">
		        	<div class="col-md-1"></div>
		        	<div class="fr only-pc right_img col-md-6"><img src="{% version "images/industry/4.svg" %}" alt=""></div>
			    	<div class="industry_text col-sm-6 col-md-5">
			        	<h2>{% trans "Self-Finance" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/4.svg" %}" alt=""></div>
			        	<p>{% trans "Traditional financial services have a large workload, long cycles, high costs and poor flexibility, and it is often difficult to serve small and medium-sized enterprises and individuals. Through digital identity and credit, a new type of self-financing system can be established." %}</p>
			    	</div>
		      	</div>
		      	<div class="app">
		      		<p>{% trans "Application Scenarios" %}</p>
		      	</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/4-1.svg" %}">
	  				<p class="intro-title">{% trans "Corporate and Personal Credit" %}</p>
	  				<p class="intro-info">{% trans "Corporations and individuals can establish a consistent credit system based on NewID, and third parties can only get credit data via authorization." %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/4-2.svg" %}">
	  				<p class="intro-title">{% trans "Asset Securitization" %}</p>
	  				<p class="intro-info">{% trans "Through smart contract templates, financial organizations can create financial products that do not require human involvement. With NewChain-based token tools, assets can be easily valued by tokens or converted to a corresponding amount of tokens." %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>
  	<div class="container">
	    <div class="industry_list">
	        <div class="row" id="industry_anchor_5">
	        	<div class="fl only-pc left-img"><img src="{% version "images/industry/5.svg" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "Gaming" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/5.svg" %}" alt=""></div>
		        	<p>{% trans "Using blockchain technology, a new gaming experience can be created where users are both players and rule-making participants, and virtual game assets are owned directly by users." %}</p>
		    	</div>
	      	</div>
	      	<div class="app">
	      		<p>{% trans "Application Scenarios" %}</p>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/5-1.svg" %}">
  				<p class="intro-title">{% trans "In-Game Asset Automated Trading" %}</p>
  				<p class="intro-info">{% trans "Through the cross-chain and oracle technology provided by NewChain, virtual items from games can be easily recorded on the blockchain for automated trading." %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/5-2.svg" %}">
  				<p class="intro-title">{% trans "Transparent Game Rules" %}</p>
  				<p class="intro-info">{% trans "Game developers can easily create algorithmic and transparent game logic through NewChain-related smart contract tools to improve fairness and transparency." %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
  	<div class="bg-gray">
		<div class="container">
		    <div class="industry_list">
		        <div class="row" id="industry_anchor_6">
		        	<div class="col-md-1"></div>
		        	<div class="fr only-pc right_img col-md-6"><img src="{% version "images/industry/6.svg" %}" alt=""></div>
			    	<div class="industry_text col-sm-6 col-md-5">
			        	<h2>{% trans "Agriculture" %}</h2>
			        	<div class="fl only-mobile"><img src="{% version "images/industry/6.svg" %}" alt=""></div>
			        	<p>{% trans "Agriculture faces widespread problems such as incomplete data and low degree of automation in agriculture. Blockchain, combined with IoT technology can automatically collect, store and analyze agricultural production data, reducing the high management costs of centralized systems and post-maintenance costs, and helping to improve the intelligence and scale of agriculture." %}</p>
			    	</div>
		      	</div>
		      	<div class="app">
		      		<p>{% trans "Application Scenarios" %}</p>
		      	</div>
		      	<div class="col-md-1"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/6-1.png" %}">
	  				<p class="intro-title">{% trans "Tracing Agricultural Products" %}</p>
	  				<p class="intro-info">{% trans "By introducing IoT devices compatible with NewIoT into agricultural material circulation, production, and product sales, the safety and efficiency of the whole process of agricultural production can be improved. Due to the tamper-proof nature of production data, it can be widely used for scientific research and anti-counterfeiting purposes." %}</p>
	      		</div>
	      		<div class="col-md-2"></div>
	      		<div class="intro col-md-4">
	      			<img src="{% version "images/industry/6-2.png" %}">
	  				<p class="intro-title">{% trans "Intelligent Planting" %}</p>
	  				<p class="intro-info">{% trans "Through IoT sensors compatible with NewIoT, all-day monitoring of planting environments and crop growth can be realized. Combining NewAI to make intelligent decision-making on monitoring results, a complete intelligent planting system can be built to detect risks, stabilize production and increase income over time." %}</p>
	      		</div>
	      		<div class="col-md-1"></div>
		    </div>
	  	</div>
  	</div>

  	<div class="container">
	    <div class="industry_list">
	        <div class="row" id="industry_anchor_7">
	        	<div class="fl only-pc left-img"><img src="{% version "images/industry/7.svg" %}" alt=""></div>
		    	<div class="industry_text col-sm-6">
		        	<h2>{% trans "Public Welfare" %}</h2>
		        	<div class="fr only-mobile"><img src="{% version "images/industry/7.svg" %}" alt=""></div>
		        	<p>{% trans "Blockchain technology is decentralized, highly transparent and tamper-proof, so it meets the needs of the public welfare. Non-profit organizations can store the whole process information such as fundraising, project progress, and recipient feedback on NewChain for donors and the public to check." %}</p>
		    	</div>
	      	</div>
	      	<div class="app">
	      		<p>{% trans "Application Scenarios" %}</p>
	      	</div>
	      	<div class="col-md-1"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/7-1.svg" %}">
  				<p class="intro-title">{% trans "Public Welfare Audit" %}</p>
  				<p class="intro-info">{% trans "Public welfare activities require audits to improve efficiency and maintain trust. With NewChain, NewID technology and agreements, every donation can be traced. Public welfare organizations can track the situation of the rescue recipients through relevant tools, enhancing fairness and transparency." %}</p>
      		</div>
      		<div class="col-md-2"></div>
      		<div class="intro col-md-4">
      			<img src="{% version "images/industry/7-2.svg" %}">
  				<p class="intro-title">{% trans "Wildlife Protection" %}</p>
  				<p class="intro-info">{% trans "Using NewIoT technology, rare wildlife data can be recorded on NewChain, so that the location and physical indicators of each specific animal can be traced, providing key information for research such as migration tracking and combating poaching and trafficking." %}</p>
      		</div>
      		<div class="col-md-1"></div>
	    </div>
  	</div>
  	<div style="background-color: #DDDDDD;">
	  	<div class="container">
		  	<div class="feature-item col-lg-12 col-xs-12" style="background-color: #DDDDDD; padding: 40px 0;">
			    <div class="feature-item-wrap">
			    	<p style="color: #333;font-size:24px;margin: 24px 0;">{% trans "Have an Innovative Idea?" %}</p>
			        <div class="more">
			            <a href="/business-proposal/">{% trans "Send Us Your Business Proposal" %}</a>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block css %}
<style type="text/css">
	#float-nav{display: none;}
	#float-nav .container{text-align: center;}
	#float-nav .container span{font-size: 22px;line-height: 50px;color: #333;}
	#float-nav .submit-button{float: right; line-height: 50px;}
	#float-nav .submit-button a{border: 1px solid #ccc; padding: 3px 5px; border-radius: 6px; background-color: #fff;}
</style>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
	$(function () {
		if (screen.width <= 768){
			showNav();
		}
		else {
			$(window).scroll(function(){
			    var height
			    var s = $(window).scrollTop();
			    if (s<280){
			        // $(".NavBg").addClass("navFixed");
			        $("#float-nav").hide();
			    }else{
			        // $(".NavBg").removeClass("navFixed");
			        $("#float-nav").show();
			        $("#float-nav").addClass("navFixed");
			        };
			});
		};
	});
	
</script>
{% endblock %}
