{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "SITEMAP" %}
{% endblock %}

{% block content %}
<section id="sitemap">
	<div class="page-title">
        <div class="container">
            <p>{% trans "Sitemap" %}</p>
        </div>
    </div>
    <div class="container info">
    	<ul>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "ABOUT" %}</h3>
    				<ul class="list">
    					<li><a href="/">{% trans "Home" %}</a></li>
    					<li><a href="/whitepaper/">{% trans "Whitepaper" %}</a></li>
    					<li><a href="/team/">{% trans "Team" %}</a></li>
    					<li><a href="/joinus/">{% trans "Join Us" %}</a></li>
    					<li><a href="/contact/">{% trans "Contact Us" %}</a></li>
    					<li><a href="/mediakit/">{% trans "Media Kit" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "TECHNOLOGY" %}</h3>
    				<ul class="list">
    					<li><a href="/technology/">{% trans "Technology" %}</a></li>
    					<li><a href="/technology/hep/">{% trans "Hyper Exchange Protocol" %}</a></li>
    					<li><a href="/technology/basic-tech/">{% trans "Basic Technology" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "NEWPAY" %}</h3>
    				<ul class="list">
    					<li><a href="/newpay/">{% trans "NewPay" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<div class="col-md-12"></div>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "ECONOMY" %}</h3>
    				<ul class="list">
    					<li><a href="/economy/">{% trans "Economy" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "NEWFUND" %}</h3>
    				<ul class="list">
    					<li><a href="/newfund/">{% trans "NewFund" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "COMMUNITY" %}</h3>
    				<ul class="list">
    					<li><a href="/community/">{% trans "Community" %}</a></li>
    					<li><a href="/addcommunity/">{% trans "Add Community" %}</a></li>
    					<li><a href="/announcement/">{% trans "Announcement" %}</a></li>
    					<li><a href="/blog/">{% trans "Blog" %}</a></li>
    					<li><a href="/press/">{% trans "Press" %}</a></li>
    					<li><a href="https://developer.newtonproject.org/">{% trans "Developer" %}</a></li>
    					<li><a href="/faq/">{% trans "FAQ" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<div class="col-md-12"></div>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "DEVELOPMENT" %}</h3>
    				<ul class="list">
    					<li><a href="/partner/">{% trans "Partner" %}</a></li>
    				</ul>
    			</section>
    		</li>
    		<li style="margin-top:0;list-style-type:none;" class="col-md-4">
    			<section class="region">
    				<h3>{% trans "SERVICE TERMS" %}</h3>
    				<ul class="list">
    					<li><a href="/copyright/">{% trans "Copyright" %}</a></li>
    					<li><a href="/terms-of-use/">{% trans "Terms of Use" %}</a></li>
    					<li><a href="/privacy/">{% trans "Privacy Policy" %}</a></li>
    				</ul>
    			</section>
    		</li>
    	</ul>
	</div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}