{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "TECH" %}
{% endblock %}

{% block content %}
<section id="technology" class="section-list">
    <div class="page-title">
      <div class="container">
          <p>{% trans "TECHNOLOGY" %}</p>
      </div>
    </div>
    <div class="container">
      <div class="technology_list">
        <h1>{% trans "NewChain" %}</h1>
        <div class="technology_text row">      
          <div class="fr"><img class="technology_icon1" src="{% version "images/technology/new-chain.svg" %}" alt="NewChain - high performance, heterogeneous, parallel block chain"></div>
            <div class="col-sm-6">
              <p>{% trans "NewChain will have a main chain and sub-chains structure. The main chain will support account management, Newton token management, sub-chain management, network governance and more. The sub-chain will support specific service systems such as the hyper-exchange protocol, multiple consensus mechanisms and data structures, ensuring the assets transactions between the main chain and sub-chains, and between sub-chains. The NewChain provides a third-party developer the option and opportunity to create a new sub-chain after staking a certain amount of Newton tokens and passing the verification." %}</p>
              <p>{% trans "NewVM is compatible with the Webassembly standard, supporting various general programming languages such as C/C++, Java, Python, TypeScript, and more. The system provides built-in smart contract templates for the hyper exchange protocol. The system built-in smart contract templates provide an effortless development and deployment of any application on the Newton NewChain." %}</p>
              <p>{% trans "NewChain uses Ring-LWE anti-quantum encryption algorithm to ensure maximum security of all assets within the Newton ecosphere." %}</p>
            </div>
        </div>
      </div>
    </div>
    <div class="bg-gray" id="technology_NewNET">
        <div class="container">
          <div class="technology_list">
            <h1>{% trans "NewNET" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon2" src="{% version "images/technology/new-net.svg" %}" alt="NewNET - de centralization of cloud computing infrastructure"></div>
                <div class="col-sm-6">
                  <p>{% trans "NewNET consists of a large number of nodes that run on an open network providing reliable storage services and supporting a full SQL database and various general programming languages. Through its flexible and decentralized architecture NewNET is able to directly host today's most widely used web services. Developers have the ability to release any calculation task to the nodes in the open network. The nodes can then select the corresponding calculation task according to their own (hardware) abilities, then obtain the corresponding incentives after completing the task. Through NewChain a decentralized network domain name service is fully supported. The ease of use of NewNET will increase through the blockchain technology." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div>
        <div class="container" id="technology_AtomHashing">
          <div class="technology_list">
            <h1>{% trans "Atom Hashing" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon4" src="{% version "images/technology/hash.png" %}" alt="Atomic hash universal real object validation algorithm"></div>
                <div class="col-sm-6">
                  <p>{% trans "By using radiometric dating, PCA, machine vision, and deep learning technology Newton can quickly extract multiple characteristics of a certain material asset, including; weight, volume, size, shape, texture, optical properties, radioactive properties, thermodynamic properties, and a variety of customized random features. Then based on these characteristic data and algorithms Newton can create a unique identification and authentic right for any digital asset. The whole process is repeatable, verifiable and fault-tolerant." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="bg-gray" id="technology_NewIoT">
    <div class="container">
      <div class="technology_list">
        <h1>{% trans "NewIoT" %}</h1>
        <div class="technology_text row">      
          <div class="fr"><img class="technology_icon5" src="{% version "images/technology/giot.svg" %}" alt="GIOT - Universal IoT device access framework"></div>
            <div class="col-sm-6">
              <p>{% trans "NewIoT is a general conception for a category of technologies that includes; blockchain fog computing, communication protocols between IoT devices and gateways and NewChain IoT devices developing specifications." %}</p>
              <p>{% trans "The gateway has powerful computing and storage capabilities with built-in blockchain nodes, supporting multiple Internet accessing methods including; Ethernet/fiber, 3G/4G/5G, NB-IoT, IoT communication protocol such as BLE, Wi-Fi, ZigBee, and more. The IoT device store the collected information into NewChain through the gateway." %}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div>
        <div class="container" id="technology_NewAI">
          <div class="technology_list">
            <h1>{% trans "NewAI" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon6" src="{% version "images/technology/dai.svg" %}" alt="NewAI - distributed artificial intelligence framework"></div>
                <div class="col-sm-6">
                  <p>{% trans "NewAI (Distributed Artificial Intelligence) promotes the development of AI from three aspects; data, algorithm model, and execution engine. By using these three aspects the Newton NewAI closely connects the data suppliers, algorithm model developers and operating system providers together." %}</p>
                  <p>{% trans "NewAI provides authorized data standards for accessing users and data suppliers, including multidimensional data formats, data fragmentation, data compression, data encryption, etc. User private data safety will be protected by the k-anonymity, ε--differential privacy and other methods." %}</p>
                  <p>{% trans "NewAI uses docker container to run artificial intelligence computing software such as Tensorflow, Caffe. It encourages data suppliers to provide long-term service through multi-factor weighting profit distribution method." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block inline_js %}
{% endblock %}
