{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "TECH" %}
{% endblock %}

{% block content %}
<section id="technology" class="section-list">
    <div class="page-title">
      <div class="container">
          <p>{% trans "TECHNOLOGY" %}</p>
      </div>
    </div>
    <div class="">
        <div class="container">
            <div class="tech-intro">
                    <p>{% trans "The Newton technology framework consists of three layers: the basic technology layer, the hyper exchange protocol layer, and the application layer. The basic technology layer includes NewChain, NewNET, Atom Hashing, NewIoT and NewAI; the hyper exchange protocol layer includes digital identity and credit, supply chain, digital marketing, transactions and payments, trusted physical channels, supply chain and NNIO, etc. The application layer includes wallets, malls, logistics, finance and insurance. We will develop a series of basic technologies to support the  hyper exchange protocol,which is the basic commercial protocol cluster supporting the upper-layer application operations." %}</p>
            </div>
        </div>
    </div>
    <div class="page-upper bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-block-title text-center">
                        <span>{% trans "Hyper Exchange Protocol" %}</span>
                    </h1>
                </div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/01.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Digital Identity and Credit" %}</span></div>
                <div class="intro-info"><p>{% trans "Users can manage and control access to their digital assets by using a digital identity. Digital assets include; cryptocurrencies, personal data, personal credit and anything that exists in a binary format and come with the right to use." %}<a href="/technology/hep/"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/02.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Supply Chain" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "By using such techniques as “Atom Hashing” we can create a unique digital identity for commodities over the whole network. Through this digital identity a user can check the relevant information on any commodity at any time." %}<a href="/technology/hep/#protocol_SupplyChain"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/03.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Digital Marketing" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "Advertisers can set marketing plans through various built-in marketing smart contract templates in the system. This includes incentive modes, settlement modes, and dynamic price adjusting rules." %}<a href="/technology/hep/#protocol_DigitalMarketing"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>

            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/04.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Trading and payment" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "The Newton trading and payment platform will enable a user to define transactions using the built-in smart contract templates and rule engine. This enables the user to include: multi-party transactions based on complex business rules, settlement rules." %}<a href="/technology/hep/#protocol_Tradingpayment"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>

            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/05.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Reliable physical tunnel" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "Based on NewChain and NewIoT technologies Newton is capable of designing a reliable physical tunnel protocol and define manufacturing specifications of related equipment. Any third party can manufacture safety equipment according to the protocol specification." %}<a href="/technology/hep/#protocol_Reliable"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>

            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/06.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Automatic finance" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "Developers can define smart financial contracts based on the built-in smart contract templates on; insurance, lending and investment, including digital identity and credit, KYC information." %}<a href="/technology/hep/#protocol_Automatic"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>

            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/07.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "NNIO" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "Developers can access NewNET through the NNIO (NewNET IO) protocol, using storage services, computing services and domain names." %}<a href="/technology/hep/#protocol_NNIO"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>

            </div>
        </div>
    </div>

    <div class="page-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-block-title text-center">
                        <span>{% trans "TECHNOLOGY" %}</span>
                    </h1>
                </div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/08.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "NewChain" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "NewChain will have a main chain and sub-chains structure. The main chain will support account management, Newton token management, sub-chain management, network governance and more." %}<a href="/technology/basic-tech/"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/09.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "NewNET" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "NewNET consists of a large number of nodes that run on an open network providing reliable storage services and supporting a full SQL database and various general programming languages." %}<a href="/technology/basic-tech/#technology_NewNET"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/10.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "Atom Hashing" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "By using radiometric dating, PCA, machine vision, and deep learning technology Newton can quickly extract multiple characteristics of a certain material asset." %}<a href="/technology/basic-tech/#technology_AtomHashing"><span>&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/11.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "NewIoT" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "NewIoT is a general conception for a category of technologies that includes; blockchain fog computing, communication protocols between IoT devices and gateways and NewChain IoT devices developing specifications." %}<a href="/technology/basic-tech/#technology_NewIoT"><span>&nbsp;&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
            <div class="intro col-md-3">
                <div class="intro-img text-center"><img src="{% version "images/technology/12.svg" %}" alt=""></div>
                <div class="intro-title text-center"><span>{% trans "NewAI" %}</span></div>
                <div class="intro-info"><p {% arabic_change_style %}>{% trans "NewAI (Distributed Artificial Intelligence) promotes the development of AI from three aspects; data, algorithm model, and execution engine." %}<a href="/technology/basic-tech/#technology_NewAI"><span>&nbsp;&nbsp;&nbsp;{% trans "more >>" %}</span></a></p></div>
            </div>
        </div>
    </div>
    {% comment %}
    <div style="margin-bottom: 80px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-block-title text-center">
                        <span>{% trans "TECHNOLOGY USED" %}</span>
                    </h1>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 col-xs-6 text-center"><img src="{% version "images/technology/tech-1.png" %}" alt=""></div>
                <div class="col-md-2 col-xs-6 text-center"><img src="{% version "images/technology/tech-2.png" %}" alt=""></div>
                <div class="col-md-2 col-xs-6 text-center"><img src="{% version "images/technology/tech-4.png" %}" alt=""></div>
                <div class="col-md-4 col-xs-12"><img src="{% version "images/technology/tech-5.png" %}" alt=""></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    {% endcomment %}
  </section>
{% endblock %}

{% block inline_js %}
{% endblock %}
