{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "TECH" %}
{% endblock %}

{% block content %}
<section id="technology" class="section-list">
    <div class="page-title">
      <div class="container">
          <p>{% trans "TECHNOLOGY" %}</p>
      </div>
    </div>
    <div class="container">
      <div class="technology_list">
        <h1>{% trans "NewChain" %}</h1>
        <div class="technology_text row">      
          <div class="fr"><img class="technology_icon1" src="{% version "images/technology/new-chain.svg" %}" alt="NewChain - high performance, heterogeneous, parallel block chain"></div>
            <div class="col-sm-6">
              <p>{% trans "NewChain will have a main chain and sub-chains structure. The main chain will support account management, Newton token management, sub-chain management, and network governance and so on. The sub-chain will support specific service systems such as the hyper-exchange protocol, and multiple consensus mechanisms and data structures, ensuring the assets transactions between the main chain and sub-chains, and between sub-chains. After A third-party developer can create a new sub-chain after staking a certain amount of Newton tokens and passing the verification." %}</p>
              <p>{% trans "NewVM is compatible with the Webassembly standard, supporting the general programming languages such as C/C++, Java, Python, TypeScript, etc. The system provides some built-in smart contract templates for the hyper exchange protocols so that to make the application development work simpler." %}</p>
              <p>{% trans "NewChain uses Ring-LWE anti-quantum encryption algorithm to ensure the security of the assets." %}</p>
            </div>
        </div>
      </div>
    </div>
    <div class="bg-gray">
        <div class="container">
          <div class="technology_list">
            <h1>{% trans "NewNet" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon2" src="{% version "images/technology/new-net.svg" %}" alt="NewNet - de centralization of cloud computing infrastructure"></div>
                <div class="col-sm-6">
                  <p>{% trans "NewNet, consisting of a large number of nodes, is an open cloud computing network that provides reliable storage services, supporting a full SQL database and various general programming languages. NewNet can host many web services. After developers release the calculation task, the nodes will select the corresponding calculation task to complete according to their own computing power, then get the corresponding incentive rewards. Decentralized DNS(Domain Name Service) will be achieved through the blockchain technology, increasing the ease of using NewNet." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div>
        <div class="container">
          <div class="technology_list">
            <h1>{% trans "Atom Hashing" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon4" src="{% version "images/technology/hash.png" %}" alt="Atomic hash universal real object validation algorithm"></div>
                <div class="col-sm-6">
                  <p>{% trans "By using radiometric dating, PCA, machine vision, and deep learning technology, we can quickly extract multiple characteristics of a certain material asset, including: weight, volume, size, shape, texture, optical properties, radioactive properties, thermodynamic properties, and a variety of customized random features. Then based on these characteristic data, using algorithms to create a unique identification and authentic right for digital asset. The whole process is repeatable, verifiable and fault-tolerant." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="bg-gray">
    <div class="container">
      <div class="technology_list">
        <h1>{% trans "NewIOT" %}</h1>
        <div class="technology_text row">      
          <div class="fr"><img class="technology_icon5" src="{% version "images/technology/giot.svg" %}" alt="GIOT - Universal IoT device access framework"></div>
            <div class="col-sm-6">
              <p>{% trans "NewIOT is a general conception for a series of technologies, including blockchain fog computing, communication protocols between IoT devices and gateways, and NewChain IoT devices developing specifications." %}</p>
              <p>{% trans "The gateway has powerful computing and storage capabilities with built-in blockchain nodes, supporting multiple Internet accessing methods, including: Ethernet/fiber, 3G/4G/5G, NB-IoT, etc., and IoT communication protocol such as BLE, Wi-Fi, ZigBee, etc. The IoT device stores the collected information into NewChain through the gateway." %}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div>
        <div class="container">
          <div class="technology_list">
            <h1>{% trans "DAI" %}</h1>
            <div class="technology_text row">      
              <div class="fl"><img class="technology_icon6" src="{% version "images/technology/dai.svg" %}" alt="DAI - distributed artificial intelligence framework"></div>
                <div class="col-sm-6">
                  <p>{% trans "DAI (Distributed Artificial Intelligence) promotes the development of AI from three aspects: data, algorithm model, execution engine, thereby closely connecting the data suppliers, algorithm model developers and operating environment providers together." %}</p>
                  <p>{% trans "DAI provides authorized data standards for accessing users and data suppliers, including multidimensional data formats, data fragmentation, data compression, data encryption, etc. User private data safety will be protected by the k-anonymity, ε--differential privacy and other methods." %}</p>
                  <p>{% trans "DAI uses docker container to run artificial intelligence computing software such as Tensorflow, Caffe. It encourages data suppliers to provide long-term service through multi-factor weighting profit distribution method." %}</p>
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block inline_js %}
{% endblock %}
