{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "White Paper" %}
{% endblock %}

{% block content %}
<section id="whitepaper" class="section-list section whitepaper">
    <div class="page-title">
        <div class="container">
            <p>{% trans "White Paper" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="download_list text-center">
            <h2 class="whitepaper-title text-center bold">{% trans "White Paper" %} V0.6</h2>
            <span>{% trans "Latest Version：" %}2018-11-19</span>
            <div class="download-but">
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-english.pdf" %}" download="newton-whitepaper-0.6-release-english.pdf">English White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release.pdf" %}" download="newton-whitepaper-0.6-release.pdf">中文白皮书</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-japanese.pdf" %}" download="newton-whitepaper-0.6-release-japanese.pdf">日本語 ホワイトペーパー</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-german.pdf" %}" download="newton-whitepaper-0.6-release-german.pdf">Deutsch White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-arabic.pdf" %}" download="newton-whitepaper-0.6-release-arabic.pdf">العربية ورق ابيض</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-turkish.pdf" %}" download="newton-whitepaper-0.6-release-turkish.pdf">Türkçe White Paper</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-dutch.pdf" %}" download="newton-whitepaper-0.6-release-dutch.pdf">Nederlands Witboek</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-french.pdf" %}" download="newton-whitepaper-0.6-release-french.pdf">Français Livre Blanc</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-portuguese.pdf" %}" download="newton-whitepaper-0.6-release-portuguese.pdf">Livro Branco Português</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-finnish.pdf" %}" download="newton-whitepaper-0.6-release-finnish.pdf">Suomen valkoinen kirja</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-spanish.pdf" %}" download="newton-whitepaper-0.6-release-spanish.pdf">Papel blanco español</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-italian.pdf" %}" download="newton-whitepaper-0.6-release-italian.pdf">Libro bianco italiano</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-hebrew.pdf" %}" download="newton-whitepaper-0.6-release-hebrew.pdf">נייר לבן עברי</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-indonesian.pdf" %}" download="newton-whitepaper-0.6-release-indonesian.pdf">Buku putih Indonesia</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-russian.pdf" %}" download="newton-whitepaper-0.6-release-russian.pdf">Pусский Белая бумага</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-korean.pdf" %}" download="newton-whitepaper-0.6-release-korean.pdf">한국어 백서</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-vietnamese.pdf" %}" download="newton-whitepaper-0.6-release-vietnamese.pdf">Giấy trắng việt nam</a>
                    </div>
<!--- romanian -->
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-romanian.pdf" %}" download="newton-whitepaper-0.6-release-romanian.pdf">Cartea albă românească</a>
                    </div>
                </div>
		<div class="raw">
<!--- thai -->
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.6-release-thai.pdf" %}" download="newton-whitepaper-0.6-release-thai.pdf">ภาษาไทยกระดาษสีขาว</a>
                    </div>
		</div>
            </div>
        </div>
    </div>
    <div class="line-between"></div>
    <div class="container">
        <div class="download_list text-center">
            <h2 class="whitepaper-title text-center bold">{% trans "White Paper" %} V0.5</h2>
            <span>{% trans "History Version：" %}2018-07-18</span>
            <div class="download-but">
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-english.pdf" %}" download="newton-whitepaper-0.5-release-english.pdf">English White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release.pdf" %}" download="newton-whitepaper-0.5-release.pdf">中文白皮书</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-japanese.pdf" %}" download="newton-whitepaper-0.5-release-japanese.pdf">日本語 ホワイトペーパー</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-russian.pdf" %}" download="newton-whitepaper-0.5-release-russian.pdf">Pусский Белая бумага</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-german.pdf" %}" download="newton-whitepaper-0.5-release-german.pdf">Deutsch White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-arabic.pdf" %}" download="newton-whitepaper-0.5-release-arabic.pdf">العربية ورق ابيض</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-turkish.pdf" %}" download="newton-whitepaper-0.5-release-turkish.pdf">Türkçe White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-dutch.pdf" %}" download="newton-whitepaper-0.5-release-dutch.pdf">Nederlands Witboek</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-french.pdf" %}" download="newton-whitepaper-0.5-release-french.pdf">Français Livre Blanc</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-portuguese.pdf" %}" download="newton-whitepaper-0.5-release-portuguese.pdf">Livro Branco Português</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-romanian.pdf" %}" download="newton-whitepaper-0.5-release-romanian.pdf">White Paper în Română</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-greek.pdf" %}" download="newton-whitepaper-0.5-release-greek.pdf">Λευκό χαρτί</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-bulgarian.pdf" %}" download="newton-whitepaper-0.5-release-bulgarian.pdf">Българска бяла книга</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-croatian.pdf" %}" download="newton-whitepaper-0.5-release-croatian.pdf">Hrvatski bijeli papir</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-finnish.pdf" %}" download="newton-whitepaper-0.5-release-finnish.pdf">Suomen valkoinen kirja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/whitepaper.css" %}">
{% endblock %}
