{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Whitepaper" %}
{% endblock %}

{% block content %}
<section id="whitepaper" class="section-list section whitepaper">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Whitepaper" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="download_list">
            <h2 class="whitepaper-title text-center bold">{% trans "Whitepaper" %} V0.5</h2>
            <div class="download-but">
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release.pdf" %}" download="newton-whitepaper-0.5-release.pdf">中文白皮书</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-english.pdf" %}" download="newton-whitepaper-0.5-release-english.pdf">English Whitepaper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-japanese.pdf" %}" download="newton-whitepaper-0.5-release-japanese.pdf">日本語 ホワイトペーパー</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-russian.pdf" %}" download="newton-whitepaper-0.5-release-russian.pdf">Pусский Белая бумага</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-german.pdf" %}" download="newton-whitepaper-0.5-release-german.pdf">Deutsch Whitepaper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-arabic.pdf" %}" download="newton-whitepaper-0.5-release-arabic.pdf">العربية ورق ابيض</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/whitepaper.css" %}">
{% endblock %}
