{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Whitepaper" %}
{% endblock %}

{% block content %}
<section id="whitepaper" class="section-list section whitepaper">
    <div class="page-title">
        <div class="container">
            <p>{% trans "White Paper" %}</p>
        </div>
    </div>
    <div class="container">
        <div class="download_list">
            <h2 class="whitepaper-title text-center bold">{% trans "White Paper" %} V0.5</h2>
            <div class="download-but">
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-english.pdf" %}" download="newton-whitepaper-0.5-release-english.pdf">English White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release.pdf" %}" download="newton-whitepaper-0.5-release.pdf">中文白皮书</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-japanese.pdf" %}" download="newton-whitepaper-0.5-release-japanese.pdf">日本語 ホワイトペーパー</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-russian.pdf" %}" download="newton-whitepaper-0.5-release-russian.pdf">Pусский Белая бумага</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-german.pdf" %}" download="newton-whitepaper-0.5-release-german.pdf">Deutsch White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-arabic.pdf" %}" download="newton-whitepaper-0.5-release-arabic.pdf">العربية ورق ابيض</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-turkish.pdf" %}" download="newton-whitepaper-0.5-release-turkish.pdf">Türkçe White Paper</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-dutch.pdf" %}" download="newton-whitepaper-0.5-release-dutch.pdf">Nederlands Witboek</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-french.pdf" %}" download="newton-whitepaper-0.5-release-french.pdf"> Français Livre blanc</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-portuguese.pdf" %}" download="newton-whitepaper-0.5-release-portuguese.pdf">Livro Branco Português</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-romanian.pdf" %}" download="newton-whitepaper-0.5-release-romanian.pdf">Whitepaper în Română</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-greek.pdf" %}" download="newton-whitepaper-0.5-release-greek.pdf">Λευκό χαρτί</a>
                    </div>
                </div>
                <div class="raw">
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-bulgarian.pdf" %}" download="newton-whitepaper-0.5-release-bulgarian.pdf">Българска бяла книга</a>
                    </div>
                    <div class="col-md-4 col-sm-6 p10 text-center">
                        <a href="{% version "whitepaper/newton-whitepaper-0.5-release-croatian.pdf" %}" download="newton-whitepaper-0.5-release-croatian.pdf">Hrvatski bijeli papir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    showNav();
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/whitepaper.css" %}">
{% endblock %}
