{% load i18n %}
{% load utils %}


<div class="form-group">
        <p>
            <label for="id_captcha_code" class="control-label">{% trans "Verification Code" %}</label>
        </p>
        <div id="id_register_code_error" class="alert alert-danger hide" style="display: none;">{% trans "Captcha error" %}</div>
        <div class="form-group">
            <img class="text-center" id="id_captcha_image" src="/ishuman/image/?' + Math.random() + '"/>
            <a id="id_captcha_tip" href="javascript:void(0);">
                <span class="verification_small">{% trans "cannot recognize?" %}</span>
            </a>
        </div>
        <div>
            <input autocomplete="off" class="form-control" id="id_captcha_code" name="code" placeholder="{% trans "Verification Code" %}" type="text"/>  
        </div>
</div>
