{% load i18n %}
{% load utils %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="description" content="Newton Project"/>
<meta name="author" content=""/>
<meta name="keywords" content=""/>
<title>Newton</title>
<!-- Fav and touch icons -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- CSS -->
<!-- HTML5 IE Enabling Script -->
<link rel="shortcut icon" href="{% version "images/favicon.ico" %}" type="image/x-icon" />
<!--==== style css ====-->
</head>
<body>
<div style="width:800px; margin:0 auto 0; background: #eee; padding: 20px 15px 20px 15px;">
  <div>
      <img src="{% version "images/logo_new_style.svg" %}" alt="Newton" style="padding:10px; width:128px; height:36px;">
  </div>
  <div style="border:1px solid #fff; border-radius:6px; padding:20px; min-height:224px; background-color:#fff;">
    
    {% block content %}
    {% endblock %}

    {% block sign %}
    <p style="padding-top:20px;">{% trans "Best regard" %}</p>
    <p style="padding-top:20px;">{% trans "Newton Foundation" %}</p>
    <p style="padding-top:30px; margin-bottom: 50px;">{% trans "If you have received this email in error, please delete it." %}</p>
    {% endblock %}
    
    {% block security %}
    <div style="border-top: 1px #333333 solid;margin-top:50px;">
        <p style="color: #a94442; margin-top: 5px;margin: 10px 0 10px 0; font-size: 14px;">{% trans "Newton Token Exchange Security Notification" %}</p>
        <p style="color: #a94442; margin: 5px 0; font-size: 12px;">1. {% trans "Newton Official Website (www.newtonproject.org) is the only channel and information source for Newton token exchange. Newton will not provide you with any Newton token exchange information on any other channels(including but not limited to e-mail, WeChat, telegram, telephone, text message)  . And you can only find token exchange information on the official website, these information includes Newton token exchange- distribution quotas, receiving address or QR code, etc." %}</p>
        <p style="color: #a94442; margin: 5px 0; font-size: 12px;">2. {% trans "Please make sure that the SSL certificate identifier of Newton official website is “NEWTON FOUNDATION LTD. [SG]” before exchanging token. Any website without this SSL is a fraudulent Newton official website." %}</p>
        <p style="text-align: right; margin: 5px 5px 5px 0; font-size: 12px;">
          <a href="{{ security_url }}" style="color: #a94442;">{% trans "Learn more" %}</a>
        </p>
    </div>
    {% endblock %}

  </div>
</div>
</body>
</html>
