{% load i18n %}
{% load staticfiles utils %}

<footer class="footer">
    <div class="container" id="nav-footer">
		<div class="row">
        <div class="nav-block">
	        <h4>{% trans "DEVELOPMENT" %}</h4>
	        <ul class="list-unstyled">
				{% comment %}
				<li><a href="/#/" target="_self">{% trans "Whitepaper" %}</a></li>
				<li><a href="/roadmap/" target="_self">{% trans "Roadmap" %}</a></li>
				{% endcomment %}
				<li><a href="/partner/" target="_self">{% trans "Partner" %}</a></li>
	        </ul>
	    </div>

        <div class="nav-block">
	        <h4>{% trans "COMMUNITY" %}</h4>
	        <ul class="list-unstyled">
				<li><a href="/blog/" target="_self">{% trans "Blog" %}</a></li>
				<li><a href="/announcement/" target="_self">{% trans "Announcement" %}</a></li>
				<li><a href="/faq/" target="_self">{% trans "FAQ" %}</a></li>
				{% comment %}
				<li><a href="/faq/">{% trans "FAQ" %}</a></li>
				<li><a href="/foundation/" target="_self">{% trans "Foundation" %}</a></li>
				{% endcomment %}
	        </ul>
	    </div>

        <div class="nav-block">
	        <h4>{% trans "ABOUT" %}</h4>
	        <ul class="list-unstyled">
				<li><a href="/team/" target="_self">{% trans "Team" %}</a></li>
				<li><a href="/joinus/" target="_self">{% trans "Join Us" %}</a></li>
				<li><a href="/contact/" target="_self">{% trans "Contact Us" %}</a></li>
				<li><a href="/mediakit/" target="_self">{% trans "Media Kit" %}</a></li>
	        </ul>
	    </div>

        <div class="nav-block">
	        <h4>{% trans "Service Terms" %}</h4>
	        <ul class="list-unstyled">
				<li><a href="/copyright/" target="_self">{% trans "Copyright" %}</a></li>
				<li><a href="/terms-of-use/" target="_self">{% trans "Terms of Use" %}</a></li>
				<li><a href="/privacy/" target="_self">{% trans "Privacy Policy" %}</a></li>
				{% comment %}
				<li><a href="/legal/" target="_self">{% trans "Legal Information" %}</a></li>
				{% endcomment %}
			</ul>
		</div>
		{% comment %}
		<div class="nav-block">
			<h4>{% trans "Social Network" %}</h4>
			<ul class="list-unstyled social-container">
				<li>
					<ul class="list-unstyled">
						<li>
							<a href="https://www.twitter.com/newton_project" target="_blank"><img src="{% version "images/social/twitter.svg" %}" />Twitter</a>
						</li>
						<li>
							<a href="https://www.facebook.com/newtonproject" target="_blank"><img src="{% version "images/social/facebook.svg" %}" style="height:20px;" class="facebook"/>Facebook</a>
						</li>
						<li>
							<a href="https://t.me/Newtonproject" target="_blank"><img src="{% version "images/social/telegram.svg" %}" />Telegram</a>
						</li>
						<li>
							<a href="https://www.reddit.com/user/newtonproject/" target="_blank"><img src="{% version "images/social/reddit.svg" %}" />Reddit</a>
						</li>
						<li>
							<a href="https://medium.com/@newtonproject" target="_blank"><img src="{% version "images/social/medium.svg" %}" />Medium</a>
						</li>
					</ul>
				</li>
				<li>
					<ul class="list-unstyled">
						<li>
							<a href="https://www.youtube.com/channel/UCO3hbqzT5abDbVKzK5EQigg" target="_blank"><img src="{% version "images/social/youtube.svg" %}"/>Youtube</a>
						</li>
						<li>
							<a href="https://groups.google.com/forum/#!aboutgroup/newton-universe" target="_blank"><img src="{% version "images/social/maillist.svg" %}"/>Mailing List</a>
						</li>
						<li>
							<a href="mailto:contact@newtonproject.org" target="_blank"><img src="{% version "images/social/email.svg" %}"/>Email</a>
						</li>
						<li>
							<a href="https://join.slack.com/t/newtonproject/shared_invite/enQtMzQ3MTc5OTg0Nzg5LWVmNWQzN2U3Y2QzZTVjZWYwZjI4MGY3YmIyYTAwZDRhZDYyNzkyNmJkZGJkMmFlMTM0YmU4OWNkOGI1NzM0MGE" target="_blank"><img src="{% version "images/social/slack.svg" %}"/>Slack</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		{% endcomment %}
	</div>
	<div class="row pc-line">
        
		<div class="col-md-6"> 
			<span class="pc-left">
				<a href="#" onclick="setLanguage('zh_CN');"><img src="{% version "images/languages/icon-ch.svg" %}">简体中文</a>
				<a href="#" onclick="setLanguage('en');"><img src="{% version "images/languages/icon-English.svg" %}">English</a>
				{% comment %}
				<a href="#" onclick="setLanguage('ko');"><img src="{% version "images/languages/ko.png" %}">한국어</a>
				{% endcomment %}
			</span>
		</div>
		<div class="col-md-6 pc-align-right"> 
			Copyright &copy; 2018 Newton Foundation. All Rights Reserved.
		</div>
	</div>

	</div>
</footer>

    
