{% load i18n %}
{% load utils %}

<header id="user-header">
    <nav class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}">
                    <img class="logo-pc" src="{% version "images/logo_newton.svg" %}" alt="Newton"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" onclick="changeToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="iconfont toggle-nav"></i>
                </button>
                
            </div><!-- /.logo -->

            <div id="drop-panel" class="collapse navbar-collapse navbar-main-collapse">

                <ul class="nav navbar-nav  navbar-right user">
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span><img class="user-avator" src="{% version "images/default_avator.png" %}"/></span>
                            <span class="caret arrow-only-pc"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/user/">{% trans "User Center" %}</a></li>
                            <li><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/logout/">{% trans "LogOut" %}</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="{{ request.path|menu_active:"/register/" }}" >
                        <a href="{{ settings.NEWTON_HOME_URL }}/register/">{% trans "Register" %}</a>
                    </li>
                    <li class="{{ request.path|menu_active:"/login/" }}">
                        <a href="{{ settings.NEWTON_HOME_URL }}/login/">{% trans "Login" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar -->

        </div>
    </nav>
</header>
