{% load i18n %}
{% load utils %}

<header id="normal">
    <div class="navFixed"></div>
    <nav class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand nav-logo page-scroll" href="{{ settings.NEWTON_WEB_URL }}">
                    <img class="logo-pc" src="{% version "images/logo_new_style.svg" %}" alt="Newton"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" onclick="changeToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="iconfont toggle-nav"></i>
                </button>
                
            </div><!-- /.logo -->

            <div id="drop-panel" class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/protocol/">{% trans "HEP" %}</a>
                    </li>
                    <li>
                        <a href="/technology/">{% trans "Technology" %}</a>
                    </li>
                    <li>
                        <a href="/newpay/">{% trans "NewPay" %}</a>
                    </li>
                    <li>
                        <a href="/community/">{% trans "Community" %}</a>
                    </li>
                    <li>
                        <a href="/economy/">{% trans "Economy" %}</a>
                    </li>
                    <li>
                        <a href="/foundation/">{% trans "NewFund" %}</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {% if not request.user.is_superuser %}
                            <li class="visible-sm-block visible-xs-block"><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/user/">{% trans "User Center" %}</a></li>
                            <li class="visible-xs-block visible-xs-block"><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/logout/">{% trans "LogOut" %}</a></li>
                        {% else %}
                            <li class="visible-sm-block visible-xs-block">
                                <a href="{{ settings.NEWTON_HOME_URL }}/register/">{% trans "Register" %}</a>
                            </li>
                            <li class="visible-sm-block visible-xs-block">
                                <a href="{{ settings.NEWTON_HOME_URL }}/login/">{% trans "Login" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                    <li class="visible-sm-block visible-xs-block">
                        <a href="{{ settings.NEWTON_HOME_URL }}/register/">{% trans "Register" %}</a>
                    </li>
                    <li class="visible-sm-block visible-xs-block">
                        <a href="{{ settings.NEWTON_HOME_URL }}/login/">{% trans "Login" %}</a>
                    </li>
                    {% endif %}
                    <li class="visible-sm-block visible-xs-block">
                        <label for="select-input" class='select-label'>
                            <span >{% trans "Language" %}</span>
                            <select name="" onchange="changeLanguage()" id="id_select_language">
                                {% for language_code, language_name in settings.SUPPORT_LANGUAGES %}
                                <option value="{{ language_code }}" {% if language_code|is_current_language %}selected="selected"{% endif %}>
                                    {{ language_name }}
                                </option>
                                {% endfor %}
                            </select>
                        </label>
                    </li>
                </ul>

                <ul class="nav navbar-nav  navbar-right">
                    {% if request.user.is_authenticated %}
                        {% if not request.user.is_superuser %}
                            <li class="dropdown hidden-xs hidden-sm">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span><img class="user-avator" src="{% version "images/default_avator.png" %}"/></span>
                                <ul class="dropdown-menu hidden-xs hidden-sm">
                                    <li><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/user/">{% trans "User Center" %}</a></li>
                                    <li><a style="color:black;" href="{{ settings.NEWTON_HOME_URL }}/logout/">{% trans "LogOut" %}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            {% comment %}
                            <li class="toolbar-item hidden-xs hidden-sm">
                                <a href="{{ settings.NEWTON_HOME_URL }}/register/">{% trans "Register" %}</a>
                            </li>
                            {% endcomment %}
                            <li class="toolbar-item hidden-xs hidden-sm">
                                <a href="{{ settings.NEWTON_HOME_URL }}/login/">{% trans "Login" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                    {% comment %}
                    <li class="toolbar-item hidden-xs hidden-sm">
                        <a href="{{ settings.NEWTON_HOME_URL }}/register/">{% trans "Register" %}</a>
                    </li>
                    {% endcomment %}
                    <li class="toolbar-item hidden-xs hidden-sm">
                        <a href="{{ settings.NEWTON_HOME_URL }}/login/">{% trans "Login" %}</a>
                    </li>
                    {% endif %}
                    <li class="language-drop-down visible-xs-block visible-sm-block">
                    </li>

                    <li class="dropdown language-drop-down hidden-xs hidden-sm">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img src="{% version "images/languages/languages-icon/select-language.jpg" %}"/>
                            {{ request | show_language_code}}
                            <img src="{% version "images/languages/languages-icon/arrow-down.jpg" %}"/>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                            {% for language_code, language_name in settings.SUPPORT_LANGUAGES %}
                            <li>
                                <a href="#" onclick="setLanguage('{{ language_code }}');">{{ language_name }}
                                    {% if language_code|is_current_language %}
                                    <span style="float: left" id="is_choice">
                                    <img src="{% version "images/languages/languages-icon/checked.jpg" %}" alt="" class="checked_icon">
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar -->
        </div>
    </nav>
</header><!-- end -->
<script>
    $(".dropdown").mouseenter(function(){
        $(this).addClass("open");
    });
    $(".dropdown .dropdown-menu").mouseleave(function(){
        $(".dropdown").removeClass("open");
    });
    $(".dropdown").mouseleave(function(){
        $(".dropdown").removeClass("open");
    });
</script>