{% load i18n %}
{% load utils %}


{% block require_js %}
<!-- <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script> -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

<section id="subscribe" class="section">
    <div class="container text-center">

        <div class="row">
            <div class="col-md-12">
                <h2 class="title">
                    <strong>{% trans "SUBSCRIBE TO US" %}</strong><span></span>
                </h2>
            </div>
        </div><!-- end -->
        <p>{% trans "Subscribe to Newton updates, or miss the juiciest bits!" %}</p>
        <div class="raw">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-0"></div>
            <div id="dialog" class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
        
            </div>  
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-0"></div>
        </div>
        
        <div class="text-center" style="padding: 30px;">
            <form>
                <input class="email_add" type="text" placeholder="{% trans "Email Address" %}">
				<a class="subscription-button" data-toggle="modal" data-target=".recaptcha-modal">{% trans "SUBSCRIBE" %}</a>
            </form>
        </div>
        <p class="small">{% trans "We won't share your email address or send you any spam." %}</p>
    </div>
</section><!-- end -->
<div class="modal fade recaptcha-modal" tabindex="-1" role="dialog" aria-labelledby="recaptchaModalLabel" data-backdrop="false">
	<div class="modal-dialog modal-sm" role="document" aria-hidden="true">
	  <div class="modal-content" style="width:348px;">
		  <div class="modal-body bg-warning">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">
			{% trans "Tip: To login successfully, ensure that you can access the google recaptcha service." %}
			</h4>
				<div class="form-group">
					<div class="google-recaptcha" id="google-recaptcha">
						<input type="hidden" name="google-recaptcha-name" id="id-google-recaptcha"/>
						<div class="g-recaptcha" data-sitekey="6LddrlUUAAAAACpdea_F7GTRBCzkYBoInup9WJPv" data-callback="googleCallback" data-error-callback="googleErrorCallback"></div>
					</div>
				</div>
		  </div>
	  </div>
	</div>
  </div>
{% block js %}
<script src="{% version "js/subscription.js" %}"></script>
</script>
{% endblock %}
