{% load i18n %}
{% load utils %}

<header>
    <nav class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand nav-logo page-scroll" href="/">
                    <img class="logo-pc" src="{% version "images/logo_new_style.svg" %}" alt="Newton"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" onclick="changeToggle()">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="iconfont toggle-nav"></i>
                </button>
                
            </div>

            {% if request.user.is_staff %}
            <dir class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                                投资人管理<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/">待审核</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/pass/">已通过</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/reject/">已驳回</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/deny/">已拒绝</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                                通证交换(私募)<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">待邀请</a>
                                </li>
                                <li role="presentation" class="divider"></li>

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/completed/">已邀请列表</a>
                                </li>
                                
                                <li role="presentation" class="divider"></li>

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">待分配列表</a>
                                </li>
                                
                                <li role="presentation" class="divider"></li>

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/confirm/">已填写分配列表</a>
                                </li>

                                <li role="presentation" class="divider"></li>                        
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/completed/">已确认分配列表</a>
                                </li>

                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receive/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">转币交易列表</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receiveuser/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">用户转币列表</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% comment %}
                    <li>
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                                通证交换(公募)<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">待邀请</a>
                                </li>
                                <li role="presentation" class="divider"></li>

                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/completed/">已邀请列表</a>
                                </li>

                                <li role="presentation" class="divider"></li>                        
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">待分配额度</a>
                                </li>

                                <li role="presentation" class="divider"></li>                        
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/completed/">已分配额度</a>
                                </li>
                                
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receive/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">收币确认</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
                <div class="dropdown pull-right">
                    <a class="btn" type="btn" value="Logout" href="/newtonadmin/logout/">退出</a>
                </div>
            </dir>
        </div>
        {% endif %}
    </nav>
</header><!-- end -->
