{% load i18n %}
{% load utils %}

<header>
    <nav class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">
            <div class="admin-header">
                <div class="navbar-header">
                    <a class="navbar-brand nav-logo page-scroll" href="/">
                        <img class="logo-pc" src="{% version "images/logo_newton.svg" %}" alt="Newton"/>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" onclick="changeToggle()">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="iconfont toggle-nav"></i>
                    </button>
                    
                </div>
                {% if request.user.is_staff %}
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                        代币销售<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/">身份信息确认</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/">分配额度</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/email/">待发送邮件</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/sent/">已发送邮件</a>
                        </li>

                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receive/">收币确认</a>
                        </li>

                    </ul>
                </div>
                <div class="list-btn logout">
                    <a class="btn" type="button" value="Logout" href="/newtonadmin/logout/">退出</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header><!-- end -->
