{% load i18n %}
{% load utils %}

<header id="newtonadmin">
    <nav class="navbar navbar-custom sticky-navigation NavBg bg-gray">
        <div class="container">
            <div class="admin-header">
                <div class="navbar-header">
                    <a class="navbar-brand nav-logo page-scroll" href="/">
                        <img class="logo-pc" src="{% version "images/logo_newton.svg" %}" alt="Newton"/>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" onclick="changeToggle()">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="iconfont toggle-nav"></i>
                    </button>
                    
                </div>

                {% if request.user.is_staff %}
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                        KYC<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/">待审核</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/id/pass/">已审核</a>
                        </li>
                    </ul>
                </div>
                
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                        通证交换(私募)<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">待邀请</a>
                        </li>
                        <li role="presentation" class="divider"></li>

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/completed/">邀请列表</a>
                        </li>
                        
                        <li role="presentation" class="divider"></li>

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">待分配额度</a>
                        </li>

                        <li role="presentation" class="divider"></li>                        
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/completed/">已分配额度</a>
                        </li>

                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receive/{{ codes.FUNDPHASE_PRIVATE_VALUE }}/">收币确认</a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle list-btn" id="adminDropdown" data-toggle="dropdown">
                        通证交换(公募)<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="adminDropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">待邀请</a>
                        </li>
                        <li role="presentation" class="divider"></li>

                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/invite/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/completed/">邀请列表</a>
                        </li>

                        <li role="presentation" class="divider"></li>                        
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">待分配额度</a>
                        </li>

                        <li role="presentation" class="divider"></li>                        
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/amount/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/completed/">已分配额度</a>
                        </li>
                        
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/newtonadmin/tokenexchange/receive/{{ codes.FUNDPHASE_PUBLIC_VALUE }}/">收币确认</a>
                        </li>
                    </ul>
                </div>


                <div class="list-btn logout">
                    <a class="btn" type="button" value="Logout" href="/newtonadmin/logout/">退出</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header><!-- end -->
