{% extends "email-kyc-template.html" %}
{% load i18n %}
{% load utils %}
    {% block content %}
    <p class="newton-title">{% trans "Newton Token Exchange Invite" %}</p>
    <p class="pad-t10">{% trans "Dear" %} {{ invite_info.kyc_info.first_name }}:</p>
    <p class="pad-t10">{% trans "Congratulation，you can participate in Newton first round Token Exchange, please read the detail on Newton Token Exchange carefully in Newton official website (<a href='https://www.newtonproject.org/'>www.newtonproject.org</a>) before filling in the expected amount." %}</p>
    <p class="pad-t10">{% trans "Newton only issues the announcement and notification though Newton official website (<a href='https://www.newtonproject.org/'>www.newtonproject.org</a>), please ignore messages from any other medias." %}</p>
    <p class="pad-t10">{% trans "Click the following button to fill in expected amount" %}</p>
    <p class="pad-t20"><a href="{{ target_url }}" class="button-1">{% trans "Fill in" %}</a></p>
    <p class="pad-t30">{% trans "If you received this email by mistake, simply delete it." %}</p>
    {% endblock %}