{% extends "email-template.html" %}
{% load i18n %}
{% load utils %}
    {% block content %}
    <p style="font-size: 1.5em; padding-bottom: 10px; padding-top: 10px;">{% trans "Confirm the amount" %}</p>
    <p>{% trans "Your BTC amount is:" %} {{ item.min_btc_limit}} - {{ item.max_btc_limit }}</p>
    <p>{% trans "Your ELA amount is:" %} {{ item.min_ela_limit}} - {{ item.max_ela_limit }}</p>
    <p>
        <a href="{{ target_url }}" class="button-1" style="display:block; width:215px; height:39px;line-height:39px; border-radius:4px; background-color:#535353; text-align:center; color:#fff;">
            {% trans "Confirm" %}
        </a>
    </p>
    {% endblock %}