{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="faq" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">KYC Admin ID-Confirm</caption>
                <thead>
                    <tr class="success">
                        <th><input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;All</th>
                        <th>姓名</th>
                        <th>Country</th>
                        <th>Email Address</th>
                        <th>Boolean Pass KYC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in id_list %}
                    <tr>
                        <th><input type="checkbox"> check </th>
                        <th><a href="/newtonadmin/kyc/filter-id-detail/{{ item.user.id }}/">{{ item.first_name }}&nbsp;{{ item.last_name }}</a></th>
                        <th><a href="/newtonadmin/kyc/filter-id-detail/{{ item.user.id }}/">China</a></th>
                        <th><a href="/newtonadmin/kyc/filter-id-detail/{{ item.user.id }}/">test@test.com</a></th>
                        <th><a href="/newtonadmin/kyc/filter-id-detail/{{ item.user.id }}/">False</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
{% endblock %}
