{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="faq" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">KYC Admin ID-Confirm</caption>
                <thead>
                    <tr class="success">
                        <th><input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;All</th>
                        <th>姓名</th>
                        <th>ID</th>
                        <th>How</th>
                        <th>What</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in id_list %}
                    <tr>
                        <td>
                            <input type="checkbox" /> check
                        </td>
                        <td>
                            {{ item.first_name }}&nbsp;{{ item.last_name }}
                        </td>
                        <td>
                            <img src=""/>
                        </td>
                        
                        <td>
                            {{ item.how_to_contribute }}
                        </td>
                        
                        <td>
                            {{ item.what_is_newton }}
                        </td>

                        <td>
                            <p>
                                <a class="btn btn-default" href="/newtonadmin/kyc/confirm-id/{{ item.user.id }}/?pass_kyc=1">通过</a>
                            </p>
                            
                            <p>
                                <a class="btn btn-default" href="/newtonadmin/kyc/confirm-id/{{ item.user.id }}/?pass_kyc=0">拒绝</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}

{% block inline_js %}
{% endblock %}
