{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section class="newtonadmin newtonadmin-kyc" class="section-list">
    <div class="container">
        {% include "newtonadmin/include-kyc-audit-log.html" %}
        <h3>身份详情</h3>
        {% if item.kyc_type == codes.KYC_TYPE_INDIVIDUAL_VALUE %}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>姓名 :</th>
                        <td>{{ item.first_name }} &nbsp; {{ item.last_name }}</td>
                    </tr>
                    <tr>
                        <th>证件类型: </th>
                        <td>{{ item.id_type }}</td>
                    </tr>
                    <tr>
                        <th>证件号码: </th>
                        <td>{{ item.id_number }}</td>
                    </tr>
                    <tr>
                        <th>证件照片: </th>
                        <td>
                            {% if item.id_card %}
                            <a href="{{ item.id_card.url }}" target="_blank">
                                <img src="{{ item.id_card.url }}" alt="" style="width:200px;" />
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>电话: </th>
                        <td>+{{ item.country_code }} &nbsp; {{ item.cellphone }}</td>
                    </tr>
                    <tr>
                        <th>国籍: </th>
                        <td>{{ item.country }}</td>
                    </tr>
                    <tr>
                        <th>城市: </th>
                        <td>{{ item.city }}</td>
                    </tr>
                    <tr>
                        <th>地址: </th>
                        <td>{{ item.location }}</td>
                    </tr>
                    <tr>
                        <th>自我介绍: </th>
                        <td>{{ item.personal_profile|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>自我介绍附件: </th>
                        <td>
                            {% if item.personal_profile_attachment %}
                            <a href="{{ item.personal_profile_attachment.url }}" target="_blank">
                                <img src="{{ item.personal_profile_attachment.url }}" alt="" style="width:200px;"/>
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>wechat: </th>
                        <td>{{ item.wechat|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>telegram: </th>
                        <td>{{ item.telegram|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>facebook: </th>
                        <td>{{ item.facebook|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>twitter: </th>
                        <td>{{ item.twitter|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>其他社交帐号: </th>
                        <td>{{ item.other_social_account|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>对牛顿的理解: </th>
                        <td>{{ item.what_is_newton|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>如何参与牛顿项目: </th>
                        <td>{{ item.done_for_newton|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>如何参与牛顿项目附件: </th>
                        <td>
                            {% if item.done_for_newton_attachment %}
                            <a href="{{ item.done_for_newton_attachment.url }}" target="_blank">
                                <img src="{{ item.done_for_newton_attachment.url }}" alt="" style="width:200px;"/>
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>是否竞选节点: </th>
                        <td>{{ item.is_establish_node|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>哪种节点: </th>
                        <td>{{ item.which_node_establish|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>节点计划: </th>
                        <td>{{ item.establish_node_plan|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>紧急联系人姓名: </th>
                        <td>{{ item.emergency_contact_first_name }} &nbsp; {{ item.emergency_contact_last_name }}</td>
                    </tr>
                    <tr>
                        <th>紧急联系人电话: </th>
                        <td>{{ item.emergency_contact_cellphone }}</td>
                    </tr>
                    <tr>
                        <th>紧急联系人国籍: </th>
                        <td>{{ item.emergency_country }}</td>
                    </tr>
                    <tr>
                        <th>紧急联系人城市: </th>
                        <td>{{ item.emergency_city }}</td>
                    </tr>
                    <tr>
                        <th>紧急联系人地址: </th>
                        <td>{{ item.emergency_location }}</td>
                    </tr>
                    <tr>
                        <th>与紧急联系人关系: </th>
                        <td>{{ item.emergency_relationship }}</td>
                    </tr>
                    <tr>
                        <th>申请时间: </th>
                        <td>{{ item.updated_at|date:"Y-m-d H:i:s"}}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>机构名称:</th>
                        <td>{{ item.orgnization_name }}</td>
                    </tr>
                    <tr>
                        <th>机构代码:</th>
                        <td>{{ item.orgnization_code }}</td>
                    </tr>
                    <tr>
                        <th>机构证明文件1:</th>
                        <td>
                            {% if item.orgnization_certificate1 %}
                            <a href="{{ item.orgnization_certificate1.url }}" target="_blank">
                                <img src="{{ item.orgnization_certificate1.url }}" alt="" style="width:200px;"/>
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>机构证明文件2:</th>
                        <td>
                            {% if item.orgnization_certificate2 %}
                            <a href="{{ item.orgnization_certificate2.url }}" target="_blank">
                                <img src="{{ item.orgnization_certificate2.url }}" alt="" style="width:200px;" />
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>注册国家:</th>
                        <td>{{ item.country }}</td>
                    </tr>
                    <tr>
                        <th>联系人姓名:</th>
                        <td>{{ item.first_name }} &nbsp; {{ item.last_name }}</td>
                    </tr>
                    <tr>
                        <th>电话:</th>
                        <td>+{{ item.country_code }} &nbsp; {{ item.cellphone }}</td>
                    </tr>
                    <tr>
                        <th>机构介绍:</th>
                        <td>{{ item.personal_profile|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>机构介绍附件:</th>
                        <td>
                            {% if item.personal_profile_attachment %}
                            <a href="{{ item.personal_profile_attachment.url }}" target="_blank">
                                <img src="{{ item.personal_profile_attachment.url }}" alt="" style="width:200px;" />
                            </a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>机构微信公众号名称:</th>
                        <td>{{ item.wechat_platform_name|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>facebook:</th>
                        <td>{{ item.facebook|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>twitter:</th>
                        <td>{{ item.twitter|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>其他社交帐号:</th>
                        <td>{{ item.other_social_account|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>对牛顿的理解:</th>
                        <td>{{ item.what_is_newton|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>如何参与牛顿:</th>
                        <td>{{ item.done_for_newton|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>如何参与牛顿附件:</th>
                        <td>
                        {% if item.done_for_newton_attachment %}
                        <a href="{{ item.done_for_newton_attachment.url }}" target="_blank">
                            <img src="{{ item.done_for_newton_attachment.url }}" alt="" style="width:200px;" />
                        </a>
                        {% else %}
                        -
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>是否竞选节点:</th>
                        <td>{{ item.is_establish_node|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>哪种节点:</th>
                        <td>{{ item.which_node_establish|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>节点计划:</th>
                        <td>{{ item.establish_node_plan|default:"-" }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
            
            {% if item.status == codes.KYC_STATUS_CANDIDATE_VALUE %}
            <p>
                <a href="#" class="btn btn-danger" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
            </p>
            {% endif %}

            {% if is_paginated %}
            <div class="pagination-simple">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            </div>
            {% endif %}

    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ID审核</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="#" id="id_form">
                    <p>
                        <label>评分</label>
                        <select name="level" id="level">
                            {% for level in item.level_choices %}
                            <option value="{{ level }}">{{ level }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label>注释</label>
                        <textarea name="comment" id="id_comment" cols="50" rows="3"></textarea>
                    </p>
                    <p>
                        <button class="btn btn-default" type="button" id="pass_button">通过</button>
                        <button class="btn btn-default" type="button" id="reject_button">驳回</button>
                        <button class="btn btn-default" type="button" id="deny_button">拒绝</button>
                    </p>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}

{% block inline_js %}
{% endblock %}
{% block js %}
<script src="{% version "js/newtonadmin.js" %}" type="text/javascript"></script>
{% endblock %}
