{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="newtonadmin" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">审核身份</caption>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>介绍</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>姓名 : {{ item.first_name }} &nbsp; {{ item.last_name }}</p>
                            <p>电话: +{{ item.country_code }} {{ item.cellphone }}</p>
                            <p>国籍:{{ item.country }}</p>
                            <p>城市:{{ item.city }}</p>
                            <p>地址:{{ item.location }}</p>
                            <p>证件类型:{{ item.id_type }}</p>
                            <p>证件照片:<img src="{{ item.id_card.url }}" alt=""></p>
                            <p>证件号码:{{ item.id_number }}</p>
                            <p>自我介绍:{{ item.personal_profile }}</p>
                            <p>自我介绍附件:<img src="{{ item.personal_profile_attachment.url }}" alt=""></p>
                            <p>wechat:{{ item.wechat }}</p>
                            <p>telegram:{{ item.telegram }}</p>
                            <p>facebook:{{ item.facebook }}</p>
                            <p>twitter:{{ item.twitter }}</p>
                            <p>其他社交帐号:{{ item.other_social_account }}</p>
                            <p>参加社区:{{ item.your_community }}</p>
                            {% if item.your_community_screenshots1 %}
                            <p>社群截图1:<img src="{{ item.your_community_screenshots1.url }}" alt=""></p>
                            {% endif %}
                            {% if item.your_community_screenshots2 %}
                            <p>社群截图2:<img src="{{ item.your_community_screenshots2.url }}" alt=""></p>
                            {% endif %}
                            {% if item.your_community_screenshots3 %}
                            <p>社群截图3:<img src="{{ item.your_community_screenshots3.url }}" alt=""></p>
                            {% endif %}
                            <p>对牛顿的理解:{{ item.what_is_newton }}</p>
                            <p>为牛顿做过什么:{{ item.done_for_newton }}</p>
                            <p>为牛顿做过什么附件:{{ item.done_for_newton_attachment }}</p>
                            <p>准备为牛顿做什么:{{ item.do_for_newton }}</p>
                            <p>是否成为节点:{{ item.is_establish_node }}</p>
                            <p>哪种节点:{{ item.which_node_establish }}</p>
                            <p>紧急联系人姓名:{{ item.emergency_contact_first_name }} + {{ item.emergency_contact_last_name }}</p>
                            <p>紧急联系人电话:{{ item.emergency_contact_cellphone }}</p>
                            <p>紧急联系人国籍:{{ item.emergency_country }}</p>
                            <p>紧急联系人城市:{{ item.emergency_city }}</p>
                            <p>紧急联系人地址:{{ item.emergency_location }}</p>
                            <p>与紧急联系人关系:{{ item.emergency_relationship }}</p>
                            <p>申请时间:{{ item.updated_at|date:"Y-m-d H:i:s"}}</p>
                        </td>
                        {% comment %}
                        <td>
                            <p>
                                <a href="#" class="btn btn-default" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
                            </p>
                        </td>
                        {% endcomment %}
                    </tr>
                    
                </tbody>
            </table>
            <p>
                <a href="#" class="btn btn-default" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
            </p>

            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ID审核</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="#" id="id_form">
                    <p>
                        <label>评级</label>
                        <select name="level" id="level">
                            <option value="1">普通</option>
                            <option value="2">良好</option>
                            <option value="3">优秀</option>
                        </select>
                    </p>
                    <p>
                        <label>注释</label>
                        <textarea name="comment" id="id_comment" cols="50" rows="3"></textarea>
                    </p>
                    <p>
                        <button class="btn btn-default" type="button" id="pass_button">通过</button>
                        <button class="btn btn-default" type="button" id="reject_button">拒绝</button>
                    </p>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->             


{% endblock %}

{% block inline_js %}
{% endblock %}
{% block js %}
<script src="{% version "js/newtonadmin.js" %}"></script>
{% endblock %}
