{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}
{% load tokenexchange_tags %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="newtonadmin" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">审核</caption>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>介绍</th>
                        <th>申请时间</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    {% block kyc_id_list %}
                    <tr>
                        <td>
                            <p>{% trans "Name" %} : {{ item.first_name }} &nbsp; {{ item.last_name }}</p>
                            <p>{% trans "Cellphone" %}: +{{ item.country_code }} {{ item.cellphone }}</p>
                            <p>{% trans "Country" %}:{{ item.country }}</p>
                            <p>{% trans "City" %}:{{ item.city }}</p>
                            <p>{% trans "Address" %}:{{ item.location }}</p>
                            <p>{% trans "ID Type" %}:{{ item.id_type }}</p>
                            <p>{% trans "ID Number" %}:{{ item.id_number }}</p>
                        </td>
                        <td>
                            <p>
                                <img src="{{ item.id_card.url }}" style="width: 300px"/>
                            </p>
                        </td>
                        
                        <td>
                            <p>
                                {{ item.updated_at|date:"Y-m-d H:i:s"}}
                            </p>                            
                        </td>
                        <td>
                            {% block operate %}
                            <p>
                                <a href="/newtonadmin/tokenexchange/id/{{ item.user_id }}/" class="btn btn-default">详情</a>
                            </p>
                            <p>
                                <a href="#" class="btn btn-default" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
                            </p>
                            {% endblock %}
                        </td>
                        {% comment %}
                        <td>
                            <p>
                                <a href="#" class="btn btn-default" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
                            </p>
                        </td>
                        {% endcomment %}
                    </tr>
                    {% endblock %}
                    {% endfor %}
                    
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ID审核</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="#" id="id_form">
                    <p>
                        <label>评分</label>
                        <select name="level" id="level">
                            {% for level in level_choices %}
                            <option value="{{ level }}">{{ level }}</option>
                            {% endfor %}
                            <!-- <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option> -->
                        </select>
                    </p>
                    <p>
                        <label>注释</label>
                        <textarea name="comment" id="id_comment" cols="50" rows="3"></textarea>
                    </p>
                    <p>
                        <button class="btn btn-default" type="button" id="pass_button">通过</button>
                        <button class="btn btn-default" type="button" id="reject_button">驳回</button>
                        <button class="btn btn-default" type="button" id="deny_button">拒绝</button>
                    </p>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->             


{% endblock %}

{% block inline_js %}
{% endblock %}
{% block js %}
<script src="{% version "js/newtonadmin.js" %}"></script>
{% endblock %}
