{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}
{% load tokenexchange_tags %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section class="newtonadmin" class="section-list">
    <div class="container">
        <div class="table-responsive content">
            <h3>{{ title }}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>类型</th>
                        <th>介绍</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            {% if item.kyc_type == 1 %}
                            <p>{{ item.first_name }} &nbsp; {{ item.last_name }}</p>
                            {% else %}
                            <p>{{ item.orgnization_name }}</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.kyc_type == 1 %}
                            个人
                            {% else %}
                            机构
                            {% endif %}
                        </td>
                        <td>
                            {% if item.kyc_type == 1 %}
                            <p>
                                <label>{% trans "Cellphone" %}:</label>{{ item.country_code }} {{ item.cellphone }}
                            </p>
                            <p>
                                <label>{% trans "Country" %}:</label>{{ item.country }}
                            </p>
                            <p>
                                <label>{% trans "City" %}:</label>{{ item.city }}
                            </p>
                            <p>
                                <label>{% trans "Address" %}:</label>{{ item.location }}
                            </p>
                            <p>
                                <label>{% trans "ID Type" %}:</label>{{ item.id_type }}
                            </p>
                            <p>
                                <label>{% trans "ID Number" %}:</label>{{ item.id_number }}
                            </p>
                            {% else %}
                            <p>机构代码:{{ item.orgnization_code }}</p>
                            {% if item.orgnization_certificate1 %}
                            <p>机构资格证书1:<img src="{{ item.orgnization_certificate1.url }}" alt=""></p>
                            {% else %}
                            <p>机构资格证书1:-</p>
                            {% endif %}
                            {% if item.orgnization_certificate2 %}
                            <p>机构资格证书2:<img src="{{ item.orgnization_certificate2.url }}" alt=""></p>
                            {% else %}
                            <p>机构资格证书2:-</p>
                            {% endif %}
                            <p>注册国家:{{ item.country }}</p>
                            <p>联系人姓名:{{ item.first_name }} &nbsp; {{ item.last_name }} &nbsp; </p>
                            <p>电话: +{{ item.country_code }} {{ item.cellphone }}</p>
                            {% endif %}
                            <p>
                                {% if item.id_card %}
                                <img src="{{ item.id_card.url }}" style="width: 300px"/>
                                {% endif %}
                            </p>
                            <p>
                                <a href="/newtonadmin/tokenexchange/id/{{ item.user_id }}/" class="btn btn-default" target="_blank">详情</a>
                            </p>
                        </td>
                        
                        <td>
                            <p>
                                {{ item.updated_at|date:"Y-m-d H:i:s"}}
                            </p>                            
                        </td>
                        <td>
                            {% if is_idlist %}
                            <p>
                                <a href="#" class="btn btn-default" onclick="javascript:openAuditIdPopuWindow({{ item.user_id }});">审核</a>
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ID审核</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="#" id="id_form">
                    <p>
                        <label>评分</label>
                        <select name="level" id="level">
                            {% for level in level_choices %}
                            <option value="{{ level }}">{{ level }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label>注释</label>
                        <textarea name="comment" id="id_comment" cols="50" rows="3"></textarea>
                    </p>
                    <p>
                        <button class="btn btn-default" type="button" id="pass_button">通过</button>
                        <button class="btn btn-default" type="button" id="reject_button">驳回</button>
                        <button class="btn btn-default" type="button" id="deny_button">拒绝</button>
                    </p>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->             


{% endblock %}

{% block inline_js %}
{% endblock %}
{% block js %}
<script src="{% version "js/newtonadmin.js" %}"></script>
{% endblock %}
