{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="faq" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">审核身份</caption>
                <thead>
                    <tr class="success">
                        <th><input type="checkbox">&nbsp;&nbsp;&nbsp;&nbsp;All</th>
                        <th>姓名</th>
                        <th>ID</th>
                        <th>How</th>
                        <th>What</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <input type="checkbox" /> check
                        </td>
                        <td>
                            {{ item.first_name }}&nbsp;{{ item.last_name }}
                        </td>
                        <td>
                            <img src=""/>
                        </td>
                        
                        <td>
                            {{ item.how_to_contribute }}
                        </td>
                        
                        <td>
                            {{ item.what_is_newton }}
                        </td>

                        <td>
                            <p>
                                <a class="btn btn-default" href="#" onclick="javascript:popupWindow({{ item.user.id }})">审核</a>
                            </p>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="id-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ID审核</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/newtonadmin/tokensale/id/confirm/" id="id_form">
                    <p>
                        <label>评级</label>
                        <select name="level">
                            <option value="1">普通</option>
                            <option value="2">良好</option>
                            <option value="3">优秀</option>
                        </select>
                    </p>
                    
                    <p>
                        <input type="hidden" id="pass_kyc" name="pass_kyc" value=""/>
                        <input type="hidden" id="user_id" name="user_id" value=""/>
                        <button class="btn btn-default" type="button" id="pass_button">通过</button>
                        <button class="btn btn-default" type="button" id="reject_button">拒绝</button>
                    </p>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->             

{% endblock %}

{% block inline_js %}
<script language="javascript">
function popupWindow(user_id) {
  $('#user_id').val(user_id);
  $('#id-modal').modal('show');
  $('#pass_button').click(function(event){
    event.preventDefault();
    $('#pass_kyc').val("1");
    $('#id_form').submit();
  });
  $('#reject_button').click(function(event){
    event.preventDefault();
    $('#pass_kyc').val("0");
    $('#id_form').submit();
  });
}
</script>
{% endblock %}
