{% load i18n %}
{% load utils %}

<div class="well">
	<form action="">
	    {% include "form.html" with form=query_form %}
	    <div class="form-group">
	        <button type="bumit" class="btn btn-primary">查询</button>
	    </div>
	</form>
</div>

<div class="well">
	<form action="">
		<div class="form-group"> 
			<p>
				<label for="id_email" class="control-label">请输入查询邮件 <span class="red-color"></span>
				</label>
			</p>
			<div>
				<input class="form-control" id="id_email" name="email" placeholder="请输入查询邮件" type="text" {% if email %} value="{{ email }}" {% endif %}>
			</div>
		</div>
	    <div class="form-group">
				<button type="bumit" class="btn btn-primary">查询</button>
			</div>
	</form>
</div>