{% load i18n %}
{% load utils %}
{% load newtonadmin_tags %}

<h3>审核历史</h3>
<table class="table table-bordered">
    <thead>
        <th>审核时间</th>
        <th>操作人</th>
        <th>审核结果</th>
    </thead>
    <tbody>
        {% for audit_log in audit_logs %}
        <tr>
            <td>{{ audit_log.created_at|date:"Y-m-d H:i:s" }}</td>
            <td>{% show_audit_email audit_log.user_id %}</td>
            <td>{% show_audit_operation audit_log.action_id %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>