{% load i18n %}
{% load utils %}

<div class="well">
  <h3>BTC</h3>
  <p>
  	<label>BTC总额度:</label> <span class="text-danger" style="font-size:20px;">{{ total_btc_amount }}</span>
  </p>
  <p>
  	<label>BTC已分配额度:</label> <span class="text-danger" style="font-size:20px;"> {{ total_assign_btc }}</span>
  </p>
  <p>
  	<label>BTC剩余额度:</label> <span class="text-danger" style="font-size:20px;"> {{ btc_remain_amount }}</span>
  </p>
</div>

<div class="well">
  <h3>ELA</h3>
  <p>
  	<label>ELA总额度:</label> <span class="text-danger" style="font-size:20px;">{{ total_ela_amount }}</span>
  </p>
  <p>
  	<label>ELA已分配额度:</label> <span class="text-danger" style="font-size:20px;"> {{ total_assign_ela }}</span>
  </p>
  <p>
  	<label>ELA剩余额度:</label> <span class="text-danger" style="font-size:20px;"> {{ ela_remain_amount }}</span>
  </p>
</div>