{% extends "email-template.html" %}
{% load i18n %}
{% load utils %}

{% block content %}
    {% if kyc_info.status == codes.KYC_STATUS_PASS_KYC_VALUE %}
        <p style="font-size: 1.5em; padding-bottom: 10px; padding-top: 10px;">
            {% trans "KYC review success" %}
        </p>
        <p>{{ kyc_info.first_name }}, {% trans "welcome!" %}</p>
        <p>{% trans "Congratulations, you have passed Newton KYC reviewing." %}</p>
        <p>{% trans "Please pay attention to our subsequent notification later on." %}</p>
    {% endif %}

    {% if kyc_info.status == codes.KYC_STATUS_REJECT_VALUE %}
        <p style="font-size: 1.5em; padding-bottom: 10px; padding-top: 10px;">
            {% trans "KYC review rejected" %}
        </p>
        <p>{% trans "We'd like to apologize that you haven't passed Newton KYC reviewing." %}</p>

        {% if is_show_comment %}
            <p>{% trans "Reason" %}: {{ kyc_info.kyc_audit.comment }}</p>
        {% endif %}

        <p>{% trans "You can check and modify the contents you fill into KYC information page carefully, and try to submit again." %}</p>
        <p style="padding-top:20px;">
            <a href="{{ target_url }}" class="button-1" style="display:block; width:215px; height:39px;line-height:39px; border-radius:4px; background-color:#535353; text-align:center; color:#fff;">
                {% trans "Fill in KYC information again" %}
            </a>
        </p>

    {% endif %}

    {% if kyc_info.status == codes.KYC_STATUS_DENY_VALUE %}
        <p style="font-size: 1.5em; padding-bottom: 10px; padding-top: 10px;">
            {% trans "KYC review denied" %}
        </p>
        <p>{% trans "We'd like to apologize that you haven't passed Newton KYC reviewing." %}</p>

        {% if is_show_comment %}
            <p>{% trans "Reason" %}: {{ kyc_info.kyc_audit.comment }}</p>
        {% endif %}
    {% endif %}

{% endblock %}