{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="login" class="section-list">
    <div class="login-title container text-center">
        <h2>{% trans "Login" %}</h2>
    </div>
    <div class="container">
        <form class="form" action="/newtonadmin/login/post/" method="POST">
            {% csrf_token %}
            {% include "form.html" %}
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div>
                    <button class="form-button" type="submit">{% trans "Login" %}</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
