{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="login" class="section-list">
		<div class="page-title">
			<div class="container">
				<p>{% trans "Login Newton Admin" %}</p>
			</div>
		</div>
        <div class="container">
            <div class="text-center" style="padding: 30px;">
                <form action="/newtonadmin/login/post/" method="POST">
                    {% csrf_token %}
                    {% include "form.html" %}
                    <a><input class="subscription-button" type="submit" value="Login"></a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
