{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="newtonadmin" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">审核身份</caption>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>介绍</th>
                        <th>审核时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <p>{% trans "Name" %} : {{ item.first_name }} &nbsp; {{ item.last_name }}</p>
                            <p>{% trans "Email" %} :  {{ item.user.email }}</p>
                            <p>{% trans "Cellphone" %}: +{{ item.country_code }} {{ item.cellphone }}</p>
                            <p>{% trans "Country" %}:{{ item.country }}</p>
                            <p>{% trans "Emergency Contact Name" %}:{{ item.emergency_contact_first_name }}{{ item.emergency_contact_last_name }}</p>
                            <p>{% trans "Emergency Contact Cellphone" %}:+{{ item.emergency_contact_country_code }} {{ item.emergency_contact_cellphone }}</p>
                            <p>{% trans "RelationShip" %}:{{ item.relationships_with_emergency_contacts }}</p>
                            <p>{% trans "Describe yourself & how you can help as a community member" %}:{{ item.how_to_contribute }}</p>
                            <p>{% trans "Tell us your understanding about Newton" %}:{{ item.what_is_newton }}</p>
                        </td>
                        <td>
                            <p>
                                <img src="{{ item.id_card.url }}"/>
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ item.updated_at|date:"Y-m-d H:i:s"}}
                            </p>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
