{% extends "email-template.html" %}
{% load i18n %}
{% load utils %}


{% block title %}
<h1>{% trans "We have received your invest." %}</h1>
{% endblock %}

{% block content %}
<p class="main-color">{% trans "Dear" %} {{ receive_info.kyc_info.first_name }},</p>
<p class="main-color">
    {% if receive_info.address_type == 1 %}
    {% trans "we had received" %} {{ receive_info.value }} BTC {% trans "thanks very much!" %}
    {% endif %}
    {% if receive_info.address_type == 2 %}
    {% trans "we had received" %} {{ receive_info.value }} ELA {% trans "thanks very much!" %}
    {% endif %}
</p>
{% endblock %}
