{% extends "email-template.html" %}
{% load i18n %}
{% load utils %}

{% block content %}
<h2>{% trans "Receive Transferring Notification" %}</h2>
<p class="pad-t10">
    {% trans "Newton foundation has received your"%}
    {% if receive_info.btc_value %}
    {{ receive_info.btc_value }} BTC
    {% endif %}
    {% if receive_info.ela_value %}
    {% trans "and" %} {{ receive_info.ela_value }} ELA
    {% endif %}
    {% trans ", we would like to express our sincere gratitude to your contribution in the Newton community." %}</p>
{% endblock %}
