{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section class="section-list newtonadmin">
    <div class="container">
        <h3>转币交易列表<span class="">(每30分钟自动查询一次)</h3>
        <div class="raw table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>电子邮箱</th>
                        <th>收币地址</th>
                        <th>币种</th>
                        <th>数量</th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.user.email }}</td>
                        <td>
                            {{ item.address }}
                        </td>
                        <td>
                            {% ifequal item.address_type  1 %}
                            BTC &nbsp;&nbsp;<a href="https://blockchain.info/address/{{ item.address }}">查询</a>
                            {% endifequal %}
                            {% ifequal item.address_type  2 %}
                            ELA &nbsp;&nbsp;<a href="https://blockchain.elastos.org/address/{{ item.address }}">查询</a>
                            {% endifequal %}
                        </td>
                        <td>
                            {{ item.value }}
                            {% ifequal item.address_type  1 %}
                            BTC
                            {% endifequal %}

                            {% ifequal item.address_type  2 %} 
                            ELA
                            {% endifequal %}
                        </td>
                        <td>
                            {{ item.updated_at|date:"Y-m-d H:i:s"}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-container">
                {% if is_paginated %}
                <div class="pagination-simple">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block inline_js %}
{% endblock %}
