{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="faq" class="section-list">
    <div class="container" style="width:100%;">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">收币确认列表<span class="">(每30分钟自动查询一次)<span></caption>
                <thead>
                    <tr>
                        <th><input id="all-check-receive-coin" name="all-check-receive-coin" type="checkbox"/>&nbsp;&nbsp;全选</th>
                        <th>姓名</th>
                        <th>收币地址</th>
                        <th>币种</th>
                        <th>数量</th>
                        <th>时间</th>
                        <th>发送收币确认邮件</th>
                        <th>是否已经发送邮件</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><input id="item-check-{{ forloop.counter }}" type="checkbox" name="item-check-{{ forloop.counter }}" value="{{ item.address }}"/>&nbsp;&nbsp;选择</td>
                        <td></td>
                        <td>
                            {{ item.address }}
                        </td>
                        <td>
                            {% ifequal item.address_type  1 %}
                            BTC &nbsp;&nbsp;<a href="https://blockchain.info/address/{{ item.address }}">查询</a>
                            {% endifequal %}
                            {% ifequal item.address_type  2 %}
                            ELA &nbsp;&nbsp;<a href="https://blockchain.elastos.org/address/{{ item.address }}">查询</a>
                            {% endifequal %}
                        </td>
                        <td>
                            {{ item.value }}
                            {% ifequal item.address_type  1 %}
                            BTC
                            {% endifequal %}

                            {% ifequal item.address_type  2 %} 
                            ELA
                            {% endifequal %}
                        </td>
                        <td>
                            {{ item.updated_at|date:"Y-m-d H:i:s"}}
                        </td>
                        <td>
                            <a href="#" class="btn btn-default" onclick="javascript:sendPerEmail('{{ item.address }}');">发送</a>
                        </td>
                         <td>
                             {% if item.status == 3 %}
                             已发送
                             {% else %}
                             未发送
                             {% endif %}
                         </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="form-button" onclick="sendEmailForReceivedCoin();">批量发送</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="form-container">
                {% if is_paginated %}
                <div class="pagination-simple">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    var phase_id = {{ phase_id }};
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/newtonadmin.js" %}"></script>
{% endblock %}

