{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="newtonadmin" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">待邀请投资者列表</caption>
                <thead>
                    <tr>
                        <th><input id="all-check" name="all-check" type="checkbox"/>&nbsp;&nbsp;全选</th>
                        <th>姓名</th>
                        <th>介绍</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><p><input id="item-check-{{ forloop.counter }}" type="checkbox" name="item-check-{{ forloop.counter }}" value="{{ item.user.id }}"/>&nbsp;&nbsp;选择</p></td>
                        <td>
                            <p>{{ item.user.first_name }} &nbsp; {{ item.user.last_name }}</p>
                            <p>{{ item.user.email }}</p>
                        </td>
                        <td>
                            <p>
                                <img src="{{ item.id_card.url }}"/>
                            </p>
                            <p>
                                {{ item.how_to_contribute }}                                
                            </p>
                            <p>
                                {{ item.what_is_newton }}
                            </p>
                        </td>
                        <td>
                            <a href="#" class="btn btn-default" onclick="javascript:popupWindow({{ item.user.id }});">发送邀请</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="form-button" onclick="inviteChecked();">邀请选中</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script language="javascript">
function popupWindow(user_id) {
    var data = {};
    var user_list = [user_id];
    user_list = user_list.join(",");
    data.user_list = user_list;
    $.post('/newtonadmin/tokenexchange/invite/{{ phase_id }}/post/', 
        data, 
        function(json){
        if (json['error_code'] == 1) {
            alert('success');
            location.reload();
        } else {
            alert(json['error_message']);
        }
    });
}

$("#all-check").change(function(){
    var isAllCheck = $("#all-check")[0].checked;
    if(isAllCheck){
        // all Check
        var checkboxes = $("input[type='checkbox']")
        for(var i = 0; i < checkboxes.length; i++){
            checkboxes[i].checked = true;
        }
    }else{
        // cancel all check
        var checkboxes = $("input[type='checkbox']")
        for(var i = 0; i < checkboxes.length; i++){
            checkboxes[i].checked = false;
        }
    }
});
function inviteChecked(){
    var user_list = [];
    var checkboxes = $("input[type='checkbox']")
    for(var i = 0; i < checkboxes.length; i++){
        var checkbox = checkboxes[i]
        if(checkbox.checked){
            var value = checkbox.value
            if(value != "on"){
                user_list.push(value);
            }
        }
    }
    user_list = user_list.join(",");
    var data = {}
    data.user_list = user_list;
    $.post("/newtonadmin/tokenexchange/invite/{{ phase_id }}/post/",data,function(json){
        if (json['error_code'] == 1) {  
            alert('success');
            location.reload();
        } else {
            alert(json['error_message']);
        }
    });
    
}
</script>
{% endblock %}
