{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section id="newtonadmin" class="section-list">
    <div class="container">
        <div class="raw table-responsive content">
            <table class="table">
                <caption class="text-center">待邀请投资者列表</caption>
                <thead>
                    <tr>
                        <th><input id="all-check-pre-invite" name="all-check-pre-invite" type="checkbox"/>&nbsp;&nbsp;全选</th>
                        <th>姓名</th>
                        <th>介绍</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><p><input id="item-check-{{ forloop.counter }}" type="checkbox" name="item-check-{{ forloop.counter }}" value="{{ item.user.id }}"/>&nbsp;&nbsp;选择</p></td>
                        <td>
                            <p>{{ item.user.first_name }} &nbsp; {{ item.user.last_name }}</p>
                            <p>{{ item.user.email }}</p>
                        </td>
                        <td>
                            <p>
                                <img src="{{ item.id_card.url }}"/>
                            </p>
                            <p>
                                {{ item.how_to_contribute }}                                
                            </p>
                            <p>
                                {{ item.what_is_newton }}
                            </p>
                        </td>
                        <td>
                            <a href="#" class="btn btn-default" onclick="javascript:preInviteUser({{ item.user.id }});">移至邀请列表</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><button class="form-button" onclick="preInviteSelectedUser();">移动选中</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% if is_paginated %}
            <div class="pagination-simple">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}
            <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
var phase_id = {{ phase_id }};
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/newtonadmin.js" %}"></script>
{% endblock %}
