{% extends "newtonadmin/base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC Admin" %}
{% endblock %}

{% block content %}
<section class="section-list newtonadmin">
    <div class="container">
        <h3>{% if is_sent %} 已发送转币确认用户列表{% else %} 用户转币列表 {% endif %}</h3>
        <div class="raw table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        {% if not is_sent %}
                        <th><input id="all-check-receive-coin" name="all-check-receive-coin" type="checkbox"/>&nbsp;&nbsp;全选</th>
                        {% endif %}
                        <th>姓名</th>
                        <th>期望额度</th>
                        <th>分配额度</th>
                        <th>收币地址及数量</th>
                        <th>是否一致</th>
                        <th>时间</th>
                        <th>是否已经发送邮件</th>
                        {% if not is_sent %}
                        <th>发送收币确认邮件</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        {% if not is_sent %}
                        <td>
                            <input id="item-check-{{ forloop.counter }}" type="checkbox" name="item-check-{{ forloop.counter }}" value="{{ item.user_id }}"/>&nbsp;&nbsp;选择
                        </td>
                        {% endif %}
                        <td>
                            {{ item.user.email }}
                        </td>
                        <td>
                            {{ item.expect_btc }}&nbsp;BTC
                        </td>
                        <td>
                            {{ item.assign_btc }}&nbsp;BTC
                        </td>
                        <td>
                            {% if item.btc_value %}
                            <p>{{ item.receive_btc_address }} : <span class="text-danger">{{ item.btc_value }} BTC</span></p>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.btc_vlue == item.expect_btc %}
                            <span class="text-success">一致</span>
                            {% else %}
                            <span class="text-danger">不一致</span> 
                            {% endif %}
                        </td>
                        <td>
                            {{ item.updated_at|date:"Y-m-d H:i:s"}}
                        </td>
                        <td>
                            {% if item.status == codes.TOKEN_EXCHANGE_STATUS_SEND_TRANSFER_NOTIFY_VALUE %}
                            已发送
                            {% else %}
                            未发送
                            {% endif %}
                        </td>
                        {% if not is_sent %}
                        <td>
                            <a href="#" class="btn btn-default" onclick="javascript:sendPerEmail('{{ item.user_id }}');">发送</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-container">
                {% if is_paginated %}
                <div class="pagination-simple">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">{{ page_obj.number }}/{{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
                </div>
                {% endif %}
            </div>
            {% if not items %}
            <div class="well text-center">
                还没有数据
            </div>
            {% else %}
            {% if not is_sent %}
            <div class="well">
                <button class="btn btn-primary" onclick="sendEmailForReceivedCoin();">批量发送</button>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    var phase_id = {{ phase_id }};
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/newtonadmin.js" %}" type="text/javascript"></script>
{% endblock %}

