{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block content %}
<section id="login" class="section-list">
		<div class="page-title">
			<div class="container">
				<p>{% trans "Login" %}</p>
			</div>
		</div>
        <div class="container">
            <div class="text-center" style="padding: 30px;">
                <form action="/login/post/" method="POST">
                    {% csrf_token %}
                    <p><label for="email">{% trans "Email" %}:&nbsp;&nbsp;</label>
                        <input name="email" placeholder="Email"></p>
                    <p><label for="password">{% trans "Password" %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                        <input name="password" pl   aceholder="Password"></p>
                    <a><input class="subscription-button" type="submit" value="Login"></a>
                    <p style="padding-top:20px;"><a href="/reset/" >{% trans "重置密码" %}</a></p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}
