{% extends "base.html" %} 
{% load i18n %}
{% load utils %} 
{% block title %} 
{% trans "Login" %} 
{% endblock %} 
{% block require_js %}
<script src='https://www.google.com/recaptcha/api.js' async defer></script> 
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block content %}
<section id="login" class="section-list">
    <div class="login-title container text-center">
        <h2>{% trans "Login" %}</h2>
    </div>
    <div class="container">
        <form action="#" method="POST" id="login_form">
            {% csrf_token %}
            {% include "form.html" %}
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div class="form-group">
                    <div class="google-recaptcha" id="google-recaptcha">
                        <div class="g-recaptcha" data-sitekey="6LddrlUUAAAAACpdea_F7GTRBCzkYBoInup9WJPv" data-callback="googleCallback"></div>
                    </div>
                </div>
            </div>
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <button class="form-button" style="color:#fff;" type="submit">{% trans "Login" %}</button>
                </div>
            </div>
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div class="space-between">
                    <a class="register" href="/register/">{% trans "Register" %}</a>
                    <a class="reset" href="/reset/">{% trans "Forget Password" %}</a>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="code-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center">{% trans "Google Authenticator Code" %}</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group">
                        <label for="gtoken-code" id="id-gtoken-code-label">{% trans "Google Authenticator Code" %}</label>
                        <input id="id-gtoken" name="gtoken" />
                    </div>
                    <div>
                        <button id="gtoken-submit-button" style="color:#fff;" class="form-button" value="{% trans 'Submit' %}">{% trans "Submit" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}

{% block js %}
<script src="{% version "js/login.js" %}"></script>
{% endblock %}

