{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "Add Google Authenticator" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list">
    <div class="reset-title container text-center">
        <h2>{% trans "Add Google Authenticator" %}</h2>
    </div>
    
    <div class="container text-center">
        <div>
            <p>{% trans "Scan the QR code or Enter the  code manually into your GA app" %}</p>
        </div>
        <div>
            <p>{% trans "Apple users recommend to download the Authenticator in the App Store, and android users recommend the Google Authenticator to Google Play." %}</p>
        </div>
        <div>
            <p>{% trans "Please be sure to keep the key or qr code to avoid any inconvenience." %}</p>
        </div>
    </div>
    <div class="container">
        <div class="form-container">
            <form id="set-gtoken-form" class="form" action="/register/post-gtoken/" method="POST">
                {% csrf_token %}
                <input id="email" name="email" type="hidden" value="{{ email }}"/>
                <input id="password" name="password" type="hidden" value="{{ password }}"/>
                <input id="uuid" name="uuid" type="hidden" value="{{ uuid }}"/>
                <input id="gtoken" name="gtoken" type="hidden" value="{{ gtoken }}"/>
                <input id="auth_token" name="auth_token" type="hidden" value="{{ auth_token }}"/>
                <div class="form-group">
                    <label for="id_gtoken" class="control-label">{% trans "Enter the  code manually into your GA app" %}</label>
                    <div id="key">{{ gtoken }}</div>
                </div>
                <div class="form-group">
                    <label>{% trans "Or"  %}</label>
                </div>
                <div class="form-group">
                    <label for="id_gtoken" class="control-label">{% trans "Use the GA app to scan the QR code" %}</label>
                    <div id="code"></div> 
                </div>
                {% include "form.html" %}
                <div class="form-group">
                    <button class="form-button" type="submit">{% trans "Submit" %}</button>
                </div>
            </form>
        </div>   
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    new QRCode(document.getElementById("code"), "{{ gtoken_uri }}");
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/register.js" %}"></script>
{% endblock %}
