{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Register" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block require_js %}
{% if captcha_service_type == "google" %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endif %}
{% if captcha_service_type == "tencent" %}
<script type="text/javascript" src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
{% endif %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="register" class="section-list register">
        <div class="page-title">
            <div class="container">
                <p>{% trans "Register" %}
                </p>
            </div>
        </div>
        <div class="container">
            <!-- <div class="form-container">
                <div class="alert alert-warning">
                    {% trans "Tip: To register successfully, ensure you can access the google recaptcha service." %}
                </div>
            </div> -->
            <div class="form-container">
                <form id="id_register_form" class="form" action="/register/" method="POST">
                    {% csrf_token %}
                    {% include "form.html" %}
                    {% include "captcha.html" with captcha_service_type=captcha_service_type %}
                    <div class="raw">
                        <div>
                            <button id="register-btn" class="form-button" type="submit">{% trans "Register" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="raw">
                <div>
                    <p style="padding-top:30px;">{% trans "By clicking on the register button you agree and abide by<br/> Newton" %} <a href='{{ settings.NEWTON_WEB_URL }}/terms-of-use/' target="_blank"/>{% trans "User Agreement" %}</a> {% trans "and" %} <a href='{{ settings.NEWTON_WEB_URL }}/privacy/' target="_blank">{% trans "Privacy Policy" %}</a>。</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block inline_js %}
{% endblock %}

{% block js %}
<script src="{% version "js/captcha.js" %}" type="text/javascript"></script>
<script src="{% version "js/register.js" %}" type="text/javascript"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/register.css" %}">
{% endblock %}

