{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "Register" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="register" class="section-list">
        <div class="page-title">
            <div class="container">
                <p>{% trans "Register" %}
                </p>
            </div>
        </div>
        <div class="container">
            <!-- <div class="form-container">
                <div class="alert alert-warning">
                    {% trans "Tip: To register successfully, ensure you can access the google recaptcha service." %}
                </div>
            </div> -->
            <div class="form-container">
                <form id="id-register-form" class="form" action="/register/email/post/" method="POST">
                    {% csrf_token %}
                    {% include "form.html" %}
                    {% include "captcha.html" %}
                    <div class="raw">
                        <div>
                            <button id="register-btn" class="form-button" type="submit">{% trans "Register" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="raw">
                <div>
                    <p style="padding-top:30px;">{% trans "By clicking on the register button you agree and abide by<br/> Newton" %} <a href='{{ settings.NEWTON_WEB_URL }}/terms-of-use/' target="_blank"/>{% trans "User Agreement" %}</a> {% trans "and" %} <a href='{{ settings.NEWTON_WEB_URL }}/privacy/' target="_blank">{% trans "Privacy Policy" %}</a>。</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block inline_js %}
{% endblock %}

{% block js %}
<script src="{% version "js/captcha.js" %}"></script>
<script src="{% version "js/register.js" %}"></script>
{% endblock %}

