{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Repassword" %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list">
    <div class="reset-title container text-center">
        <h2>{% trans "Set Password" %}</h2>
    </div>
    <div class="container">
        <form class="form" action="/register/password/submit/" method="POST">
            {% csrf_token %}
            <input id="uuid" name="uuid" type="hidden" value="{{ uuid }}"/>
            {% include "form.html" %}
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div>
                    <button class="form-button" type="submit">{% trans "Submit" %}</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
</script>
{% endblock %}
