{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "Set Password" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block content %}
<section id="reset" class="section-list">
    <div class="reset-title container text-center">
        <h2>{% trans "Set Password" %}</h2>
    </div>
    <div class="container">
        <div class="form-container">
            <form id="set-password-form" class="form" action="/register/password/submit/" method="POST">
                {% csrf_token %}
                <input id="uuid" name="uuid" type="hidden" value="{{ uuid }}"/>
                {% include "form.html" %}
                <div class="form-group">
                    <button class="form-button" type="submit">{% trans "Next" %}</button>
                </div>
            </form>
        </div>        
    </div>
</section>
{% endblock %}

{% block inline_js %}
{% endblock %}

{% block js %}
<script src="{% version "js/register.js" %}"></script>
{% endblock %}
