{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Repassword" %}
{% endblock %}
{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}
{% block content %}
<section id="reset" class="section-list">
    <div class="reset-title container text-center">
        <h2>{% trans "Set Password" %}</h2>
    </div>
    <div class="container">
        <form id="set-password-form" class="form" action="/register/password/submit/" method="POST">
            {% csrf_token %}
            <input id="uuid" name="uuid" type="hidden" value="{{ uuid }}"/>
            <input id="gtoken" name="gtoken" type="hidden" value="{{ gtoken }}"/>
            {% include "form.html" %}
            <div class="form-group">
                <label for="id_gtoken" class="col-sm-5 col-lg-5 col-xs-5 control-label">手动添加谷歌身份验证器</label>
                <div id="key">{{ gtoken }}</div>
            </div>
            <div class="form-group">
                <label for="id_gtoken" class="col-sm-5 col-lg-5 col-xs-5 control-label">或者扫描二维码添加谷歌身份验证器</label>
                <div id="code"></div> 
            </div>
            <div class="raw">
                <div class="col-lg-5 col-sm-5 col-xs-5"></div>
                <div>
                    <button class="form-button" type="submit">{% trans "Submit" %}</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    new QRCode(document.getElementById("code"), "{{ gtoken_uri }}");
    $("#normal").addClass("display-none");
</script>
{% endblock %}

{% block js %}
<script src="{% version "js/register.js" %}"></script>
{% endblock %}
