{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Register" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="page-title">
        <div class="container">
            <p class="register-email-title">{% trans "Successfully submitted" %}
            </p>
        </div>
    </div>
    <div class="container text-center">
        <p class="content">{% trans "We have sent you an email. Please go to your registered email inbox to check and complete the registration process." %}</p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
</script>
{% endblock %}
