{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <p class="title">{% trans "Register Success!" %}</p>
        <p class="content">{% trans "您已经注册成功，请<a href='/login/'>登录</a>" %}</p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
    setTimeout(function(){location.href='/login/';}, 3000);
</script>
{% endblock %}
