{% extends "email-template.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
<h1>完成牛顿官网注册</h1>
{% endblock %}

{% block content %}
<p class="main-color">{% trans "Dear:" %}</p>
<p class="main-color">您好！</p>
<p class="main-color">这是一封来自 <a class='main-color' href='https://www.newtonproject.org'>牛顿官网</a> 的邮件，点击下方按钮完成注册。</p>
<div class="link-button">
    <a class="form-button" href="{{ target_url }}">{% trans "Register" %}</a>
    <p class="link-warn">{% trans "If you received this email by mistake, simply delete it." %}</p>
</div>

{% endblock %}
