{% extends "email-kyc-template.html" %}
{% load i18n %}
{% load utils %}
  {% block content %}
    <p class="newton-title">{% trans "Complete the register process of Newton" %}</h2>
    <p class="main-color">{% trans "Dear" %}</p>
    <p class="main-color">{% trans "This is an email from <a class='main-color' href='https://www.newtonproject.org'>newtonproject.org, </a>Click the button below to proceed to the next step." %}</p>
    <p class="pad-t20"><a href="{{ target_url }}" class="button-1">{% trans "Register" %}</a></p>
    <p class="pad-t30">{% trans "If you received this email by mistake, simply delete it." %}</p>
  {% endblock %}