{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% load tokenexchange_tags %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section class="section-list fill-amount">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Token Exchange" %}
            </p>
        </div>
    </div>
    <div class="container text-center">
        <div class="title">
        </div>
        {% include "user/include-security.html" %}
        {% show_minimum_and_ratio item %}
        <div class="container amount mt50">
            <div class="raw">
                <div>
                    <form id="id_fill_amount_form" class="form-horizontal" action="/tokenexchange/invite/{{ invite_id }}/post/" method="POST">
                        {% if form.non_field_errors %}
                        <div class="form-group">
                            <div class="raw">
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                    <strong>{{ form.non_field_errors.0 }}</strong>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="id_expect_btc" class="control-label col-sm-4">{% trans "How much do you want to contribute in BTC" %}
                                </label>
                            <div class="col-sm-8">
                                <input class="form-control" id="id_expect_btc" name="expect_btc" placeholder="{% trans "How much do you want to contribute in BTC" %}" step="any" type="number" min="{{ min_btc }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_expect_ela" class="control-label col-sm-4">{% trans "How much do you want to contribute in ELA" %}</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="id_expect_ela" name="expect_ela" placeholder="{% trans "How much do you want to contribute in ELA" %}" step="any" type="number" min="{{ min_ela }}">
                            </div>
                        </div>
                        <div class="raw">
                            <div class="text-center token-btn">
                                <button class="form-button" type="submit">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% version "css/tokenexchange.css" %}">
{% endblock %}
