{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="token-exchange" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Token Exchange" %}
            </p>
        </div>
    </div>
    <div class="container text-center ">
        <div class="title">
        </div>  
        {% include "tokenexchange/include-token-exchange-info.html" %}
        <div class="container amount mt50">
            <div class="raw">
                <div>
                    <form id="fill-amount" class="form text-left" action="/tokenexchange/invite/{{ invite_id }}/post/" method="POST">
                        <div class="form-group">
                            <p class="label-expect">
                                <label for="id_expect_btc" class="control-label">{% trans "How much do you want to contribute in BTC" %} <span class="red-color"></span>
                                </label>
                            </p>
                            <div>
                                <input class="form-control" id="id_expect_btc" name="expect_btc" placeholder="How much do you want to contribute in BTC" step="any" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="label-expect">
                                <label for="id_expect_ela" class="control-label">{% trans "How much do you want to contribute in ELA" %} <span class="red-color"></span>
                                </label>
                            </p>
                            <div>
                                <input class="form-control" id="id_expect_ela" name="expect_ela" placeholder="How much do you want to contribute in ELA" step="any" type="number">
                            </div>
                        </div>
                        <div class="raw">
                            <div class="text-center token-btn">
                                <button class="form-button" type="submit">{% trans "Submit" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}"></script>
{% endblock %}
