{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}
{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}
{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}


{% block notice %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <p class="title">{% trans "You have successfully filled in the expected amount." %}</p>
        <p class="content">
        	<a class="normal" href="/user/">{% trans "go to the user center" %}</a>
        </p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
</script>
{% endblock %}
