{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "Token Exchange" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <p class="title">{% trans "Current Token Exchange has expired!" %}</p>
        <p class="content">
            {% trans "Go to <a href='/user/' style='text-decoration: underline'>User Center</a>" %}
        </p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
    setTimeout(function(){location.href='/user/';}, 3000);
</script>
{% endblock %}
