{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "KYC" %} | {% trans "Newton Community" %}</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="token-exchange" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Fill in your amount of token exchange" %}
            </p>
        </div>
    </div>
    <div class="container text-center">
        <div class="title">
        </div>  
        {% include "tokenexchange/token-exchange-info.html" %}
        <div class="container amount mt50">
            <div class="raw">
                <div>
                    <form id="user_kyc_form" class="form" action="/tokenexchange/invite/{{ invite_id }}/post/" method="POST">
                        {% include "form.html" %}
                        <div class="raw">
                            <div class="text-center token-btn">
                                <button class="form-button" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}"></script>
{% endblock %}