{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section class="newtonadmin" class="section-list">
    <div class="container text-center">
        <div class="title">
            <h2>{% trans "Confrm your amount of token exchange" %}</h2>
        </div> 
    </div>
    <div class="container">
        <div class="raw">
            <p>
                {% trans "Your BTC amount is " %}: {{ item.min_btc_limit }} &nbsp;-&nbsp;{{ item.max_btc_limit }}
            </p>
            <p>
                {% trans "Your ELA amount is " %}: {{ item.min_ela_limit }} &nbsp;-&nbsp;{{ item.max_ela_limit }}
            </p>
            <form id="user_kyc_form" method="POST" action="/tokenexchange/confirm/">
                {% include "form.html" %}
                <div class="text-center token-btn">
                    <button class="form-button" type="submit">{% trans "Submit" %}</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
