{% extends "base.html" %}
{% load i18n %}
{% load utils %}
{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}
{% block title %}
{% trans "Notify" %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <img src="{% version "images/global/success.png" %}"/>
        <p class="title">{% trans "Distribution confirm" %}</p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $("#normal").addClass("display-none");
</script>
{% endblock %}
