{% load i18n %}
{% load utils %}

{% if item.expect_btc %}
<div class="shadow-item fill-expect-section">
    <div class="container">
        <div class="text-center">
            <p class="token-exchange-title">{% trans "Request" %}</p>
        </div>
        <div class="col-md-12">
            {% if item.expect_btc %}
            <p class="token-exchange-content text-center">
                <span class="key">{% trans "Requesting BTC amount" %}:</span><span class="value">{{ item.expect_btc }}</span>BTC</p>
            {% else %}
            <p class="token-exchange-content text-center"><span class="key">{% trans "Requesting BTC amount" %}:</span><span class="value">0</span>BTC</p>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% if item.assign_btc or item.receive_btc_address %}
                {% if item.status >= codes.TOKEN_EXCHANGE_STATUS_CONFIRM_AMOUT_VALUE %}
                <p></p>
                {% else %}
                <div class="well well-sm tip">
                    <p class="before-fill text-danger">{% trans "We will  assess your expected token exchange quota and notify the assessing result by email later. Please note your email-box." %}</p>
                </div>
                {% endif %}
        {% else %}
            <div class="well well-sm tip">
                <p class="before-fill text-danger">{% trans "We will  assess your expected token exchange quota and notify the assessing result by email later. Please note your email-box." %}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
