{% load i18n %}
{% load utils %}
<section class="section-list kyc">
    <div class="raw">
                
        <form class="form-horizontal" action="/tokenexchange/organization/post/" method="POST" enctype="multipart/form-data">
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Entity Type" %}</h3>
                    </div>
                    <p class="entity-container">
                        <a href="/tokenexchange/individual/post/" class="item">
                            <input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" value="individual">
                            {% trans "Individual" %}
                        </a>
                        <a href="/tokenexchange/organization/post/" class="item">
                            <input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" checked="on" value="organization">
                            {% trans "Organization" %}
                        </a>
                    </p>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container form-container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{% trans "Basic Information" %}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group full-name col-sm-12"> 
                                <span>
                                    <label for="id_orgnization_name" class="control-label col-sm-2 fullname-title">
                                        {% trans "Organization Name" %}<span class="red-color">(*)</span>
                                    </label>
                                    <input class="form-control" id="id_orgnization_name" maxlength="128" name="orgnization_name" placeholder="{% trans 'Organization Name' %}" type="text">
                                </span> 
                                <span class="last-name">
                                    <label for="id_orgnization_code" class="control-label">
                                        {% trans "Organization Code" %}<span class="red-color">(*)</span>
                                    </label>
                                    <input class="form-control" id="id_orgnization_code" maxlength="128" name="orgnization_code" placeholder="{%  trans'Organization Code' %}" type="text">
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="id_id_type" class="control-label col-sm-2">{% trans "ID Type" %}<span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="id_id_type" name="id_type" placeholder="ID Type">
                                    <option value="1" selected="selected">{% trans "ID Card" %}</option>
                                    <option value="2">{% trans "Passport" %}</option>
                                    <option value="3">{% trans "Drivers License" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <label for="id_id_number" class="control-label col-sm-2">
                                    {% trans "ID Number" %}<span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control normal" id="id_id_number" maxlength="128" name="id_number" placeholder="ID Number" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_id_card" class="control-label col-sm-2">
                                    {% trans "ID Photo" %}<span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control select-file" id="id_id_card" name="id_card" placeholder="ID Photo" type="file">
                                    <span class="small">Only jpeg, jpg and png file within 5M</span>
                                </div>
                            </div>
                            {% include "tokenexchange/include-form-country.html" with form=country_form %}
                            <div class="form-group">
                                <label for="id_city" class="control-label col-sm-2">
                                    {% trans "City" %}<span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control normal" id="id_city" maxlength="256" name="city" placeholder="City" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_location" class="control-label col-sm-2">
                                    {% trans "Address" %}<span class="red-color">(*)</span>
                                    </label>
                                <div class="col-sm-10">
                                    <input class="form-control normal" id="id_location" maxlength="1024" name="location" placeholder="Address" type="text">
                                    <span class="small">Recommend locate to block</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_cellphone_group" class="control-label col-sm-2">
                                    {% trans "Cellphone" %} <span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <div class="form-inline">
                                        <input class="form-control" id="id_cellphone_group_0" name="cellphone_group_0" placeholder="Area Code" cellphone"="" type="text"> <input class="form-control" id="id_cellphone_group_1" name="cellphone_group_1" placeholder="Phone Number" cellphone"="" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Self Introduction" %}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group with-attachment">
                                <label for="id_personal_profile" class="control-label col-sm-2">
                                    {% trans "Self Introduction" %}<span class="red-color">(*)</span>
                                </label>
                            <div class="col-sm-10">
                                <textarea class="form-control with-attachment" cols="40" id="id_personal_profile" name="personal_profile" placeholder="Self Introduction" rows="10"></textarea>
                                <span class="small">{% trans "Your CV. When were you involved in blockchain industry? Write something about your understanding on blockchain industry." %}</span>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="id_personal_profile_attachment" class="control-label col-sm-2">
                                </label>
                            <div class="col-sm-10">
                                <label for="id_personal_profile_attachment" class="control-label col-sm-2 attachment-title">
                                    {% trans "Attachment" %}
                                </label>
                                <div class="col-sm-10">
                                <input class="form-control normal" id="id_personal_profile_attachment" name="personal_profile_attachment" placeholder="Attachment" type="file">
                                <span class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_wechat" class="control-label col-sm-2">
                                {% trans "WeChat ID" %}
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control normal" id="id_wechat" maxlength="128" name="wechat" placeholder="WeChat ID" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_telegram" class="control-label col-sm-2">
                                {% trans "Telegram ID" %}
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control normal" id="id_telegram" maxlength="128" name="telegram" placeholder="Telegram ID" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_telegram" class="control-label col-sm-2">
                                {% trans "Twitter" %}
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control normal" id="id_telegram" maxlength="128" name="telegram" placeholder="Twitter" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_telegram" class="control-label col-sm-2">
                                {% trans "Facebook" %}
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control normal" id="id_telegram" maxlength="128" name="telegram" placeholder="Facebook" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_telegram" class="control-label col-sm-2">
                                {% trans "Other Social Media" %}
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control normal" id="id_telegram" maxlength="128" name="telegram" placeholder="Other" type="text">
                            </div>
                        </div>
                        <div class="form-group with-attachment">
                            <label for="id_your_community" class="control-label col-sm-2">
                                {% trans "Newton Communities You are Involved in" %}
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control with-attachment" cols="40" id="id_your_community" name="your_community" placeholder="Newton Communities You are Involved in" rows="10"></textarea>
                                <span class="small">
                                    {% trans "Community name you are involved in, your nickname in the community, your social media ID." %}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_your_community_screenshots1" class="control-label col-sm-2">
                            </label>
                            <div class="col-sm-10">
                                <label for="id_your_community_screenshots1" class="control-label col-sm-2 attachment-title">
                                    {% trans "Attachments" %}
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control normal" id="id_your_community_screenshots1" name="your_community_screenshots1" placeholder="Screenshots of Abovementioned Communities 1" type="file">
                                    <input class="form-control normal" id="id_your_community_screenshots2" name="your_community_screenshots2" placeholder="Screenshots of Abovementioned Communities 2" type="file">
                                    <input class="form-control normal" id="id_your_community_screenshots3" name="your_community_screenshots3" placeholder="Screenshots of Abovementioned Communities 3" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container form-container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{% trans "How to Contribute" %}</h3>
                        </div>
                        <p class="red-color block-tip">{% trans "* This section is very important to KYC review, please fill in carefully." %}</p>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="id_what_is_newton" class="control-label col-sm-2">{% trans "Your Understanding of Newton" %}<span class="red-color">(*)</span>
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" cols="40" id="id_what_is_newton" name="what_is_newton" placeholder="Your Understanding of Newton" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group with-attachment">
                                <label for="id_done_for_newton" class="control-label col-sm-2 with-attachment">
                                    {% trans "Contribution You Have Made to Newton" %}
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" cols="40" id="id_done_for_newton" name="done_for_newton" placeholder="Contribution You Have Made to Newton" rows="10"></textarea>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_done_for_newton_attachment" class="control-label col-sm-2">
                                </label>
                                <div class="col-sm-10">
                                    <label for="id_done_for_newton_attachment" class="control-label col-sm-2 attachment-title">
                                        {% trans "Attachment" %}
                                    </label>
                                    <div class="col-sm-10">
                                        <input class="form-control normal" id="id_done_for_newton_attachment" name="done_for_newton_attachment" placeholder="Attachment" type="file">
                                        <span class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_do_for_newton" class="control-label col-sm-2">
                                    {% trans "Contribution You Will Make to Newton" %}
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" cols="40" id="id_do_for_newton" name="do_for_newton" placeholder="Contribution You Will Make to Newton" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_is_establish_node" class="control-label col-sm-6" style="text-align: left">
                                    {% trans "Do you want to establish a Newton node ?" %}
                                </label>
                                <div class="col-sm-6">
                                    <input type="radio" name="is_establish_node" checked="" value="1" onclick="openNode()">Yes
                                    <input type="radio" name="is_establish_node" onclick="closeNode()" value="2">No
                                </div>
                            </div>
                            <div id="id_which_node" class="form-group">
                                <label for="id_which_node_establish" class="control-label col-sm-2">
                                    {% trans "Which type of node ?" %}
                                </label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="id_which_node_establish" name="which_node_establish" placeholder="Which type of node ?">
                                        <option value="1" selected="selected">{% trans "Full Node" %}</option>
                                        <option value="2">{% trans "Media Node" %}</option>
                                        <option value="3">{% trans "Technology Node" %}</option>
                                        <option value="4">{% trans "Operation Node" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div id="id_how_node" class="form-group">
                                <label for="id_establish_node_plan" class="control-label col-sm-2">
                                    {% trans "Your plan of node establishment" %}
                                </label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" cols="40" id="id_establish_node_plan" name="establish_node_plan" placeholder="Your plan of node establishment" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Emergency Information" %}</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group emergency-name col-sm-12"> 
                            <span>
                                <label for="id_emergency_contact_first_name" class="control-label col-sm-2">
                                    {% trans "First Name" %}<span class="red-color">(*)</span>
                                </label>
                                <input class="form-control" id="id_emergency_contact_first_name" maxlength="128" name="first_name" placeholder="First Name" type="text">
                            </span> 
                            <span class="last-name">
                                <label for="id_emergency_contact_last_name" class="control-label">
                                    {% trans "Last Name" %}<span class="red-color">(*)</span>
                                </label>
                                <input class="form-control" id="id_emergency_contact_last_name" maxlength="128" name="last_name" placeholder="Last Name" type="text">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_cellphone_of_emergency_contact" class="control-label col-sm-2">
                            {% trans "Cellphone" %}<span class="red-color">(*)</span>
                        </label>
                        <div class="col-sm-10">
                            <div class="form-inline">
                                <input class="form-control" id="id_cellphone_of_emergency_contact_0" name="cellphone_of_emergency_contact_0" placeholder="Area Code" cellphone"=" type="text"> 
                                <input class="form-control" id="id_cellphone_of_emergency_contact_1" name="cellphone_of_emergency_contact_1" placeholder="Phone Number" cellphone"=" type="text">
                            </div>
                        </div>
                    </div>
                    {% include "tokenexchange/include-form-country.html" with form=emergency_country_form %}
                    <div class="form-group">
                        <label for="id_emergency_city" class="control-label col-sm-2">
                            {% trans "City" %}<span class="red-color">(*)</span>
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control normal" id="id_emergency_city" maxlength="256" name="emergency_city" placeholder="City" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="id_emergency_location" class="control-label col-sm-2">
                                {% trans "Address" %}<span class="red-color">(*)</span>
                            </label>
                        <div class="col-sm-10">
                            <input class="form-control normal" id="id_emergency_location" maxlength="1024" name="emergency_location" placeholder="Address" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_emergency_relationship" class="control-label col-sm-2">
                            {% trans "Relation with Applicant"%} <span class="red-color">(*)</span>
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control normal" id="id_emergency_relationship" maxlength="1024" name="emergency_relationship" placeholder="Relation with Applicant" type="text">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="raw">
                <div class="text-center token-btn">
                    <button class="form-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>