{% load i18n %}
{% load utils %}

{% if item.phase_id == 1 %}
<div class="token-exchange-info shadow-item">
    <div class="container">
        <div class="text-center">
            <p class="token-exchange-big-title">{% trans "Second-Round Token Exchange" %}</p>
            <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
        </div>
        <div class="col-md-12">
            <p class="token-exchange-content text-center">
                <span class="key">{% trans "Ratio" %}:</span>
                <span class="key">1&nbsp;BTC&nbsp;=&nbsp;<span class="value"> {{ btc_ratio|integer_format }} </span>&nbsp;NEW</span>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% if item.phase_id == 2 %}
<div class="token-exchange-info">
    <div class="raw">
        <div class="item">
            <div class="text-center">
                <p class="token-exchange-title">{% trans "Third-Round Token Exchange" %}</p>
                <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
            </div>
        </div>
        <div class="item">
            <div class="text-left">
                <p class="token-exchange-title">{% trans "Token exchange info and expect" %}</p>
            </div>
            <div class="raw">
                <div class="col-md-6">
                    <p class="token-exchange-content">{% trans "Min BTC: " %} {{ token_exchange_info.min_btc }}</p>
                    <p class="token-exchange-content">BTC / NEW: {{ token_exchange_info.btc_ratio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
