{% load i18n %}
{% load utils %}
{% load tokenexchange_tags %}

{% if item.status >= codes.TOKEN_EXCHANGE_STATUS_CONFIRM_AMOUT_VALUE %}
<div class="shadow-item">
    <div class="text-center">
        <p class="token-exchange-title">{% trans "Allocated" %}</p>
    </div>

    {% if item.assign_btc %}
    <div class="text-center receive-panel">
        <div class="row">
            <div class="quantity col-md-5 col-sm-12 col-xs-12 text-right allocate-btc">
                <span class="text-muted key">{% trans "Allocated BTC amount" %}:</span>
                <span class="value">
                    <span class="number text-danger bold">{{ item.assign_btc }}</span>
                    <span class="unit">BTC</span>
                </span>
            </div>
            <div class="quantity col-md-5 col-sm-12 col-xs-12 text-left exchange-new-amount">
                <span class="text-muted key">{% trans "You can exchange for" %}</span>
                <span class="value">
                    <span class="number text-danger bold">{% exchange_assign_amount_to_NEW item.assign_btc %}</span>
                    <span class="unit">NEW</span>
                </span>
            </div>
        </div>
        <div class="address">
            <span class="text-muted key">{% trans "Allocated BTC address" %}:</span>
            <span class="text-danger bold value text-nowrap">{{ item.receive_btc_address }}</span>
        </div> 
        
        <div id="btc_code"  class="qrcode">
            <script>
                new QRCode(document.getElementById("btc_code"), "{{ item.receive_btc_address }}");
            </script>
        </div>
    </div>
    {% endif %}

    {% if item.assign_btc and item.receive_btc_address %}
        {% if not is_deadline %}
            <p class="allocated-tips text-danger">{% trans "* Please transfer your token before deadline of second-round token exchange." %}</p>
            {% if item.expect_btc %}
                <p class="allocated-tips text-danger">{% trans "* Attention! DO NOT transfer BTC amount larger than allocated amount, otherwise Newton Foundation won't refund the remainder." %}</p>
            {% endif %}
        {% else %}
            <p class="allocated-tips text-danger">{% trans "* Second-round token exchange is overdue, DO NOT transfer any token to allocated addresses." %}</p>
        {% endif %}
    {% endif %}

</div>
{% endif %}
