{% load i18n %}
{% load utils %}
<section class="section-list kyc">
    <div class="raw">
                
        <form class="form-horizontal" action="/tokenexchange/individual/post/" method="POST" enctype="multipart/form-data" id="id_individual_form">
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Entity Type" %}</h3>
                    </div>
                    <p class="entity-container">
                        <a href="/tokenexchange/individual/post/" class="item">
                            <input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" checked="on" value="individual">
                            {% trans "Individual" %}
                        </a>
                        <a href="/tokenexchange/organization/post/" class="item">
                            <input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" value="organization">
                            {% trans "Organization" %}
                        </a>
                    </p>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container form-container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{% trans "Basic Information" %}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group full-name col-sm-12">
                                {% if is_chinese %}
                                    <span>
                                        <label for="id_last_name" class="control-label col-sm-3 fullname-title">
                                            {% trans "Last Name" %}<span class="red-color">*</span>
                                        </label>
                                        <input class="form-control" id="id_last_name" maxlength="128" name="last_name" placeholder="{% trans "Last Name" %}" type="text">
                                    </span>
                                    <span class="last-name">
                                        <label for="id_first_name" class="control-label last-name-label">
                                            {% trans "First Name" %}<span class="red-color">*</span>
                                        </label>
                                        <input class="form-control" id="id_first_name" maxlength="128" name="first_name" placeholder="{% trans "First Name" %}" type="text">
                                    </span>
                                    {% else %}
                                    <span>
                                        <label for="id_first_name" class="control-label col-sm-3 fullname-title">
                                            {% trans "First Name" %}<span class="red-color">*</span>
                                        </label>
                                        <input class="form-control" id="id_first_name" maxlength="128" name="first_name" placeholder="{% trans "First Name" %}" type="text">
                                    </span> 
                                    <span class="last-name">
                                        <label for="id_last_name" class="control-label last-name-label">
                                            {% trans "Last Name" %}<span class="red-color">*</span>
                                        </label>
                                        <input class="form-control" id="id_last_name" maxlength="128" name="last_name" placeholder="{% trans "Last Name" %}" type="text">
                                    </span>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="id_id_type" class="control-label col-sm-3">{% trans "Certificate Type" %}<span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="id_id_type" name="id_type" placeholder="Certificate Type">
                                    <option selected="selected" value="" style="color: #858585">{% trans "Select certificate type" %}</option>
                                    <option value="1">{% trans "ID Card" %}</option>
                                    <option value="2">{% trans "Passport" %}</option>
                                    <option value="3">{% trans "Drivers License" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <label for="id_id_number" class="control-label col-sm-3">
                                    {% trans "Certificate Number" %}<span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control normal" id="id_id_number" maxlength="128" name="id_number" placeholder="{% trans "Certificate Number" %}" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_id_card" class="control-label col-sm-3">
                                    {% trans "Certificate Photo" %}<span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control select-file" id="id_id_card" name="id_card" placeholder="{% trans "Certificate Photo" %}" type="file">
                                    <span class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</span>
                                </div>
                            </div>
                            {% include "tokenexchange/include-form-country.html" with form=country_form %}
                            <div class="form-group">
                                <label for="id_city" class="control-label col-sm-3">
                                    {% trans "City" %}<span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <input class="form-control normal" id="id_city" maxlength="256" name="city" placeholder="{% trans "City" %}" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_location" class="control-label col-sm-3">
                                    {% trans "Address" %}<span class="red-color">*</span>
                                    </label>
                                <div class="col-sm-9">
                                    <input class="form-control normal" id="id_location" maxlength="1024" name="location" placeholder="{% trans "Address" %}" type="text">
                                    <span class="small">{% trans "Recommend locate to block" %}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_cellphone_group" class="control-label col-sm-3">
                                    {% trans "Cellphone" %} <span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <div class="form-inline">
                                        <input class="form-control area-code-input" id="id_cellphone_group_0" name="cellphone_group_0" placeholder="{% trans "Area Code" %}" cellphone"=" type="text"> 
                                        <input class="form-control phone-number-input" id="id_cellphone_group_1" name="cellphone_group_1" placeholder="{% trans "Phone Number" %}" cellphone"=" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Self Introduction" %}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group with-attachment">
                                <label for="id_personal_profile" class="control-label col-sm-3">
                                    {% trans "Self Introduction" %}<span class="red-color">*</span>
                                </label>
                            <div class="col-sm-9">
                                <textarea class="form-control with-tip" cols="40" id="id_personal_profile" name="personal_profile" placeholder="{% trans "Self Introduction" %}" rows="10"></textarea>
                                <span class="small">{% trans "Your CV. When were you involved in blockchain industry? Write something about your understanding on blockchain industry." %}</span>
                            </div>
                        </div>
                        <div class="form-group">
                                <label for="id_personal_profile_attachment" class="control-label col-sm-3">
                                </label>
                            <div class="col-sm-9">
                                <label for="id_personal_profile_attachment" class="control-label attachment-title">
                                    {% trans "Attachment" %}
                                </label>
                                <div class="attachment-div">
                                <input class="form-control select-file" id="id_personal_profile_attachment" name="personal_profile_attachment" placeholder="Attachment" type="file">
                                <p class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_wechat" class="control-label col-sm-3">
                                {% trans "WeChat ID" %}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control normal" id="id_wechat" maxlength="128" name="wechat" placeholder="{% trans "WeChat ID" %}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_telegram" class="control-label col-sm-3">
                                {% trans "Telegram ID" %}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control normal" id="id_telegram" maxlength="128" name="telegram" placeholder="Telegram ID" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_twiiter" class="control-label col-sm-3">
                                {% trans "Twitter" %}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control normal" id="id_twiiter" maxlength="128" name="twiiter" placeholder="Twitter" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_facebook" class="control-label col-sm-3">
                                {% trans "Facebook" %}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control normal" id="id_facebook" maxlength="128" name="facebook" placeholder="Facebook" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_other_social_account" class="control-label col-sm-3">
                                {% trans "Other Social Media" %}
                            </label>
                            <div class="col-sm-9">
                                <input class="form-control normal" id="id_other_social_account" maxlength="128" name="other_social_account" placeholder="{% trans "Other Social Media" %}" type="text">
                            </div>
                        </div>
                        <div class="form-group with-attachment">
                            <label for="id_your_community" class="control-label col-sm-3">
                                {% trans "Newton Communities You are Involved in" %}
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control with-tip" cols="40" id="id_your_community" name="your_community" placeholder="{% trans "Newton Communities You are Involved in" %}" rows="10"></textarea>
                                <span class="small">
                                    {% trans "Community name you are involved in, your nickname in the community, your social media ID." %}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_your_community_screenshots1" class="control-label col-sm-3">
                            </label>
                            <div class="col-sm-9">
                                <label for="id_your_community_screenshots1" class="control-label attachment-title">
                                    {% trans "Attachment" %}
                                </label>
                                <div class="attachment-div">
                                    <input class="form-control select-file" id="id_your_community_screenshots1" name="your_community_screenshots1" placeholder="Screenshots of Abovementioned Communities 1" type="file">
                                    <input class="form-control select-file" id="id_your_community_screenshots2" name="your_community_screenshots2" placeholder="Screenshots of Abovementioned Communities 2" type="file">
                                    <input class="form-control select-file" id="id_your_community_screenshots3" name="your_community_screenshots3" placeholder="Screenshots of Abovementioned Communities 3" type="file">
                                    <p class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container form-container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center contribute-title">{% trans "How to Contribute" %}</h3>
                            <p class="red-color contribute-tip">{% trans "This section is very important to KYC review, please fill in carefully." %}</p>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="id_what_is_newton" class="control-label col-sm-3">{% trans "Your Understanding of Newton" %}<span class="red-color">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" cols="40" id="id_what_is_newton" name="what_is_newton" placeholder="{% trans "Your Understanding of Newton" %}" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group with-attachment">
                                <label for="id_done_for_newton" class="control-label col-sm-3 with-attachment">
                                    {% trans "Contribution You Have Made to Newton" %}
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control with-tip" cols="40" id="id_done_for_newton" name="done_for_newton" placeholder="{% trans "Contribution You Have Made to Newton" %}" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_done_for_newton_attachment" class="control-label col-sm-3">
                                </label>
                                <div class="col-sm-9">
                                    <label for="id_done_for_newton_attachment" class="control-label attachment-title">
                                        {% trans "Attachment" %}
                                    </label>
                                    <div class="attachment-div">
                                        <input class="form-control select-file" id="id_done_for_newton_attachment" name="done_for_newton_attachment" placeholder="Attachment" type="file">
                                        <p class="small">{% trans "Only jpeg, jpg and png file within 5M" %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_do_for_newton" class="control-label col-sm-3">
                                    {% trans "Contribution You Will Make to Newton" %}
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" cols="40" id="id_do_for_newton" name="do_for_newton" placeholder="{% trans "Contribution You Will Make to Newton" %}" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_is_establish_node" class="control-label col-sm-3">
                                    {% trans "Do you want to establish a Newton node ?" %}
                                </label>
                                <div class="col-sm-9">
                                    <input type="radio" name="is_establish_node" checked="" value="1" onclick="openNode()">{% trans "Yes" %}
                                    <input type="radio" name="is_establish_node" onclick="closeNode()" value="2">{% trans "No" %}
                                </div>
                            </div>
                            <div id="id_which_node" class="form-group">
                                <label for="id_which_node_establish" class="control-label col-sm-3">
                                    {% trans "Which type of node ?" %}
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="id_which_node_establish" name="which_node_establish" placeholder="Which type of node ?">
                                        <option value="1" selected="selected">{% trans "Select Node" %}</option>
                                        <option value="1">{% trans "Full Node" %}</option>
                                        <option value="2">{% trans "Media Node" %}</option>
                                        <option value="3">{% trans "Technology Node" %}</option>
                                        <option value="4">{% trans "Operation Node" %}</option>
                                    </select>
                                    <span class="small">{% trans "Note: Media node is the node where medias help broadcast Newton, technology node is the one where people develop various kind of DAPP or other technologies in Newton ecosystem, operation node is the one which helps maintain and develop Newton communities, and full node is the one which integrates functions of at least two aforementioned nodes." %}</span>
                                </div>
                            </div>
                            <div id="id_how_node" class="form-group">
                                <label for="id_establish_node_plan" class="control-label col-sm-3">
                                    {% trans "Your plan of node establishment" %}
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" cols="40" id="id_establish_node_plan" name="establish_node_plan" placeholder="{% trans "Your plan of node establishment" %}" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "Emergency Contact" %}</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group emergency-name col-sm-12">
                        {% if is_chinese %}
                        <span>
                            <label for="id_emergency_contact_last_name" class="control-label col-sm-3 emergency-first-name">
                                {% trans "Last Name" %}<span class="red-color">*</span>
                            </label>
                            <input class="form-control" id="id_emergency_contact_last_name" maxlength="128" name="emergency_contact_last_name" placeholder="{% trans "Last Name" %}" type="text">
                        </span>
                        <span class="last-name">
                            <label for="id_emergency_contact_first_name" class="control-label">
                                {% trans "First Name" %}<span class="red-color">*</span>
                            </label>
                            <input class="form-control" id="id_emergency_contact_first_name" maxlength="128" name="emergency_contact_first_name" placeholder="{% trans "First Name" %}" type="text">
                        </span> 
                        {% else %}
                        <span>
                            <label for="id_emergency_contact_first_name" class="control-label col-sm-3 emergency-first-name">
                                {% trans "First Name" %}<span class="red-color">*</span>
                            </label>
                            <input class="form-control" id="id_emergency_contact_first_name" maxlength="128" name="emergency_contact_first_name" placeholder="{% trans "First Name" %}" type="text">
                        </span> 
                        <span class="last-name">
                            <label for="id_emergency_contact_last_name" class="control-label">
                                {% trans "Last Name" %}<span class="red-color">*</span>
                            </label>
                            <input class="form-control" id="id_emergency_contact_last_name" maxlength="128" name="emergency_contact_last_name" placeholder="{% trans "Last Name" %}" type="text">
                        </span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_cellphone_of_emergency_contact" class="control-label col-sm-3">
                            {% trans "Cellphone" %}<span class="red-color">*</span>
                        </label>
                        <div class="col-sm-9">
                            <div class="form-inline">
                                <input class="form-control area-code-input" id="id_cellphone_of_emergency_contact_0" name="cellphone_of_emergency_contact_0" placeholder="{% trans "Area Code" %}" cellphone"=" type="text"> 
                                <input class="form-control phone-number-input" id="id_cellphone_of_emergency_contact_1" name="cellphone_of_emergency_contact_1" placeholder="{% trans "Phone Number" %}" cellphone"=" type="text">
                            </div>
                        </div>
                    </div>
                    {% include "tokenexchange/include-form-country.html" with form=emergency_country_form %}
                    <div class="form-group">
                        <label for="id_emergency_city" class="control-label col-sm-3">
                            {% trans "City" %}<span class="red-color">*</span>
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control normal" id="id_emergency_city" maxlength="256" name="emergency_city" placeholder="{% trans "City" %}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="id_emergency_location" class="control-label col-sm-3">
                                {% trans "Address" %}<span class="red-color">*</span>
                            </label>
                        <div class="col-sm-9">
                            <input class="form-control normal" id="id_emergency_location" maxlength="1024" name="emergency_location" placeholder="{% trans "Address" %}" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_emergency_relationship" class="control-label col-sm-3">
                            {% trans "Relation with Applicant"%} <span class="red-color">*</span>
                        </label>
                        <div class="col-sm-9">
                            <select class="form-control" id="id_emergency_relationship" name="emergency_relationship" placeholder="Relation with Applicant">
                                <option value="" selected="selected">{% trans "Relation with Applicant" %}</option>
                                <option value="1">{% trans "Kinship" %}</option>
                                <option value="2">{% trans "Friendship" %}</option>
                                <option value="3">{% trans "Colleague" %}</option>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="raw">
                <div class="text-center token-btn">
                    <button class="form-button" type="submit">{% trans "Submit" %}</button>
                </div>
            </div>
        </form>
    </div>
</section>