{% load i18n %}
{% load utils %}
{% if item.phase_id == 1 %}
<div class="token-exchange-info">
    <div class="shadow-item">
        <div class="text-center">
            <p class="token-exchange-big-title">{% trans "First-Round Token Exchange" %}</p>
            <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
            <p class="token-exchange-time">{% trans "The blockchain token exchange process is not the process of funding, but the one of organization establishment" %}</p>
        </div>
        <div class="mt50">
            <div class="container">
                <div class="col-md-6">
                    <p class="token-exchange-content">{% trans "Minimum BTC: " %} <span class="f30">{{ token_exchange_info.min_btc }}</span> BTC</p>
                    <p class="token-exchange-content">1 BTC = {{ token_exchange_info.btc_ratio }} NEW</p>
                </div>
                <div class="col-md-6">
                    <p class="token-exchange-content">{% trans "Minimum ELA: " %} <span class="f30">{{ token_exchange_info.min_ela }}</span> ELA</p>
                    <p class="token-exchange-content">1 ELA = {{ token_exchange_info.ela_ratio }} NEW</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if item.phase_id == 2 %}
<div class="token-exchange-info">
    <div class="raw">
        <div class="item">
            <div class="text-center">
                <p class="token-exchange-title">{% trans "Second Token Exchange Info" %}</p>
                <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
            </div>
        </div>
        <div class="item">
            <div class="text-left">
                <p class="token-exchange-title">{% trans "Token exchange info and expect" %}</p>
            </div>
            <div class="raw">
                <div class="col-md-6">
                    <p class="token-exchange-content">{% trans "Min BTC: " %} {{ token_exchange_info.min_btc }}</p>
                    <p class="token-exchange-content">BTC / NEW: {{ token_exchange_info.btc_ratio }}</p>
                </div>
                <div class="col-md-6">
                    <p class="token-exchange-content">{% trans "Min ELA: " %} {{ token_exchange_info.min_ela }}</p>
                    <p class="token-exchange-content">ELA / NEW: {{ token_exchange_info.ela_ratio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}