{% load i18n %}
{% load utils %}
<section id="token" class="section-list kyc">
    <div class="raw">
                
        <form class="form" action="/tokenexchange/individual/post/" method="POST" enctype="multipart/form-data">
            <div class="container form-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">{% trans "主体选择" %}</h3>
                    </div>
                    <div class="col-md-6 select-button"><a href="/tokenexchange/individual/post/"><input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" checked="on" value="individual">{% trans "Individual" %}</a></div>
                    <div class="col-md-6 select-button"><a href="/tokenexchange/organization/post/"><input type="radio" name="selece-individual-or-organization" id="selece-individual-or-organization" value="organization">{% trans "Organization" %}</a></div>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">{% trans "Basic Information" %}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group"> 
                                <p>
                                    <label for="id_first_name" class="control-label">{% trans "First Nam" %}e <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    <input class="form-control" id="id_first_name" maxlength="128" name="first_name" placeholder="First Name" type="text">
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_last_name" class="control-label">{% trans "Last Name" %} <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    <input class="form-control" id="id_last_name" maxlength="128" name="last_name" placeholder="Last Name" type="text">
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_id_type" class="control-label">ID Type <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    <select class="form-control" id="id_id_type" name="id_type" placeholder="ID Type">
                                    <option value="1" selected="selected">ID Card</option>
                                    <option value="2">Passport</option>
                                    <option value="3">Drivers License</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_id_number" class="control-label">ID Number <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    <input class="form-control" id="id_id_number" maxlength="128" name="id_number" placeholder="ID Number" type="text">
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_id_card" class="control-label">ID Photo <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <p class="small">Only jpeg, jpg and png file within 5M</p>
                                <p></p>
                                <div>
                                    <input class="form-control" id="id_id_card" name="id_card" placeholder="ID Photo" type="file">
                                </div>
                            </div>
                            {% include "form.html" with form=country_form %}
                            <div class="form-group"> 
                                <p>
                                    <label for="id_city" class="control-label">City <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    <input class="form-control" id="id_city" maxlength="256" name="city" placeholder="City" type="text">
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_location" class="control-label">Address <span class="red-color">(*)</span>
                                    </label>
                                    </p><p class="small">Recommend locate to block</p>
                                <p></p>
                                <div>
                                    <input class="form-control" id="id_location" maxlength="1024" name="location" placeholder="Address" type="text">
                                </div>
                            </div>
                            <div class="form-group"> 
                                <p>
                                    <label for="id_cellphone_group" class="control-label">Cellphone <span class="red-color">(*)</span>
                                    </label>
                                </p>
                                <div>
                                    
                                    <div class="form-inline">
                                        <div>+ <input class="form-control" id="id_cellphone_group_0" name="cellphone_group_0" placeholder="Area Code" cellphone"="" type="text"> <input class="form-control" id="id_cellphone_group_1" name="cellphone_group_1" placeholder="Phone Number" cellphone"="" type="text"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Self Introduction</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group"> 
                        <p>
                            <label for="id_personal_profile" class="control-label">Self Introduction <span class="red-color">(* Your CV. When were you involved in blockchain industry? Write something about your understanding on blockchain industry.)</span>
                            </label>
                        </p>
                        <div>
                            <textarea class="form-control" cols="40" id="id_personal_profile" name="personal_profile" placeholder="Self Introduction" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group attachment">  
                        <p>
                            <label for="id_personal_profile_attachment" class="control-label">Attachment <span class="red-color"></span>
                            </label>
                            </p><p class="small">Only jpeg, jpg and png file within 5M</p>
                        <p></p>
                        <div>
                            <input class="form-control" id="id_personal_profile_attachment" name="personal_profile_attachment" placeholder="Attachment" type="file">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_wechat" class="control-label">WeChat ID <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_wechat" maxlength="128" name="wechat" placeholder="WeChat ID" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_telegram" class="control-label">Telegram ID <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_telegram" maxlength="128" name="telegram" placeholder="Telegram ID" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_twitter" class="control-label">Twitter <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_twitter" maxlength="128" name="twitter" placeholder="Twitter" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_facebook" class="control-label">Facebook <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_facebook" maxlength="128" name="facebook" placeholder="Facebook" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_other_social_account" class="control-label">Other Social Media <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_other_social_account" maxlength="128" name="other_social_account" placeholder="Other Social Media" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_your_community" class="control-label">Newton Communities You are Involved in <span class="red-color"></span>
                            </label>
                            </p><p class="small">Community name you are involved in, your nickname in the community, your social media ID.</p>
                        <p></p>
                        <div>
                            <textarea class="form-control" cols="40" id="id_your_community" name="your_community" placeholder="Newton Communities You are Involved in" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group attachment">  
                        <p>
                            <label for="id_your_community_screenshots1" class="control-label">Screenshots of Abovementioned Communities 1 <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_your_community_screenshots1" name="your_community_screenshots1" placeholder="Screenshots of Abovementioned Communities 1" type="file">
                        </div>
                    </div>
                    <div class="form-group attachment">  
                        <p>
                            <label for="id_your_community_screenshots2" class="control-label">Screenshots of Abovementioned Communities 2 <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_your_community_screenshots2" name="your_community_screenshots2" placeholder="Screenshots of Abovementioned Communities 2" type="file">
                        </div>
                    </div>
                    <div class="form-group attachment">  
                        <p>
                            <label for="id_your_community_screenshots3" class="control-label">Screenshots of Abovementioned Communities 3 <span class="red-color"></span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_your_community_screenshots3" name="your_community_screenshots3" placeholder="Screenshots of Abovementioned Communities 3" type="file">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray">
                <div class="container">
                    <div class="panel panel-default bg-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">How to Contribute</h3>
                            <p class="text-center red-color mt50">* This section is very important to KYC review, please fill in carefully.</p>
                        </div>
                        <div class="panel-body">
                        <div class="form-group"> 
                            <p>
                                <label for="id_what_is_newton" class="control-label">Your Understanding of Newton <span class="red-color">(*)</span>
                                </label>
                            </p>
                            <div>
                                <textarea class="form-control" cols="40" id="id_what_is_newton" name="what_is_newton" placeholder="Your Understanding of Newton" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group"> 
                            <p>
                                <label for="id_done_for_newton" class="control-label">Contribution You Have Made to Newton <span class="red-color"></span>
                                </label>
                            </p>
                            <div>
                                <textarea class="form-control" cols="40" id="id_done_for_newton" name="done_for_newton" placeholder="Contribution You Have Made to Newton" rows="10"></textarea>
                                
                            </div>
                        </div>
                        <div class="form-group attachment">  
                            <p>
                                <label for="id_done_for_newton_attachment" class="control-label">Attachment <span class="red-color"></span>
                                </label>
                                </p><p class="small">Only jpeg, jpg and png file within 5M</p>
                            <p></p>
                            <div>
                                <input class="form-control" id="id_done_for_newton_attachment" name="done_for_newton_attachment" placeholder="Attachment" type="file">
                            </div>
                        </div>
                        <div class="form-group"> 
                            <p>
                                <label for="id_do_for_newton" class="control-label">Contribution You Will Make to Newton <span class="red-color"></span>
                                </label>
                            </p>
                            <div>
                                <textarea class="form-control" cols="40" id="id_do_for_newton" name="do_for_newton" placeholder="Contribution You Will Make to Newton" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">   
                            <p>
                                <label for="id_is_establish_node" class="control-label">Do you want to establish a Newton node ?
                                </label>
                            </p>
                            <div>
                                <input type="radio" name="is_establish_node" checked="" value="1" onclick="openNode()">Yes
                                <input type="radio" name="is_establish_node" onclick="closeNode()" value="2">No
                            </div>
                        </div>
                        <div id="which-node" class="form-group">   
                            <p>
                                <label for="id_which_node_establish" class="control-label">Which type of node ? <span class="red-color"></span>
                                </label>
                            </p>
                            <div>
                                <select class="form-control" id="id_which_node_establish" name="which_node_establish" placeholder="Which type of node ?">
                                    <option value="1" selected="selected">Full Node</option>
                                    <option value="2">Media Node</option>
                                    <option value="3">Technology Node</option>
                                    <option value="4">Operation Node</option>
                                </select>
                            </div>
                        </div>
                            <div id="how-node" class="form-group">
                                <p>
                                    <label for="id_establish_node_plan" class="control-label">Your plan of node establishment <span class="red-color"></span>
                                    </label>
                                </p>
                                <div>
                                    <textarea class="form-control" cols="40" id="id_establish_node_plan" name="establish_node_plan" placeholder="Your plan of node establishment" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Emergency Information</h3>
                    </div>
                    <div class="panel-body">
                    <div class="form-group"> 
                        <p>
                            <label for="id_emergency_contact_first_name" class="control-label">First Name <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_emergency_contact_first_name" maxlength="128" name="emergency_contact_first_name" placeholder="First Name" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_emergency_contact_last_name" class="control-label">Last Name <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_emergency_contact_last_name" maxlength="128" name="emergency_contact_last_name" placeholder="Last Name" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_cellphone_of_emergency_contact" class="control-label">Cellphone <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <div class="form-inline">
                                <div>+ <input class="form-control" id="id_cellphone_of_emergency_contact_0" name="cellphone_of_emergency_contact_0" placeholder="Area Code" cellphone"="" type="text"> <input class="form-control" id="id_cellphone_of_emergency_contact_1" name="cellphone_of_emergency_contact_1" placeholder="Phone Number" cellphone"="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    {% include "form.html" with form=emergency_country_form %}
                    <div class="form-group"> 
                        <p>
                            <label for="id_emergency_city" class="control-label">City <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_emergency_city" maxlength="256" name="emergency_city" placeholder="City" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_emergency_location" class="control-label">Address <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_emergency_location" maxlength="1024" name="emergency_location" placeholder="Address" type="text">
                        </div>
                    </div>
                    <div class="form-group"> 
                        <p>
                            <label for="id_emergency_relationship" class="control-label">Relation with Applicant <span class="red-color">(*)</span>
                            </label>
                        </p>
                        <div>
                            <input class="form-control" id="id_emergency_relationship" maxlength="1024" name="emergency_relationship" placeholder="Relation with Applicant" type="text">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="raw">
                <div class="text-center token-btn">
                    <button class="form-button" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>