{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "KYC" %} | Newton Community </title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="kyc" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "KYC Token Exchange Term" %}
            </p>
        </div>
    </div>
    <div class="container">
        <p class="token-exchange-big-title text-center"></p>
        <div class="kyc-content">
            <p class="title">1. {% trans "Objective of Newton 1st round token exchange" %}</p>
            <p>{% trans "The objective of Newton 1st round token exchange is to construct the infrastructure of protocol based economy, as well as the Newton commercial ecosystem built on this infrastructure." %}</p>
            <p class="title">2. {% trans "Core factors which determine distributed amount to KYC applicant" %}</p>
            <p>{% trans "The core factors which determine distributed token exchange amount to KYC applicant of this round encompass understanding of Newton, contribution to Newton in the past, plan of contribution to Newton in the future, involvement in Newton various communities and plan of Newton node establishment." %}</p>
            <p class="title">3. {% trans "Operations of exchanged token" %}</p>
            <p>{% trans "The Newton Tokens will be returned to applicant as soon as the release of Newton main chain and Newton wallet. Applicant should withdraw Newton Tokens through binding wallet address on Newton official website according to which round of token exchange is underway." %}</p>
            <p class="title">4. {% trans "Disclaimer" %}</p>
            <p>{% trans "Newton 1st round token exchange is not responsible for any consequences from fraudulent token exchange regarding Newton, and is not responsible for anyone who use fake Newton ID or fiat Bitcoin or ELA token and wallet." %}</p>
            <p class="title">5. {% trans "Risk factor" %}</p>
            <p>{% trans "Before exchanging Newton Tokens, applicant acknowledges and agrees that Newton Tokens are virtual digital cryptocurrency designed for infrastructure of protocol based economy, but not designed for investment purposes and should not be considered as a type of investment, as well as that of speculation, as some type of arbitrage strategy, for immediate resale or other financial purposes. Exchanges and sales of Newton Tokens are not subject to the protections of any laws governing those types of financial instruments." %}</p>
            <p>{% trans "Applicant understands and agrees that Newton Foundation shall not be liable and disclaims all liability to applicant in connection with any force majeure event, including labour disputes or other industrial disturbances, electrical,telecommunications, hardware, software or other utility failures, software or smart contract bugs or weaknesses, earthquakes, storms, or other nature-related events, blockages, embargoes, riots, acts or orders of government, acts of terrorism or war, technological change, changes in interest rates or other monetary conditions." %}</p>
        </div>
        
        <div class="token-check-condition container">
            <div class="raw">
                <div class="col-sm-12 text-left flex readed">
                    <input type="checkbox" onchange="check()" id="buy-token-checkboxo" class="accept" value="on"/>
                    <label for="buy-token-checkbox0" onclick="changeCheckStatus()">
                        <span>{% trans "I agree to the KYC token exchange term" %}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-center kyc-btn">
            <button id="gotokyc-btn" disabled="true"  type="button" onclick="gotokyc()" class="form-button">NEXT</button>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    var checkboxes = $(".accept")
    function check(){
        for(var i = 0; i < checkboxes.length; i++){
            var status = checkboxes[i].checked
            if (status === false){
                $("#gotokyc-btn")[0].setAttribute("disabled", true)
                return;
            } 
            if (i == (checkboxes.length-1)){
                $("#gotokyc-btn")[0].removeAttribute("disabled")
            }
        }
    }
    function gotokyc(){
        location.href = ("/tokenexchange/post/");
    }
    function changeCheckStatus() {
        checkboxes[0].checked = !checkboxes[0].checked;
        check();
    }
</script>
{% endblock %}
