{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "KYC" %}
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block content %}
<section id="kyc" class="section-list">
    <div class="container" style="width:70%;">
        <h4 class="modal-title text-center" id="myModalLabel">{% trans  "牛顿KYC须知" %}</h4>
        <div style="height:400px;overflow:scroll;border:1px solid #eee;">
            <strong>{% trans "请阅读NEW交换协议，使用条款和Newtonproject.org技术白皮书，并在下面的复选框中确认以便继续。" %}</strong>
            <div>
                <p>{% trans "本通证交换协议（本“ 协议 ”）包含了您使用NEWTON使用条款（https://www.newtonproject.org/terms-of-use/）以及NEWTON隐私政策（https://www.newtonproject.org/privacy/）的条款和条件。因此，考虑到本协议的相关保证和条款，以及其他价值考量， 牛顿通证的购买者须遵循如下条款。" %}</p>
                <p>{% trans "请仔细阅读本协议：" %}</p>
                <p>{% trans "买方承认，理解并同意以下内容：" %}</p>
                <p>{% trans "1.交换国家和地区" %}</p>
                <p>{% trans "牛顿通证不会提供或分发给美国和中国用户，如果您是美国或中国公民，请遵循当地法律，请勿交换或试图交换牛顿通证。" %}</p>
                <p>{% trans "2.购买的NEWTON可能没有任何价值，且不可退款，您需要承担因为交换牛顿通证可能带来的经济损失。" %}</p>
                <p>{% trans "3.白皮书" %}</p>
                <p>{% trans "牛顿白皮书已公布至牛顿基金会官网（https://www.newtomproject.org），白皮书描述了牛顿的相关事宜，白皮书随时可能会修改，作为参考，买方已阅读并理解白皮书及相关内容。" %}</p>
                <p>{% trans "4.牛顿通证没有明示或暗示的权利、用途、目的、属性以及功能、特性。尽管牛顿通证可能被交易，但是牛顿通证不是投资、货币、证券、商品或其他金融工具。" %}</p>
                <p>{% trans "5.在牛顿通证销售期间，买方承认并了解交换牛顿通证的相关程序，牛顿通证不会提供给美国或中国用户。如果美国或中国用户未经授权或以欺诈的方式交换通证，本协议视为无效，牛顿基金会可自行采取一切必要或适当的行动使本协议失效，包括向有关当局提供信息。" %}</p>
                <p>{% trans "6.在您交换牛顿通证之前，须知牛顿通证的虚拟数字货币属性，且不能用于投资目的，不受具体的金融法律条款保护。" %}</p>
                <p>{% trans "7.牛顿通证不适合投机行为。买方承认并同意买方交换牛顿通证不会用于投资或套利策略，以及其他转售等金融目的。" %}</p>
                <p>{% trans "8.知识产权。牛顿基金会保留所有的牛顿通证知识产权的所有权及利益，包括但不限于发明、创意、概念、代码、发现、流程、标志、方法、软件、公式、技术、信息以及数据，无论是商标中的专利版权保护以及基于NEWTON的任何商标、版权或专利，未经牛顿基金会事先同意，买方不得以任何理由使用牛顿基金会的任何知识产权。" %}</p>
                <p>{% trans "9.安全及数据隐私：" %}</p>
                <p>{% trans "在交换牛顿通证之前您需要确认您购买NEWTON的任何设备的安全性；您的数字货币钱包和账户的私钥的安全性；您用于注册NEWTON的用户名、密码的安全性；" %}</p>
                <p>{% trans "10.根据KYC要求，您须向牛顿基金会提供个人信息以及资料，牛顿基金会可自行决定认为必要或适合遵循任何法律、法规、规则或协议，包括但不限于司法程序。这些文件包括不限于护照、驾驶执照、个人照片、身份证件、承诺声明。买方同意向牛顿基金会披露这些信息和文件，以遵循法律、法规、规则或协议。您承认牛顿基金会可能决绝销售NEWTON给买方，直到买方提供了交换牛顿通证的必要信息。" %}</p>
                <p>{% trans "11.附件条款：您理解并同意：您有纳税的义务，牛顿基金会对买方的任何税收问题不承担任何责任和义务。" %}</p>
                <p>{% trans "12.如果您是个人，您必须年满18周岁，方可具有交换通证的权利；" %}</p>
                <p>{% trans "13.如果您是法人，您需要依据你所辖区的相关法律，并具有良好的信誉。" %}</p>
                <p>{% trans "14.您应充分理解区块链和虚拟数字货币资产的风险和特点，并能够承担风险，包括支付购买NEWTON TOKEN的损失、NEWTON丢失，以及当事方的不当责
                任所造成的损失，以便做出明智的决定交换通证。" %}</p>
                <p>{% trans "15.您用于交换牛顿通证的资金（包括虚拟数字货币或加密货币）不是来自或涉及任何非法活动，包括但不限于洗钱、恐怖融资、支持非法活动。" %}</p>
                <p>{% trans "16.反洗钱：在法律要求的范围内，买方遵守所有的反洗钱和反恐融资要求。" %}</p>
                <p>{% trans "17.您明确承认，理解并同意使用牛顿通证销售合同。" %}</p>
                <p>{% trans "18.不可抗力。您理解并同意，牛顿基金会对任何不可抗力事件不承担任何责任。包括但不限于地震、风暴以及其他自然事件、封锁、禁运、政府行为或政策、恐怖主义及战争。" %}</p>
                <p>{% trans "19.争议解决。本协议任何有关争议、索赔、适用性、违约、终止、有效性、可执行性。如果双方90天内未通过有效途径解决争议，须最终通过仲裁予以解决，仲裁所在地及法定地点为：新加坡。仲裁裁决是最终裁决，对双方均具有约束力。双方承诺毫不拖延地执行任何裁决，并放弃其有权采取任何形式的追索权。裁决的判决可由任何有管辖权的法院或对相关方或其资产具有管辖权的法院进行。牛顿基金会和买方将分别支付各自的律师费和开支。尽管有上述规定，牛顿基金会保留自行决定对仲裁的任何或全部费用承担责任的权利。" %}</p>
                <p>{% trans "20.牛顿通证分配比例见牛顿官网（www.newtonproject.org）" %}</p>
            </div>
        </div>
        
        <div class="token-check-condition container">
            <div class="raw">
                <div class="col-sm-12 text-left">
                    <input type="checkbox" onchange="check()" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>你所在国家支持购买数字货币</span>
                        </label>
                </div>
                <div class="col-sm-12 text-left">
                    <input type="checkbox" onchange="check()" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您已经了解购买数字货币的风险与收益</span>
                        </label>
                </div>
                <div class="col-sm-12 text-left">
                    <input type="checkbox" onchange="check()" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您十分熟悉NEW的价值</span>
                        </label>
                </div>
                <div class="col-sm-12 text-left">
                    <input type="checkbox" onchange="check()" id="buy-token-checkboxo" class="accept" value="on">
                        <label for="buy-token-checkbox0">
                            <span>您接受我们的服务条款和隐私协议</span>
                        </label>
                </div>
            </div>
        </div>
        <div class="text-center kyc-btn">
            <button id="gotokyc-btn" disabled="true"  type="button" onclick="gotokyc()" class="form-button">{% trans "NEXT" %}</button>
        </div>
    </div>
</section>
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    var checkboxes = $(".accept")
    function check(){
        for(var i = 0; i < checkboxes.length; i++){
            var status = checkboxes[i].checked
            if (status === false){
                $("#gotokyc-btn")[0].setAttribute("disabled", true)
                return;
            } 
            if (i == (checkboxes.length-1)){
                $("#gotokyc-btn")[0].removeAttribute("disabled")
            }
        }
    }
    function gotokyc(){
        location.href = ("/tokenexchange/post/");
    }
</script>
{% endblock %}
