{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Tokensale" %}
{% endblock %}

{% block content %}
<section id="countdown" class="section-list">
    <div class="container text-center">
        <div class="token-title">
            <h1>Pre ICO is Launching</h1>
        </div>
        <div class="token-subtitle">
            <h3>How to sale tokens and start crowdfunding via iCoin Offeting?</h3>
        </div>
        <div id="tiles">
            <div id="time"><p>2</p></div>
            <div id="time"><p>2</p></div>
            <div id="time"><p>2</p></div>
            <div id="time"><p>222</p></div>
        </div>
        <div id="labels">
            <div id="time-label"><p>DAY</p></div>
            <div id="time-label"><p>HOUR</p></div>
            <div id="time-label"><p>MINUTE</p></div>
            <div id="time-label"><p>SECOND</p></div>
        </div>
        <div id="button-group">
            <div>
                <a class="buy-token-button">BUY TOKEN</a>
                <a class="white-page">BUY TOKEN</a>
            </div>
        </div>
    </div>
</section><!-- end -->
{% endblock %}

{% block js %}
{% endblock %}
