{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Tokensale" %}
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="token" class="section-list">
    <div class="token-title container text-center contract">
        <div><h1>Newton Token Exchange</h1></div>
        <div class="container item">
            <div><p>First Exchange</p></div>
            <div>
                <table class="table">
                    <thead>
                        <tr class="text-left success">
                            <td>Token Exchange Information</td>
                            <td>My Token Exchange Info</td>
                            <td>My New</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>参加时间：<br/>2018-5-2</p></td>
                            <td><p>My Send BTC Address:<br/> 1b3dkfuen238slxml31123m</p></td>
                            <td>
                                <p>Exchanged ELA:<br/> 1 ELA</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p>Exchange Target:<br/> 2000 BTC</p></td>
                            <td><p>My Send ELA Address:<br/> E1idlkjdfoiweflndkIJAFSKl</p></td>
                            <td>
                                <p>Exchanged BTC:<br/> 1 BTC</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Token Exchange Rate:<br/> 1 BTC = 500 New<br/>1 ELA = 20 New</p>
                            </td>
                            <td>
                                <p>My BTC Limit:<br/> 2 BTC </p>
                            </td>
                            <td>
                                <p>My New:<br/> 520 New</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><p>My ELA Limit:<br/> 3000 ELA</p></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}
