{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Tokensale" %}
{% endblock %}

{% block content %}
<section id="token" class="section-list">
    <div class="token-title container text-center contract">
        <p>Hello Wei:</p>
        <p>{% trans "Congratulations on being approved for the Newton Token Sale. Below are important details and instructions for Token Sale participation, please review each item carefully." %}</p>
        <p>{% trans "The Whitelist is now complete. If you are receiving this email, you have been added as an approved participant in the Token Sale. This is the ONLY OFFICIAL Newton EMAIL that you will receive regarding this Token Sale. Please DO NOT respond to any subsequent or fraudulent emails, or transfer BTC or ELA to any other addresses." %}</p>
        <div class="divider"></div>
        <p>{% trans "Caps and BTC/NEO Transfers" %}</p>
        <p>{% trans "There are 75 organizations and 5702 individuals that were KYC approved, for a total token sale hard cap of 2500 Bitcoins. The total allocation of NEW is 2,000,000. The new individual cap range for both participation levels is included below:   " %}</p>
        <p><img src="{% version "images/tokensale/a.png" %}"/></p>
        <p>{% trans "There are 5702 individuals that were KYC approved and you are one of them. Your allocation is between 0.1- 0.30691 BTC (including 0.1 and 0.30691) or the ELA equivalent as listed above. We have locked ELA vs BTC Price at 1 ELA = 0.0132 BTC. You can either transfer ELA or BTC, or even both if the total amount does not exceed the given cap above. Please also remember that you will need to take care of the transactions fees of either/both BTC and ELA." %}</p>
        <p><small>{% trans "BTC-ELA conversion rate was calculated based upon the lowest exchange rate found in a review of 7 commonly used exchanges: Binance, Huobi, Bittrex, Bitfinex, Kucoin, Exrates, Cryptopia. The rates were reviewed at 6 PM Pacific Time, January 17." %}</small></p>
        <p>{% trans "For your security, we've provided a unique BTC/ELA address that was exclusively generated for you to transfer BTC or ELA respectively. Using this unique transfer address, we are able to track your participation level and subsequently transfer the correct amount of NEW token to your NEW wallet. If you are uncertain, please contact us at contact@newtonproject.org ." %}</p>
        <p class="warn">{% trans "Your Unique Contribution Address: " %}</p>
        {% if item %}
        <p class="warn">{% trans "比特币地址" %}: {{ item.receive_btc_address }}</p>
        <p class="warn">{% trans "比特币额度" %}: {{ item.min_btc_limit }} - {{ item.max_btc_limit }}  BTC</p>
        <p class="warn">{% trans "亦来币地址" %}: {{ item.receive_ela_address }}</p>
        <p class="warn">{% trans "亦来币额度" %}: {{ item.min_ela_limit }} - {{ item.max_ela_limit }}  ELA</p>
        {% else %}
        <p><a href="/tokenexchange/">{% trans "Go To KYC " %}</a></p>
        {% endif %}
        <p>{% trans "**Please transfer your BTC/ELA before 4 PM Pacific Time, January 22, 2019.**" %}</p>
        <div class="divider"></div>
        <p>{% trans "Post-Transfer Instructions" %}</p>
        <p>{% trans "Our finance team will distribute NEW tokens before February 1, 2019. The instructions for receiving your ELA Tokens are as follows:" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
        <p>{% trans "" %}</p>
    </div>
</section>
{% endblock %}
{% block js %}
{% endblock %}
