{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "KYC" %} | Newton Community</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="token" class="section-list">
    <div class="token-title container text-center">
        <h2>{% trans "KYC Information" %}</h2>
    </div>
    <div class="container">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p class="text-center"><span class="tr">Please fill in the following information carefully. This is an important basis for Newton KYC review</span></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container token-form">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title">Basic Information</h3>
                        </div>
                        <div class="panel-body">
                            {% include "form.html" with form=base_form %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title">Personal Introduction</h3>
                        </div>
                        <div class="panel-body">
                            {% include "form.html" with form=base_form %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title">How to Join Newton</h3>
                        </div>
                        <div class="panel-body">
                            {% include "form.html" with form=contribute_form %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <h3 class="panel-title">Emergency Information</h3>
                        </div>
                        <div class="panel-body">
                            {% include "form.html" with form=emergency_form %}
                        </div>
                    </div>
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    {% comment %}
    <div class="container token-form">
        <div class="raw">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form id="user_kyc_form" class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <!--
      base_form = forms.KYCBaseForm(instance=instance)
            profile_form = forms.KYCProfileForm(instance=instance)
            contribute_form = forms.ContributeForm(instance=instance)
            emergency_form = forms.EmergencyForm(instance=instance)
                    -->
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    {% endcomment %}
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}"></script>
{% endblock %}
<style>
    #id_first_name{"placeholder"}
</style>