{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "KYC" %} | Newton Community</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="economy" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Fill in KYC Information" %}</p>
        </div>
    </div>
</section>

<section id="token" class="section-list">
    <div>
        <div class="raw">
            <div class="">
                <form class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <div class="bg-gray">
                        <div class="container">
                            <div class="panel panel-default bg-gray">
                                <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Basic Information" %}</h3>
                                </div>
                                <div class="panel-body">
                                    {% include "form.html" with form=base_form %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Personal Introduction" %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include "form.html" with form=profile_form %}
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray">
                        <div class="container">
                            <div class="panel panel-default bg-gray">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">{% trans "How to Join Newton" %}</h3>
                                </div>
                                <div class="panel-body">
                                    {% include "form.html" with form=contribute_form %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Emergency Information" %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include "form.html" with form=emergency_form %}
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class=""></div>
        </div>
    </div>
    {% comment %}
    <div class="container token-form">
        <div class="raw">
            <div class=""></div>
            <div class="">
                <form id="user_kyc_form" class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class=""></div>
        </div>
    </div>
    {% endcomment %}
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}"></script>
{% endblock %}
<style>
    #id_first_name{"placeholder"}
</style>