{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block require_title %}
<title>{% trans "KYC" %} | Newton Community</title>
{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="economy" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Fill in KYC Information" %}</p>
        </div>
    </div>
</section>

<section id="token" class="section-list">
    <div>
        <div class="raw">
            <div class="">
                <form class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <div class="bg-gray">
                        <div class="container">
                            <div class="panel panel-default bg-gray">
                                <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Basic Information" %}</h3>
                                </div>
                                <div class="panel-body">
                                    {% include "form.html" with form=base_form %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Self Introduction" %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include "form.html" with form=profile_form %}
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray">
                        <div class="container">
                            <div class="panel panel-default bg-gray">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">{% trans "How to Contribute" %}</h3>
                                    <p class="text-center red-color mt50">{%trans "This is an important basis for Newton's KYC review. Please fill in it carefully and thoroughly." %}</p>
                                </div>
                                <div class="panel-body">
                                    {% include "form.html" with form=contribute_form %}
                                    <div class="form-group">   
                                        <p>
                                            <label for="id_is_establish_node" class="control-label">{% trans "Do you want to establish a Newton node ?" %}
                                            </label>
                                        </p>
                                        <div>
                                            <input type="radio" name="is_establish_node" checked value="1" onclick="openNode()">{% trans "Yes" %}
                                            <input type="radio" name="is_establish_node" onclick="closeNode()" value="2">{% trans "No" %}
                                        </div>
                                    </div>
                                    <div id="which-node" class="form-group">   
                                        <p>
                                            <label for="id_which_node_establish" class="control-label">{% trans "Which type of node ?" %} <span class="red-color"></span>
                                            </label>
                                        </p>
                                        <div>
                                            <select class="form-control" id="id_which_node_establish" name="which_node_establish" placeholder="{% trans "Which type of node ?" %}">
                                                <option value="1" selected="selected">{% trans "Full Node" %}</option>
                                                <option value="2">{% trans "Media Node" %}</option>
                                                <option value="3">{% trans "Technology Node" %}</option>
                                                <option value="4">{% trans "Operation Node" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="how-node" class="form-group">
                                        <p>
                                            <label for="id_establish_node_plan" class="control-label">{% trans "Your plan of node establishment" %} <span class="red-color"></span>
                                            </label>
                                        </p>
                                        <div>
                                            <textarea class="form-control" cols="40" id="id_establish_node_plan" name="establish_node_plan" placeholder="{% trans "Your plan of node establishment" %}" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{% trans "Emergency Information" %}</h3>
                            </div>
                            <div class="panel-body">
                                {% include "form.html" with form=emergency_form %}
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit">{% trans "Submit" %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class=""></div>
        </div>
    </div>
    {% comment %}
    <div class="container token-form">
        <div class="raw">
            <div class=""></div>
            <div class="">
                <form id="user_kyc_form" class="form" action="/tokenexchange/post/" method="POST" enctype="multipart/form-data">
                    <div class="raw">
                        <div class="text-center token-btn">
                            <button class="form-button" type="submit"></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class=""></div>
        </div>
    </div>
    {% endcomment %}
</section>
{% endblock %}
{% block js %}
<script src="{% version "js/tokenexchange.js" %}">
</script>
{% endblock %}
<style>
    #id_first_name{"placeholder"}
</style>