{% load i18n %}
{% load utils %}
{% if item.phase_id == 1 %}
<div class="token-exchange-info">
    <div class="raw">
        <div class="text-center">
            <p class="token-exchange-title">{% trans "First Token Exchange Info" %}</p>
            <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
        </div>
    </div>
</div>
{% endif %}
{% if item.phase_id == 2 %}
<div class="token-exchange-info">
    <div class="raw">
        <div class="text-center">
            <p class="token-exchange-title">{% trans "Second Token Exchange Info" %}</p>
            <p class="token-exchange-time">{{ token_exchange_info.start_date }} ~ {{ token_exchange_info.end_date }}</p>
        </div>
    </div>
</div>
{% endif %}