{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="user" class="section-list">
    <div class="page-title">
        <div class="container">
            <p>{% trans "Token Exchange" %}
            </p>
        </div>
    </div>
    
    <div id="token-exchange" class="user-content">
        <div class="container">
            <div class="raw user-detail-content">
            {% if invite_item %}
                {% include "tokenexchange/include-token-exchange-info.html" with item=invite_item %}
                {% include "tokenexchange/include-receive-address-expect.html" with item=invite_item %}
                {% include "tokenexchange/include-receive-address-allocation.html" with item=invite_item %}
                {% include "tokenexchange/include-receive-address-result.html" with item=invite_item %}
                {% if invite_item.expect_btc or invite_item.expect_ela %}
                    {% if invite_item.assign_btc or invite_item.assign_ela or invite_item.receive_btc_address or invite_item.receive_ela_address %}
                        {% if invite_item.status >= codes.TOKEN_EXCHANGE_STATUS_CONFIRM_AMOUT_VALUE %}
                        <p></p>
                        {% else %}
                        <p class="before-fill">{% trans "Your expected amount is under evaluation" %}</p>
                        {% endif %}
                    {% endif %}
                {% else %}
                <p class="before-fill">{% trans "No token exchange information." %}</p>
                {% endif %}
            {% else %}
            <p class="before-fill">{% trans "No token exchange information." %}</p>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
