{% load i18n %}
{% load utils %}
{% if item.phase_id == 1 %}
<div class="token-exchange-info">
    <div class="raw">
        <div>
            <table class="table text-left">
                <thead>
                    <tr>
                        <td>{% trans "First Token Exchange Info" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>开始时间</td>
                        <td>{{ token_exchange_info.start_date }}</td>
                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <td>{{ token_exchange_info.end_date }}</td>
                    </tr>
                    <tr>
                        <td>最小接受 BTC</td>
                        <td>{{ token_exchange_info.min_btc }} BTC</td>
                    </tr>
                    <tr>
                        <td>最小接受 ELA</td>
                        <td>{{ token_exchange_info.min_ela }} ELA</td>
                    </tr>
                    <tr>
                        <td>BTC 兑换比例</td>
                        <td>1 BTC = {{ token_exchange_info.btc_ratio }} NEW</td>
                    </tr>
                    <tr>
                        <td>ELA 兑换比例</td>
                        <td>1 ELA = {{ token_exchange_info.ela_ratio }} NEW</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if item.phase_id == 2 %}
<div class="container">
    <div class="raw">
        <div>
            <table class="table text-left">
                <thead>
                    <tr>
                        <td>{% trans "Second Token Exchange Info" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>开始时间</td>
                        <td>{{ token_exchange_info.start_date }}</td>
                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <td>{{ token_exchange_info.end_date }}</td>
                    </tr>
                    <tr>
                        <td>最小接受 BTC</td>
                        <td>{{ token_exchange_info.min_btc }} BTC</td>
                    </tr>
                    <tr>
                        <td>最小接受 ELA</td>
                        <td>{{ token_exchange_info.min_ela }} ELA</td>
                    </tr>
                    <tr>
                        <td>BTC 兑换比例</td>
                        <td>1 BTC = {{ token_exchange_info.btc_ratio }} NEW</td>
                    </tr>
                    <tr>
                        <td>ELA 兑换比例</td>
                        <td>1 ELA = {{ token_exchange_info.ela_ratio }} NEW</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}