{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <p class="title">{% trans "Successfully submitted" %}</p>
        <p class="content">{% trans "Submitted KYC information successfully! We will send you reviewing result by email in a few days." %}</p>
        <p class="content">
            <a class="normal back-button" href="/user/" style="text-decoration: underline">{% trans "go to the user center" %}</a>
        </p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
{% endblock %}
