{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}{% trans "KYC" %}{% endblock %}
{% block site_name %}{% trans "Newton Community" %}{% endblock %}

{% block header %}
{% include "header-no-menu.html" %}
{% endblock %}

{% block footer %}
{% include "footer-simple.html" %}
{% endblock %}

{% block notice %}
{% endblock %}

{% block content %}
<section id="success" class="section-list">
    <div class="container text-center">
        <p class="title">{% trans "Successfully submitted" %}</p>
        <p class="content" style="text-align: left;">{% trans "KYC information was successfully submitted! We will checked and verified your information in batches. It may take some time so please be patient and wait for our feedback. The feedback will be notified by email. Please check your mail on time." %}</p>
        <p class="content">
            <a class="normal back-button" href="/user/" style="text-decoration: underline">{% trans "go to the user center" %}</a>
        </p>
    </div>
</section>
{% endblock %}
{% block js %}

{% endblock %}

{% block inline_js %}
{% endblock %}
