{% extends "base.html" %}
{% load i18n %}
{% load utils %}

{% block title %}
{% trans "Subscription Confirmation" %}
{% endblock %}
{% block css %}
<link href="{% version "css/windows.css" %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<section id="confirmed" class="section-list">
  <div class="container">
      <div class="window-container win-logo"></div>
      <div class="window-container">
        <div class="win-box">
          <h2>{% trans "Subscribe Successed!" %}</h2>
          <p class="pad-t10">{% trans "Your subscription to our list has been confirmed." %}</p>
          <p class="pad-t20">{% trans "Thank you for subscribing!" %}</p>
        </div>
      </div>
  </div>
    
</section>

{% endblock %}

{% block inline_js %}
{% endblock %}


